footer.footer.page__footer
	.page__wrapper
		.footer__info
			.wrapper.wrapper--footer-info-top
				.wrapper.wrapper--logo
					a.footer__logo.project__logo(title='home page' href="index.html")
						icon-logo
						.wrapper
							icon-logo-text-top
							icon-logo-text-bottom
					dropdown-cities
				a.btn.btn--secondary(href='#')
					| Открыть счёт
			.wrapper.wrapper--phones
				dropdown-cities
				.info.info--phone.info--lg
					.info__content
						+link-phone(info.phone)
				.info.info--phone
					.info__label
						| Техническая поддержка:
					.info__content
						+link-phone(info.phone_tech)
				.info.info--phone
					.info__label
						| Трейдинг-деск:
					.info__content
						+link-phone(info.phone_traiding)
			.wrapper.wrapper--footer-info-bottom
				.wrapper.wrapper--stores
					a.link.link--gray(href=info.appStoreUrl target='_blank' name='App Store')
						icon-app-store
					a.link.link--gray(href=info.googlePlayUrl target='_blank' name='Google Play')
						icon-google-play
				site-socials.wrapper--socials
		.footer__top
			nav.nav.nav--footer
				site-menu.menu--footer-main(:menu=getMenuItems(menu_main))
				a.btn.btn--secondary(href='#')
					| Открыть счёт
		.footer__bottom
			nav.nav.nav--footer
				site-menu.menu--footer-secondary(:menu=getMenuItems(menu_secondary))
	.footer__copy
		.page__wrapper
			span.text--sm
				| #{info.copy}
el-popup-search(:name="'popup-search'")