header.header.page__header(:class="{'header--menu-open': menuOpen}")
	.header__overlay(@click.self='toggleMenu')
	.page__wrapper
		.header__top
			.header__menu-toggle
				button.btn.btn--action(@click.prevent='toggleMenu' aria-label='Открыть/Скрыть меню')
					icon-menu-toggle
			a.header__logo.project__logo(title='home page' href="index.html")
				icon-logo
				.wrapper
					icon-logo-text-top
					icon-logo-text-bottom
			.header__info
				dropdown-cities
				.info.info--phone
					.info__content
						+link-phone(info.phone)
			.header__actions
				a.btn.btn--action.header__btn(href='#', @click="openPopup('search')")
					icon-search
					span.btn__text
						| Поиск
				a.btn.btn--action.header__btn(href='#')
					icon-log-in
					span.btn__text
						| Вход
				button.btn.btn--secondary
					| Открыть счёт
				button.btn.btn--action
					icon-call
		el-custom-scroll.header__bottom
			nav.nav.nav--header
				site-menu.menu--main(:menu=getMenuItems(menu_main))
				a.btn.btn--secondary(href='#')
					| Открыть счёт
				+menu(menu_secondary, 'menu--secondary')