section.section.section--regular.section--regular-with-bg.mb-0
	.page__wrapper
		ul.list.list--rating
			li.list__item
				span.text.text--bold
					| АА-
				| рейтинг НРА
			li.list__item
				span.text.text--bold
					| >30
				|  млрд рублей<br class="d-md-none"> активов
			li.list__item
				span.text.text--bold
					| >10
				| тысяч клиентов
			li.list__item
				span.text.text--bold
					| >27
				| лет на<br class="d-md-none"> финансовом
				br
				| рынке