section.section.section--telegram.section--regular
	.page__wrapper
		icon-telegram-men.figure
		.wrapper
			h2.h2
				| Делимся торговыми &nbsp;
				br.d-none.d-sm-block.d-md-none
				| идеями
				br.d-none.d-sm-block
				| в телеграм-канале
			icon-telegram-men.figure
			a.btn.btn--blue.btn--lg(href='#')
				icon-telegram
				span.btn__text
					| Присоединиться