-
	var isIduPage = pageTitle === 'idu',
		isIisPage = pageTitle === 'iis' ,
		isPersonalBrokerPage = pageTitle === 'personal_broker',
		isCustom = isIduPage || isIisPage || isPersonalBrokerPage;

section.section.section--regular.section--regular-with-bg.text--white.mb-lg-0
	.bg__pic
		picture(v-background-image)
			source(srcset='assets/img/section-feedback-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
			source(srcset='assets/img/section-feedback-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
			source(srcset='assets/img/section-feedback-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
			img(src='assets/img/section-feedback-bg-lg.jpg' alt='Отзывы наших клиентов')
	.page__wrapper
		h2.h2.text-center Вам может быть интересно
		ul.list.list--products
			li.list__item
				.bg__pic
					img(src='assets/img/interesting-1.jpg' alt='Индивидуальный инвестиционный счёт' v-background-image)
				if isCustom
					a.link(href="trade.html")
						h4.h4 Купить Акции
				else
					a.link(href="iis.html")
						h4.h4
							| Индивидуальный<br class="d-md-none"> инвестиционный счёт
			li.list__item
				.bg__pic
					img(src='assets/img/interesting-2.jpg' alt='Доверительное управление' v-background-image)
				if isIduPage || isPersonalBrokerPage
					a.link(href="iis.html")
						h4.h4
							| Индивидуальный<br class="d-md-none"> инвестиционный счёт
				else
					a.link(href="idu.html")
						h4.h4 Доверительное управление
			li.list__item
				.bg__pic
					img(src='assets/img/interesting-3.jpg' alt='Интернет-трейдинг' v-background-image)
				if !isCustom
					a.link(href="trade.html")
						h4.h4 Интернет-трейдинг
				if isIisPage || isIduPage
					a.link(href="personal_broker.html")
						h4.h4 Персональный брокер
				if isPersonalBrokerPage
					a.link(href="idu.html")
						h4.h4 Доверительное управление

