section.section.section--regular.section--regular-with-bg.text--white
	.bg__pic.bg--darkblue
		picture(v-background-image)
			source(srcset='assets/img/section-feedback-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
			source(srcset='assets/img/section-feedback-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
			source(srcset='assets/img/section-feedback-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
			img(src='assets/img/section-feedback-bg-lg.jpg' alt='Отзывы наших клиентов')
	.page__wrapper
		h2.h2.text-center.mb-4
			| Отзывы наших клиентов
		client-reviews(
			:initial-breakpoints="breakpoints"
			:reviews="[ { name: 'Илья, г. Тула', text: '<p> С июля 2018г. я перешёл на тарифный план «Персональный брокер». Моим брокером является Дмитрий Балакин. Данный тарифный план и работа конкретно с Д. Балакиным меня устраивает по следующим причинам:<br> - грамотные и своевременные рекомендации брокера по совершению сделок;<br> - формирование портфеля (по совету брокера), обеспечивающего более высокую доходность.<br> Хотелось бы вернуть систему поручений по телефонной связи, когда поручения передавались непосредственно своему брокеру, и он выставлял заявку. Данная система наиболее удобна мне как клиенту и экономит моё время. </p>' }, { name: 'Екатерина, г. Москва', text: '<p> Хочу поделиться своими впечатлениями об ИИС. Инвестиционный счёт был открыт в сентябре 2017 года. В январе 2018 мы перевели ИИС в \"Солид-брокер\". И уже летом 2018 года я получила возврат подоходного налога 52 000 руб. Кроме этого акции, в которые были вложены средства тоже принесли прибыль- так что за 2018 год ИИС обеспечил мне хороший доход! </p> <p> Глядя на хорошие результаты в 2018 году, я приняла решение продолжить вкладывать деньги в ИИС, поэтому в прошлом году я пополнила счёт ещё на 400 тыс рублей и снова подала декларацию на возврат подоходного налога. Но, ничего этого бы не было, если бы не Ваша помощь и поддержка, Ян! Я считаю, что только благодаря Вашим грамотным консультациям, вашей заботе, мы пришли к таким хорошим финансовым результатам! Искреннее огромное Вам спасибо, Ян! </p>' } ]"
		)
