.article{
    width: 100%;
}

.article__category{

}

.article__date{

}

.article__title{

}

.article__pic{

}

.article__caption{

}

.article--lead{

}

.article--review{
    background: var(--super-light);
	border-radius: var(--border-rad-lg);
	box-shadow: var(--grey-shadow);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & .article__pic{
        position: relative;
        width: 100%;
        display: flex;
        margin-bottom: 24px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &::before{
            content: '';
            padding-top: 56%;
        }
    }
    & .article__title{
        display: block;
        text-decoration: none;
        margin-bottom: 16px;
    }
    & .article__category{
        margin-bottom: 8px;
    }
    & .article__date{
        font-size: 13px;
        margin-top: auto;
        margin-bottom: 8px;
    }
}

.article--press,
.article--daily-review{
    padding: 16px;
    font-size: 13px;
    & > .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
    }
    & .article__title{
        font-size: 16px;
        display: block;
        margin-right: 15px;
        text-decoration: none;
        color: var(--gray1);
    }
    & .article__category{
        display: flex;
        align-items: center;
        max-width: 150px;
        & .icon__wrapper{
            flex-shrink: 0;
            margin-right: 18px;
        }
    }
    &.article--lead{
        padding: 24px;
        background-color: var(--light);
        box-shadow: var(--grey-shadow);
        border-radius: var(--border-rad-lg);
        & > .wrapper{
            display: block;
            margin-bottom: 0;
        }
        & .article__title{
            font-size: 20px;
            font-weight: var(--fw-normal);
            margin-right: 0;
            margin-bottom: 18px;
            color: var(--beetroot);
        }
        & .article__category{
            margin-bottom: 18px;
            max-width: 100%;
        }
        & .article__caption{
            margin-bottom: 24px;
        }
    }
	@media (--md-viewport){
        padding: 16px 24px;
        & .article__category{
            max-width: 100%;
        }
	}
	@media (--lg-viewport){
        font-size: 16px;
        padding: 24px;
        &.article--lead{
            & .article__title{
                font-size: 24px;
            }
        }
	}
}

.article--press{
    & > .wrapper{
        display: block;
        margin: 0;
    }
    & .article__title{
        font-size: 20px;
        display: block;
        margin-bottom: 16px;
        text-decoration: none;
        color: var(--gray1);
        font-weight: var(--fw-normal);
    }
    & .article__date{
        font-size: 13px;
        color: var(--gray2);
        margin-bottom: 16px;
    }
}

.article--search{
    padding-top: 16px;
    padding-bottom: 16px;
    &:hover{
        color: var(--beetroot);
        & .article__title{
            color: var(--beetroot);
        }
    }
    & .article__title{
        font-size: 20px;
        display: block;
        margin-bottom: 16px;
        text-decoration: none;
        color: var(--gray1);
        font-weight: var(--fw-normal);
    }
    & .article__caption{

    }
}