.badge{
    display: inline-block;
    padding: 5px 8px;
    font-weight: var(--fw-bold);
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}

.badge--mint{
    color: var(--white);
    background-color: var(--mint);
}

.badge--darkblue{
    color: var(--white);
    background-color: var(--dark-blue);
}