.bg{

}

.bg__pic{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	& img{
		@mixin backgroundImg{};
	}
}

.bg--primary{
    background-color: var(--beetroot);
}

.bg--mint{
    background-color: var(--mint);
}

.bg--darkblue{
    background-color: var(--dark-blue);
}

.bg--super-light{
    background-color: var(--super-light);
}