.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: var(--fw-normal);
	text-align: center;
	text-decoration: none !important;
	vertical-align: middle;
	user-select: none;
	color: var(--white);
	background-color: var(--beetroot);
	border: 2px solid;
	border-color: var(--beetroot);
	font-size: 16px;
	line-height: 1;
	padding: 8px 20px;
	border-radius: 30px;
	outline: none;
	box-shadow: none;
	transition: color .15s ease-in-out,
				background-color .15s ease-in-out,
				border-color .15s ease-in-out,
				box-shadow .15s ease-in-out;
	&:hover,
	&:focus{
		color: var(--white);
		text-decoration: none;
	}
	&:not(:disabled){
		&:focus{
			outline: none;
		}
	}
	& > * + .icon__wrapper,
	& > .icon__wrapper + *{
		margin-left: 8px;
	}
	& > .icon__wrapper{
		height: 1em;
		display: flex;
		align-items: center;
		position: relative;
	}
}

.btn__text{

}

.btn__text--hidden{

}

.btn--active{

}

.btn--primary{
	color: var(--white);
	background-color: var(--beetroot);
	border-color: var(--beetroot);
	&:disabled{
		color: var(--gray4);
		background-color: var(--super-light);
		border-color: var(--gray4);
	}
	&:not(:disabled){
		&:hover,
		&:focus{
			color: var(--white);
			box-shadow: var(--btn-shadow);
		}
		&:active{
			color: var(--beetroot);
			background-color: var(--white);
			box-shadow: none;
		}
	}
}

.btn--secondary{
	color: var(--beetroot);
	background-color: var(--white);
	border-color: var(--beetroot);
	&:disabled{
		color: var(--gray4);
		background-color: var(--super-light);
		border-color: var(--gray4);
	}
	&:not(:disabled){
		&:hover,
		&:focus{
			color: var(--beetroot);
			box-shadow: var(--btn-shadow);
		}
		&:active{
			color: var(--white);
			background-color: var(--beetroot);
			box-shadow: none;
		}
	}
}

.btn--blue{
	color: var(--white);
	background-color: var(--blue);
	border-color: var(--blue);
	&:disabled{
		color: var(--gray4);
		background-color: var(--super-light);
		border-color: var(--gray4);
	}
	&:not(:disabled){
		&:hover,
		&:focus{
			color: var(--white);
			background-color: var(--blue);
			border-color: var(--blue);
			box-shadow: var(--btn-blue-shadow);
		}
		&:active{
			color: var(--white);
			background-color: var(--blue);
			border-color: var(--blue);
			box-shadow: none;
		}
	}
}

.btn--action{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 44px;
	min-height: 44px;
	color: var(--beetroot);
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	&:not(:disabled){
		&:hover,
		&:focus{
			color: var(--beetroot);
		}
		&:active{

		}
	}
	@media (--ie-only){
		height: 44px;
	}
}

.btn--action-min{
	min-width: 24px;
	min-height: 24px;
	@media (--ie-only){
		height: 24px;
	}
}

.btn--slider{
	color: var(--beetroot);
	background-color: transparent;
	border-color: var(--beetroot);
	border-radius: 50%;
	box-shadow: none;
	padding: 0;
	&:disabled{
		color: var(--gray4);
		background-color: var(--super-light);
		border-color: var(--gray4);
	}
	&:not(:disabled){
		&:hover,
		&:focus{
			color: var(--white);
			background-color: var(--beetroot);
			border-color: var(--beetroot);
		}
		&:active{
			color: var(--beetroot);
			background-color: transparent;
			border-color: var(--beetroot);
		}
	}
}

.btn--slider-blue{
	color: var(--white);
	background-color: transparent;
	border-color: var(--white);
	border-radius: 50%;
	box-shadow: none;
	padding: 0;
	&:disabled{
		color: var(--gray4);
		background-color: var(--super-light);
		border-color: var(--gray4);
	}
	&:not(:disabled){
		&:hover,
		&:focus{
			color: var(--dark-blue);
			background-color: var(--white);
			border-color: var(--white);
		}
		&:active{
			color: var(--white);
			background-color: transparent;
			border-color: var(--white);
		}
	}
}

.btn--lg{
	padding: 14px 18px;
	@media (--md-viewport){

	}
	@media (--lg-viewport){
		font-size: 18px;
		padding: 18px 30px;
	}
}

.btn--link{
	background-color: transparent;
	border-color: transparent;
	color: var(--beetroot);
	font-weight: var(--fw-light);
	padding-left: 0;
	padding-right: 0;
	text-decoration: underline !important;
	&:disabled{

	}
	&:not(:disabled){
		&:hover,
		&:focus{
			color: var(--beetroot);
		}
		&:active{

		}
	}
}

.btn--modal{
	width: 40px;
	height: 40px;
	color: var(--white);
	background-color: var(--gray5);
	border-color: var(--gray5);
	border-radius: 50%;
	box-shadow: var(--grey-shadow);
	padding: 0;
	&:disabled{
		color: var(--gray4);
		background-color: var(--super-light);
		border-color: var(--gray4);
	}
	&:not(:disabled){
		&:hover,
		&:focus{
			color: var(--white);
			background-color: var(--beetroot);
			border-color: var(--beetroot);
		}
		&:active{
			color: var(--beetroot);
			background-color: var(--white);
			border-color: var(--beetroot);
		}
	}
}

.btn--toggle{
	& .icon__vue--chewrondown{
		transition: transform var(--anim-dur)
	}
	& .btn__text--hidden{
		display: none;
	}
	&.btn--active{
		& .icon__vue--chewrondown{
			transform: rotate(180deg);
		}
		& .btn__text{
			display: none;
		}
		& .btn__text--hidden{
			display: inline-block;
		}
	}
}