.company{

}

.company__logo{
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 50%;
	background-color: var(--white);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	& img{
		@mixin backgroundImg{};
	}
}

.company__title{

}