.control{
	margin-bottom: 18px;
	transition: box-shadow .15s ease-in-out;
}

.control--valid{
	& .control__msg--valid{
		display: block;
	}
}

.control--invalid{
	& .control__msg--invalid{
		display: block;
	}
}

.control--disabled{

}

.control--active{

}

.control__placeholder{
	color: var(--gray1);
	font-size: 16px;
	font-weight: var(--fw-light);
}

.control__msg{
	font-size: 13px;
	margin-top: 4px;
}

.control__msg--valid{
	color: var(--green);
	display: none;
}

.control__msg--invalid{
	color: var(--red);
	display: none;
}

.control__input{
	display: block;
	width: 100%;
	outline: none;
	appearance: none;
	transition: color .15s ease-in-out,
				background-color .15s ease-in-out,
				border-color .15s ease-in-out;
	&::placeholder {
		color: var(--gray3);
		opacity: 1;
	}
	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}
}

.control__label{
	line-height: 1.2;
	font-weight: var(--fw-normal);
	font-size: 16px;
	margin-bottom: 8px;
}

.control__indicator{

}

.control__icon{

}

.control__wrapper{

}

.control__header{

}

.control__content{

}

.control--datepicker,
.control--select,
.control--text{
	& .control__input{
		height: 44px;
		padding: 12px 15px;
		font-size: 16px;
		line-height: 1.2;
		color: var(--gray1);
		font-weight: var(--fw-light);
		border: 1px solid;
		border-color: var(--gray4);
		background-color: var(--white);
		border-radius: var(--border-rad);
		&:disabled{
			color: var(--gray3);
			background-color: var(--super-light);
			border-color: var(--gray5);
		}
		&:not(:disabled){
			&:hover{
				border-color: var(--gray3);
			}
			&:focus{
				border-color: var(--gray3);
			}
		}
	}
	& textarea.control__input{
		min-height: 120px;
	}
	&.control--valid{
		& .control__input{
			color: var(--green) !important;
			border-color: var(--green) !important;
		}
	}
	&.control--invalid{
		& .control__input{
			color: var(--red) !important;
			border-color: var(--red) !important;
		}
	}
}


.control--checkbox,
.control--radio{
	margin-bottom: 12px;
	position: relative;
	& > .control__input{
		width: auto;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		&:disabled{
			& + .control__label{
				&::before{
					background-color: var(--super-light);
					border-color: var(--gray5);
				}
			}
			&:checked{
				& + .control__label{
					&::after{
						color: var(--gray5);
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath fill='%23E0E0E0' d='M.146 6.166l4.85 4.85a.5.5 0 00.707 0l9.294-9.294A.5.5 0 0015 1.016l-.862-.868a.5.5 0 00-.709-.002L5.703 7.871a.5.5 0 01-.707 0c-.975-1.019-3.093-3.101-3.33-3.279-.201-.15-.42-.1-.578-.035a.43.43 0 00-.143.098l-.8.805a.5.5 0 00.001.706z'/%3E%3C/svg%3E%0A");
						background-position: 50% 55%;
						background-repeat: no-repeat;
						background-size: 68%;
					}
				}
			}
		}
		&:not(:disabled){
			& + .control__label{
				&::before,
				&::after{
					cursor: pointer;
				}
				&:hover{
					&::before{
						border-color: var(--beetroot);
					}
				}
			}
			&:focus{
				outline: none;
				& + .control__label{
					&::before{
						border-color: var(--beetroot);
					}
				}
			}
			&:checked{
				& + .control__label{
					&::before{
						border-color: var(--beetroot);
					}
					&::after{
						color: var(--beetroot);
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath fill='%23660035' d='M.146 6.166l4.85 4.85a.5.5 0 00.707 0l9.294-9.294A.5.5 0 0015 1.016l-.862-.868a.5.5 0 00-.709-.002L5.703 7.871a.5.5 0 01-.707 0c-.975-1.019-3.093-3.101-3.33-3.279-.201-.15-.42-.1-.578-.035a.43.43 0 00-.143.098l-.8.805a.5.5 0 00.001.706z'/%3E%3C/svg%3E%0A");
						background-position: 50% 55%;
						background-repeat: no-repeat;
						background-size: 68%;
					}
				}
			}
		}
	}
	& .control__label{
		padding-left: 38px;
		user-select: none;
		font-weight: inherit;
		&::before{
			content: '';
			position: absolute;
			display: block;
			top: 0.6em;
			left: 0;
			width: 22px;
			height: 22px;
			border-radius: var(--border-rad);
			background-color: var(--white);
			border: 2px solid;
			border-color: var(--gray4);
			transform: translateY(-50%);
		}
		&::after{
			content: '';
			position: absolute;
			display: block;
			top: 0.6em;
			left: 0;
			width: 22px;
			height: 22px;
			transform: translateY(-50%);
		}
	}
	&.control--valid{
		& .control__label{
			&::before{
				background-color: var(--green) !important;
			}
		}
	}
	&.control--invalid{
		& .control__label{
			&::before{
				background-color: var(--red) !important;
			}
		}
	}
}

.control--radio{
	& .control__label{
		&::before{
			border-radius: 50%;
		}
		&::after{
			color: var(--white);
			left: 6px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: currentColor;
		}
	}
}

@define-mixin track {
	box-sizing: border-box;
	border: none;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: linear-gradient(to bottom, var(--beetroot) 0%,var(--beetroot) 100%), currentColor;
	background-size: var(--range-progress) 100%;
	background-repeat: no-repeat;
}

@define-mixin fill {
	height: 4px;
	border-radius: 2px;
	background: var(--beetroot);
}

@define-mixin thumb $color: 660035 {
	box-sizing: border-box;
	border: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--white);
	box-shadow: var(--red-shadow);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Ccircle cx='6' cy='6' r='6' fill='%23$(color)'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px;
	cursor: pointer;
}

.control--range{
	--range-progress: 0%;
	color: var(--gray3);
	& .control__input{
		color: inherit;
		-webkit-appearance: none;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
		}
		margin: 0;
		padding: 0;
		width: 100%;
		height: 30px;
		background: transparent;
		font: 1em/1 arial, sans-serif;
		&::-webkit-slider-runnable-track {
			@mixin track{}
		}
		&::-moz-range-track {
			@mixin track{}
		}
		&::-ms-track {
			@mixin track{}
			background: var(--gray3);
		}
		&::-moz-range-progress {
			@mixin fill{}
			background-size: 100%;
		}
		&::-ms-fill-lower {
			@mixin fill{}
		}
		&::-webkit-slider-thumb {
			margin-top: calc( 0.5*(4px - 30px));
			@mixin thumb{}
		}
		&::-moz-range-thumb {
			@mixin thumb{}
		}
		&::-ms-thumb {
			margin-top: 0;
			@mixin thumb{}
			box-shadow: var(--red-shadow-ie);
		}
		&::-ms-tooltip {
			display: none
		}
	}
}

@define-mixin track-grad {
	background: linear-gradient(90deg, var(--mint) 0%,var(--beetroot) 100%), currentColor;
	background-size: var(--range-progress) 100%;
	background-repeat: no-repeat;
}

@define-mixin fill-grad {
	background: linear-gradient(90deg, var(--mint) 0%,var(--beetroot) 100%), currentColor;
	background-size: var(--range-progress) 100%;
	background-repeat: no-repeat;
}

.control--range-grad{
	color: var(--white);
	& .control__input{
		&::-webkit-slider-runnable-track {
			@mixin track-grad{}
		}
		&::-moz-range-track {
			@mixin track-grad{}
		}
		&::-ms-track {
			@mixin track-grad{}
			background: var(--white);
		}
		&::-moz-range-progress {
			@mixin fill-grad{}
			background-size: 100%;
		}
		&::-ms-fill-lower {
			@mixin fill-grad{}
		}
	}
}

@define-mixin datepickerArrowPrev $color: 828282 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 7 12'%3E%3Cpath fill='%23$(color)' fill-rule='evenodd' d='M7 1.41L2.673 6 7 10.59 5.668 12 0 6l5.668-6L7 1.41z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-size: 7px 12px;
	background-repeat: no-repeat;
}

@define-mixin datepickerArrowNext $color: 828282 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 7 12'%3E%3Cpath fill='%23$(color)' fill-rule='evenodd' d='M0 10.59L4.327 6 0 1.41 1.332 0 7 6l-5.668 6L0 10.59z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-size: 7px 12px;
	background-repeat: no-repeat;
}

.control--datepicker{
	& .control__input{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 36 36'%3E%3Cpath stroke='%23660035' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M27 7.5H9a3 3 0 00-3 3v18a3 3 0 003 3h18a3 3 0 003-3v-18a3 3 0 00-3-3zM24 4.5v6M12 4.5v6M6 16.5h24M16.5 22.5H18M18 22.5V27'/%3E%3C/svg%3E%0A");
		background-position: calc(100% - 5px) center;
		background-size: 36px;
		background-repeat: no-repeat;
		padding-right: 50px;
	}

	/* redefine default css */
	&.vdp-datepicker{
		& .vdp-datepicker__calendar {
			max-width: none;
			& header{
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid;
				border-color: var(--gray4);
				& .up,
				& .prev,
				& .next{
					&::after{
						border: none;
					}
					&:not(.disabled){
						&:hover{
							color: var(--white);
							background-color: var(--beetroot);
						}
					}
				}
				& .prev{
					@mixin datepickerArrowPrev{};
					&:not(.disabled){
						&:hover{
							@mixin datepickerArrowPrev ffffff {};
						}
					}
				}
				& .next{
					@mixin datepickerArrowNext{};
					&:not(.disabled){
						&:hover{
							@mixin datepickerArrowNext ffffff {};
						}
					}
				}
			}
			& .cell {
				border-radius: 10px;
				&.day{
					&.selected{
						border-radius: 50%;
					}
				}
				&:not(.blank):not(.disabled).day,
				&:not(.blank):not(.disabled).month,
				&:not(.blank):not(.disabled).year{
					&:hover {
						border-color: var(--beetroot);
					}
				}
			}
			& .cell.selected {
				color: var(--white);
				background: var(--beetroot);
				&:hover {
					color: var(--white);
					background: var(--beetroot);
				}
			}
			& .cell.selected.highlighted {
				color: var(--white);
				background: var(--beetroot);
			}
		}
	}
}

.control--dropdown{
	display: inline-flex;
	align-items: center;
	position: relative;
	width: auto;
	max-width: none;
	& .ps__rail-x{
		display: none;
	}
	& > .control__activator{
		cursor: pointer;
	}
	&.control--active{
		& > .control__wrapper{
			display: inline-flex;
		}
		& > .control__activator{
			visibility: visible !important;
		}
	}
	& .control__indicator{
		width: 24px;
		height: 12px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 15'%3E%3Cpath fill='%23FAF8F8' d='M11.222.962a1 1 0 011.556 0l10.03 12.41A1 1 0 0122.03 15H1.97a1 1 0 01-.778-1.629L11.222.962z'/%3E%3C/svg%3E%0A");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: -12px;
		left: 40px;
	}
	& .control__wrapper{
		display: none;
		position: absolute;
		z-index: var(--z-index-dropdown);
		top: calc(100% + 6px);
		right: -10px;
		flex-direction: column;
		box-shadow: var(--grey-shadow);
		border-radius: var(--border-rad-lg);
		color: var(--gray1);
		background-color: var(--super-light);
		text-align: left;
		max-width: none;
		min-width: 100%;
	}
	& .control__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 12px;
		& .btn--modal{
			margin-left: auto;
			margin-bottom: auto;
		}
	}
	& .control__content{
		padding: 4px 14px 12px 14px;
		flex-grow: 1;
		margin-top: 4px;
		margin-bottom: 4px;
		max-height: 380px;
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){
		& .control__header{
			padding: 16px 30px;
			& .btn--modal{
				margin-right: -14px;
			}
		}
		& .control__content{
			padding: 8px 30px 24px 30px;
		}
	}
}

.control--select{
	& .control__wrapper{
		position: relative;
	}
	& .control__input{
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.41 0L6 4.32659L10.59 0L12 1.33198L6 7L0 1.33198L1.41 0Z' fill='%23828282'/%3E%3C/svg%3E%0A");
		background-position: calc(100% - 16px) center;
		background-repeat: no-repeat;
		background-size: 12px 7px;
		padding-right: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.control--accordion{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	& .control__input{
		position: absolute;
		left: 0;
		opacity: 0;
		&:checked{
			& + .control__label{
				color: var(--beetroot);
				padding-bottom: 5px;
				& > .control__title{
					color: var(--beetroot);
				}
				& > .control__indicator{
					transform: rotate(180deg);
				}
				& + .control__content{
					display: block;
				}
			}
		}
		&:not(:disabled){
			& + .control__label{
				cursor: pointer;
				&:hover{
					color: var(--beetroot);
					& > .control__title{
						color: var(--beetroot);
					}
				}
			}
		}
		&:focus{
			& + .control__label{

			}
		}
	}
	& .control__label{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid;
		border-color: var(--gray5);
	}
	& .control__title{
		margin-right: 8px;
		flex-grow: 1;
	}
	& .control__content{
		display: none;
		padding-top: 20px;
		padding-bottom: 45px;
		& > *{
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	& .control__indicator{
		flex-shrink: 0;
		transition: transform var(--anim-dur),
					color var(--anim-dur);
	}
	& .control__wrapper{
		& > *:first-of-type{
			border: none;
			& > .control__label{
				border: none;
			}
		}
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){

	}
}