
@define-mixin arcImageBottom $color: 152841 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1920 112' preserveAspectRatio='none slice' %3E%3Cpath fill='%23$(color)' d='M0 0v103.26C123.13 45.834 502.987 4 952.5 4c469.67 0 863.3 45.67 967.5 107.078V0H0z'/%3E%3C/svg%3E%0A");
}

@define-mixin arcImageTop $color: 152841 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1920 113' preserveAspectRatio='none slice' %3E%3Cpath fill='%23$(color)' d='M1920 113V0c-104.2 61.408-497.83 107.078-967.5 107.078-449.513 0-829.37-41.834-952.5-99.26V113h1920z'/%3E%3C/svg%3E%0A");
}

.decoration{

}

.decoration--arc-double{
	position: relative;
	z-index: var(--z-index-decoration);
    background-color: var(--dark-blue);
    color: var(--white);
	&::before,
	&::after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: var(--decoration-arc-h);
		background-size: calc(100% + 4px) 100%;
		background-repeat: no-repeat;
	}
	&::before{
		z-index: -1;
		top: calc( -1*var(--decoration-arc-h) );
		background-position: center 2px;
		@mixin arcImageTop{}
	}
	&::after{
		z-index: -1;
		bottom: calc( -1*var(--decoration-arc-h) );
		background-position: center -2px;
		@mixin arcImageBottom{}
	}
}

.decoration--arc-before{
	width: 100%;
	padding-top: calc( var(--decoration-arc-h) + 4vw );
	@media (--lg-viewport){
		padding-top: var(--decoration-arc-h);
	}
}

.decoration--arc-after{
	width: 100%;
	padding-bottom: calc( var(--decoration-arc-h) + 4vw );
}
