.figure{

}

.figure__header{

}

.figure__footer{

}

.figure--visible{

}

.figure--primary{

}

.figure--mint{

}

.figure--darkblue{

}

.figure--goal{
	width: 100%;
	color: var(--white);
	padding: 24px;
	position: relative;
	border-radius: var(--border-rad-lg);
	box-shadow: var(--grey-shadow);
	&:not(:last-child){
		margin-bottom: 16px;
	}
	& > .wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
	& h3{
		margin-right: 10px;
		margin-bottom: 0;
	}
	& .btn--action{
		color: var(--white) !important;
		transition: transform .15s ease-in-out;
		& .icon__vue{
			transform: scale(1.7);
		}
	}
	& .list--goal{
		display: none;
		max-width: none;
		width: auto;
		margin-top: 18px;
		margin-left: -24px;
		margin-right: -24px;
		& .list__item{
			padding-left: calc( 24px + 24px );
			padding-right: 24px;
			&:hover{
				background-color: var(--white);
				box-shadow: var(--gray2-shadow);
				&::before{
					box-shadow: var(--gray2-shadow);
				}
			}
			&:not(:last-of-type){
				margin-bottom: 0;
			}
			&::before{
				left: 24px;
				top: calc( 0.4em + 18px );
			}
		}
		& .link{
			display: block;
			color: currentColor;
			text-decoration: none;
			padding: 18px 0;
		}
	}
	&.figure--primary{
		background-color: var(--beetroot);
		& .list--goal{
			& .list__item{
				&:hover{
					color: var(--beetroot);
				}
			}
		}
	}
	&.figure--mint{
		background-color: var(--mint);
		& .list--goal{
			& .list__item{
				&:hover{
					color: var(--mint);
				}
			}
		}
	}
	&.figure--darkblue{
		background-color: var(--dark-blue);
		& .list--goal{
			& .list__item{
				&:hover{
					color: var(--dark-blue);
				}
			}
		}
	}
	&.figure--visible{
		padding-bottom: 12px;
		& .btn--action{
			transform: rotate(180deg);
		}
		& .list--goal{
			display: block;
		}
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){
		padding: 26px 32px 10px 32px;
		& * {
			position: relative;
			z-index: 2;
		}
		&:not(:last-child){
			margin-bottom: 0;
			@mixin cssLock margin-right, lg, xl, 15, 30;
		}
		& > .wrapper{
			cursor: initial;
		}
		& .btn--action{
			display: none;
		}
		& .list--goal{
			display: block;
			margin-top: 0;
			margin-left: -32px;
			margin-right: -32px;
			& .list__item{
				padding-left: calc( 24px + 32px );
				padding-right: 32px;
				&::before{
					left: 32px;
				}
			}
		}
		& h3{
			margin-right: 0;
			@mixin cssLock font-size, lg, xl, 28, 32;
		}
		& > .wrapper{
			flex-direction: column;
			align-items: flex-start;
			min-height: 6em;
		}
	}
	@media (--xl-viewport){
		&:not(:last-child){
			margin-right: 30px;
		}
		& h3{
			font-size: 32px;
		}
	}
}

.figure--stock{
	background-color: var(--super-light);
	box-shadow: var(--grey-shadow);
	border-radius: var(--border-rad-lg);
	padding: 24px;
	padding-top: 16px;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	text-align: left;
	max-width: 350px;
	& .badge{
		position: absolute;
		top: 16px;
		left: 0;
		z-index: 1;
	}
	& .company{
		text-align: center;
		color: var(--beetroot);
		font-size: 20px;
		font-weight: var(--fw-normal);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 8px;
		text-decoration: none;
	}
	& .company__logo{
		width: 48px;
		height: 48px;
		margin-bottom: 8px;
	}
	& .text--normal{
		font-size: 13px;
		line-height: 1.4;
		margin-bottom: auto;
	}
	& .text--accented{
		margin-right: auto;
		font-size: 20px;
		margin-top: 12px;
		margin-bottom: 2px;
	}
	& .text--bold{
		margin-right: auto;
	}
	& .btn{
		margin-right: auto;
	}
	@media (--md-viewport){
		padding: 16px;
		& .btn{
			margin-bottom: 8px;
		}
	}
	@media (--lg-viewport){
		padding: 24px;
		& .btn{
			margin-bottom: 4px;
		}
		& .company{
			font-size: 24px;
			margin-bottom: 15px;
		}
		& .company__logo{
			width: 64px;
			height: 64px;
			margin-bottom: 15px;
		}
		& .text--normal{
			font-size: 16px;
		}
		& .text--accented{
			font-size: 24px;
		}
	}
}

.figure--press{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	box-shadow: var(--grey-shadow);
	border-radius: var(--border-rad-lg);
	padding: 24px;
	max-width: 350px;
	& .text--lg{
		margin-bottom: 16px;
		display: block;
		text-decoration: none;
		color: var(--beetroot);
	}
	& .text--sm{
		margin-bottom: 12px;
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){
		& .text--sm{
			margin-bottom: 24px;
		}
	}
}

.figure--box{
	width: 100%;
	padding: 14px 20px;
	border-radius: var(--border-rad-lg);
	overflow: hidden;
	box-shadow: var(--grey-shadow);
	background-color: var(--white);
	& .figure__header{
		max-width: none;
		margin-left: -20px;
		margin-right: -20px;
		margin-top: -14px;
		margin-bottom: 16px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 14px;
		padding-bottom: 10px;
		color: var(--beetroot);
		background-color: var(--top-grey);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		& > *{
			margin-bottom: 4px;
		}
	}
}

.figure--box-service{
	display: flex;
	align-items: center;
	min-height: 90px;
	& .text--lg{
		margin-bottom: 0;
		font-weight: var(--fw-normal);
		color: var(--beetroot);
	}
}

.figure--compare{
	width: 100%;
	padding: 20px;
	border-radius: var(--border-rad-lg);
	overflow: hidden;
	box-shadow: var(--grey-shadow);
	& .figure__header,
	& .figure__footer{
		width: auto;
		max-width: none;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
	}
	& .figure__header{
		margin-top: -20px;
		margin-bottom: 16px;
		padding-bottom: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		color: var(--white);
		& > *{
			margin-bottom: 5px;
		}
	}
	& .figure__footer{
		border-top: 1px solid;
		border-color: rgba( var(--strokes-rgb), 0.5 );
	}
	&.figure--mint{
		& .figure__header{
			background-color: var(--mint);
		}
	}
	&.figure--primary{
		& .figure__header{
			background-color: var(--beetroot);
		}
	}
	& .text{
		margin-bottom: 24px;
		&:last-of-type{
			margin-bottom: 0;
		}
		& .h4{
			display: block;
			margin-bottom: 5px;
		}
		& .text--sm{
			display: block;
			font-size: 16px;
		}
	}
}

.figure--tool{
	background-color: var(--white);
	box-shadow: var(--grey-shadow);
	border-radius: var(--border-rad-lg);
	overflow: hidden;
	padding: 24px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	& .h4{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 16px;
		& .text{
			margin-right: 30px;
		}
		& .icon__wrapper{
			flex-shrink: 0;
		}
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){
		& .h4{
			margin-bottom: 24px;
		}
	}
}

.figure--person{
	width: 100%;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	& > .wrapper{
		background-color: var(--dark-blue);
		color: var(--white);
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		border-bottom-left-radius: var(--border-rad-lg);
		border-bottom-right-radius: var(--border-rad-lg);
		padding: 20px;
	}
	& .person__name{
		border-top-left-radius: var(--border-rad-lg);
		border-top-right-radius: var(--border-rad-lg);
		background-color: var(--super-light);
		padding: 10px 20px;
		margin-bottom: 0;
		line-height: 1.4;
	}
	& .person__role{
		font-size: 18px;
		display: block;
	}
	& .person__info{
		margin-bottom: 10px;
	}
	& .person__pic{
		margin-top: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -20px;
		display: block;
	}
	@media(--md-viewport){

	}
	@media(--lg-viewport){
		max-width: 100%;
		& > .wrapper{
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			padding: 40px 24px;
		}
		& .person__name{
			padding: 15px 24px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			& > * {
				width: 100%;
				max-width: 60%;
			}
		}
		& .person__role{
			font-size: 20px;
		}
		& .person__pic{
			order: 1;
			margin-left: -24px;
			margin-right: 40px;
			margin-bottom: -40px;
			margin-top: -120px;
		}
		& .person__info{
			order: 2;
			margin-bottom: 0;
			max-width: 60%;
		}
	}
}

.figure--gallery{
	width: 100%;
	max-width: 350px;
	min-height: 350px;
	background-color: var(--white);
	box-shadow: var(--grey-shadow);
	border-radius: var(--border-rad-lg);
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-bottom: calc( var(--page-gap)*2 );
	display: flex;
	cursor: pointer;
	& .h4{
		margin-top: auto;
		padding: 15px;
		color: var(--beetroot);
		width: 100%;
		background-color: var(--white);
		margin-bottom: 0;
	}
	@media(--lg-viewport){
		& .h4{
			padding: 17px 24px;
		}
	}
}

.figure--specialist{
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	max-width: 540px;
	& > .wrapper{
		background-color: var(--dark-blue);
		color: var(--white);
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		border-bottom-left-radius: var(--border-rad-lg);
		border-bottom-right-radius: var(--border-rad-lg);
		padding: 20px;
	}
	& .person__name{
		border-top-left-radius: var(--border-rad-lg);
		border-top-right-radius: var(--border-rad-lg);
		background-color: var(--super-light);
		padding: 10px 20px;
		margin-bottom: 0;
		line-height: 1.4;
		& > .text{
			display: block;
			margin-bottom: 8px;
		}
	}
	& .person__role{
		font-size: 16px;
		font-weight: var(--fw-light);
		display: block;
	}
	& .person__info{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		& > .wrapper{
			width: 100%;
			margin-top: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			& > *{
				margin-top: 10px;
			}
		}
		& .text--accented{
			font-size: 24px;
		}
	}
	& .person__pic{
		display: block;
		width: 142px;
		height: 142px;
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: 10px;
	}
	@media(--md-viewport){

	}
	@media(--lg-viewport){
		& > .wrapper{
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			padding: 24px;
		}
		& .person__name{
			padding: 15px 24px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			& > * {
				width: 100%;
				max-width: 60%;
			}
		}
		& .person__pic{
			margin-bottom: 0;
			margin-top: -100px;
		}
		& .person__info{
			max-width: 60%;
			height: 100%;
		}
	}
}

.figure--manager{
	width: 100%;
	overflow: hidden;
	max-width: 540px;
	background-color: var(--dark-blue);
	color: var(--white);
	padding: 24px;
	border-radius: var(--border-rad-lg);
	& .person__pic{
		display: block;
		width: 142px;
		height: 142px;
		border-radius: 50%;
		margin-bottom: 24px;
	}
	& .person__name{
		margin-bottom: 0;
		line-height: 1.4;
		& > .text{
			display: block;
			margin-bottom: 16px;
		}
	}
	& .person__role{
		font-size: 16px;
		font-weight: var(--fw-light);
		display: block;
	}
	@media(--md-viewport){
		display: flex;
		& .person__pic{
			margin-bottom: 0;
			margin-right: 24px;
		}
	}
}