.file{
	display: flex;
	align-items: center;
	text-decoration: none !important;
	color: var(--gray1);
	margin-bottom: 15px;
	& > .wrapper{
		display: block;
	}
}

.file__icon{
	color: var(--beetroot);
	display: block;
	flex-shrink: 0;
	margin-right: 12px;
}

.file__name{
	color: var(--beetroot);
	display: block;
	font-size: 16px;
	margin-bottom: 2px;
	text-decoration: underline;
}

.file__info{
	display: block;
	text-decoration: none;
	font-size: 13px;
}