
.footer{
    background-color: var(--super-light);
	& > .page__wrapper{
		padding-top: 25px;
		padding-bottom: 10px;
	}
	@media (--md-viewport){
		& > .page__wrapper{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	@media (--lg-viewport){
		& > .page__wrapper{
			flex-wrap: nowrap;
			flex-direction: column;
			padding-top: 30px;
			padding-bottom: 40px;
		}
	}
}

.footer__logo{
	color: var(--beetroot);
	margin-right: 30px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&:hover{
		color: var(--beetroot);
	}
	& * {
		flex-shrink: 0;
		margin-left: auto;
		margin-right: auto;
	}
	& .icon__vue--logo{
		width: 35px;
		height: 30px;
		margin-bottom: 6px;
		position: relative;
		left: -7px;
	}
	& .icon__vue--logotexttop{
		width: 64px;
		height: 13px;
	}
	& .icon__vue--logotextbottom{
		width: 36px;
		height: 14px;
		position: relative;
		top: -2px;
	}
	@media (--lg-viewport){
		color: var(--gray3);
		margin-right: 0;
		&:hover{
			color: var(--gray3);
		}
		& .icon__vue--logo{
			width: 88px;
			height: 76px;
			margin-bottom: 21px;
			left: -13px;
		}
		& .icon__vue--logotexttop{
			width: 162px;
			height: 19px;
			margin-bottom: 8px;
		}
		& .icon__vue--logotextbottom{
			width: 96px;
			height: 20px;
			top: 0;
		}
	}
}

.footer__info{
	border-bottom: 1px solid;
	border-color: rgba(var(--strokes-rgb), 0.5);
	margin-bottom: 15px;
	padding-bottom: 18px;
	& .wrapper--footer-info-top{
		border-bottom: 1px solid;
		border-color: rgba(var(--strokes-rgb), 0.5);
		padding-bottom: 5px;
		margin-bottom: 15px;
		& > .btn--secondary{
			display: none;
		}
	}
	& .wrapper--logo{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		& > *{
			margin-bottom: 5px;
		}
	}
	& .wrapper--phones{
		margin-bottom: 25px;
		& .info--adress{
			display: none;
		}
	}
	& .wrapper--stores{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		& > *{
			margin-bottom: 5px;
			&:not(:last-child){
				margin-right: 15px;
			}
		}
	}
	& .wrapper--socials{
		display: flex;
		flex-wrap: wrap;
		& > *{
			margin-bottom: 5px;
			&:not(:last-child){
				margin-right: 32px;
			}
		}
	}
	& .info--phone{
		margin-bottom: 3px;
		&.info--lg{
			@mixin cssLock font-size, xs, sm, 0, 32;
			font-weight: var(--fw-bold);
			margin-bottom: 15px;
		}
	}
	& .info--adress{
		max-width: 280px;
	}
	@media (--sm-viewport){
		& > .wrapper--logo{
			flex-wrap: nowrap;
		}
		& .info--phone{
			&.info--lg{
				font-size: 32px;
			}
		}
	}
	@media (--md-viewport){
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 12px;
		& .wrapper--footer-info-top{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			& > .btn--secondary{
				display: inline-flex;
			}
		}
		& .wrapper--logo{
			margin-right: 15px;
		}
		& .wrapper--phones{
			margin-bottom: 10px;
			max-width: calc( 50% - 15px );
		}
		& .wrapper--footer-info-bottom{
			padding-top: 8px;
			margin-bottom: 10px;
			max-width: calc( 50% - 15px );
		}
	}
	@media (--lg-viewport){
		order: 2;
		flex-wrap: nowrap;
		padding-bottom: 28px;
		margin-bottom: 22px;
		& > .wrapper--footer-info-top{
			width: 100%;
			max-width: 270px;
			border: none;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 0;
			margin-right: 15px;
			& > .btn--secondary{
				display: none;
			}
		}
		& .wrapper--logo{
			margin-right: 0;
			& > *{
				margin-bottom: 0;
			}
			& .info--adress{
				display: none;
			}
		}
		& .info--phone{
			display: flex;
			align-items: center;
			&.info--lg{
				margin-bottom: 10px;
			}
			& .info__label{
				margin-right: 5px;
			}
		}
		& .wrapper--phones{
			margin-bottom: 0;
			flex-grow: 1;
			max-width: 100%;
			margin-right: 15px;
			& .info--adress{
				display: flex;
				margin-bottom: 6px;
			}
		}
		& .wrapper--stores{
			margin-bottom: 48px;
		}
		& .wrapper--footer-info-bottom{
			margin-bottom: 0;
			padding-top: 4px;
			max-width: 100%;
		}
	}
}

.footer__top{
	@media (--md-viewport){
		width: 100%;
		max-width: calc( 50% - 60px );
	}
	@media (--lg-viewport){
		max-width: 100%;
		order: 1;
		border-bottom: 1px solid;
		border-color: rgba(var(--strokes-rgb), 0.5);
		padding-bottom: 25px;
		margin-bottom: 30px;
	}
}

.footer__bottom{
	@media (--md-viewport){
		width: 100%;
		max-width: calc( 50% - 60px );
	}
	@media (--lg-viewport){
		max-width: 100%;
		order: 3;
	}
}

.footer__copy{
	background-color: var(--white);
	& > .page__wrapper{
		padding-top: 35px;
		padding-bottom: 30px;
	}
	@media (--md-viewport){
		& > .page__wrapper{
			padding-top: 25px;
		}
	}
	@media (--lg-viewport){
		order: 4;
		& > .page__wrapper{
			padding-top: 35px;
		}
	}
}
