.form{

}

.form--simple{
    padding: 32px;
    background-color: var(--white);
    border-radius: var(--border-rad-lg);
    box-shadow: var(--grey-shadow);
}

.form--sm{
    max-width: var(--modal-sm);
}