
.header{
	background-color: var(--white);
	box-shadow: var(--grey-shadow);
	margin-bottom: var(--grey-shadow-blur-size);
	& > .page__wrapper{
		display: flex;
		flex-direction: column;
		padding-top: 10px;
		padding-bottom: 12px;
	}
	@media (--lg-viewport){
		& > .page__wrapper{
			position: relative;
			padding-top: 20px;
			padding-bottom: 10px;
			padding-left: 160px;
		}
	}
}

.header__logo{
	display: flex;
	align-items: center;
	margin-right: 15px;
	& *{
		flex-shrink: 0;
	}
	& > .wrapper{
		padding-left: 12px;
	}
	& .icon__vue--logotexttop{
		margin-bottom: 6px;
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){
		position: absolute;
		top: 50%;
		left: var(--page-gap);
		transform: translateY(-50%);
		flex-direction: column;
		justify-content: center;
		& * {
			margin-left: auto;
			margin-right: auto;
		}
		& > .wrapper{
			padding-left: 0px;
		}
		& .icon__vue--logo{
			width: 61px;
			height: 53px;
			margin-bottom: 14px;
			position: relative;
			left: -10px;
		}
		& .icon__vue--logotexttop{
			width: 112px;
			height: 14px;
		}
		& .icon__vue--logotextbottom{
			width: 66px;
			height: 14px;
		}
	}
}

.header__info{
	display: none;
	font-weight: var(--fw-normal);
	& .info--adress{
		max-width: 300px;
		margin-right: 15px;
	}
	@media (--lg-viewport){
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 15px;
		& .info--phone{
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.header__actions{
	& > .btn{
		display: none;
		margin-right: 15px;
		&:last-child{
			margin-right: calc( -1*(44px - 24px)/2 );
			display: inline-flex;
		}
	}
	@media (--md-viewport){
		margin-left: auto;
		& > .btn{
			display: inline-flex;
			margin-right: 30px;
		}
	}
	@media (--lg-viewport){
		& > .btn{
			margin-right: 24px;
			&:last-child{
				display: none;
			}
			&:nth-last-child(-n+2){
				margin-right: 0;
			}
		}
	}
}

.header__menu-toggle{
	margin-left: calc( -1*(44px - 24px)/2 );
	margin-right: 15px;
	@media (--lg-viewport){
		display: none;
	}
}

.header__menu{
	@media (--md-viewport){

	}
	@media (--lg-viewport){

	}
}

.header__overlay{
	display: none;
	background-color: rgba( var(--dark-blue-rgb), 0.3);
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.header--menu-open{
	& > .page__wrapper{
		height: calc( 100*var(--vh, 1vh) );
	}
	& .header__menu-toggle{
		& .burger{
			fill: transparent;
		}
		& .cross{
			fill: var(--beetroot);
		}
	}
	& .header__actions{
		& > .header__btn{
			display: inline-flex;
		}
	}
	& .header__logo{
		display: none;
	}
	& .header__bottom{
		display: block;
	}
	@media (--md-viewport){
		& .header__overlay{
			display: block;
		}
		& .header__actions{
			display: none;
		}
		& > .page__wrapper{
			background-color: var(--white);
			max-width: 375px;
			margin-left: 0;
			box-shadow: var(--grey-shadow);
		}
	}
	@media (--lg-viewport){
		& .header__overlay{
			display: none;
		}
		& .header__actions{
			display: block;
		}
		& > .page__wrapper{
			background-color: transparent;
			max-width: calc(var(--wrapper-max) + 2*var(--page-gap));
			margin-left: auto;
			height: auto;
			box-shadow: none;
		}
		& .header__logo{
			display: flex;
		}
	}
}

.header__top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (--lg-viewport){
		border-bottom: 1px solid;
		border-color: var(--gray5);
		padding-bottom: 16px;
	}
}

.header__bottom{
	width: 100%;
	display: none;
	padding-top: 40px;
	padding-bottom: 40px;
	flex-grow: 1;
	margin-right: calc( -1*var(--page-gap) );
	padding-right: var(--page-gap);
	max-width: none;
	width: auto;
	& .ps__rail-x{
		display: none;
	}
	@media (--lg-viewport){
		display: block;
		padding-top: 0;
		padding-bottom: 0;
		&.ps{
			overflow: visible !important;
		}
		& .ps__rail-y{
			display: none;
		}
	}
}