
.icon{

}

.icon__wrapper{

}

.icon__vue{
	display: block;
	transition: color .15s ease-in-out,
				fill .15s ease-in-out;
}

.icon__vue--docs{
	@media (--lg-viewport){
		width: 135px;
		height: 190px;
	}
}