.info{
    & .link{
        text-decoration: none;
    }
}

.info__content{

}

.info__label{

}

.info--phone{

}

.info--adress{
    display: flex;
    & > .icon__wrapper{
        flex-shrink: 0;
    }
    & .icon__vue--mappin{
        color: var(--beetroot);
        display: none;
        margin-right: 8px;
    }
    @media (--lg-viewport){
        & .icon__vue--mappin{
            display: block;
        }
    }
}

.info--lg{

}
