.link{

}

.link__text{

}

.link--gray{
    color: var(--gray3);
    &:focus,
    &:hover{
        color: var(--beetroot);
    }
}

.link--unset{
	color: currentcolor;
	text-decoration: none;
	&:hover,
	&:active{
        color: currentcolor;
        text-decoration: none;
	}
}