.list{
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.list__item{

}

.list__item--active{

}

.list--goal{
	& .list__item{
		position: relative;
		padding-left: 24px;
		&::before{
			content: '';
			display: block;
			position: absolute;
			top: 0.4em;
			left: 0px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: var(--white);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Ccircle cx='6' cy='6' r='2.3' fill='%23660035'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			box-shadow: var(--list-goal-bullit-shadow);
		}
		&:not(:last-of-type){
			margin-bottom: 12px;
		}
	}
	@media (--lg-viewport){

	}
	@media (--xl-viewport){
		font-weight: var(--fw-normal);
	}
}

.list--steps{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	counter-reset: list-steps;
	& .list__item{
		counter-increment: list-steps;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 350px;
		margin-bottom: 24px;
		&::before,
		&::after{
			width: 158px;
			height: 158px;
			font-size: 60px;
			font-weight: var(--fw-bold);
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&::before{
			content: '';
			display: block;
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 158 158' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='xbb5NKEWxY' x1='79' y1='0' x2='79' y2='158' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.255208' stop-color='%23AAFFEF'/%3E%3Cstop offset='1' stop-color='%23953564'/%3E%3C/linearGradient%3E%3Ccircle cx='79' cy='79' r='77' fill='transparent' stroke='url(%23xbb5NKEWxY)' stroke-width='4'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			margin-bottom: 18px;
		}
		&::after{
			content: counter(list-steps);
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			color: var(--beetroot);
			@nest .text--white & {
				color: var(--white);
			}
		}
		& h4{
			margin-bottom: 6px;
		}
		& .text{
			margin-top: auto;
			margin-bottom: 0;
		}
	}
	@media (--md-viewport){
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		margin-bottom: 32px;
		& .list__item{
			margin-bottom: 0;
			&:not(:last-of-type){
				margin-right: 30px;
			}
			& h4{
				margin-bottom: 15px;
			}
		}
	}
	@media (--lg-viewport){
		margin-bottom: 40px;
		& .list__item{
			&:hover{
				&::before{
					animation-play-state: running;
				}
			}
			&::before,
			&::after{
				width: 220px;
				height: 220px;
			}
			&::before{
				margin-bottom: 22px;
				animation-name: spin-steps;
				animation-duration: 4s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				animation-play-state: paused;
			}
			&::after{
				font-size: 80px;
			}
			& h4{
				margin-bottom: 25px;
			}
		}
	}
}

.list--steps-icons{
	& .list__item{
		&::after{
			display: none;
		}
		& .icon__wrapper{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 158px;
			height: 158px;
			& .icon__vue{
				width: inherit;
				height: inherit;
			}
		}
		& .h4{
			color: var(--beetroot);
			margin-bottom: 8px;
		}
		& .text{
			margin-top: 0;
		}
	}
	@media (--lg-viewport){
		& .list__item{
			& .icon__wrapper{
				width: 220px;
				height: 220px;
			}
		}
	}
}

.list--steps-strategy{
	text-align: center;
	counter-reset: list-steps;
	& .list__item{
		counter-increment: list-steps;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		&::before{
			content: counter(list-steps);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 64px;
			height: 64px;
			font-size: 42px;
			font-weight: var(--fw-normal);
			border: 2px solid;
			border-color: currentColor;
			border-radius: 50%;
			background: transparent;
			margin-bottom: 15px;
		}
		& h4{
			margin-bottom: 6px;
		}
		& .text{
			margin-top: 0;
			margin-bottom: auto;
		}
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){

	}
}

.list--rating{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	& .list__item{
		font-weight: var(--fw-normal);
		width: calc( 50% - 15px );
		margin-bottom: 24px;
		min-height: 125px;
	}
	& .text{
		display: block;
		margin-bottom: 8px;
	}
	& .text--bold{
		font-size: 42px;
		line-height: 1;
		color: var(--beetroot);
	}
	@media (--md-viewport){
		flex-wrap: nowrap;
		& .list__item{
			font-size: 20px;
			margin-bottom: 0;
			min-height: 0;
			&:not(:last-of-type){
				margin-right: 24px;
			}
		}
		& .text--bold{
			font-size: 60px;
		}
	}
	@media (--lg-viewport){

	}
}

.list--parallax{
	& .list__item{
		display: block;
		position: absolute;
		transform: translate3d(0, 0, 0);
		transition: transform calc(var(--anim-dur)*2);
		&:nth-of-type(1){
			top: 10%;
			left: 25%;
			width: 172px;
			height: 235px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 172 235'%3E%3Cg filter='url(%23t26IIaA1rK)'%3E%3Cpath fill='%23980242' fill-rule='evenodd' d='M17.184 106.225l107.165-92.584c9.81-8.473 17.491-6.073 16.628 5.51l-5.973 80.152c-.683 9.138-8.367 19.794-16.297 24.017l-94.306 50.229c-3.854 2.054-7.377-.45-7.995-5.611l-5.299-44.213c-.73-6.084 1.921-13.911 6.077-17.5z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='t26IIaA1rK' width='170.057' height='233.682' x='.986' y='.584' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='10' dy='40'/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeColorMatrix values='0 0 0 0 0.596078 0 0 0 0 0.00784314 0 0 0 0 0.258824 0 0 0 0.27 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3CfeGaussianBlur result='effect2_foregroundBlur' stdDeviation='4'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
		}
		&:nth-of-type(2){
			top: 30%;
			right: 0%;
			width: 127px;
			height: 179px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 127 179'%3E%3Cg filter='url(%23alfWVQ0nGx)'%3E%3Cpath fill='%23980242' fill-rule='evenodd' d='M14.44 73.517l71.175-61.51c6.515-5.628 11.617-4.034 11.044 3.66L92.692 68.92c-.454 6.07-5.557 13.15-10.824 15.956l-62.634 33.37c-2.56 1.365-4.9-.299-5.31-3.727l-3.52-29.374c-.484-4.042 1.276-9.242 4.036-11.627z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='alfWVQ0nGx' width='126.379' height='178.074' x='.324' y='.648' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='10' dy='40'/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeColorMatrix values='0 0 0 0 0.596078 0 0 0 0 0.00784314 0 0 0 0 0.258824 0 0 0 0.27 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3CfeGaussianBlur result='effect2_foregroundBlur' stdDeviation='4'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
		}
		&:nth-of-type(3){
			top: 52%;
			left: 0%;
			width: 135px;
			height: 181px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 135 181'%3E%3Cg filter='url(%23VWkRMJ9LIF)'%3E%3Cpath fill='%231ED4B3' fill-rule='evenodd' d='M14.811 71.3L92.432 4.257c7.105-6.135 12.669-4.397 12.044 3.99l-4.326 58.041c-.495 6.618-6.06 14.334-11.805 17.392L20.04 120.053c-2.792 1.487-5.344-.326-5.791-4.063L10.41 83.973C9.88 79.568 11.8 73.9 14.81 71.301z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='VWkRMJ9LIF' width='134.202' height='179.977' x='.322' y='.595' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='10' dy='40'/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeColorMatrix values='0 0 0 0 0.117647 0 0 0 0 0.831373 0 0 0 0 0.701961 0 0 0 0.4 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
		}
		&:nth-of-type(4){
			top: 70%;
			right: 0%;
			width: 72px;
			height: 104px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 72 104'%3E%3Cg filter='url(%23b9gGmvKFY8)'%3E%3Cpath fill='%231ED4B3' fill-rule='evenodd' d='M16.092 33.007L52.351 1.72c3.319-2.863 5.918-2.052 5.626 1.862l-2.021 27.086c-.231 3.088-2.831 6.689-5.514 8.116L18.534 55.758c-1.304.694-2.496-.152-2.705-1.896L14.036 38.92c-.247-2.056.65-4.701 2.056-5.914z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='b9gGmvKFY8' width='71.132' height='103.553' x='.431' y='.011' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='34'/%3E%3CfeGaussianBlur stdDeviation='6.782'/%3E%3CfeColorMatrix values='0 0 0 0 0.117647 0 0 0 0 0.831373 0 0 0 0 0.701961 0 0 0 1 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}
	@media (--lg-viewport){

	}
	@media (--xl-viewport){
		& .list__item{
			&:nth-of-type(1){
				left: 25%;
			}
			&:nth-of-type(2){
				right: -15%;
			}
			&:nth-of-type(3){
				left: -15%;
			}
			&:nth-of-type(4){
				right: -10%;
			}
		}
	}
}

.list--breadcrumbs{
	display: none;
	flex-wrap: wrap;
	font-size: 13px;
	line-height: 1.2;
	margin-top: 8px;
	margin-bottom: 40px;
	& .list__item{
		display: flex;
		align-items: center;
		margin-top: 4px;
		margin-bottom: 4px;
		&:not(:last-of-type){
			&::after{
				content: '/';
				display: inline-block;
				margin-left: 7px;
				margin-right: 7px;
			}
		}
	}
	& .link{
		text-decoration: none;
		color: var(--gray1);
		&:hover{
			color: var(--beetroot);
		}
	}
	@media (--lg-viewport){
		display: inline-flex;
	}
}

.list--plus,
.list--minus{
	margin-bottom: 1rem;
	& .list__item{
		position: relative;
		padding-left: 1em;
		&::before{
			content: '';
			display: block;
			position: absolute;
			top: 0.1em;
			left: 0;
		}
	}
}

.list--plus{
	& .list__item{
		&::before{
			content: '+';
		}
	}
}

.list--minus{
	& .list__item{
		&::before{
			content: '-';
		}
	}
}

.list--calc{
	display: flex;
	justify-content: space-between;
	min-height: 250px;
	font-size: 13px;
	font-weight: var(--fw-normal);
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
	& .list__item{
		width: 16px;
		white-space: nowrap;
		display: flex;
		align-items: center;
		writing-mode: vertical-lr;
		transform: scale(-1);
		position: relative;
		margin-top: 24px;
		margin-right: 10px;
		padding-top: 8px;
		padding-bottom: 8px;
		& .bg{
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			height: 20%;
			width: 100%;
			background-color: var(--beetroot);
			border-radius: var(--border-rad);
		}
	}
	& .list__item--mint{
		& .bg{
			background-color: var(--mint);
		}
	}
	& .list__item--blue{
		& .bg{
			background-color: var(--havelock-blue);
		}
	}
	& .list__item--primary{
		& .bg{
			background-color: var(--beetroot);
		}
	}
	@media (--sm-viewport){
		& .list__item{
			@mixin cssLock width, sm, md, 16, 49;
		}
	}
	@media (--md-viewport){
		min-height: 280px;
		& .list__item{
			width: 49px;
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
	@media (--lg-viewport){
		& .list__item{
			width: 35px;
		}
	}
}

.list--calc-legend{
	& .list__item{
		display: flex;
		align-items: center;
		&:not(:last-of-type){
			margin-bottom: 20px;
		}
		&::before{
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			margin-right: 16px;
			background-color: var(--beetroot);
		}
	}
	& .list__item--mint{
		&::before{
			background-color: var(--mint);
		}
	}
	& .list__item--blue{
		&::before{
			background-color: var(--havelock-blue);
		}
	}
	& .list__item--primary{
		&::before{
			background-color: var(--beetroot);
		}
	}
	@media (--md-viewport){
		display: flex;
		align-items: center;
		& .list__item{
			&:not(:last-of-type){
				margin-bottom: 0px;
				margin-right: 24px;
			}
		}
	}
}

.list--chart{
	display: flex;
	border-bottom: 2px solid;
	border-color: var(--gray5);
	& .list__item{
		flex-grow: 1;
		padding-top: 6px;
		padding-bottom: 6px;
		border-bottom: 4px solid;
		border-color: transparent;
		margin-bottom: -3px;
		cursor: pointer;
		&:not(:last-child){
			margin-right: 24px;
		}
		&:hover{
			color: var(--beetroot);
		}
	}
	& .list__item--active{
		border-color: var(--beetroot);
		color: var(--gray1);
	}
}

.list--products{
	width: 100%;
	& .list__item{
		border-radius: var(--border-rad-lg);
		background-color: rgba( var(--dark-blue-rgb), 0.8);
		display: flex;
		width: 100%;
		overflow: hidden;
		position: relative;
		&:not(:last-of-type){
			margin-bottom: 24px;
		}
	}
	& .bg__pic{
		z-index: 0;
	}
	& .link{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		text-decoration: none;
		width: 100%;
		min-height: 135px;
		padding: 12px;
		color: currentColor;
		position: relative;
		z-index: 2;
		&:focus,
		&:hover{
			text-decoration: none;
			color: currentColor;
		}
	}
	& .h4{
		margin-bottom: 0;
	}
	@media (--md-viewport){
		display: flex;
		max-width: none;
		width: auto;
		margin-left: -12px;
		margin-right: -12px;
		& .list__item{
			max-width: calc( 100%/3 - 24px*2/3 );
			margin-left: 12px;
			margin-right: 12px;
			&:not(:last-of-type){
				margin-bottom: 0;
			}
		}
		& .link{
			padding: 24px;
		}
	}
	@media (--lg-viewport){
		margin-left: -15px;
		margin-right: -15px;
		& .list__item{
			max-width: calc( 100%/3 - 30px*2/3 );
			margin-left: 15px;
			margin-right: 15px;
			&::before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				background-color: rgba( var(--dark-blue-rgb), 0);
				transition: background-color var(--anim-dur);
			}
			&:focus,
			&:hover{
				&::before{
					background-color: rgba( var(--dark-blue-rgb), 0.4);
				}
			}
		}
		& .link{
			font-weight: var(--fw-normal);
		}
	}
}

.list--dropdown{
	font-weight: var(--fw-light);
	& .list__item{
		&:not(:last-of-type){
			margin-bottom: 18px;
		}
	}
	& .list__item--active{
		color: var(--beetroot);
		font-weight: var(--fw-bold);
	}
	& .link{
		text-decoration: none;
	}
	@media (--md-viewport){
		column-count: 2;
		column-gap: 30px;
	}
}

.list--application{
	display: flex;
	flex-wrap: wrap;
	& .icon__wrapper{
		display: block;
		margin-bottom: 32px;
	}
	& .figure{
		margin-left: auto;
		margin-right: auto;
		& > img{
			max-height: 50vh;
		}
	}
	& > .list__item{
		position: relative;
		display: flex;
		width: 100%;
		max-height: 960px;
		display: flex;
		justify-content: center;
		&::before{
			content: '';
			display: block;
			padding-top: 100%;
		}
		&:nth-of-type(n){
			order: 2;
			& > .bg__pic{
				background-position: -180% -280%;
			}
		}
		&:nth-of-type(2n){
			order: 1;
		}
		&:nth-of-type(3n){
			order: 3;
		}
		&:nth-of-type(4n){
			order: 4;
			& > .bg__pic{
				background-size: cover;
				background-position: center;
			}
		}
		&:nth-of-type(5n){
			order: 6;
			& > .bg__pic{
				background-position: 0% 280%;
			}
		}
		&:nth-of-type(6n){
			order: 5;
			& > .bg__pic{
				background-position: -150% -250%;
			}
		}
		&:nth-of-type(2n),
		&:nth-of-type(3n){
			background: var(--application-grad-bg);
		}
		& > .bg__pic{
			z-index: 1;
			background-size: 75%;
		}
		& > .wrapper{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			position: relative;
			z-index: 2;
			width: 100%;
			max-width: 550px;
			padding: var(--page-gap);
		}
	}
	@media (--md-viewport){
		& .figure{
			margin-left: 0;
			margin-right: 0;
		}
		& > .list__item{
			width: 50%;
			order: 1 !important;
			justify-content: flex-end;
			&:nth-of-type(2n){
				justify-content: flex-start;
				& > .wrapper{
					align-items: flex-end;
				}
			}
			&:nth-of-type(4n){
				& > .wrapper{
					align-items: flex-start;
				}
			}
			& > .wrapper{
				align-items: flex-start;
				max-width: calc( var(--wrapper-max)/2 + var(--page-gap));
				& *{
					max-width: 450px;
				}
			}
		}
	}
	@media (--lg-viewport){
		& .figure{
			& > img{
				max-height: none;
			}
		}
	}
}

.list--dcm{
	display: flex;
	flex-wrap: wrap;
	background: var(--super-light);
	& > .list__item{
		position: relative;
		display: flex;
		width: 100%;
		max-height: 620px;
		display: flex;
		justify-content: center;
		&::before{
			content: '';
			display: block;
			padding-top: 100%;
		}
		&:nth-of-type(n){
			order: 2;
		}
		&:nth-of-type(2n){
			order: 1;
		}
		&:nth-of-type(3n){
			order: 3;
		}
		&:nth-of-type(4n){
			order: 4;
		}
		&:nth-of-type(5n){
			order: 6;
		}
		&:nth-of-type(6n){
			order: 5;
		}
		&:nth-of-type(2n),
		&:nth-of-type(3n){

		}
		& > .bg__pic{
			z-index: 1;
			background-size: cover;
		}
		& > .wrapper{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			position: relative;
			z-index: 2;
			width: 100%;
			max-width: 550px;
			padding: var(--page-gap);
			& > .h2{
				margin-top: 20px;
			}
		}
	}
	@media (--md-viewport){
		& > .list__item{
			width: 50%;
			order: 1 !important;
			&:nth-of-type(even){
				justify-content: flex-start;
				& > .wrapper{
					padding-left: 40px;
				}
			}
			&:nth-of-type(odd){
				justify-content: flex-end;
			}
			& > .wrapper{
				align-items: flex-start;
				justify-content: flex-start;
				padding-top: 40px;
				padding-bottom: 40px;
				max-width: calc( var(--wrapper-max)/2 + var(--page-gap));
				& > .h2{
					margin-top: -0.25em;
				}
				& *{
					max-width: 470px;
				}
			}
		}
	}
	@media (--lg-viewport){
		& > .list__item{
			&:nth-of-type(even){
				& > .wrapper{
					padding-left: 80px;
				}
			}
			&:nth-of-type(odd){

			}
			& > .wrapper{
				padding-top: 80px;
				padding-bottom: 80px;
				& *{
					max-width: 520px;
				}
			}
		}
	}
}

.list--tabs{
	width: 100%;
	padding: 24px;
	box-shadow: var(--grey-shadow);
	border-radius: var(--border-rad-lg);
	& .list__item{
		padding-top: 16px;
		padding-bottom: 16px;
		border-bottom: 1px solid;
		border-color: var(--gray5);
		cursor: pointer;
		&:first-of-type{
			padding-top: 0;
		}
		&:last-of-type{
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	& .list__item--active{
		color: var(--beetroot);
	}
}

.list--tabs-horizontal{
	display: inline-flex;
	border-bottom: 2px solid;
	border-color: var(--gray5);
	color: var(--gray3);
	font-size: 16px;
	margin-bottom: 15px;
	& .list__item{
		cursor: pointer;
		padding: 10px 4px;
		border-bottom: 4px solid;
		border-color: transparent;
		margin-bottom: -2px;
		&:not(:last-of-type){
			margin-right: 25px;
		}
	}
	& .list__item--active{
		border-color: var(--beetroot);
	}
}

.list--procedures{
	counter-reset: list-procedures;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	& .list__item{
		counter-increment: list-procedures;
		padding: 24px;
		background-color: var(--white);
		box-shadow: var(--grey-shadow);
		border-radius: var(--border-rad-lg);
		color: var(--beetroot);
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 540px;
		&::before{
			content: counter(list-procedures);
			width: 64px;
			height: 64px;
			flex-shrink: 0;
			border-radius: 50%;
			background-color: var(--dark-blue);
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 24px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: 42px;
			line-height: 1;
			color: var(--white);
		}
		&:not(:last-of-type){
			margin-bottom: 20px;
		}
	}
	@media (--lg-viewport){
		font-size: 24px;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		& .list__item{
			max-width: calc( 100%/2 - 30px/2 );
			&:not(:last-of-type){
				margin-bottom: 40px;
			}
		}
	}
}

@keyframes spin-steps {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}