.map{
	background-color: var(--gray5);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 250 250'%3E%3Cpath fill='%23fafafa' d='M91.121 186.508l-53.719-18.75 36.856-78.719 30.601 5.555zm0 0'/%3E%3Cpath fill='%23f4f5f5' d='M91.121 186.508l56.746-18.848-10.715-78.62-32.293 5.554zm0 0'/%3E%3Cpath fill='%23fafafa' d='M215.676 186.508l-67.809-18.848-10.715-78.62 33.93 5.554zm0 0'/%3E%3Cpath fill='%23eff0f0' d='M161.707 102.879l-23.266-4.27 7.54 55.41 43.503 11.657zm-82.39-3.027l-27.282 59.722 40.82 12.649 10.418-68.055zm0 0'/%3E%3Cpath fill='%23dfe1e2' d='M138.441 98.61l-35.168 5.558-10.418 68.055 53.125-18.203zm0 0'/%3E%3Cpath fill='%23bfc3c5' d='M164.582 69.395c0 22.32-40.426 71.082-40.426 71.082S83.73 91.715 83.73 69.395c0-22.32 18.106-40.426 40.426-40.426s40.426 18.054 40.426 40.426zm0 0'/%3E%3Cpath fill='%23fff' d='M144.594 66.07c0 11.317-9.172 20.489-20.489 20.489-11.312 0-20.484-9.172-20.484-20.489 0-11.312 9.172-20.484 20.484-20.484 11.317 0 20.489 9.172 20.489 20.484zm0 0'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-repeat: no-repeat;
}


.map--yandex{

}

