.menu{
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	& .link{
		display: block;
		text-decoration: none;
		color: currentColor;
	}
}

.menu__item{

}

.menu__item--active{

}

.menu__item--open{

}

.menu--main,
.menu--secondary{
	font-weight: var(--fw-bold);
	& .btn--action{
		& .icon__wrapper{
			transition: transform 0.15s ease-in-out;
		}
	}
	& .menu__item{
		&:not(:last-of-type){
			margin-bottom: 12px;
		}
	}
	& .link{
		transition: color .15s ease-in-out;
		&:hover{
			color: var(--beetroot);
		}
	}
	& .nav__item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > .link{
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
	& .menu{
		display: none;
		padding-left: 20px;
		padding-top: 12px;
		font-weight: var(--fw-light);
		text-transform: none;
		& .nav__item{
			& > .link{
				padding-top: 3px;
				padding-bottom: 3px;
			}
		}
		& .menu__item{
			&:not(:last-of-type){
				margin-bottom: 6px;
			}
		}
	}
	& .menu__item--active{
		& > .nav__item{
			color: var(--beetroot);
		}
	}
	& > .menu__item{
		&.menu__item--open{
			& > .menu{
				display: block;
			}
			& > .nav__item{
				& .btn--action{
					& .icon__wrapper{
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}

.menu--main{
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 24px;
	white-space: nowrap;
	@media (--lg-viewport){
		display: flex;
		margin-bottom: -10px;
		flex-wrap: wrap;
		@mixin cssLock font-size, lg, xl, 13, 15;
		& .menu{
			position: absolute;
			z-index: -1;
			top: 0;
			left: -22px;
			background-color: var(--white);
			padding: 22px;
			border-radius: var(--border-rad-lg);
			box-shadow: var(--grey-shadow);
			min-width: calc( 100% + 22px*2 );
			padding-top: calc( 1em + 20px*2 );
			max-width: none;
		}
		& .menu__item{
			position: relative;
			&:not(:last-of-type){
				margin-bottom: 0;
				@mixin cssLock margin-right, lg, xl, 10, 22;
			}
			&:hover,
			&:focus{
				& > .menu{
					display: block;
				}
			}
		}
		& .nav__item{
			& > .btn--action{
				display: none;
			}
			& > .link{
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
	}
	@media (--xl-viewport){
		font-size: 15px;
		& .menu__item{
			&:not(:last-of-type){
				margin-right: 22px;
			}
		}
	}
}

.menu--secondary{
	@media (--lg-viewport){
		display: none;
	}
}

.menu--footer-main,
.menu--footer-secondary{
	width: 100%;
	font-weight: var(--fw-bold);
	& .btn--action{
		& .icon__wrapper{
			transition: transform 0.15s ease-in-out;
		}
	}
	& .menu__item{
		margin-bottom: 6px;
	}
	& .link{
		transition: color .15s ease-in-out;
		&:hover{
			color: var(--beetroot);
		}
	}
	& .nav__item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > .link{
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
	& .menu{
		display: none;
		padding-left: 20px;
		padding-top: 9px;
		font-weight: var(--fw-light);
		& .nav__item{
			& > .link{
				padding-top: 3px;
				padding-bottom: 3px;
			}
		}
		& .menu__item{
			&:not(:last-of-type){
				margin-bottom: 6px;
			}
		}
	}
	& .menu__item--active{
		color: var(--beetroot);
	}
	& > .menu__item{
		&.menu__item--open{
			& > .menu{
				display: block;
			}
			& > .nav__item{
				& .btn--action{
					& .icon__wrapper{
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}

.menu--footer-main{
	@media (--lg-viewport){
		display: flex;
		flex-wrap: wrap;
		text-transform: uppercase;
		white-space: nowrap;
		@mixin cssLock font-size, lg, xl, 13, 14;
		@mixin cssLock margin-right, lg, xl, 5, 15;
		& .menu__item{
			margin-bottom: 0;
			&:not(:last-of-type){
				@mixin cssLock margin-right, lg, xl, 10, 24;
			}
			& .btn--action{
				display: none;
			}
		}
		& .menu{
			display: none;
		}
	}
	@media (--xl-viewport){
		font-size: 14px;
		margin-right: 15px;
		& .menu__item{
			&:not(:last-of-type){
				margin-right: 24px;
			}
		}
	}
}

.menu--footer-secondary{
	@media (--lg-viewport){
		column-count: 4;
		@mixin cssLock column-gap, lg, xl, 20, 58;
		& > .menu__item{
			break-inside: avoid;
		}
		& .menu{
			padding-left: 0;
			display: block;
			break-inside: avoid;
		}
		& .btn--action{
			display: none;
		}
	}
	@media (--xl-viewport){
		column-gap: 58px;
	}
}