.modal{
	display: none;
	position: fixed;
	z-index: var(--z-index-modal);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&[aria-hidden='true'] {
	  display: none;
	}
}

.modal__overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--dark-blue-rgb), 0.3);
	@media (--md-viewport){
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: var(--page-gap);
	}
}

.modal__container{
	width: 100%;
	height: 100%;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	min-height: 245px;
	& > *{
		padding-top: var(--modal-py-sm);
		padding-bottom: var(--modal-py-sm);
		padding-left: var(--modal-px-sm);
		padding-right: var(--modal-px-sm);
	}
	@media (--md-viewport){
		max-width: var(--modal-md);
		height: auto;
		max-height: 100%;
		box-shadow: var(--grey-shadow);
		border-radius: var(--border-rad-lg);
		overflow: hidden;
	}
	@media (--lg-viewport){
		& > *{
			padding-top: var(--modal-py-lg);
			padding-bottom: var(--modal-py-lg);
			padding-left: var(--modal-px-lg);
			padding-right: var(--modal-px-lg);
		}
	}
}

.modal__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--super-light);
	box-shadow: var(--grey-shadow);
	& .btn--modal{
		margin-left: auto;
		margin-bottom: auto;
	}
	@media (--md-viewport){

	}
}

.modal__main{
	flex-grow: 1;
	margin-top: 4px;
	margin-bottom: 4px;
	@media (--md-viewport){

	}
}

.modal__footer{
	@media (--md-viewport){

	}
}

.modal--visible{
	display: block;
	@media (--md-viewport){
		& .modal__container{
			animation: slide-top var(--anim-dur) linear both;
		}
	}
}

.modal--lg{
	& .modal__container{
		@media (--md-viewport){
			max-width: var(--modal-lg);
		}
	}
}

.modal--md{
	& .modal__container{
		@media (--md-viewport){
			max-width: var(--modal-md);
		}
	}
}

.modal--sm{
	& .modal__container{
		@media (--md-viewport){
			max-width: var(--modal-sm);
		}
	}
}

.modal--finished{

}

.modal--anket{
	& .bg__pic{
		display: none;
	}
	&.modal--finished{
		color: var(--white);
		& .bg__pic{
			display: block;
		}
		& .modal__header{
			background-color: transparent;
			box-shadow: none;
			padding-bottom: 0;
		}
		& .modal__container{
			background-color: transparent;
		}
	}
}

.modal--gallery{
	& .modal__main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		& > img{
			display: block;
			margin-bottom: 40px;
		}
		& .text{
			color: var(--black);
		}
	}
	@media (--lg-viewport){
		& .modal__header{
			box-shadow: none;
			background-color: transparent;
		}
	}
}

.modal--search{
	& .modal__header{
		background-color: transparent;
		text-align: center;
		box-shadow: none;
	}
	& .btn--modal{
		margin-left: 0;
	}
}

@keyframes slide-top {
	0% {
		transform: translateY(200%);
	}
	100% {
		transform: translateY(0);
	}
}
