.nav{

}

.nav__item{

}

.nav--header{
	& > .btn--secondary{
		margin-bottom: 45px;
	}
	@media (--lg-viewport){
		& > .btn--secondary{
			display: none;
		}
	}
}

.nav--footer{
	& .btn--secondary{
		display: none;
		white-space: nowrap;
	}
	@media (--lg-viewport){
		display: flex;
		align-items: center;
		justify-content: space-between;
		& .btn--secondary{
			display: inline-flex;
		}
	}
}