.page{
	display: flex; /*fix бага ie11 с min-height:100%*/
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	position: relative;
	z-index: 1;
	scroll-behavior: smooth;
}

.page__wrapper{
	width: 100%;
	max-width: calc(var(--wrapper-max) + 2*var(--page-gap));
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	margin-left: auto;
	margin-right: auto;
}

.page__main{
	width: 100%;
	flex-grow: 1;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	@media (--md-viewport){

	}
	@media (--lg-viewport){

	}
}

.page__header{
	width: 100%;
	position: relative;
	z-index: var(--z-index-header);
	@media (--md-viewport){

	}
	@media (--lg-viewport){

	}
}

.page__footer{
	width: 100%;
	@media (--md-viewport){

	}
	@media (--lg-viewport){

	}
}

.page__body{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 100vh;
	position: relative;
	z-index: 1;
	background-color: var(--white);
}

.page--noscroll{
	overflow: hidden;
	@media (--safary-only){
		position: fixed;
	}
}

.page__parallax{
	position: absolute;
	z-index: var(--z-index-parallax);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	display: flex;
	& > .page__wrapper{
		position: relative;
		flex-grow: 1;
	}
	& .list--parallax{
		display: none;
	}
	@media (--lg-viewport){
		& .list--parallax{
			display: block;
		}
	}
}