.section{
	position: relative;
}

.section--regular{
	margin-bottom: 24px;
	& > .page__wrapper{
		& > .h2{
			margin-bottom: 24px;
		}
	}
	@media (--md-viewport){
		margin-bottom: 32px;
		& > .page__wrapper{
			& > .h2{
				margin-bottom: 32px;
			}
		}
	}
	@media (--lg-viewport){
		margin-bottom: 80px;
		& > .page__wrapper{
			& > .h2{
				margin-bottom: 40px;
			}
		}
	}
}

.section--regular-with-bg{
	padding-top: 24px;
	padding-bottom: 24px;
	@media (--md-viewport){
		padding-top: 32px;
		padding-bottom: 32px;
	}
	@media (--lg-viewport){
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.section--slider-front{
	margin-top: calc( -1*var(--grey-shadow-blur-size) );
}

.section--light{
	background-color: var(--super-light);
}

.section--blue{
	background-color: var(--dark-blue);
}

.section--header{
	z-index: 1;
	overflow: hidden;
	margin-top: calc( -1*var(--grey-shadow-blur-size) );
	padding-top: 18px;
	&::before{
		content: '';
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, rgba(var(--white-rgb), 0.5) 0%, rgba(var(--white-rgb), 0) 50%, rgba(var(--white-rgb), 0) 100%);
	}
	& .bg__pic{
		background-color: var(--top-grey);
	}
	& > .page__wrapper{
		position: relative;
		z-index: 1;
		padding-top: 18px;
	}
	& .h2{
		margin-bottom: 25px;
	}
	& .h4{
		margin-bottom: 25px;
		line-height: 1.4;
	}
	& .btn--lg{
		margin-bottom: 55px;
		width: 100%;
	}
	@media (--md-viewport){
		& .h2{
			max-width: 50%;
		}
		& .h4{
			max-width: 50%;
			margin-bottom: 32px;
		}
		& .btn--lg{
			margin-bottom: 0;
			width: auto;
		}
	}
	@media (--lg-viewport){
		padding-top: 0px;
		& .h2{
			margin-bottom: 35px;
		}
		& .h4{
			margin-bottom: 40px;
		}
		& .btn--lg{
			margin-bottom: 0px;
		}
	}
	@media (--xl-viewport){

	}
}

.section--graph{
	overflow: hidden;
	& .bg__pic{
		background-size: contain;
		position: relative;
		height: auto;
		max-width: none;
		width: auto;
		margin-left: -40%;
		margin-right: -18%;
		margin-bottom: 12px;
		&::before{
			content: '';
			display: block;
			padding-top: 62.9%;
		}
		& .text--accented{
			display: none;
		}
	}
	& .icon__vue{
		width: 22.8%;
		height: auto;
		position: absolute;
		top: 0;
		right: 12.5%;
	}
	& .text--sm{
		font-size: 13px;
		line-height: 1.4;
	}
	& .text--accented{
		font-size: 20px;
		font-weight: var(--fw-normal);
		margin-bottom: 15px;
		width: 100%;
		max-width: 350px;
	}
	& .text--bold{
		font-size: 32px;
		margin-right: 18px;
		line-height: 1;
		display: block;
	}
	& .h4{
		font-weight: var(--fw-normal);
		margin-bottom: 25px;
	}
	@media (--sm-viewport){
		& .text--accented{
			display: flex;
			align-items: flex-start;
		}
		& .bg__pic{
			margin-top: -45px;
		}
		& .bg__pic{
			@mixin cssLock margin-left, sm, md, -135, 0;
			@mixin cssLock margin-right, sm, md, -60, 0;
		}
	}
	@media (--md-viewport){
		& > .page__wrapper{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		& .bg__pic{
			width: 100%;
			max-width: 540px;
			margin-left: auto;
			margin-right: 0;
			margin-top: -180px;
		}
		& .h4{
			margin-bottom: 35px;
		}
	}
	@media (--lg-viewport){
		& .bg__pic{
			max-width: 962px;
			margin-top: -150px;
			& .text--accented{
				display: flex;
				position: absolute;
				z-index: 1;
				opacity: 0;
				transition: opacity .15s ease-in-out;
				&:nth-of-type(1){
					top: -9%;
					left: 65%;
				}
				&:nth-of-type(2){
					flex-direction: column;
					top: -2%;
					left: 78%;
				}
				&.text--visible{
					opacity: 1;
				}
			}
		}
		& .h4{
			max-width: 380px;
			margin-bottom: 42px;
		}
		& .text--accented{
			display: none;
		}
		& .text--sm{
			max-width: 310px;
			margin-left: auto;
			margin-top: -128px;
		}
	}
	@media (--section-graph-hlp-viewport){
		& .text--sm{
			margin-right: -115px;
		}
		& .bg__pic{
			& .text--accented{
				&:nth-of-type(2){
					flex-direction: row;
					top: 2%;
					left: 78%;
				}
			}
		}
	}
}

.section--broker{
	& .bg__pic{
		background-color: var(--dark-blue);
	}
	& > .page__wrapper{
		display: flex;
		flex-direction: column;
		& > .wrapper{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	}
	& .text--lg{
		margin-bottom: 25px;
	}
	& .text--sm{
		font-size: 13px;
		line-height: 1.4;
		margin-bottom: 25px;
	}
	& .btn--lg{
		margin-bottom: 20px;
	}
	& .figure{
		max-width: 282px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -24px;
	}
	@media (--md-viewport){
		& > .page__wrapper{
			flex-direction: row;
			justify-content: space-between;
			& > *{
				max-width: 50%;
			}
			& > .wrapper{
				order: 2;
				position: relative;
				z-index: 1;
			}
		}
		& .figure{
			max-width: 40%;
			order: 1;
			margin-right: -50px;
			margin-top: auto;
			margin-bottom: -32px;
		}
		& .btn--lg{
			margin-bottom: 32px;
		}
	}
	@media (--lg-viewport){
		& .figure{
			max-width: 55%;
			margin-right: -75px;
			margin-bottom: -80px;
		}
		& .text--lg{
			margin-bottom: 40px;
		}
		& .text--sm{
			margin-bottom: 40px;
		}
		& .btn--lg{
			margin-bottom: 80px;
		}
		& .icon__vue--solidapp{
			width: 100px;
			height: 100px;
		}
	}
}

.section--header-application{
	overflow: visible;
	&::before{
		background: var(--application-grad-bg);
	}
	& .bg__pic{
		background-color: transparent;
		z-index: 1;
	}
}

.section--header-sm{
	min-height: 235px;
	background-color: var(--super-light);
	& .bg__pic{
		left: 50%;
		transform: translateX(-50%);
		max-width: calc(var(--wrapper-max) + 2*var(--page-gap));
		background-color: var(--super-light);
	}
	@media (--lg-viewport){
		& .bg__pic{
			background-size: 70% 100%;
			background-position: center right;
		}
	}
}

.section--telegram{
	& > .page__wrapper{
		& > .figure{
			display: none;
		}
	}
	& .wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		& > .figure{
			margin-bottom: 24px;
		}
	}
	& .h2{
		text-align: center;
	}
	@media (--md-viewport){
		& > .page__wrapper{
			display: flex;
			align-items: center;
			& > .figure{
				display: block;
				margin-right: 70px;
			}
		}
		& .wrapper{
			align-items: flex-start;
			margin-left: auto;
			margin-right: auto;
			& > .figure{
				display: none;
			}
		}
		& .h2{
			text-align: left;
		}
	}
	@media (--lg-viewport){
		& > .page__wrapper{
			& > .figure{
				margin-right: 100px;
			}
		}
		& .wrapper{
			margin-left: 0;
		}
	}
}

.section--lk{
	& > .page__wrapper{
		display: flex;
		flex-direction: column;
	}
	& .wrapper{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	& .text--lg{
		margin-bottom: 20px;
	}
	& .figure{
		max-width: 380px;
		margin-left: auto;
		margin-right: auto;
	}
	@media (--md-viewport){
		& > .page__wrapper{
			flex-direction: row;
			justify-content: space-between;
			& > *{
				max-width: 50%;
			}
		}
		& .figure{
			max-width: 50%;
		}
		& .wrapper{
			margin-right: 30px;
		}
	}
	@media (--lg-viewport){

	}
}

.section--iis{
	& > .page__wrapper{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		& > .wrapper{
			margin-bottom: 24px;
		}
	}
	& .figure{
		position: relative;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		& > .text--bold{
			font-size: 42px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
		}
	}
	@media (--md-viewport){
		& > .page__wrapper{
			flex-direction: row;
			align-items: center;
			& > .wrapper{
				margin-bottom: 0;
				order: 2;
			}
			& > *{
				max-width: 50%;
			}
		}
		& .figure{
			order: 1;
			margin-right: 45px;
		}
	}
	@media (--lg-viewport){
		& .figure{
			margin-right: 125px;
			& > .text--bold{
				font-size: 60px;
			}
		}
	}
}

.section--calc{
	& .wrapper--control{
		margin-bottom: 24px;
		& .control__label{
			margin-bottom: 0;
			margin-right: 30px;
			font-size: 16px;
			font-weight: var(--fw-light);
		}
		& .text--bold{
			font-size: 20px;
		}
	}
	& .wrapper--total{
		margin-bottom: 26px;
	}
	@media (--md-viewport){
		& > .page__wrapper{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			& > .h2{
				width: 100%;
			}
			& > .wrapper{
				margin-bottom: 32px;
				width: 100%;
				max-width: calc( 100%/2 - 26px/2 );
			}
		}
		& .wrapper--control{
			& .text--bold{
				white-space: nowrap;
			}
		}
	}
	@media (--lg-viewport){
		& > .page__wrapper{
			& > .wrapper{
				margin-bottom: 48px;
				max-width: calc( 100%/2 - 95px/2 );
			}
		}
		& .wrapper--control{
			& .control__label{
				font-size: 20px;
				font-weight: var(--fw-normal);
			}
		}
	}
}
