.slider{

}

.slider__container{

}

.slider__wrapper{

}

.slider__slide{

}

.slider__btn{
	flex-shrink: 0;
	width: 60px;
	height: 60px;
}

.slider__btn--next{
	& .icon__vue--chewrondown{
		transform: rotate(-90deg);
	}
}

.slider__btn--prev{
	& .icon__vue--chewrondown{
		transform: rotate(90deg);
	}
}

.slider__pagination{
	position: static;
	& .swiper-pagination-bullet{
		width: var(--pagination-bullet-size);
		height: var(--pagination-bullet-size);
		margin: 0 8px;
		background: transparent;
		color: var(--gray3);
		position: relative;
		opacity: 1;
		&::after{
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: currentColor;
		}
	}
	& .swiper-pagination-bullet-active{
		background: var(--white);
		color: var(--beetroot);
		box-shadow: var(--pagination-primary-shadow);
	}
}

.slider__pagination--inverse{
	& .swiper-pagination-bullet{
		color: var(--white);
	}
	& .swiper-pagination-bullet-active{
		background: var(--beetroot);
	}
}

.slider__pagination--mint{
	& .swiper-pagination-bullet{
		color: var(--white);
	}
	& .swiper-pagination-bullet-active{
		background: var(--white);
		color: var(--mint);
		box-shadow: var(--pagination-mint-shadow);
	}
}

.slider--front{
	& .slider__btn{
		display: none;
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);
	}
	& .slider__btn--prev{
		left: var(--page-gap);
	}
	& .slider__btn--next{
		right: var(--page-gap);
	}
	& .slider__slide{
		height: auto;
		position: relative;
		padding-top: 40px;
		& > .page__wrapper{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		& .h2{
			margin-bottom: 16px;
		}
		& .h4{
			margin-bottom: 8px;
		}
		& .btn--primary{
			margin-bottom: 32px;
			margin-left: auto;
			margin-right: auto;
		}
		& br{
			display: none;
		}
	}
	& .bg__pic{
		height: calc( 100% + var(--pagination-bullet-size) + 20px );
	}
	& .slider__pagination{
		position: relative;
		bottom: 0;
		left: 0;
		margin-bottom: 24px;
	}
	@media (--sm-viewport){
		& .slider__slide{
			& br{
				display: inline;
			}
		}
	}
	@media (--md-viewport){
		& .slider__slide{
			& .h2{
				margin-bottom: 24px;
				max-width: 50%;
			}
			& .h4{
				margin-bottom: 16px;
				max-width: 70%;
			}
		}
		& .slider__pagination{
			margin-bottom: 32px;
		}
		& .bg__pic{
			height: calc( 100% + var(--pagination-bullet-size) + 32px );
		}
	}
	@media (--lg-viewport){
		& .slider__slide{
			& .h2{
				margin-bottom: 40px;
			}
			& .h4{
				margin-bottom: 40px;
			}
			& .btn--primary{
				margin-bottom: 65px;
				margin-left: 0;
			}
		}
		& .slider__pagination{
			margin-bottom: 40px;
		}
		& .bg__pic{
			height: calc( 100% + var(--pagination-bullet-size) + 48px );
		}
	}
	@media(--slider-front-hlp-viewport){
		& .slider__btn{
			display: flex;
		}
		& .slider__btn--prev{
			left: calc( (100vw - var(--scrollbar-width) - var(--wrapper-max))/2 - 90px );
		}
		& .slider__btn--next{
			right: calc( (100vw - var(--scrollbar-width) - var(--wrapper-max))/2 - 90px );
		}
	}
}

.slider--stocks{
	max-width: none;
	width: auto;
	margin-left: calc( -1*var(--page-gap) );
	margin-right: calc( -1*var(--page-gap) );
	position: relative;
	& .slider__btn{
		display: none;
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);
	}
	& .slider__btn--prev{
		left: var(--page-gap);
	}
	& .slider__btn--next{
		right: var(--page-gap);
	}
	& .slider__slide{
		height: auto;
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
		padding-bottom: 24px;
		display: flex;
		justify-content: center;
	}
	@media(--md-viewport){
		& .slider__slide{
			padding-bottom: 32px;
		}
	}
	@media(--lg-viewport){
		& .slider__slide{
			padding-bottom: 40px;
		}
	}
	@media(--slider-front-hlp-viewport){
		& .slider__btn{
			display: flex;
		}
		& .slider__btn--prev{
			left: -75px;
		}
		& .slider__btn--next{
			right: -75px;
		}
	}
}

.slider--press{
	margin-bottom: 24px;
	& .slider__slide{
		height: auto;
		display: flex;
		justify-content: center;
	}
	& .slider__wrapper{
		margin-bottom: 24px;
	}
	@media(--md-viewport){
		& .slider__container{
			max-width: none;
			width: auto;
			margin-left: -12px;
			margin-right: -12px;
		}
		& .slider__slide{
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	@media(--lg-viewport){
		margin-bottom: 40px;
		& .slider__container{
			margin-left: -15px;
			margin-right: -15px;
			overflow: initial;
		}
		& .slider__slide{
			padding-left: 15px;
			padding-right: 15px;
			width: auto;
			flex-shrink: 1;
			&:nth-child(n + 4){
				display: none;
			}
		}
		& .slider__pagination{
			display: none;
		}
	}
}

.slider--advantages{
	text-align: center;
	padding-top: 35px;
	margin-bottom: 40px;
	& > .wrapper{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	& .slider__slide{
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		& > .icon__wrapper{
			height: 80px;
			display: flex;
			align-items: center;
			margin-bottom: 12px;
			transition: color .15s ease-in-out;
		}
		& > .text{
			max-width: 180px;
		}
	}
	& .slider__btn{
		display: none;
		width: 48px;
		height: 48px;
	}
	& .slider__pagination{
		margin-bottom: 15px;
	}
	@media(--sm-viewport){
		& .slider__btn{
			display: flex;
		}
	}
	@media(--md-viewport){

	}
	@media(--lg-viewport){
		font-size: 20px;
		padding-top: 100px;
		margin-bottom: 100px;
		& > .wrapper{
			margin-bottom: 0;
		}
		& .slider__container{
			overflow: initial;
			width: 100%;
		}
		& .slider__wrapper{
			justify-content: space-between;
		}
		& .slider__slide{
			width: auto;
			flex-shrink: 1;
			&:hover{
				& > .icon__wrapper{
					color: var(--mint);
				}
			}
			& > .text{
				max-width: 210px;
			}
		}
		& .slider__btn{
			display: none;
		}
		& .slider__pagination{
			display: none;
		}
	}
}

.slider--team{
	display: flex;
	align-items: center;
	& .slider__slide{
		height: auto;
		display: flex;
		justify-content: center;
	}
	& .slider__container{
		max-width: 760px;
	}
	& .slider__wrapper{
		margin-bottom: 24px;
	}
	& .slider__btn{
		display: none;
	}
	@media(--md-viewport){
		& .slider__wrapper{
			margin-bottom: 32px;
		}
	}
	@media(--lg-viewport){
		padding-top: 15px;
		& .slider__btn{
			display: flex;
		}
		& .slider__container{
			max-width: 100%;
			margin-left: 35px;
			margin-right: 35px;
		}
	}
}

.slider--feedback{
	& > .wrapper{
		position: relative;
		margin-bottom: 24px;
	}
	& .slider__slide{
		height: auto;
		line-height: 1.4;
	}
	& .slider__btn{
		display: none;
	}
	& .person{
		text-align: center;
		display: block;
		position: relative;
		font-size: 16px;
		&::after{
			content: '';
			display: block;
			width: 80px;
			height: 1px;
			background-color: var(--white);
			margin-top: 8px;
			margin-bottom: 24px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	@media(--md-viewport){
		& .person{
			font-size: 20px;
			min-height: 80px;
			padding-top: 10px;
			padding-left: 80px;
			padding-right: 80px;
		}
		& .slider__btn{
			display: flex;
			position: absolute;
			z-index: 1;
			top: 0;
		}
		& .slider__btn--prev{
			left: 0;
		}
		& .slider__btn--next{
			right: 0;
		}
	}
	@media(--lg-viewport){
		& > .wrapper{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		& .slider__container{
			max-width: 730px;
			margin-right: 30px;
			margin-left: 30px;
		}
		& .person{
			font-size: 24px;
			min-height: 0;
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
		}
		& .slider__btn{
			position: static;
		}
	}
}

.slider--boxes{
	max-width: none;
	width: auto;
	margin-left: calc( -1*var(--page-gap) );
	margin-right: calc( -1*var(--page-gap) );
	& .slider__wrapper{
		margin-bottom: 24px;
	}
	& .slider__slide{
		height: auto;
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
		display: flex;
		justify-content: center;
		& > .figure{
			max-width: 350px;
		}
	}
	@media(--md-viewport){
		& .slider__container{
			overflow: initial;
		}
		& .slider__pagination{
			display: none;
		}
		& .slider__wrapper{
			margin-bottom: 0;
			justify-content: center;
			flex-wrap: wrap;
		}
		& .slider__slide{
			max-width: calc( 100%/3 - 24px*2/3 );
			margin-bottom: calc( var(--page-gap)*2 );
		}
	}
	@media(--lg-viewport){

	}
}

.slider--calc{
	width: 100%;
	& .slider__slide{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	& .list--calc{
		width: 100%;
		max-width: calc( 64px*4 + 64px*3 );
		margin-left: auto;
		margin-right: auto;
		& .list__item{
			margin-right: 0;
			max-width: calc( 100%/4 - 24px*3/4 );
		}
	}
	& .slider__pagination{
		margin-bottom: 24px;
	}
	& .slider__wrapper{
		margin-bottom: 24px;
	}
	@media(--md-viewport){
		& .slider__container{
			overflow: initial;
		}
		& .slider__wrapper{
			justify-content: space-between;
			margin-bottom: 0;
		}
		& .slider__slide{
			max-width: calc( 100%/3 - 24px*2/3 );
		}
		& .slider__pagination{
			display: none;
		}
	}
	@media(--lg-viewport){
		& .list--calc{
			& .list__item{
				max-width: calc( 100%/4 - 30px*3/4 );
			}
		}
		& .slider__slide{
			max-width: calc( 100%/3 - 30px*2/3 );
		}
	}
}

.slider--calc-idu{
	& > .wrapper{
		display: flex;
		align-items: center;
		margin-bottom: 24px;
	}
	& .slider__slide{
		height: auto;
	}
	& .slider__container{
		margin-left: 14px;
		margin-right: 14px;
		padding: 4px;
	}
	& .slider__btn{
		width: 48px;
		height: 48px;
	}
	& .wrapper--total{
		margin: 4px;
	}
	@media(--md-viewport){
		& > .wrapper{
			margin-bottom: 0;
		}
		& .slider__pagination{
			display: none;
		}
	}
	@media(--lg-viewport){
		max-width: none;
		width: auto;
		margin-left: -60px;
		& .slider__container{
			margin-left: 35px;
			margin-right: 35px;
		}
		& .slider__btn{
			width: 60px;
			height: 60px;
		}
	}
}

.slider--examples{
	width: auto;
	max-width: none;
	margin-left: calc( -1*var(--page-gap) );
	margin-right: calc( -1*var(--page-gap) );
	& > .wrapper{
		display: flex;
		align-items: center;
	}
	& .slider__slide{
		height: auto;
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
		padding-bottom: 26px;
		display: flex;
		flex-direction: column;
	}
	& .slider__btn{
		display: none;
	}
	& .figure{
		width: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	@media(--md-viewport){

	}
	@media(--lg-viewport){
		max-width: 100%;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		& .slider__btn{
			display: inline-flex;
		}
		& .slider__slide{
			padding-left: 30px;
			padding-right: 30px;
		}
		& .slider__container{

		}
	}
}

.slider--rating,
.slider--application{
	text-align: center;
	margin-bottom: 40px;
	& > .wrapper{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	& .slider__slide{
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		& > .icon__wrapper{
			margin-bottom: 16px;
			transition: color .15s ease-in-out;
		}
		& > .text{
			max-width: 230px;
		}
	}
	& .slider__btn{
		display: none;
		width: 48px;
		height: 48px;
	}
	& .slider__pagination{
		margin-bottom: 15px;
	}
	@media(--sm-viewport){
		& .slider__btn{
			display: flex;
		}
	}
	@media(--md-viewport){

	}
	@media(--lg-viewport){
		& > .wrapper{
			margin-bottom: 0;
		}
		& .slider__container{
			overflow: initial;
			width: 100%;
		}
		& .slider__wrapper{
			justify-content: space-between;
		}
		& .slider__slide{
			padding-left: 15px;
			padding-right: 15px;
			max-width: 380px;
			flex-shrink: 1;
			&:hover{
				& > .icon__wrapper{
					color: var(--mint);
				}
			}
			& > .text{
				max-width: 350px;
			}
		}
		& .slider__btn{
			display: none;
		}
		& .slider__pagination{
			display: none;
		}
	}
}

.slider--clients,
.slider--lots,
.slider--license,
.slider--dials{
	& > .wrapper{
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	& .slider__container{
		width: 100%;
		max-width: 300px;
		padding: 10px 20px 24px;
	}
	& .slider__slide{
		overflow: hidden;
		width: 100%;
		height: 350px;
		border-radius: var(--border-rad-lg);
		box-shadow: var(--grey-shadow);
		position: relative;
		background-color: var(--white);
		& .bg__pic{
			z-index: 1;
		}
	}
	& .slider__btn{
		display: none;
		width: 48px;
		height: 48px;
	}
	@media(--md-viewport){
		& .slider__container{
			max-width: 600px;
		}
	}
	@media(--lg-viewport){
		& .slider__container{
			max-width: 100%;
		}
		& .slider__btn{
			display: flex;
		}
	}
}

.slider--clients{
	& .slider__container{
		padding: 0;
	}
	& .slider__slide{
		box-shadow: none;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
	}
	@media(--lg-viewport){
		& .slider__container{
			margin-right: 35px;
			margin-left: 35px;
		}
	}
}

.slider--lots{
	& .slider__slide{
		height: auto;
		display: flex;
		&::before{
			content: '';
			padding-top: 100%;
		}
	}
}

.slider--dials{
	& .slider__container{
		max-width: 100%;
	}
	& .slider__slide{
		height: auto;
		display: flex;
	}
	@media(--md-viewport){
		& .slider__btn{
			display: flex;
		}
		& .slider__pagination{
			display: none;
		}
	}
}

.slider--rating{
	& .slider__slide{
		font-weight: var(--fw-normal);
		text-align: left;
		& > .wrapper{
			max-width: 160px;
		}
	}
	& .text{
		display: block;
		margin-bottom: 8px;
	}
	& .text--bold{
		font-size: 42px;
		line-height: 1;
		color: var(--beetroot);
	}
	@media(--lg-viewport){
		& .slider__slide{
			font-size: 20px;
			margin-bottom: 0;
			min-height: 0;
			& > .wrapper{
				max-width: 100%;
			}
		}
		& .text--bold{
			font-size: 60px;
		}
	}
}