.table{
	width: 100%;
	margin-bottom: 15px;
	& thead,
	& .table__head{
		font-weight: var(--fw-bold);
		font-size: 16px;
		background-color: var(--super-light);
		border-bottom: 2px solid;
		border-color: var(--beetroot);
	}
	& tbody{
		font-size: 13px;
		& tr{
			border-bottom: 1px solid;
			border-color: rgba( var(--gray3-rgb), 0.2 );
		}
	}
	& tr{

		& > th,
		& > td{

		}
	}
	& th,
	& td{

	}
	& th{
		padding: 4px 11px;
	}
	& td{
		padding: 7px;
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){
		& tbody{
			font-size: 16px;
		}
		& th{
			padding: 4px 18px;
		}
		& td{
			padding: 5px 11px 4px 11px;
		}
	}
}

.table__head{

}

.table__row{

}

.table__col{

}

.table__col--icon{
	width: 66px;
}

.table__row--file{

}

.table__row--file{

}

.table__row--open{

}

.table--transparent{
	& thead,
	& .table__head{
		background-color: transparent;
		border-bottom: none;
	}
	& tbody{
		font-size: inherit;
		& tr{
			border-bottom: none;
		}
	}
}

.table--simple{
	& td{
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 0;
		padding-right: 16px;
		&:last-of-type{
			padding-right: 0;
		}
	}
	@media (--lg-viewport){
		& td{
			padding-top: 16px;
			padding-bottom: 12px;
			&:not(:last-of-type){
				padding-right: 32px;
			}
		}
	}
}

.table--compare-cards{
	border-collapse: separate;
	border-spacing: var(--page-gap) 0px;
	overflow: hidden;
	position: relative;
	padding-bottom: calc( 2*var(--grey-shadow-blur-size) );
	font-weight: var(--fw-normal);
	max-width: none;
	width: auto;
	margin-left: calc( -1*var(--page-gap) );
	margin-right: calc( -1*var(--page-gap) );
	&::after{
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc( 2*var(--grey-shadow-blur-size) );
		background-color: var(--white);
	}
	& thead,
	& .table__head{
		background-color: transparent;
		border-bottom: none;
		font-weight: var(--fw-normal);
	}
	& tbody{
		font-size: inherit;
		& tr{
			border-bottom: none;
		}
	}
	& th,
	& td{
		vertical-align: top;
	}
	& td{
		padding: 12px 24px;
		&:nth-of-type(1){
			padding-left: 0;
		}
		&:nth-of-type(n+2){
			background-color: var(--super-light);
		}
	}
	& th{
		font-weight: var(--fw-normal);
		padding: 16px 24px;
		font-size: 24px;
		&:nth-of-type(n+2){
			width: 350px;
			background-color: var(--mint);
			color: var(--white);
			border-top-left-radius: var(--border-rad-lg);
			border-top-right-radius: var(--border-rad-lg);
			position: relative;
			&::after{
				content: '';
				display: block;
				position: absolute;
				z-index: -2;
				top: 0;
				left: 0;
				width: 100%;
				height: 1000px;
				background-color: var(--super-light);
				box-shadow: var(--grey-shadow);
			}
		}
		&:nth-of-type(3){
			background-color: var(--beetroot);
		}
	}
	& tr{
		&:first-of-type{
			& td{
				padding-top: 16px;
			}
		}
		&:last-of-type{
			& td{
				padding-bottom: 24px;
				&:nth-of-type(n+2){
					box-shadow: var(--table-compare-shadow);
					border-bottom-left-radius: var(--border-rad-lg);
					border-bottom-right-radius: var(--border-rad-lg);
				}
			}
		}
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){
		& tbody{
			font-size: 20px;
		}
	}
	@media (--xl-viewport){
	}
}

.table--docs{
	display: block;
	width: 100%;
	border-bottom: 1px solid;
	border-color: var(--gray5);
	color: var(--gray1);
	& tbody{
		display: block;
		width: 100%;
	}
	& .table{
		display: none;
		margin-bottom: 0;
		border-color: transparent;
	}
	& .table__row{
		display: block;
		border-color: var(--gray5);
		margin-bottom: 8px;
		&:last-of-type{
			margin-bottom: 0;
			border-color: transparent;
		}
	}
	& td{
		padding: 0;
		display: block;
		margin-bottom: 8px;
		& > .wrapper{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		& .link,
		& .btn{
			flex-shrink: 0;
		}
		& .btn--action{
			min-width: 24px;
			min-height: 24px;
			margin-right: -1px;
			transition: transform var(--anim-dur);
		}
	}
	& .table__row--label{

	}
	& .table__row--file{
		position: relative;
		& td{
			&:first-of-type{
				padding-right: 32px;
			}
		}
		& .link{
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	& .table__row--open{
		& > td{
			& .btn--action{
				transform: rotate(180deg);
			}
			& > .table{
				display: block;
				margin-top: 15px;
				padding-left: 35px;
			}
		}
	}
}

.table--docs-lg{
	@media (--md-viewport){
		display: table;
		border-color: transparent;
		& tbody{
			display: table-row-group;
		}
		& .table__row{
			display: table-row;
			margin-bottom: 0;
			&:last-of-type{
				border-color: var(--gray5);
			}
		}
		& td{
			display: table-cell;
			padding-top: 16px;
			padding-bottom: 12px;
			vertical-align: top;
			&:last-of-type{
				width: 75%;
			}
		}
		& .table__row--file{
			& .link{
				position: static;
			}
			& .wrapper{
				& > span{
					margin-right: 32px;
				}
			}
		}
		& .table__row--open{
			& > td{
				& > .table{
					margin-top: 15px;
					display: table;
					padding-left: 0;
				}
			}
		}
		& .table{
			& td{
				&:last-of-type{
					width: 85%;
				}
			}
			& tr{
				&:last-of-type{
					border: none;
				}
			}
		}
	}
}