.text{

}

.text--visible{

}

.text--normal{

}

.text--gray{
	color: var(--gray1);
}

.text--white{
	color: var(--white);
}

.text--muted{
    color: var(--gray3);
}

.text--primary{
	color: var(--beetroot);
}

.text--mint{
	color: var(--mint);
}

.text--accented{

}

.text--bold{
	font-weight: var(--fw-bold);
}

.text--success{
    color: var(--green);
}

.text--error{
    color: var(--red);
}

.text--sm{
	font-size: 10px;
	font-weight: var(--fw-light);
	@media (--sm-viewport){

	}
	@media (--lg-viewport){
		font-size: 13px;
	}
}

.text--md{
	font-size: 13px;
	font-weight: var(--fw-light);
	line-height: 1.4;
	@media (--sm-viewport){

	}
	@media (--lg-viewport){
		font-size: 16px;
	}
}

.text--lg{
	font-size: 16px;
	font-weight: var(--fw-light);
	@media (--sm-viewport){

	}
	@media (--lg-viewport){
		font-size: 20px;
	}
}

.text--rouble{
	font-family: ALSRubl, Arial, Tahoma, sans-serif;
}
