.widget{

}

.widget__content{

}

.widget__segment{

}

.widget--indexes{
	background-color: var(--gray6);
	font-size: 20px;
	font-weight: var(--fw-normal);
	border-radius: var(--border-rad-lg);
	margin-bottom: 24px;
	& .widget__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 24px;
		padding-top: 16px;
		& > .wrapper{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			text-align: center;
			& > *{
				margin-left: 8px;
				margin-right: 8px;
			}
		}
	}
	& .company{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	& .company__logo{
		margin-right: 16px;
		margin-bottom: 4px;
	}
	& .company__title{
		margin-bottom: 4px;
		text-align: center;
	}
	& .btn--lg{
		width: 100%;
	}
	@media (--md-viewport){
		margin-left: calc( -1*var(--page-gap) );
		margin-right: calc( -1*var(--page-gap) );
		max-width: none;
		& .widget__content{
			flex-direction: row;
			justify-content: space-between;
			padding: 16px var(--page-gap);
			& > .wrapper{
				flex-wrap: nowrap;
				margin-bottom: 0;
				& > *{
					margin-left: 0;
					margin-right: 0;
					&:not(:last-child){
						margin-right: 24px;
					}
				}
			}
		}
		& .company{
			flex-wrap: nowrap;
		}
		& .btn--lg{
			width: auto;
		}
	}
	@media (--lg-viewport){
		font-size: 24px;
		& .widget__content{
			padding-top: 8px;
			padding-bottom: 8px;
			& > .wrapper{
				& > *{
					&:not(:last-child){
						margin-right: 48px;
					}
				}
			}
		}
	}
}

.widget--pie{
	flex-shrink: 0;
	width: 100%;
	max-width: 300px;
	background-color: var(--top-gray);
	border: 8px solid;
	border-color: var(--white);
	border-radius: 50%;
	position: relative;
	display: flex;
	overflow: hidden;
	&::before{
		content: '';
		display: block;
		width: 100%;
		padding-top: 100%;
	}
	& .bg{
		color: var(--beetroot);
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	& .widget__content{
		position: absolute;
		z-index: 3;
		background-color: var(--white);
		border-radius: 50%;
		width: calc( 100% - 50px );
		height: calc( 100% - 50px );
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	& .text--bold{
		font-size: 60px;
		color: var(--beetroot);
	}
	& .text{
		margin-bottom: 0;
	}
}