.wrapper{

}

.wrapper__content{

}

.wrapper--logo{

}

.wrapper--socials{

}

.wrapper--phones{

}

.wrapper--footer-info-top{

}

.wrapper--footer-info-bottom{

}

.wrapper--control{

}

.wrapper--goals{
	@media (--md-viewport){

	}
	@media (--lg-viewport){
		display: flex;
		justify-content: space-between;
	}
}

.wrapper--stores{
	& .icon__vue{
		color: var(--super-dark) !important;
	}
}

.wrapper--start{
	position: relative;
	border-radius: var(--border-rad-lg);
	overflow: hidden;
	display: flex;
	&::before{
		content: '';
		display: block;
	}
	& .wrapper__content{
		width: 100%;
		color: var(--white);
		padding: 36px 6px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	& .h2{
		margin-bottom: 24px;
	}
	& .text{
		margin-bottom: 24px;
		line-height: 1.4;
	}
	& .h2,
	& .text{
		max-width: 480px;
	}
	& .btn--primary{
		margin-top: 20px;
	}
	@media (--md-viewport){
		&::before{
			padding-top: 53%;
		}
		& .h2{
			margin-bottom: 32px;
		}
		& .btn--primary{
			margin-top: 0px;
		}
		& .h2,
		& .text{
			@mixin cssLock max-width, md, lg, 480, 700;
		}
	}
	@media (--lg-viewport){
		& .h2{
			margin-bottom: 40px;
		}
		& .text{
			font-size: 20px;
			margin-bottom: 28px;
		}
		& .h2,
		& .text{
			max-width: 920px;
		}
		& .btn--primary{
			margin-top: 16px;
		}
	}
}

.wrapper--stocks{
	display: flex;
	flex-direction: column;
	align-items: center;
	& .figure--stock{
		margin-bottom: 24px;
	}
	@media (--md-viewport){
		margin-bottom: 8px;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: wrap;
		& .figure--stock{
			width: calc( 100%/3 - 24px*2/3 );
		}
	}
	@media (--lg-viewport){
		margin-bottom: 0;
		& .figure--stock{
			margin-bottom: 40px;
			width: calc( 100%/3 - 30px*2/3 );
		}
	}
}

.wrapper--article{
	margin-bottom: 24px;
	@media (--md-viewport){
		margin-bottom: 8px;
		& > .wrapper{
			margin-bottom: 32px;
			&:nth-child(2){
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				& > *{
					max-width: calc(50% - 8px);
				}
			}
		}
	}
	@media (--lg-viewport){
		margin-bottom: 40px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		& > .wrapper{
			margin-bottom: 0;
			width: 100%;
			max-width: calc(50% - 10px);
			&:nth-child(2){
				display: block;
				& > *{
					max-width: 100%;
				}
			}
		}
	}
}

.wrapper--tariffs{
	& .figure{
		margin-bottom: 24px;
	}
	@media (--md-viewport){
		margin-bottom: 32px;
		display: flex;
		justify-content: space-between;
		& .figure{
			margin-bottom: 0;
			max-width: calc( 50% - 12px );
		}
	}
	@media (--lg-viewport){
		margin-bottom: 40px;
		& .figure{
			max-width: calc( 50% - 16px );
		}
	}
}

.wrapper--compare{
	& .table--compare-cards{
		display: none;
	}
	& .figure--compare{
		margin-bottom: 24px;
	}
	@media (--md-viewport){
		display: flex;
		justify-content: space-between;
		& .figure--compare{
			margin-bottom: 32px;
			max-width: calc( 50% - 14px );
		}
	}
	@media (--lg-viewport){
		display: block;
		overflow: hidden;
		max-width: none;
		width: auto;
		margin-left: calc( -1*var(--page-gap) );
		margin-right: calc( -1*var(--page-gap) );
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
		& .figure--compare{
			display: none;
		}
		& .table--compare-cards{
			display: table;
			border-spacing: var(--table-compare-space-x) 0px;
			margin-left: calc( -1*var(--table-compare-space-x) );
			margin-right: calc( -1*var(--table-compare-space-x) );
			margin-bottom: 40px;
		}
	}
	@media (--xl-viewport){
		margin-left: calc( -1*var(--table-compare-space-x) );
		margin-right: calc( -1*var(--table-compare-space-x) );
		padding-left: var(--table-compare-space-x);
		padding-right: var(--table-compare-space-x);
	}
}

.wrapper--tools{
	margin-bottom: -16px;
	& .figure--tool{
		margin-bottom: 16px;
	}
	@media (--md-viewport){
		margin-bottom: -24px;
		max-width: none;
		width: auto;
		margin-left: -12px;
		margin-right: -12px;
		display: flex;
		flex-wrap: wrap;
		& .figure--tool{
			margin-bottom: 24px;
			margin-left: 12px;
			margin-right: 12px;
			max-width: calc( 50% - 12px*2 );
		}
	}
	@media (--lg-viewport){
		margin-bottom: -40px;
		margin-left: -15px;
		margin-right: -15px;
		& .figure--tool{
			margin-bottom: 40px;
			margin-left: 15px;
			margin-right: 15px;
			max-width: calc( 50% - 15px*2 );
		}
	}
}

.wrapper--total{
	color: var(--gray1);
	background-color: var(--white);
	border-radius: var(--border-rad-lg);
	border: 4px solid;
	border-color: transparent;
	position: relative;
	padding: 24px;
	&::before{
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top: -8px;
		bottom: -8px;
		left: -8px;
		right: -8px;
		border-radius: var(--border-rad-lg);
		background: var(--light-grad-hlp);
		background-size: 100% 200%;
		background-position: 0 0;
		animation-name: total-bg;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-play-state: paused;
	}
	&:hover{
		&::before{
			animation-play-state: running;
		}
	}
	@nest .page--hodini-cp-api & {
		&::before{
			--ang: 0deg;
			background: linear-gradient(var(--ang), #953564 0%, #AAFFEF 100%);
			animation-name: total-bg-rotation;
			background-size: 100%;
		}
	}
}

.wrapper--chart{
	display: flex;
	min-height: 300px;
	&::before{
		content: '';
		display: block;
		padding-top: 40%;
	}
	& .wrapper__content{
		width: 100%;
	}
}

.wrapper--example{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
	& > .wrapper{
		margin-bottom: 24px;
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){
		flex-direction: row;
		& > .wrapper{
			min-width: 25%;
			margin-bottom: 0;
			margin-right: 30px;
		}
	}
}

.wrapper--app-icon{
	display: flex;
	align-items: center;
	margin-bottom: 32px;
	& .icon__wrapper{
		margin-right: 24px;
	}
	& .h2{
		margin-bottom: 0;
	}
}

.wrapper--store-icons{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	& > .icon__wrapper{
		margin-bottom: 8px;
		&:not(:last-of-type){
			margin-right: 16px;
		}
	}
	& .icon__vue{
		width: 150px;
		height: 50px;
		color: transparent;
	}
}

.wrapper--application{
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	& .icon__vue--solidapp{
		width: 100px;
		height: 100px;
	}
	& .text--lg{
		display: none;
		margin-bottom: 50px;
	}
	& .wrapper--app-icon{
		display: none;
		color: var(--beetroot);
		& .h2{
			font-size: 42px;
		}
	}
	& > .wrapper--app-icon{
		display: flex;
	}
	& .figure{
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
		margin-bottom: 24px;
		display: block;
	}
	& .wrapper--store-icons{
		justify-content: space-between;
		& .icon__vue{
			color: var(--super-dark) !important;
		}
	}
	@media (--md-viewport){
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		& .text--lg{
			display: block;
		}
		& .wrapper--app-icon{
			display: flex;
		}
		& > .wrapper--app-icon{
			display: none;
		}
		& > .wrapper{
			max-width: 50%;
		}
		& .figure{
			max-width: 650px;
			margin-top: -100px;
			margin-right: -100px;
			margin-bottom: -180px;
		}
		& .wrapper--store-icons{
			justify-content: flex-start;
		}
	}
	@media (--lg-viewport){
		& > .wrapper{
			max-width: 540px;
		}
	}
}

.wrapper--gallery{
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (--lg-viewport){
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		max-width: none;
		width: auto;
		margin-left: calc( -1*var(--page-gap) );
		margin-right: calc( -1*var(--page-gap) );
		& .figure--gallery{
			margin-left: var(--page-gap);
			margin-right: var(--page-gap);
		}
	}
}

.wrapper--filebox{
	width: 100%;
	padding: 24px;
	border-radius: var(--border-rad-lg);
	background-color: var(--top-grey);
}

.wrapper--docs{
	@media (--lg-viewport){
		display: flex;
		& > .wrapper{
			width: 100%;
			&:first-child{
				max-width: 350px;
				margin-right: 32px;
				& > *{
					position: sticky;
					top: 0;
				}
			}
		}
	}
}

.wrapper--specialist{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
	& .figure--specialist{
		margin-bottom: 30px;
	}
	@media (--lg-viewport){
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		& .figure--specialist{
			max-width: calc( 100%/2 - 30px/2 );
		}
	}
}

.wrapper--idu{
	& > .wrapper{
		margin-bottom: 34px;
	}
	& .person{
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 501 592'%3E%3Cpath fill='%23C8CBD2' d='M32.352 382.591C-9.284 424.443-2.683 501.455 10.91 591.296c8.874 58.654 51.833 47.659 69.703 34.566C181.24 576.3 400.318 467.687 430.562 444.434c36.891-28.364 45.297-63.163 49.727-100.122 9.905-82.617 27.064-260.882 16.469-313.01-10.595-52.13-55.182-27.365-76.15-8.467C308.537 125.315 73.988 340.739 32.352 382.59z' opacity='.2'/%3E%3C/svg%3E%0A");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left bottom;
	}
	& .person__info{
		margin-top: -30px;
		width: 100%;
		background-color: var(--top-grey);
		padding: 24px;
		border-radius: var(--border-rad-lg);
	}
	& .person__pic{
		display: block;
		width: 100%;
		max-width: 280px;
	}
	@media (--md-viewport){
		display: flex;
		justify-content: space-between;
		& > .wrapper{
			order: 2;
			margin-bottom: 0;
		}
		& > *{
			width: 100%;
			max-width: calc( 100%/2 - 30px/2 );
		}
		& .person{
			order: 1;
		}
	}
	@media (--lg-viewport){
		& .person__pic{
			max-width: 380px;
		}
	}
}

.wrapper--reviews{
	display: flex;
	flex-direction: column;
	align-items: center;
	& .article--review{
		max-width: 540px;
		&:not(:last-of-type){
			margin-bottom: 24px;
		}
	}
	@media (--lg-viewport){
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		& .article--review{
			max-width: calc( 100%/2 - 30px/2 );
			margin-bottom: 40px;
			&:not(:last-of-type){
				margin-bottom: 40px;
			}
		}
	}
}

.wrapper--box{
	display: flex;
	flex-direction: column;
	& .figure--box{
		max-width: 540px;
		&:not(:last-of-type){
			margin-bottom: 20px;
		}
	}
	@media (--md-viewport){
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		& .figure--box{
			max-width: calc( 100%/2 - 30px/2 );
			margin-bottom: 30px;
			&:not(:last-of-type){
				margin-bottom: 30px;
			}
		}
	}
	@media (--lg-viewport){
		& .figure--box{
			max-width: calc( 100%/3 - 30px*2/3 );
		}
	}
}

.wrapper--press-center,
.wrapper--daily-reviews{
	margin-bottom: 15px;
	& .article{
		margin-bottom: 8px;
		border-top: 1px solid;
		border-color: rgba( var(--strokes-rgb), 0.5 );
	}
	& .article--lead{
		border: none;
		margin-bottom: 24px;
	}
	@media (--lg-viewport){
		column-count: 2;
		column-gap: 30;
		& .article{
			break-inside: avoid;
		}
	}
}

.wrapper--search{
	margin-bottom: 40px;
	& .article{
		margin-bottom: 8px;
		border-bottom: 1px solid;
		border-color: rgba( var(--strokes-rgb), 0.5 );
	}
	@media (--lg-viewport){

	}
}

.wrapper--calc{
	display: flex;
	justify-content: space-between;
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin-bottom: 24px;
	@media (--md-viewport){
		margin-right: calc(-100% - 26px);
		max-width: none;
		width: auto;
	}
	@media (--lg-viewport){
		margin-right: 0;
		max-width: 100%;
		width: 100%;
	}
}

.wrapper--managers{
	display: flex;
	flex-direction: column;
	align-items: center;
	& .figure--manager{
		margin-bottom: 30px;
	}
	@media (--lg-viewport){
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		& .figure--manager{
			width: calc( 100%/2 - 30px/2);
		}
	}
}

@keyframes total-bg {
    0% {
		background-position: 0 0;
	}
    50% {
		background-position: 0 100%;
	}
    100% {
		background-position: 0 0;
	}
}

@keyframes total-bg-rotation {
    0% {
		--ang: 0deg;
	}
    100% {
		--ang: 360deg;
	}
}