/*
	используемые плагины (vue.config.js):
		postcssImport (https://github.com/postcss/postcss-import):
			- инлайн импорт css файлов
		postcssPresetEnv (https://github.com/csstools/postcss-preset-env):
			- добавляем кастомные css переменные ( var(--xl) ) подробнее: https://github.com/postcss/postcss-preset
			- добавляем кастомные медиа выражения ( @media(--sm-viewport) ) подробнее: https://github.com/postcss/postcss-custom-media
		postcssMixins (https://github.com/postcss/postcss-mixins):
			- добавляем локальные миксины заданные через  @define-mixin
			- добавляем js миксин addJsVariablesToRoot ( добавляет импортированные css переменные к элементу :root) вызывать после основного :root
			- добавляем js миксин cssLock ( css-шлюзы ) подробнее: https://habr.com/ru/company/mailru/blog/315196/
*/

/* Import blocks */
@import 'blocks/page.css';
@import 'blocks/header.css';
@import 'blocks/main.css';
@import 'blocks/footer.css';
@import 'blocks/project.css';
@import 'blocks/icon.css';
@import 'blocks/btn.css';
@import 'blocks/wrapper.css';
@import 'blocks/nav.css';
@import 'blocks/menu.css';
@import 'blocks/link.css';
@import 'blocks/info.css';
@import 'blocks/widget.css';
@import 'blocks/text.css';
@import 'blocks/company.css';
@import 'blocks/table.css';
@import 'blocks/control.css';
@import 'blocks/section.css';
@import 'blocks/slider.css';
@import 'blocks/list.css';
@import 'blocks/figure.css';
@import 'blocks/bg.css';
@import 'blocks/badge.css';
@import 'blocks/file.css';
@import 'blocks/decoration.css';
@import 'blocks/person.css';
@import 'blocks/modal.css';
@import 'blocks/form.css';
@import 'blocks/map.css';
@import 'blocks/article.css';

@import 'vendors/perfect-scrollbar.css';
@import 'vendors/multiselect.css';

@custom-media --slider-front-hlp-viewport (width >= 1310px);
@custom-media --section-graph-hlp-viewport (width >= 1400px);
@custom-media --ie-only screen and (-ms-high-contrast: active), (-ms-high-contrast: none);
@custom-media --safari-only not all and (min-resolution:.001dpcm);

@custom-selector :--all-headers h1, h2, h3, h4, h5, h6;
@custom-selector :--table-cell td, th;

:root{
	/* Colors */
	--white:			#FFFFFF; --white-rgb: 255,255,255;
	--black:			#000000; --black-rgb: 0,0,0;
	--beetroot:			#660035; --beetroot-rgb: 102,0,53;
	--bon-jour:			#E4E0E2; --bon-jour-rgb: 228,224,226;
	--gray1:			#333333; --gray1-rgb: 51,51,51;
	--gray2:			#4F4F4F; --gray2-rgb: 79,79,79;
	--gray3:			#828282; --gray3-rgb: 130,130,130;
	--gray4:			#BDBDBD; --gray4-rgb: 189,189,189;
	--gray5:			#E0E0E0; --gray5-rgb: 224,224,224;
	--gray6:			#F2F2F2; --gray6-rgb: 242,242,242;
	--super-light:		#FAF8F8; --super-light-rgb: 250,248,248;
	--strokes:			#C3BAB3; --strokes-rgb: 195,186,179;
	--dark-blue:		#152841; --dark-blue-rgb: 21,40,65;
	--blue:				#1D4171; --blue-rgb: 29,65,113;
	--green:			#56A180; --green-rgb: 86,161,128;
	--mint:				#1ED4B3; --mint-rgb: 30,212,179;
	--red:				#EB5757; --red-rgb: 235,87,87;
	--top-grey:			#EBEBEB; --top-grey-rgb: 235,235,235;
	--blue:				#00A1D6; --blue-rgb: 0,161,214;
	--super-dark:		#201E29; --super-dark-rgb: 32,30,41;
	--havelock-blue:	#4B8BE1; --havelock-blue-rgb: 75,139,225;

	/* Fonts */
	--fw-thin: 100;
	--fw-extra-light: 200;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;
	--fw-black: 900;

	/* Other */
	--font-primary: GothamPro, Arial, Helvetica, sans-serif;
	--wrapper-max: 1110px;
	--page-gap: 15px;
	--scrollbar-width:  17px;
	--anim-dur:  0.4s;
	--border-rad:  4px;
	--border-rad-lg:  8px;
	--pagination-bullet-size: 20px;
	--grey-shadow-blur-size: 16px;
	--table-compare-space-x: 30px;
	--decoration-arc-h: 6vw;
	--light-grad: linear-gradient(0deg, #953564 0%, #AAFFEF 100%);
	--light-grad-hlp: linear-gradient(0deg, #AAFFEF 0%, #953564 50%, #AAFFEF 100%);
	--modal-px-sm: 24px;
	--modal-py-sm: 12px;
	--modal-px-lg: 30px;
	--modal-py-lg: 20px;
	--modal-sm: 550px;
	--modal-md: 720px;
	--modal-lg: 1110px;
	--z-index-decoration: 1;
	--z-index-header: 5;
	--z-index-parallax: 10;
	--z-index-dropdown: 11;
	--z-index-modal: 12;
	--application-grad-bg: linear-gradient(90deg, #E6E9F0 0%, #EEF1F5 100%), linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%), #F5F5F5;

	/* Shadows */
	--btn-shadow: 4px 8px 16px rgba(var(--beetroot-rgb), 0.3);
	--btn-shadow-active: 2px 4px 8px rgba(var(--beetroot-rgb), 0.3);
	--grey-shadow: 4px 8px var(--grey-shadow-blur-size) var(--bon-jour);
	--table-compare-shadow: 4px var(--grey-shadow-blur-size) var(--grey-shadow-blur-size) rgba( var(--bon-jour-rgb), 1 );
	--gray2-shadow: 4px 4px var(--grey-shadow-blur-size) rgba( var(--gray2-rgb), 0.5 );
	--pagination-primary-shadow: 4px 4px 12px var(--bon-jour);
	--list-goal-bullit-shadow: 2px 2px 6px rgba(var(--gray1-rgb), 0.2);
	--pagination-mint-shadow: 0px 9px 19px rgba(var(--mint-rgb), 0.47);
	--btn-blue-shadow: 4px 8px 16px rgba(var(--blue-rgb), 0.24);
	--red-shadow: -2px 10px 16px rgba(var(--beetroot-rgb), 0.5);
	--red-shadow-ie: 0px 0px 1px rgba(var(--beetroot-rgb), 0.5);
}

@mixin addJsVariablesToRoot{};

/* Mixins */
@define-mixin addWebFont $name, $type: Regular, $weight: 400, $style: normal {
	@font-face {
		font-family: $name;
		src: url('../assets/fonts/$(name)$(type).woff2') format('woff2'),
			 url('../assets/fonts/$(name)$(type).woff') format('woff');
		font-style: $style;
		font-weight: $(weight);
		font-display: swap;
	}
}

@define-mixin addVariableFont $name, $filename, $v-settings: 'wght' 400, $weight: 200 800, $style: normal, $v-ligatures: normal {
	@font-face {
		font-family: $name;
		src: url('../assets/fonts/variable/$(filename).ttf') format("truetype-variations");
		font-style: $style;
		font-variation-settings: $(v-settings);
		font-variation-ligatures: normal;
		font-weight: $(weight)
	}
}

/* Add fonts */
@mixin addWebFont GothamPro, Light, 300{};
@mixin addWebFont GothamPro, Regular, 400{};
@mixin addWebFont GothamPro, Bold, 700{};
@mixin addWebFont ALSRubl, Regular, 400{}; /*  https://tema.livejournal.com/241645.html  */


@supports (font-variation-settings: 'wght' 115) {
	/*@mixin addVariableFont 'Manrope VF', ManropeGX{};*/
}

html,
body{
	width: 100%;
	min-height: 100%;
	margin:  0;
	padding: 0;
	font-family: var(--font-primary);
	color: var(--gray1);
	font-weight: var(--fw-light);
	line-height: 1.375;
	font-size: 16px;
}

a{
	transition: color calc(var(--anim-dur)/2);
	text-decoration: underline;
	color: var(--beetroot);
	&:hover,
	&:active{
		color: var(--beetroot);
	}
}

sup{
	top: 0;
	font-size: 100%;
}

*{
	max-width: 100%;
}

@supports(object-fit: contain){
	img{
		object-fit: contain;
	}
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-top: 0;
	margin-bottom: 0.5em;
	font-family: var(--font-primary);
	font-weight: var(--fw-bold);
}

h1,
.h1{
	font-size: 60px;
}

h2,
.h2{
	font-size: 26px;
	font-weight: var(--fw-normal);
	line-height: 1.3;
	@media (--sm-viewport){
		font-size: 26px;
	}
	@media (--lg-viewport){
		font-size: 42px;
	}
}

h3,
.h3{
	font-size: 20px;
	line-height: 1.3;
	@media (--sm-viewport){
		font-size: 20px;
	}
	@media (--lg-viewport){
		font-size: 32px;
	}
}

h4,
.h4{
	font-size: 20px;
	font-weight: var(--fw-normal);
	line-height: 1.3;
	@media (--sm-viewport){
		font-size: 20px;
	}
	@media (--lg-viewport){
		font-size: 24px;
	}
}

h5,
.h5{

}

h6,
.h6{
	font-size: 14px;
}

.scroll__measure{
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

a[href^='tel:']{

}

a[href^='mailto:']{

}

.row{
	max-width: none;
}