include ./mixins/mixins.pug
-
	let pageTitle = 'about';

doctype html
html(lang="ru")
	+head()
	body.page.page--about
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.section--header-sm
					.bg__pic
						img(src='assets/img/about-bg.jpg' alt='О компании' v-background-image)
					.page__wrapper
						+breadcrumbs()
						h1.h2
							| О компании
				section.section.section--regular.section--regular-with-bg.section--blue.text--white.mb-0
					.page__wrapper
						about-ratings.mb-0.mt-4(
							:initial-breakpoints="breakpoints"
							:ratings="[ { title: 'TOP 5', caption: 'Рейтинг надежности и качества <br class=\"d-none d-lg-block\">услуг НРА', icon: 'top5' }, { title: 'TOP 20', caption: 'Организаторов выпусков <br class=\"d-none d-lg-block\">облигаций в России', icon: 'top20' }, { title: 'TOP 25', caption: 'Ведущих операторов Мосбиржи', icon: 'top25' } ]"
						)
				section.section.section--regular.section--regular-with-bg.mb-0
					.page__wrapper
						h2.h2.text-center
							| Успешно управляем финансами с 1993 года!
						p.text-text--md.text-center.mb-5
							| На протяжении 27 лет мы удерживаем высокий рейтинг надежности (НРА) и статус ведущего оператора Московской Биржи. Сегодня мы продолжаем развиваться и остаемся верны качеству, предлагая инвестиционные решения, проверенные временем.
						ul.list.list--steps.list--steps-icons
							li.list__item
								icon-help
								h4.h4
									| Мы помогаем клиентам
								p.text.text--md
									| находить альтернативные способы преумножения капитала, достигать  инвестиционных целей, зарабатывать и использовать переменчивую ситуацию на рынке в свою пользу.
							li.list__item
								icon-experience
								h4.h4
									| Бесценный опыт
								p.text.text--md
									| накопленный нами за 27 лет непрерывной работы на фондовом рынке, позволяет предлагать клиентам наиболее успешные инвестиционные решения.
							li.list__item
								icon-offices
								h4.h4
									| Наши офисы
								p.text.text--md
									| открыты в Санкт- Петербурге, Казани, Туле, Уфе, Альметьевске, Красноярске и многих других городах России. Мы оказываем сервисы в том числе онлайн, чтобы вы экономили свое время.
						.d-block.text-center
							button.btn.btn--primary.btn--lg(@click="openPopup('backcall')")
								| Стать клиентом
				section.section.section--regular.section--regular-with-bg.section--light.mb-0
					.page__wrapper
						.wrapper.wrapper--tools
							.figure.figure--tool
								h4.h4.text--primary
									span.text
										| 4 место в рейтинге надёжности и качества НРА
									img(src='assets/img/nra-logo.png' alt='НРА')
								ul.list.list--goal.text--lg
									li.list__item
										| по национальной шкале инвестиционных компаний присвоен рейтинг АА-|ru.iv|
									li.list__item
										| прогноз по рейтингу — «Стабильный»
							.figure.figure--tool
								h4.h4.text--primary
									span.text
										| 2 место в рэнкинге организаторов выпуска высокодоходных облигаций
									icon-cbonds
								ul.list.list--goal.text--lg
									li.list__item
										| доля первой тройки организаторов на рынке составляет 52.3%
							.figure.figure--tool
								h4.h4.text--primary
									span.text
										| Прорыв года Cbonds Award
									icon-cbonds
								ul.list.list--goal.text--lg
									li.list__item
										| 1 место в номинации «Прорыв года» 2019
									li.list__item
										| 2 место в номинации «Лучший организатор сделок High Yield»
							.figure.figure--tool
								h4.h4.text--primary
									span.text
										| Первое место в номинации Cbonds Award
									img(src='assets/img/cbonds-logo.png' alt='Cbonds Award')
								ul.list.list--goal.text--lg
									li.list__item
										| иностранные инструменты на российской площадке внутри российской юрисдикции
				section.section.section--regular.section--regular-with-bg.mb-0
					.page__wrapper
						h2.h2.text-center
							| Лицензии
						gallery(:gallery="[ { title: 'Управление ценными бумагами', picMin: 'assets/img/gallery-item.jpg', picFull: 'assets/img/license.jpg'}, { title: 'Брокерская деятельность', picMin: 'assets/img/gallery-item.jpg', picFull: 'assets/img/license.jpg'}, { title: 'Дилерская деятельность', picMin: 'assets/img/gallery-item.jpg', picFull: 'assets/img/license.jpg'}, { title: 'Депозитарная деятельность', picMin: 'assets/img/gallery-item.jpg', picFull: 'assets/img/license.jpg'} ]")
				include ./partials/section_interesting.pug
				include ./partials/section_rating.pug
				el-popup-gallery(:name="'popup-gallery'")
				el-popup-backcall
			include ./partials/footer.pug
		script(src="js/app.js")