include ./mixins/mixins.pug
-
	let pageTitle = 'analitics';

doctype html
html(lang="ru")
	+head()
	body.page.page--analitics
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section
					.page__wrapper
						+breadcrumbs()
						tabs-analitics
				include ./partials/section_rating.pug
			include ./partials/footer.pug
		script(src="js/app.js")