include ./mixins/mixins.pug
-
	let pageTitle = 'application';

doctype html
html(lang="ru")
	+head()
	body.page.page--application
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.section--header-application
					.bg__pic
						img(src='assets/img/idu-inner-bg.png' alt='Мобильное приложение' v-background-image)
					.page__wrapper
						+breadcrumbs()
						.wrapper.wrapper--application
							.wrapper.wrapper--app-icon
								icon-solid-app
								h2.h2.mb-0
									| Солид
									br
									| Инвестор
							.figure
								img(src='assets/img/investor-app.png' alt='Солид Инвестор')
							.wrapper
								.wrapper.wrapper--app-icon
									icon-solid-app
									h2.h2.mb-0
										| Солид
										br
										| Инвестор
								p.text.text--lg
									| Мы создали простое и доступное приложение, которое предоставляет мгновенный доступ к торгам на Московской бирже. С его помощью торговать на бирже сможет даже начинающий инвестор: покупать и продавать акции и облигации, просматривать котировки и отслеживать состояние инвестиционного портфеля.
								.wrapper.wrapper--store-icons
									a.link.mr-3.mb-2(href=info.appStoreUrl target='_blank' name='App Store')
										icon-app-store
									a.link.mb-2.mr-3(href=info.googlePlayUrl target='_blank' name='Google Play')
										icon-google-play
				section.section.section--regular.section--regular-with-bg.section--blue.text--white.mb-0
					.page__wrapper
						h2.h2.text-center.mt-5 Стать инвестором легко!
						p.text.text--lg.text-center.mb-5
							| Покупайте акции, облигации, валюту, ETF. Ожидаемая доходность является ориентиром, и не является обязательством со стороны Банка. Информация о доходности может расцениваться не иначе как предположения. Результаты инвестиционной деятельности в прошлом не определяют результаты в будущем.
						.slider.slider--application
							.wrapper
								button.btn.btn--slider-blue.slider__btn.slider__btn--prev
									icon-chewron-down
								.swiper-container.slider__container
									.swiper-wrapper.slider__wrapper
										.swiper-slide.slider__slide
											icon-easy
											h4.h4 Просто
											p.text.text--md Скачайте приложение и откройте брокерский счет. Посещение офиса не требуется
										.swiper-slide.slider__slide
											icon-profitable
											h4.h4 Выгодно
											p.text.text--md Получайте доходность выше, чем по банковскому вкладу
										.swiper-slide.slider__slide
											icon-handy
											h4.h4 Удобно
											p.text.text--md Покупайте акции и облигации, когда удобно и где удобно
								button.btn.btn--slider-blue.slider__btn.slider__btn--next
									icon-chewron-down
							.swiper-pagination.slider__pagination.slider__pagination--mint
				.section.section--regular.mb-0
					ul.list.list--application
						li.list__item
							.bg__pic
								img(src='assets/img/list-application-bg.png' v-background-image)
							.wrapper
								icon-management.text--primary
								h2.h2.text--primary Управление инвестициями онлайн
								p.text.text--md
									| Отслеживайте ваш инвестиционный портфель. Контролируйте, как изменилась цена ваших активов. Получайте информацию о том, сколько у вас в наличии денежных средств на счету.
						li.list__item
							.wrapper
								.figure
									img(src='assets/img/iphone-app-1.png' alt='application')
						li.list__item
							.wrapper
								.figure
									img(src='assets/img/iphone-app-2.png' alt='application')
						li.list__item
							.bg__pic
								img(src='assets/img/exchange-bg.jpg' v-background-image)
							.wrapper.text--white
								.ml-md-auto
									icon-exchange
									h2.h2 Разнообразие биржевых инструментов
									p.text.text--md
										| В приложении вам доступны акции, торгуемые на Московской бирже, облигации ОФЗ и валюта.
						li.list__item
							.bg__pic
								img(src='assets/img/list-application-bg.png' v-background-image)
							.wrapper
								icon-tools.text--primary
								h2.h2.text--primary Инструменты и котировки
								p.text.text--md
									| Смотрите котировки конкретной бумаги на простом и понятном экране. Читайте актуальные новости по эмитенту первыми, просматривайте уровень доходности на разных временных периодах. Оформляйте заявки на покупку или продажу.
						li.list__item
							.bg__pic
								img(src='assets/img/list-application-bg.png' v-background-image)
							.wrapper
								.figure
									img(src='assets/img/iphone-app-3.png' alt='application')
				.section.section--regular.section--regular-with-bg.text--white
					.bg__pic
						picture(v-background-image)
							source(srcset='assets/img/start-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
							source(srcset='assets/img/start-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
							source(srcset='assets/img/start-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
							img(src='assets/img/start-bg-lg.jpg' alt='Готовы начать?')
					.page__wrapper
						h2.h2.text-center Готовы начать?
						ul.list.list--steps
							li.list__item
								h4.h4 Откройте счёт дистанционно
								p.text
									| Откройте брокерский счет онлайн через приложение Личный кабинет. Потребуется паспорт или учетная запись на портале Госуслуги.
							li.list__item
								h4.h4 Установите приложение Solid Investor
								p.text
									| Загрузите мобильное приложение Солид Инвестор и Личный кабинет клиента. Доступны версии для iOS и Android.
							li.list__item
								h4.h4 Пополните счёт и начинайте!
								p.text
									| Пополните брокерский счет переводом через мобильное приложение вашего банка или по реквизитам.
						.wrapper.wrapper--store-icons.justify-content-center
							a.link.mr-3.mb-2(href=info.appStoreUrl target='_blank' name='App Store')
								icon-app-store
							a.link.mb-2.mr-3(href=info.googlePlayUrl target='_blank' name='Google Play')
								icon-google-play
							a.link.mb-2(href=info.AppInstruction target='_blank' name='Instruction')
								icon-app-instruction
				include ./partials/section_telegram.pug
				include ./partials/section_interesting.pug
				include ./partials/section_rating.pug
			include ./partials/footer.pug
		script(src="js/app.js")