include ./mixins/mixins.pug
-
	let pageTitle = 'auction-lot';

doctype html
html(lang="ru")
	+head()
	body.page.page--auction-lot
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.section--header-sm
					.bg__pic
						img(src='assets/img/auction-lot-bg.jpg' alt='Прямая продажа' v-background-image)
					.page__wrapper
						+breadcrumbs()
						h1.h2 Прямая продажа
				section.section.section--regular.section--regular-with-bg.mb-0
					.page__wrapper
						.figure.figure--box
							.figure__header
								h4.text--lg.font-weight-normal Лот №1 Нежилое помещение пл.91 м2, 1-я линия В.О. г. Санкт-Петербург
							table.table.table--docs.table--docs-lg.mb-4
								tbody
									tr.table__row
										td.text--muted Адрес
										td
											| г. Санкт-Петербург, 1-я линия В.О., д. 22, лит. А, пом. 8Н, кадастровый номер:
											br
											|  78:6:2014:1005:33:8 (1 этаж)
									tr.table__row
										td.text--muted Общая площадь
										td 91 кв.м.
									tr.table__row
										td.text--muted Начальная цена продажи
										td 14 000 000,00 руб. с учетом НДС
									tr.table__row
										td.text--muted Наименование
										td Собственник имущества: АО "Солид Банк"
									tr.table__row
										td.text--muted Наличие обременения
										td обременения отсутствуют
									tr.table__row
										td.text--muted Форма реализации
										td прямая продажа, торг возможен
									tr.table__row
										td.text--muted Место проведения
										td
											| по вопросам приобретения обращаться в Аукционный центр: 8(495)228-70-17 или auction@solidbroker.ru
							a.file.mb-4(href='#')
								span.file__icon
									icon-file-pdf
								span.wrapper
									span.file__name Презентация_91 кв.м
									span.file__info (1 Мб, PDF)
							a.file.mb-5(href='#')
								span.file__icon
									icon-file-pdf
								span.wrapper
									span.file__name Свидетельство 91 кв.м
									span.file__info (1 Мб, PDF)
							evaluation-licenses.slider--lots.mb-4(:initial-breakpoints='breakpoints' :licenses="[{ title: 'lot', picMin: 'assets/img/lot-1.jpg', picFull: 'assets/img/lot-1.jpg'},{ title: 'lot', picMin: 'assets/img/lot-2.jpg', picFull: 'assets/img/lot-2.jpg'},{ title: 'lot', picMin: 'assets/img/lot-3.jpg', picFull: 'assets/img/lot-3.jpg'},{ title: 'lot', picMin: 'assets/img/lot-1.jpg', picFull: 'assets/img/lot-1.jpg'},{ title: 'lot', picMin: 'assets/img/lot-2.jpg', picFull: 'assets/img/lot-2.jpg'},{ title: 'lot', picMin: 'assets/img/lot-3.jpg', picFull: 'assets/img/lot-3.jpg'}]")
				section.section.section--regular
					.page__wrapper
						.d-flex.justify-content-center
							.form.form--simple.form--sm
								h4.h4.mb-0.mr-3 Задайте вопрос / предложите цену
								p Поля, помеченные *, обязательны для заполнения.
								.control.control--text
									label.control__label(for='')
										| Имя
										sup.text--error *
									input.control__input(type='text')
									.control__msg.control__msg--invalid Введите Имя
								.control.control--text
									label.control__label(for='')
										| Телефон
										sup.text--error *
									input.control__input(type='tel')
									.control__msg.control__msg--invalid Введите Телефон
								.control.control--text
									label.control__label(for='')
										| E-mail
										sup.text--error *
									input.control__input(type='email')
									.control__msg.control__msg--invalid Введите E-mail
								.control.control--text
									label.control__label(for='') Город
									input.control__input(type='text')
									.control__msg.control__msg--invalid Введите Город
								.control.control--checkbox.mb-4
									input#popup-askquestion-agrement.control__input(type='checkbox')
									label.control__label(for='popup-askquestion-agrement')
										| Я принимаю
										a.link(href='#') условия соглашения об обработке персональных данных
									.control__msg.control__msg--invalid Примите условия
								button.btn.btn--primary.btn--lg Отправить заявку
				include ./partials/section_rating.pug
				el-popup-gallery(:name="'popup-gallery'")
			include ./partials/footer.pug
		script(src="js/app.js")