include ./mixins/mixins.pug
-
	let pageTitle = 'auction';

doctype html
html(lang="ru")
	+head()
	body.page.page--auction
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.section--header-sm
					.bg__pic
						img(src='assets/img/auction-bg.jpg' alt='Аукционный центр' v-background-image)
					.page__wrapper
						+breadcrumbs()
						h1.h2
							| Аукционный центр
				section.section.section--regular.section--regular-with-bg.section--blue.text--white.mb-0
					.page__wrapper
						.slider.slider--application.mb-0.mt-4
							.wrapper
								button.btn.btn--slider-blue.slider__btn.slider__btn--prev
									icon-chewron-down
								.swiper-container.slider__container
									.swiper-wrapper.slider__wrapper
										.swiper-slide.slider__slide
											icon-reliability
											h4.h4
												| Прозрачность
											p.text.text--md
												| Экспертная оценка предмета торгов, соблюдение процедуры проведения торгов в соответствии с законодательством Российской Федерации
										.swiper-slide.slider__slide
											icon-universality
											h4.h4
												| Индивидуальный подход
											p.text.text--md
												| Мы помогаем клиенту в достижении цели, начиная с момента подготовки до подведения итогов и оформления результатов торгов
										.swiper-slide.slider__slide
											icon-quality-shield
											h4.h4
												| Оперативность
											p.text.text--md
												| Мы помогаем клиенту достичь цели в максимально возможные сроки.
								button.btn.btn--slider-blue.slider__btn.slider__btn--next
									icon-chewron-down
							.swiper-pagination.slider__pagination.slider__pagination--mint
				section.section.section--regular.section--regular-with-bg.mb-0
					.page__wrapper
						h2.h2.text-center
							| Перечень услуг
						auction-services.mb-5(:services="[ { title: 'Для собственников', content: '<p> Потенциальным покупателям и арендаторам имущества в Аукционном центре готовы оказать консультационные услуги по вопросам: </p>' }, { title: 'Для потенциальных собственников', content: '<p> Потенциальным покупателям и арендаторам имущества в Аукционном центре готовы оказать консультационные услуги по вопросам: </p>', list: [ { title: 'Участие в торгах', link: '#' }, { title: 'Процедуры аукциона', link: '#' }, { title: 'Оформления права собственности', link: '#' }, { title: 'Оформления пакета документов для участия в аукционе', link: '#' }, { title: ' Организации осмотра имущества, выставляемого на торги', link: '#' }, { title: 'преимуществ ЗПИФ и процедуре внесения в него имущества', link: '#' } ] } ]")
						.d-block.text-center
							button.btn.btn--primary.btn--lg(@click="openPopup('backcall')")
								| Стать клиентом
				section.section.section--regular.section--regular-with-bg.section--light.mb-0
					.page__wrapper
						h2.h2.text-center
							| Категории конкурентных процедур
						auction-procedures(:procedures="[ 'Движимое имущество', 'Недвижимое имущество', 'Право требования, ценные бумаги и т.д.', 'Банкротство', 'Объекты, планируемые к продаже' ]")
				section.section.section--regular.section--regular-with-bg.mb-0
					.page__wrapper
						h2.h2.text-center
							| Ваш менеджер
						.d-flex.justify-content-center.mb-5
							.figure.figure--manager
								img.person__pic(src='assets/img/zelenok.jpg' alt='Татьяна Олеговна Зеленюк')
								h4.person__name.h4
									span.text
										| Татьяна Олеговна Зеленюк
									span.person__role
										| Заместитель начальника управления оценки
						.d-block.text-center
							button.btn.btn--primary.btn--lg(@click="openPopup('ask-question')")
								| Заказать вопрос
				include ./partials/section_rating.pug
				el-popup-backcall
				el-popup-ask-question
			include ./partials/footer.pug
		script(src="js/app.js")