include ./mixins/mixins.pug
-
	let pageTitle = 'company_analitics';

doctype html
html(lang="ru")
	+head()
	body.page.page--front
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section
					.page__wrapper
						+breadcrumbs()
						h1.h2.mb-4 Акции и облигации
						h3.h3.mb-3 Дивидендная доходность акций Эталон Групп превышает 10%
						.d-block.d-md-flex.align-items-center.mb-md-3.mb-lg-5
							time.text--muted.text--sm.d-block.mb-3.mb-md-0.mr-md-3(datetime='2020-07-22') Июль 22, 2020
							.badge.badge--mint.mb-3.mb-md-0 Акции
						.widget.widget--indexes
							.widget__content
								.company
									.company__logo
										img(src='assets/img/etln-logo.png' alt='etln logo')
									.company__title
										| Эталон Групп
										span.text--muted (ETLN)
								.wrapper
									span
										| 1 947,23
										span.text--rouble a
									.text--success +20,21%
								a.btn.btn--primary.btn--lg(href='#') Купить
						.wrapper--article
							.wrapper
								h4.h4.text--primary.mb-3 Плюсы:
								ul.list.list--plus
									li.list__item высокая дивидендная доходность
									li.list__item мажоритарий АФК Система, что позитивно для корп. управления и дивидендов
									li.list__item восстановление индустрии
									li.list__item прогнозируемый рост ВВП РФ в 2021 году более чем в 3%
									li.list__item льготная ставка по ипотеке
									li.list__item снижение ключевой ставки ЦБ
									li.list__item крупный бренд и 2 место по объемам после ПИКа
								h4.h4.text--primary.mb-3 Минусы и риски:
								ul.list.list--minus
									li.list__item относительно высокий долг
									li.list__item риск неодобрения дивидендов на ГОСА
									li.list__item вторая волна кризиса
								p
									| Как известно, акции циклических секторов нужно покупать на дне цикла. Сейчас, когда пандемия в России сходит на нет, а вакцины уже созданы и проходят финальные испытания, можно смело говорить о начале нового цикла. Строительный сектор или девелопмент как раз относится к таким секторам. А акции Эталона, на наш взгляд, являются наиболее привлекательными.
								p
									| Даже несмотря на провальные операционные показатели за первое полугодие (падение продаж на 24%), которые были вызваны снижением потребительской активности и запретами на строительство в Москве на фоне пандемии, бизнес Эталона показывает признаки восстановления. Стоимость заключенных контрактов в июне выросла на 78% по сравнению с маем 2020 года. Доля ипотечных сделок также увеличилась с 36% в 1 квартале до рекордных 44% во 2 квартале 2020 года. Это свидетельствует о зарождении нового цикла в строительной отрасли.
								p
									| Пожалуй, самым главным драйвером, способным привести к росту бизнес девелоперов, является снижение процентных ставок по ипотеке, а также госпрограмма 2020 с льготными 6,5% на новостройки до начала ноября 2020 года. Мы ожидаем всплеск продаж во второй половине года, что неминуемо отразится на акциях девелоперов.
								p
									| Также немаловажным фактором выступает решение Совета Директоров о следовании новоутвержденной дивидендной политике, которая предусматривает минимальную выплату в 12 рублей на акцию, что при цене акции в 110 рублей сулит почти 11% дивидендную доходность. Поэтому мы считаем, что сейчас прекрасное время для покупок депозитарных расписок Эталона (тикер ETLN) себе в портфель.
							.wrapper
								table.table
									tbody
										tr.table__head
											td(colspan='4') Акции
										each row in [1,2,3]
											tr
												td Чистая прибыль
												td
												td
												td 11,39
										tr.table__head
											td Финансы (млрд. руб.)
											td 2018
											td 2019
											td 2020-е
										each row in [1,2,3]
											tr
												td Чистая прибыль
												td 3,9
												td 84,0
												td 11,39
										tr.table__head
											td(colspan='4') Оценка
										each row in [1,2,3]
											tr
												td Чистая прибыль
												td 3,9
												td 84,0
												td 11,39
								.wrapper.mb-4
									h4.h4 ETLN-гдр
									img(src='assets/img/graph-0.jpg' alt='graph-0')
								.wrapper.mb-4
									h4.h4 Чистая прибыль, млрд руб.
									img(src='assets/img/graph-1.jpg' alt='graph-1')
								.wrapper.mb-4
									h4.h4 Дивиденды на акцию
									img(src='assets/img/graph-2.jpg' alt='graph-2')
						a.file.mb-4.mb-lg-5(href='#')
							span.file__icon
								icon-file-pdf
							span.wrapper
								span.file__name Скачать полный обзор
								span.file__info (324Кб, PDF)
						a.btn.btn--link.mb-5.mb-md-4.mb-lg-0(href='#')
							icon-chewron-left
							span.btn__text Назад к списку обзоров
				include ./partials/section_rating.pug
			include ./partials/footer.pug
		script(src="js/app.js")