include ./mixins/mixins.pug
-
	let pageTitle = 'contacts';

doctype html
html(lang="ru")
	+head()
	body.page.page--contacts
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.section--header-sm
					.bg__pic
						img(src='assets/img/contacts-bg.jpg' alt='Документы' v-background-image)
					.page__wrapper
						+breadcrumbs()
						h1.h2 Контакты
				section.section.section--regular.section--regular-with-bg
					.page__wrapper
						.wrapper.wrapper--docs
							.wrapper
								el-list-tabs(
									:tabs="{ moskva: 'Москва', peterburg: 'Санкт-Петербург', krasnoyarsk: 'Красноярск', kazan: 'Казань', tyumen: 'Тюмень', volgograd: 'Волгоград', ufa: 'Уфа', bavly: 'Бавлы', nurlat: 'Нурлат', tula: 'Тула', almetyevsk: 'Альметьевск', elabuga: 'Елабуга' }"
									:selected="'peterburg'"
								)
							.wrapper
								.control.control--select.d-lg-none
									select.control__input(v-model='currentTab')
										option(value='moskva') Москва
										option(value='peterburg') Санкт-Петербург
										option(value='krasnoyarsk') Красноярск
										option(value='kazan') Казань
										option(value='tyumen') Тюмень
										option(value='volgograd') Волгоград
										option(value='ufa') Уфа
										option(value='bavly') Бавлы
										option(value='nurlat') Нурлат
										option(value='tula') Тула
										option(value='almetyevsk') Альметьевск
										option(value='elabuga') Елабуга
								.wrapper(v-if="currentTab === 'moskva'")
									h3.h3 Москва
								.wrapper(v-if="currentTab === 'peterburg'")
									h3.h3 Представительство в Санкт-Петербурге
									table.table.table--transparent.my-5
										tbody
											tr
												td.table__col.table__col--icon
													icon-location.text--primary
												td
													| 191028, г. Санкт-Петербург, Литейный проспект, дом 26 офис 414 («Бизнес-центр Преображенский двор»)
											tr
												td
													icon-email.text--primary
												td 8 (812) 389-25-85
											tr
												td
													icon-phone.text--primary
												td spb@solidbroker.ru
											tr
												td
													icon-time.text--primary
												td пн.-пт.: с 09:30 до 18:00
									button.btn.btn--primary.btn--lg.w-100.w-md-auto.mb-5(@click="openPopup('backcall')") Связаться с нами
									.map.map--yandex
										yandex-map(:coords='[59.941880, 30.349483]' zoom='15' style='width: 100%; height: 460px;' :cluster-options='{1: {clusterDisableClickZoom: true}}' :behaviors="['drag']" :controls='[]' map-type='map')
											ymap-marker(marker-id='office' :coords='[59.941880, 30.349483]' :icon="{layout: 'default#imageWithContent', imageHref: 'assets/img/map-icon.png', imageSize: [54, 65],imageOffset: [-27, -65]}")
								.wrapper(v-if="currentTab === 'krasnoyarsk'")
									h3.h3 Красноярск
								.wrapper(v-if="currentTab === 'kazan'")
									h3.h3 Казань
								.wrapper(v-if="currentTab === 'tyumen'")
									h3.h3 Тюмень
								.wrapper(v-if="currentTab === 'volgograd'")
									h3.h3 Волгоград
								.wrapper(v-if="currentTab === 'ufa'")
									h3.h3 Уфа
								.wrapper(v-if="currentTab === 'bavly'")
									h3.h3 Бавлы
								.wrapper(v-if="currentTab === 'nurlat'")
									h3.h3 Нурлат
								.wrapper(v-if="currentTab === 'tula'")
									h3.h3 Тула
								.wrapper(v-if="currentTab === 'almetyevsk'")
									h3.h3 Альметьевск
								.wrapper(v-if="currentTab === 'elabuga'")
									h3.h3 Елабуга
				include ./partials/section_rating.pug
				el-popup-backcall
			include ./partials/footer.pug
		script(src="js/app.js")