include ./mixins/mixins.pug
-
	let pageTitle = 'docs';

doctype html
html(lang="ru")
	+head()
	body.page.page--docs
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.section--header-sm
					.bg__pic
						img(src='assets/img/docs-bg.jpg' alt='Документы' v-background-image)
					.page__wrapper
						+breadcrumbs()
						h1.h2 Документы
				section.section.section--regular.section--regular-with-bg
					.page__wrapper
						.wrapper.wrapper--docs
							.wrapper
								el-list-tabs(
									:tabs="{ tab1: 'Регламент оказания услуг на финансовых рынках', tab2: 'Регламент осуществления деятельности по управлению ценными бумагами', tab3: 'Условия осуществления депозитарной деятельности', tab4: 'Регламент признания лица квалифицированным инвестором', tab5: 'Персональные данные', tab6: 'Соглашение об использовании электронной подписи', tab7: 'FATCA', tab8: 'Дополнительная информация', tab9: 'Инструкции', tab10: 'Реквизиты', }"
									:selected="'tab1'"
								)
							.wrapper
								.control.control--select.d-lg-none
									select.control__input(v-model='currentTab')
										option(value='tab1') Регламент оказания услуг на финансовых рынках
										option(value='tab2') Регламент осуществления деятельности по управлению ценными бумагами
										option(value='tab3') Условия осуществления депозитарной деятельности
										option(value='tab4') Регламент признания лица квалифицированным инвестором
										option(value='tab5') Персональные данные
										option(value='tab6') Соглашение об использовании электронной подписи
										option(value='tab7') FATCA
										option(value='tab8') Дополнительная информация
										option(value='tab9') Инструкции
										option(value='tab10') Реквизиты
								.wrapper(v-if="currentTab === 'tab1'")
									h3.h3 Регламент осуществления деятельности по управлению ценными бумагами
									p
										| Редакция № 62 Дата публикации: 17 августа 2020 г. Период актуальности: 01 сентября 2020 г. по настоящее время.
									.wrapper--filebox.mb-4
										a.file.mb-0(href='#')
											span.file__icon
												icon-file-pdf
											span.wrapper
												span.file__name Скачать документ
												span.file__info (1Мб, PDF)
									a.link.d-inline-block.mb-4(href='#') Архив документов
									table.table.table--docs.table--docs-lg
										tbody
											tr.table__row.table__row--file
												td.text--muted Приложение № РДУ-1
												td
													.wrapper
														span
															| Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
														a.link.link--gray(href='#')
															icon-download
											tr.table__row.table__row--group
												td Приложение № РДУ-2
												td
													.wrapper
														span Анкета Учредителя управления
														button.btn.btn--action(@click='toggleTableRow')
															icon-chewron-down
													table.table
														tbody
															tr.table__row.table__row--file
																td РДУ-3-1
																td
																	.wrapper
																		span Инвестиционная декларация. Стратегия «Российские акции 1»
																		a.link.link--gray(href='#')
																			icon-download
															tr.table__row.table__row--file
																td РДУ-3-1
																td
																	.wrapper
																		span Инвестиционная декларация. Стратегия «Российские акции 1»
																		a.link.link--gray(href='#')
																			icon-download
															tr.table__row.table__row--file
																td РДУ-3-1
																td
																	.wrapper
																		span Инвестиционная декларация. Стратегия «Российские акции 1»
																		a.link.link--gray(href='#')
																			icon-download
											tr.table__row.table__row--file
												td.text--muted Приложение № РДУ-1
												td
													.wrapper
														span
															| Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
														a.link.link--gray(href='#')
															icon-download
											tr.table__row.table__row--group
												td Приложение № РДУ-2
												td
													.wrapper
														span Анкета Учредителя управления
														button.btn.btn--action(@click='toggleTableRow')
															icon-chewron-down
													table.table
														tbody
															tr.table__row.table__row--file
																td.text--muted РДУ-3-1
																td
																	.wrapper
																		span Инвестиционная декларация. Стратегия «Российские акции 1»
																		a.link.link--gray(href='#')
																			icon-download
															tr.table__row.table__row--file
																td.text--muted РДУ-3-1
																td
																	.wrapper
																		span Инвестиционная декларация. Стратегия «Российские акции 1»
																		a.link.link--gray(href='#')
																			icon-download
															tr.table__row.table__row--file
																td.text--muted РДУ-3-1
																td
																	.wrapper
																		span Инвестиционная декларация. Стратегия «Российские акции 1»
																		a.link.link--gray(href='#')
																			icon-download
									a.file.mb-5(href='#')
										span.file__icon
											icon-file-pdf
										span.wrapper
											span.file__name Скачать все документы одним файлом
											span.file__info (1Мб, PDF)
									table.table.table--docs.mb-5
										tbody
											tr.table__row.table__row--file
												td
													| Новый регламент осуществления АО ИФК «Солид» деятельности по управлению ценными бумагами
												td
													.wrapper
														span.text--muted
															| Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
														a.link.link--gray(href='#')
															icon-download
											tr.table__row.table__row--file
												td
													| Новый регламент осуществления АО ИФК «Солид» деятельности по управлению ценными бумагами
												td
													.wrapper
														span.text--muted
															| Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
														a.link.link--gray(href='#')
															icon-download
									.d-flex.flex-wrap.align-items-center.justify-content-between
										h3.h3.mb-3.mr-4 Архив документов
										button.btn.btn--link.btn--toggle.btn--active.mb-3(@click="$event.target.parentNode.classList.toggle('btn--active');$refs.archive.classList.toggle('d-none')")
											icon-chewron-down
											span.btn__text Раскрыть
											span.btn__text--hidden Скрыть
									table.table.table--docs(ref='archive')
										tbody
											tr.table__row.table__row--file
												td
													| Новый регламент осуществления АО ИФК «Солид» деятельности по управлению ценными бумагами
												td
													.wrapper
														span.text--muted
															| Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
														a.link.link--gray(href='#')
															icon-download
											tr.table__row.table__row--file
												td
													| Новый регламент осуществления АО ИФК «Солид» деятельности по управлению ценными бумагами
												td
													.wrapper
														span.text--muted
															| Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
														a.link.link--gray(href='#')
															icon-download
											tr.table__row.table__row--file
												td
													| Новый регламент осуществления АО ИФК «Солид» деятельности по управлению ценными бумагами
												td
													.wrapper
														span.text--muted
															| Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
														a.link.link--gray(href='#')
															icon-download
								.wrapper(v-if="currentTab === 'tab2'")
									h3.h3 Регламент осуществления деятельности по управлению ценными бумагами
								.wrapper(v-if="currentTab === 'tab3'")
									h3.h3 Условия осуществления депозитарной деятельности
								.wrapper(v-if="currentTab === 'tab4'")
									h3.h3 Регламент признания лица квалифицированным инвестором
								.wrapper(v-if="currentTab === 'tab5'")
									h3.h3 Персональные данные
								.wrapper(v-if="currentTab === 'tab6'")
									h3.h3 Соглашение об использовании электронной подписи
								.wrapper(v-if="currentTab === 'tab7'")
									h3.h3 FATCA
								.wrapper(v-if="currentTab === 'tab8'")
									h3.h3 Дополнительная информация
								.wrapper(v-if="currentTab === 'tab9'")
									h3.h3 Инструкции
								.wrapper(v-if="currentTab === 'tab10'")
									h3.h3 Акционерное общество Инвестиционно- финансовая компания «Солид»
									.wrapper--filebox.mb-4
										a.file.mb-0(href='#')
											span.file__icon
												icon-file-pdf
											span.wrapper
												span.file__name Скачать документ
												span.file__info (1Мб, PDF)
									table.table.table--simple.mb-5
										tbody
											tr
												td.text--muted Полное наименование:
												td Акционерное общество Инвестиционно-финансовая компания «Солид»
											tr
												td.text--muted Полное наименование на английском языке:
												td "Solid" Investment Financial Joint-Stock Company
											tr
												td.text--muted Сокращенное наименование:
												td АО ИФК «Солид»
											tr
												td.text--muted Юридический адрес:
												td Российская Федерация, 123007, г. Москва, Хорошевское шоссе, д. 32А, комната 14
											tr
												td.text--muted Почтовый адрес:
												td Российская Федерация, 123007, г. Москва, Хорошевское шоссе, д. 32А, комната 14
											tr
												td.text--muted Телефон:
												td 88002507010
											tr
												td.text--muted E-mail:
												td solid@solidbroker.ru
											tr
												td.text--muted Веб-сайт:
												td www.solidbroker.ru
											tr
												td.text--muted ИНН:
												td 5008009854
											tr
												td.text--muted КПП:
												td 771401001
											tr
												td.text--muted ОГРН:
												td 1027739045839
											tr
												td.text--muted ОКПО:
												td 33074373
											tr
												td.text--muted ОКВЭД:
												td 67.12.1 65.23.2 67.12.2 67.13.51 74.14 74.84
									p.text--lg Банковские реквизиты:
									table.table.table--simple.mb-5
										tbody
											tr
												td.text--muted Расчетный счет:
												td 40701810000000012359
											tr
												td.text--muted Банк:
												td ПАО Росбанк г. Москва
											tr
												td.text--muted Корр. счет:
												td 30101810000000000256
											tr
												td.text--muted БИК:
												td 044525256
									h3.h3.mb-4
										| Брокерский счет для зачисления денежных средств клиентов, направляемых в качестве взноса по договору на брокерское обслуживание:
									.wrapper--filebox.mb-4
										a.file.mb-0(href='#')
											span.file__icon
												icon-file-pdf
											span.wrapper
												span.file__name Скачать документ
												span.file__info (1Мб, PDF)
									table.table.table--simple.mb-4
										tbody
											tr
												td.text--muted Полное наименование:
												td Акционерное общество Инвестиционно-финансовая компания «Солид»
											tr
												td.text--muted Полное наименование на английском языке:
												td "Solid" Investment Financial Joint-Stock Company
											tr
												td.text--muted Сокращенное наименование:
												td АО ИФК «Солид»
											tr
												td.text--muted Юридический адрес:
												td Российская Федерация, 123007, г. Москва, Хорошевское шоссе, д. 32А, комната 14
											tr
												td.text--muted Почтовый адрес:
												td Российская Федерация, 123007, г. Москва, Хорошевское шоссе, д. 32А, комната 14
									table.table.table--simple
										tbody
											tr
												td.text--muted Телефон:
												td 88002507010
											tr
												td.text--muted E-mail:
												td solid@solidbroker.ru
											tr
												td.text--muted Веб-сайт:
												td www.solidbroker.ru
				include ./partials/section_rating.pug
			include ./partials/footer.pug
		script(src="js/app.js")