include ./mixins/mixins.pug
-
	let pageTitle = 'evaluation';

doctype html
html(lang="ru")
	+head()
	body.page.page--evaluation
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.section--header-sm
					.bg__pic
						img(src='assets/img/evaluation-bg.jpg' alt='Оценка' v-background-image)
					.page__wrapper
						+breadcrumbs()
						h1.h2 Оценка
				section.section.section--regular.section--regular-with-bg.section--blue.text--white.mb-0
					.page__wrapper
						.slider.slider--application.mb-0.mt-4
							.wrapper
								button.btn.btn--slider-blue.slider__btn.slider__btn--prev
									icon-chewron-down
								.swiper-container.slider__container
									.swiper-wrapper.slider__wrapper
										.swiper-slide.slider__slide
											icon-quality-shield
											h4.h4 Надежность
											p.text.text--md Более 19 лет на рынке оценочных и консультационных услуг
										.swiper-slide.slider__slide
											icon-universality
											h4.h4 Универсальность
											p.text.text--md
												| Консультирование крупных и средних компаний большинства секторов российской экономики
										.swiper-slide.slider__slide
											icon-reliability
											h4.h4 Качество
											p.text.text--md Соответствие международным стандартам оценки IVS, TeGOVA, RICS, ASA
										.swiper-slide.slider__slide
											icon-professionalism
											h4.h4 Профессионализм
											p.text.text--md Более чем 7-летний опыт каждого из специалистов команды
								button.btn.btn--slider-blue.slider__btn.slider__btn--next
									icon-chewron-down
							.swiper-pagination.slider__pagination.slider__pagination--mint
				section.section.section--regular.section--regular-with-bg.mb-0
					.page__wrapper
						h2.h2.text-center Виды консультационных услуг
						evaluation-services.mb-4(
							:initial-breakpoints="breakpoints"
							:services="[ { title: 'Оценка стоимости бизнеса и ценных бумаг', caption: 'Продажа компании, выпуск бумаг, расчёт страховых сумм, споры о стоимости объекта, расчёт неденежными средствами' }, { title: 'Оценка недвижимых объектов', caption: 'Определение рыночной стоимости зданий при осуществлении любых операций с недвижимостью, разрешении споров, оптимизации налогообложения' }, { title: 'Оценка транспортных средств', caption: 'Определение стоимости предприятия как экономического субъекта, деятельность которого направлена на извлечение экономических выгод' }, { title: 'Оценка машин и оборудования', caption: 'Определение стоимости предприятия как экономического субъекта, деятельность которого направлена на извлечение экономических выгод' }, { title: 'Оценка для целей МСФО', caption: 'Определение стоимости предприятия как экономического субъекта, деятельность которого направлена на извлечение экономических выгод' }, { title: 'Оспаривание кадастровой стоимости', caption: 'Определение стоимости предприятия как экономического субъекта, деятельность которого направлена на извлечение экономических выгод' }, { title: 'Оценка интеллектуальной собственности', caption: 'Лицензионные договора, расчёт вознаграждения, приватизация и определение размеров ущерба правообладателю' } ]"
						)
						.d-block.text-center
							button.btn.btn--primary.btn--lg(@click="openPopup('backcall')") Заказать оценку
				section.section.section--regular.section--regular-with-bg.section--light.mb-0
					.page__wrapper
						h2.h2.text-center Лицензии и сертификаты
						evaluation-licenses(
							:initial-breakpoints="breakpoints"
							:licenses="[ { title: 'license', picMin: 'assets/img/license-1.jpg', picFull: 'assets/img/license-1.jpg'}, { title: 'license', picMin: 'assets/img/license-2.jpg', picFull: 'assets/img/license-2.jpg'}, { title: 'license', picMin: 'assets/img/license-3.jpg', picFull: 'assets/img/license-3.jpg'}, { title: 'license', picMin: 'assets/img/license-1.jpg', picFull: 'assets/img/license-1.jpg'}, { title: 'license', picMin: 'assets/img/license-2.jpg', picFull: 'assets/img/license-2.jpg'}, { title: 'license', picMin: 'assets/img/license-3.jpg', picFull: 'assets/img/license-3.jpg'} ]"
						)
				section.section.section--regular.section--regular-with-bg.mb-0
					.page__wrapper
						h2.h2.text-center Специалисты отдела оценки
						evaluation-specialists(:specialists="[ { name: 'Олег Ландо', role: 'Заместитель начальника управления оценки', info: 'Некоммерческое партнерство «Саморегулируемая организация российских магистров оценки» регистрационный № 964 от 14.01.2008 г.', pic: 'assets/img/lando.jpg', experience: 15 }, { name: 'Светлана Волкова', role: 'Главный оценщик', info: 'Некоммерческое партнерство «Саморегулируемая организация российских магистров оценки» регистрационный № 964 от 14.01.2008 г.', pic: 'assets/img/volkova.jpg', experience: 11 } ]")
						.d-block.text-center
							button.btn.btn--primary.btn--lg(@click="openPopup('backcall')") Заказать обратный звонок
				section.section.section--regular.section--regular-with-bg.text--white.mb-lg-0
					.bg__pic
						picture(v-background-image)
							source(srcset='assets/img/section-feedback-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
							source(srcset='assets/img/section-feedback-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
							source(srcset='assets/img/section-feedback-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
							img(src='assets/img/section-feedback-bg-lg.jpg' alt='Отзывы наших клиентов')
					.page__wrapper
						h2.h2.text-center Наши клиенты
						evaluation-clienst(
							:initial-breakpoints="breakpoints"
							:clients="[ 'assets/img/client-1.png', 'assets/img/client-2.png', 'assets/img/client-3.png', 'assets/img/client-1.png', 'assets/img/client-2.png', 'assets/img/client-3.png' ]"
						)
				include ./partials/section_rating.pug
				el-popup-gallery(:name="'popup-gallery'")
				el-popup-backcall
			include ./partials/footer.pug
		script(src="js/app.js")