include ./mixins/mixins.pug
-
	let pageTitle = 'idu';

doctype html
html(lang="ru")
	+head()
	body.page.page--idu
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.decoration--arc-after
					.bg__pic
						picture(v-background-image)
							source(srcset='assets/img/idu-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
							source(srcset='assets/img/idu-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
							source(srcset='assets/img/idu-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
							img(src='assets/img/idu-bg-lg.jpg' alt='Доверительное управление инвестициями')
					.page__wrapper
						+breadcrumbs()
						h1.h2
							| Доверительное
							br.d-none.d-lg-block
							| управление инвестициями
						h2.h4
							| Выберите подходящую
							br.d-none.d-md-block.d-lg-none
							| стратегию
							br.d-none.d-lg-block
							| управления
							br.d-none.d-md-block.d-lg-none
							| инвестициями и доверьте
							br.d-none.d-md-block
							| получение дохода опытным
							br.d-none.d-md-block.d-lg-none
							| управляющим
						button.btn.btn--primary.btn--lg(@click="openPopup('ask-question')")
							| Консультация
				section.section.decoration--arc-double
					.page__wrapper
						.slider.slider--advantages
							.wrapper
								button.btn.btn--slider-blue.slider__btn.slider__btn--prev
									icon-chewron-down
								.swiper-container.slider__container
									.swiper-wrapper.slider__wrapper
										.swiper-slide.slider__slide
											icon-comfortable
											span.text Комфортная стартовая сумма инвестиций
										.swiper-slide.slider__slide
											icon-results
											span.text Подтвержденные результаты управления
										.swiper-slide.slider__slide
											icon-strategy
											span.text Широкий выбор инвестиционных стратегий
										.swiper-slide.slider__slide
											icon-knowledge
											span.text Не требуется специальных знаний
										.swiper-slide.slider__slide
											icon-penalty
											span.text Досрочный выход из стратегии без штрафов
								button.btn.btn--slider-blue.slider__btn.slider__btn--next
									icon-chewron-down
							.swiper-pagination.slider__pagination.slider__pagination--mint
				section.section.section--regular.decoration--arc-before
					.page__wrapper
						.wrapper.wrapper--idu
							.wrapper
								h2.h2.mb-4.pb-lg-3
									| Индивидуальное доверительное управление
								p.text.text--lg.mb-4.pb-md-2.pb-lg-3
									| Профессиональное принятие инвестиционных решений и управление капиталом не требует навыков самостоятельной торговли на бирже и знаний о рынке ценных бумаг. Вы выбираете подходящую стратегию и передаете деньги в управление профессионалу. В Личном кабинете Вы можете видеть ежедневную переоценку и структуру своих активов, все совершаемые Управляющим сделки. В любой день можно вывести все или часть инвестированных средств или сменить стратегию.
								button.btn.btn--primary.btn--lg.w-100.w-md-auto(@click="openPopup('ask-question')")
									| Задать вопрос
							.person
								img.person__pic(src='assets/img/koroluk.png' alt='Михаил Королюк')
								.person__info
									.person__name.h4
										| Михаил Королюк,
									.person__role
										| Начальник отдела Доверительного управления
				section.section.section--regular.section--regular-with-bg.section--light.mb-0
					.page__wrapper
						h2.h2.text-center
							| Как это работает?
						ul.list.list--steps.mb-0
							li.list__item
								h4.h4
									| Определение риск-профиля и целей клиента
								p.text.text--md
									| Анализ предпочтений клиента, ожиданий по доходности и рискам
							li.list__item
								h4.h4
									| Выбор подходящей инвестиционной стратегии
								p.text.text--md
									| Разнообразие стратегий позволяет выбрать вариант, лучше всего отвечающий запросам клиента
							li.list__item
								h4.h4
									| Доход выше, чем по депозитам в банках
								p.text.text--md
									| Профессиональный управляющий реализует выбранную стратегию, инвестированные средства приносят доход
				el-section-calc-idu
					template(v-slot:bg)
						picture(v-background-image)
							source(srcset='assets/img/section-calc-idu-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
							source(srcset='assets/img/section-calc-idu-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
							source(srcset='assets/img/section-calc-idu-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
							img(src='assets/img/section-calc-idu-bg-lg.jpg' alt='Подбор стратегии')
				section.section.section--regular.section--regular-with-bg.section--light.mb-0
					.page__wrapper
						h2.h2.text-center
							| Примеры результативности стратегий
						strategy-examples(
							:initial-breakpoints="breakpoints"
							:examples="[{ title: 'Российские акции 1', link: 'idu_inner.html', percent: '+14,1%', percentCaption: 'Cредняя годовая доходность за 5 лет', type: 'агрессивная', risk: '35%', currency: 'рубли', chartData: {} }, { title: 'Российские акции 1', link: 'idu_inner.html', percent: '+14,1%', percentCaption: 'Cредняя годовая доходность за 5 лет', type: 'агрессивная', risk: '35%', currency: 'рубли', chartData: {} }, { title: 'Российские акции 1', link: 'idu_inner.html', percent: '+14,1%', percentCaption: 'Cредняя годовая доходность за 5 лет', type: 'агрессивная', risk: '35%', currency: 'рубли', chartData: {} }]"
						)
				section.section.section--regular.section--regular-with-bg
					.bg__pic
						img(src='assets/img/wrapper-start-bg.jpg' alt='Не знаете, с чего начать?' v-background-image)
					.page__wrapper
						.wrapper.wrapper--start
							.wrapper__content
								h2.h2
									| Не знаете, с чего начать?
								p.text
									| Как понять, какая стратегия подойдет именно Вам?
								p.text
									| Начните с небольшого опросника, который поможет определиться с выбором. Метод профессионалов может стать хорошим началом в определении стратегии инвестирования.
								button.btn.btn--primary.btn--lg(@click="openPopup('risk-profile')")
									| Определить риск профиль
				include ./partials/section_telegram.pug
				include ./partials/section_interesting.pug
				include ./partials/section_rating.pug
				el-popup-ask-question
				include ./partials/popup_risk_profile.pug
			include ./partials/footer.pug
		script(src="js/app.js")