include ./mixins/mixins.pug
-
	let pageTitle = 'idu_inner';

doctype html
html(lang="ru")
	+head()
	body.page.page--idu_inner
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.pb-5
					.bg__pic
						img(src='assets/img/idu-inner-bg.png' alt='Доверительное управление инвестициями' v-background-image)
					.page__wrapper
						+breadcrumbs()
						strategy-banner(:strategy="{ title: 'Стратегия Российские акции 1', caption: 'Существенный обгон инфляции', percent: 14.1, percentCaption: 'Средняя годовая доходность*' }")
				section.section.section--regular.section--regular-with-bg.section--blue.text--white
					.page__wrapper
						strategy-advantages.mb-0.mt-4(
							:initial-breakpoints="breakpoints"
							:advantages="[ { title: 'Защита от инфляции', caption: 'На длительных интервалах времени (5 и более лет) портфель акций заметно обгоняет инфляцию' }, { title: 'Высокая ликвидность', caption: 'Управляющий в короткий срок и с низкими затратами может изменять структуру и состав портфелей в зависимости от конъюнктуры рынка.' }, { title: 'Широкая диверсификация', caption: 'Управляющий формирует портфель из большого числа акций, что существенно уменьшает риск, связанный с отдельной бумагой.' } ]"
						)
				section.section.section--regular.section--regular-with-bg
					.page__wrapper
						h2.h2.text-center
							| Описание стратегии
						strategy-description(:strategy="{ description: '<p class=\"text--lg mb-4 pb-3\"> Управляющий инвестирует в акции крупных и надежных российских компаний. Доход формируется как за счет роста цен на акции, так и за счет выплат компаниями регулярных дивидендов. </p> <h4 class=\"h4 text--primary mb-3\"> Цель стратегии </h4> <p class=\"text--lg mb-4 pb-3\"> Получение средней годовой доходности на уровне от 15%. </p> <h4 class=\"h4 text--primary mb-3\"> Структура активов </h4> <p class=\"text--lg\"> Обычно инвестиционный портфель на 100% состоит из акций крупных российских компаний, таких как Газпром, Лукойл, Сбербанк, Норильский Никель, МТС, Магнит, Яндекс и другие. В условиях повышенного риска управляющий может сокращать позиции в акциях вплоть до 0%, размещая активы в денежных средствах или облигациях, в том числе еврооблигациях. </p>', type: 'агрессивная', risk: '35%', currency: 'рубли' }")
				section.section.section--regular
					.page__wrapper
						h2.h2.text-center График чистой доходности
						strategy-chart(:strategy-id="'es213s'")
				section.section.section--regular.section--regular-with-bg.section--light
					.page__wrapper
						h2.h2.text-center
							| Условия инвестирования
						strategy-conditions(
							:initial-breakpoints="breakpoints"
							:conditions="[ '<span class=\"text\"> <span class=\"text--bold\">100</span> тыс. руб. </span> минимальная сумма инвестиции', '<span class=\"text text--bold\"> 5 лет </span> рекомендуемый срок инвестиции', '<span class=\"text text--bold\"> 2% </span> вознаграждение управляющего', '<span class=\"text text--bold\"> 15% </span> плата за успех от прироста стоимости активов' ]"
						)
				section.section.section--regular
					.page__wrapper
						.d-flex.w-100.justify-content-center
							.figure--person
								h4.person__name.h4.text--primary
									span.text
										| Михаил Королюк
									span.person__role
										| Опыт работы портфельным управляющим с 1999 года
								.wrapper
									p.person__info.text--md
										| Стратегия «Российские акции 1» предназначена для существенного обгона инфляции на интервале в несколько лет. История показывает, что акции — это единственный класс активов, систематически обгоняющий уровень инфляции. Россия никогда не была исключением из этого правила. Не была, и не будет.
									img.person__pic(src='assets/img/koroluk-min.png' alt='Михаил Королюк')
				section.section.section--regular
					.page__wrapper
						.d-flex.justify-content-center
							.form.form--simple.form--sm
								h4.h4.mb-0.mr-3
									| Задать вопрос
								p
									| Оставьте свои контакты, чтобы наш консультант по услуге мог перезвонить и ответить на все Ваши вопросы. Поля, помеченные *, обязательны для заполнения.
								.control.control--text
									label.control__label(for='')
										| Имя
										sup.text--error *
									input.control__input(type='text')
									.control__msg.control__msg--invalid
										| Введите Имя
								.control.control--text
									label.control__label(for='')
										| Телефон
										sup.text--error *
									input.control__input(type='tel')
									.control__msg.control__msg--invalid
										| Введите Телефон
								.control.control--text
									label.control__label(for='')
										| E-mail
										sup.text--error *
									input.control__input(type='email')
									.control__msg.control__msg--invalid
										| Введите E-mail
								.control.control--text
									label.control__label(for='')
										| Город
									input.control__input(type='text')
									.control__msg.control__msg--invalid
										| Введите Город
								.control.control--checkbox.mb-4
									input#popup-askquestion-agrement.control__input(type='checkbox')
									label.control__label(for='popup-askquestion-agrement')
										| Я принимаю
										a.link(href='#') условия соглашения об обработке персональных данных
									.control__msg.control__msg--invalid
										| Примите условия
								button.btn.btn--primary.btn--lg
									| Отправить заявку
				section.section.section--regular.section--regular-with-bg
					.bg__pic
						img(src='assets/img/wrapper-start-bg.jpg' alt='Не знаете, с чего начать?' v-background-image)
					.page__wrapper
						.wrapper.wrapper--start
							.wrapper__content
								h2.h2
									| Не знаете, с чего начать?
								p.text
									| Как понять, какая стратегия подойдет именно Вам?
								p.text
									| Начните с небольшого опросника, который поможет определиться с выбором. Метод профессионалов может стать хорошим началом в определении стратегии инвестирования.
								button.btn.btn--primary.btn--lg(@click="openPopup('risk-profile')")
									| Определить риск профиль
				include ./partials/section_telegram.pug
				include ./partials/section_interesting.pug
				include ./partials/section_rating.pug
				el-popup-backcall
				el-popup-ask-question
				include ./partials/popup_risk_profile.pug
			include ./partials/footer.pug
		script(src="js/app.js")