include ./mixins/mixins.pug
-
	let pageTitle = 'iis';

doctype html
html(lang="ru")
	+head()
	body.page.page--iis
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.decoration--arc-after
					.bg__pic
						picture(v-background-image)
							source(srcset='assets/img/iis-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
							source(srcset='assets/img/iis-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
							source(srcset='assets/img/iis-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
							img(src='assets/img/iis-bg-lg.jpg' alt='ИИС')
					.page__wrapper
						+breadcrumbs()
						h1.h2
							| ИИС. Получите 13% к своим инвестициям
							br.d-none.d-lg-block
							| от
							br.d-none.d-md-block.d-lg-none
							| государства
						h2.h4
							| Откройте индивидуальный
							br.d-none.d-md-block
							| инвестиционный счет и
							br.d-none.d-md-block.d-lg-none
							| воспользуйтесь
							br.d-none.d-lg-block
							| налоговым
							br.d-none.d-md-block.d-lg-none
							| вычетом
						button.btn.btn--primary.btn--lg(@click="openPopup('ask-question')")
							| Консультация
				section.section.decoration--arc-double
					.page__wrapper
						.slider.slider--advantages
							.wrapper
								button.btn.btn--slider-blue.slider__btn.slider__btn--prev
									icon-chewron-down
								.swiper-container.slider__container
									.swiper-wrapper.slider__wrapper
										.swiper-slide.slider__slide
											icon-guarantee
											span.text
												| Гарантия
												br
												| государства
										.swiper-slide.slider__slide
											icon-refill
											span.text
												| Удобное
												br
												| пополнение
										.swiper-slide.slider__slide
											icon-income
											span.text
												| Дополнительный
												br
												| доход
										.swiper-slide.slider__slide
											icon-multicurrency
											span.text
												| Мультивалютные
												br
												| инвестиции
										.swiper-slide.slider__slide
											icon-flexible
											span.text
												| Гибкость
												br
												| управления
								button.btn.btn--slider-blue.slider__btn.slider__btn--next
									icon-chewron-down
							.swiper-pagination.slider__pagination.slider__pagination--mint
				el-section-iis
				section.section.section--regular.section--regular-with-bg.section--light.mb-0
					.page__wrapper
						h2.h2.text-center
							| Как это работает?
						ul.list.list--steps.mb-0
							li.list__item
								h4.h4
									| Откройте счёт и выберите стратегию
								p.text.text--md
									| Легко оформить онлайн, а наши аналитики помогут подобрать подходящую стратегию
							li.list__item
								h4.h4
									| Выберите тип налогового вычета
								p.text.text--md
									| Вы можете освободить свою прибыль от налогов или получить дополнительные проценты от взноса
							li.list__item
								h4.h4
									| Получите доход от государства
								p.text.text--md
									| Гарантированная выплата с возможностью рефинансирования средств
				el-section-calc
					template(v-slot:bg)
						picture(v-background-image)
							source(srcset='assets/img/section-calc-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
							source(srcset='assets/img/section-calc-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
							source(srcset='assets/img/section-calc-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
							img(src='assets/img/section-calc-bg-lg.jpg' alt='Как максимизировать выгоду по ИИС')
				section.section.section--regular
					.page__wrapper
						h2.h2.text-center
							| Виды вычетов ИИС
						p.h4.text-center.mb-4.pb-md-2.pb-md-3
							| Инвестор может выбрать только один из двух видов. Тип вычета можно выбрать в течение срока действия счета.
						.wrapper.wrapper--tariffs
							.figure.figure--compare.figure--mint
								.figure__header
									h4.mr-3
										| Вычет на взнос
									span.text.text--md
										| Тип А
								p.text.text--lg.mb-3
									| 13% от суммы денежных средств, внесенных на ИИС, возвращается ежегодно или один раз за три года.
								p.text.h4.text--mint.text-upper.mb-3
									| +13% ОТ ВЗНОСА
								p.text.mb-3
									span.text.h6.font-weight-bold.d-block.mb-1
										| Тип инвестора
									span.text
										| Долгосрочный
								p.text.mb-3
									span.text.h6.font-weight-bold.d-block.mb-1
										| Официальный доход
									span.text
										| Требуется, облагаемый НДФЛ
								p.text.mb-3
									span.text.h6.font-weight-bold.d-block.mb-1
										| Размер вычета
									span.text
										| До 52 000 рублей в год
								.figure__footer
									span.text.d-block.mb-1
										| Пример:
									p.text.text--md.mb-0
										| Клиент возвращает уплаченный от заработной платы НДФЛ в размере 13% от суммы взноса (до 52 000 рублей).
							.figure.figure--compare.figure--primary
								.figure__header
									h4.mr-3
										| Вычет на доход
									span.text.text--md
										| Тип B
								p.text.text--lg.mb-3
									| Весь доход, полученный от операций по счету ИИС, не облагается НДФЛ.
								br.d-none.d-md-block
								p.text.h4.text--primary.text-upper.mb-3
									| ПРИБЫЛЬ БЕЗ НАЛОГОВ
								p.text.mb-3
									span.text.h6.font-weight-bold.d-block.mb-1
										| Тип инвестора
									span.text
										| Активный
								p.text.mb-3
									span.text.h6.font-weight-bold.d-block.mb-1
										| Официальный доход
									span.text
										| Не требуется
								p.text.mb-3
									span.text.h6.font-weight-bold.d-block.mb-1
										| Размер вычета:
									span.text
										| Не ограничен
								.figure__footer
									span.text.d-block.mb-1
										| Пример:
									p.text.text--md.mb-0
										| Клиент получил финансовый результат от операций на ИИС в размере 1,2 млн. рублей, данная сумма не облагается НДФЛ
						p.text.text--md.mb-0
							| У одного физического лица может быть только один счёт ИИС. Если у вас есть текущий брокерский счёт, его нельзя превратить в ИИС. Датой открытия ИИС считается дата подписания договора с брокером.
							br
							| Минимальный срок существования счета — 3 года. Максимальная сумма вычета на взнос составляет 52 000 рублей в год.
				section.section.section--regular.section--regular-with-bg.section--light.mb-0
					.page__wrapper
						h2.h2.text-center
							| Документы для получения вычета
						.wrapper.mb-4.d-md-flex
							.d-flex.justify-content-center.flex-shrink-0.mb-3.mb-md-0.mr-md-4.pr-md-1.mr-lg-5.pr-md-2
								icon-docs
							.d-flex.flex-column.align-items-start
								p.text.text--lg.mb-3
									| Необходимо подать налоговую декларацию в Федеральную налоговую службу по форме 3-НДФЛ вместе с документами:
								ul.list.list--goal.text--lg.mb-3
									li.list__item
										| форма 2-НДФЛ;
									li.list__item
										| заявление о возврате налога;
									li.list__item
										| документы, подтверждающие зачисление средств на ИИС.
								p.text.text--lg.text--primary
									| Наши сотрудники помогут вам подготовить весь пакет необходимых документов!
						.d-flex.justify-content-center
							button.btn.btn--primary.btn--lg(@click="openPopup('ask-question')")
								| Консультация
				include ./partials/section_feedback.pug
				include ./partials/section_telegram.pug
				include ./partials/section_interesting.pug
				include ./partials/section_rating.pug
				el-popup-ask-question
			include ./partials/footer.pug
		script(src="js/app.js")