include ./mixins/mixins.pug
-
	let pageTitle = 'index';

doctype html
html(lang="ru")
	+head()
	body.page.page--index
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--slider-front.section--regular
					front-banners(
						:initial-breakpoints="breakpoints"
						:banners="[ { bg: { xs: 'assets/img/slider-front-slide-1-bg-xs.jpg', sm: 'assets/img/slider-front-slide-1-bg-xs.jpg', md: 'assets/img/slider-front-slide-1-bg-md.jpg', lg: 'assets/img/slider-front-slide-1-bg-lg.jpg', xl: 'assets/img/slider-front-slide-1-bg-lg.jpg' }, title: 'Получите 13% <br class=\"d-md-none d-lg-inline\">к своим инвестициям <br>от государства', caption: 'Создайте индвидуальный <br class=\"d-lg-none\">инвестиционный <br class=\"d-none d-lg-inline\">счёт и <br class=\"d-lg-none\">воспользуйтесь налоговым <br class=\"d-lg-none\">вычетом', link: '#' }, { bg: 'assets/img/slide-2.jpg', title: 'Купить акции', caption: 'Вам доступно множество рынков и инструментов, а также аналитическая и техническая поддержка от наших специалистов', link: 'trade.html' }, { bg: 'assets/img/slide-3.jpg', title: 'Зарабатывайте на идеях персонального брокера', caption: 'Оптимальное соотношение риск/доходность для различных типов инвесторов.', link: '#' } ]"
					)
				section.section.section--regular
					.page__wrapper
						front-strategies(
							:strategies="[{ class: 'figure--primary', title: 'Заработать', list: [ { link: '#', text: 'Стратегия <br class=\"d-none d-lg-block\">«Российские акции»' }, { link: '#', text: 'Стратегия <br class=\"d-none d-lg-block\">«Дивидендные акции»' }, { link: 'trade.html', text: 'Купить акции' } ] }, { class: 'figure--mint', title: 'Сохранить <br class=\"d-none d-lg-block\">и&nbsp;приумножить', list: [ { link: '#', text: 'Персональный брокер' }, { link: '#', text: 'Стратегия <br class=\"d-none d-lg-block\">«Дивидендные акции»' }, { link: '#', text: 'Стратегия <br class=\"d-none d-lg-block\">«Сбалансированная»' } ] }, { class: 'figure--darkblue', title: 'Максимальная надежность', list: [ { link: '#', text: 'ИИС с фокусировкой на облигации' }, { link: '#', text: 'Стратегия «Умеренно- консервативная»' }, { link: '#', text: 'Стратегия «Российские облигации»' } ] }]"
						)
				section.section.section--regular
					.page__wrapper
						.wrapper.wrapper--start
							.bg__pic
								img(src='assets/img/wrapper-start-bg.jpg' alt='Не знаете, с чего начать?' v-background-image)
							.wrapper__content
								h2.h2
									| Не знаете, с чего начать?
								p.text
									| Как подобрать оптимальный формат инвестиций?
								p.text
									| Расскажите нам о вашем финансовом опыте и будущих предпочтениях, и мы подготовим инвестиционные продукты, который подойдут именно вам.
								button.btn.btn--primary.btn--lg(@click="openPopup('risk-profile')")
									| Определить риск профиль
				section.section.section--regular
					.page__wrapper
						h2.h2.text-center.text-lg-left.mb-3.mb-lg-4
							| Во что инвестировать?
						p.text.text--lg.text-center.text-lg-left.mb-3.mb-md-4.mb-lg-5
							| Аналитика по актуальным акциям и облигациям, подготовленная нашими персональными брокерами.
						front-analitics(
							:initial-breakpoints="breakpoints"
							:analitics="[{ badge: 'Акции', badgeClass: 'badge--mint', link: 'company_analitics.html', logo: 'assets/img/etln-logo.png', companyTitle: 'Эталон Групп', companySlug: 'ETLN', textNormal: 'Бизнес Эталона показывает признаки роста. Стоимость заключенных контрактов в июне выросла на 78% по сравнению с маем 2020 года. Доля ипотечных сделок также увеличилась с 36% в 1 квартале до рекордных 44% во 2 квартале 2020 года. Это свидетельствует о зарождении нового цикла в строительной отрасли.', textAccented: 'более 10%', textBold: 'дивидендная доходность акций' }, { badge: 'Облигации', badgeClass: 'badge--darkblue', link: 'company_analitics.html', logo: 'assets/img/ggroup-logo.png', companyTitle: 'Джи-Групп', companySlug: 'GGROUP', textNormal: 'Казанский девелопер, осуществляющий деятельность в сегментах жилой и коммерческой недвижимости. Бизнес основан в 1996 г. С 2017 г. компания продемонстрировала темп роста выручки в 28% в год, на выручку от коммерческой недвижимости ежегодно приходится 5-10%.', textAccented: 'от 9,3%', textBold: 'доходность к оферте от 22.07.2025' }, { badge: 'Акции', badgeClass: 'badge--mint', link: 'company_analitics.html', logo: 'assets/img/gazprom-logo.png', companyTitle: 'Газпром', companySlug: 'GAZP', textNormal: 'Наверное, самая популярная бумага у российских инвесторов. Но мало кто задумывается, дорого или дешево сейчас стоит Газпром и почему он должен расти. Мы предлагаем посмотреть на основные моменты за второй квартал этого года, чтобы понять текущую ситуацию в компании, а также заглянуть в «лобовое стекло»', textAccented: 'от 25 рублей', textBold: 'ожидаемые дивиденды после 2021' }, { badge: 'Акции', badgeClass: 'badge--mint', link: 'company_analitics.html', logo: 'assets/img/etln-logo.png', companyTitle: 'Эталон Групп', companySlug: 'ETLN', textNormal: 'Бизнес Эталона показывает признаки роста. Стоимость заключенных контрактов в июне выросла на 78% по сравнению с маем 2020 года. Доля ипотечных сделок также увеличилась с 36% в 1 квартале до рекордных 44% во 2 квартале 2020 года. Это свидетельствует о зарождении нового цикла в строительной отрасли.', textAccented: 'более 10%', textBold: 'дивидендная доходность акций' }, { badge: 'Облигации', badgeClass: 'badge--darkblue', link: 'company_analitics.html', logo: 'assets/img/ggroup-logo.png', companyTitle: 'Джи-Групп', companySlug: 'GGROUP', textNormal: 'Казанский девелопер, осуществляющий деятельность в сегментах жилой и коммерческой недвижимости. Бизнес основан в 1996 г. С 2017 г. компания продемонстрировала темп роста выручки в 28% в год, на выручку от коммерческой недвижимости ежегодно приходится 5-10%.', textAccented: 'от 9,3%', textBold: 'доходность к оферте от 22.07.2025' }]"
						)
				+section-steps('mb-0')
				section.section.section--light.section--regular.section--regular-with-bg.mb-lg-0.pb-lg-4
					.page__wrapper
						h2.h2.text-center
							| Пресс-центр
						front-press(
							:initial-breakpoints="breakpoints"
							:press="[{ link: 'single-press.html', title: 'Что спровоцировало падение рубля? Владимир Гигуашвили для портала KazanFirst', date: 'Август 3, 2020', caption: 'Рубль установил очередной антирекорд: курс доллара превысил 74 рубля впервые с середины мая, а евро впервые с 31 марта нацелился на 87 рублей. Сложилась достаточно парадоксальная ситуация: рубль продолжает дешеветь по отношению к доллару даже в тот период, когда сам доллар слабеет по отношению к другим мировым валютам. Почему это происходит и чего ждать дальше?', }, { link: 'single-press.html', title: 'Как заработать на золоте? Михаил Королюк для издания Комсомольская правда', date: 'Август 3, 2020', caption: 'Золото бьет рекорды. В понедельник на бирже одна тройская унция этого металла (31,1 грамма) стоила больше 1940 долларов. Это рекорд за всю историю. Прошлое достижение было осенью 2011 года. Тогда золото стоило 1910 долларов, но потом стало дешеветь. Что происходит сейчас? При любой непонятной ситуации в экономике, инвесторы предпочитают спасать свои деньги в этом проверенном временем инструменте. Но есть и другая причина.', }, { link: 'single-press.html', title: 'Переживут ли США новый кризис? Мнение Е.Маришина для издания АИФ', date: 'Август 3, 2020', caption: 'ВВП США непрерывно рос с июня 2009 года, 128 месяцев подряд. В феврале этого года рост прекратился: американская экономика вошла в рецессию, отчиталось Национальное бюро экономических исследований. В первом квартале ВВП США в годовом выражении, по данным местного Министерства торговли, сократился на 4,8%. Во втором может рухнуть на 37%, прогнозирует Международный валютный фонд (МВФ).', }, { link: 'single-press.html', title: 'Что спровоцировало падение рубля? Владимир Гигуашвили для портала KazanFirst', date: 'Август 3, 2020', caption: 'Рубль установил очередной антирекорд: курс доллара превысил 74 рубля впервые с середины мая, а евро впервые с 31 марта нацелился на 87 рублей. Сложилась достаточно парадоксальная ситуация: рубль продолжает дешеветь по отношению к доллару даже в тот период, когда сам доллар слабеет по отношению к другим мировым валютам. Почему это происходит и чего ждать дальше?', }, { link: 'single-press.html', title: 'Как заработать на золоте? Михаил Королюк для издания Комсомольская правда', date: 'Август 3, 2020', caption: 'Золото бьет рекорды. В понедельник на бирже одна тройская унция этого металла (31,1 грамма) стоила больше 1940 долларов. Это рекорд за всю историю. Прошлое достижение было осенью 2011 года. Тогда золото стоило 1910 долларов, но потом стало дешеветь. Что происходит сейчас? При любой непонятной ситуации в экономике, инвесторы предпочитают спасать свои деньги в этом проверенном временем инструменте. Но есть и другая причина.', }]"
						)
						.d-flex.justify-content-center.mb-lg-3
							a.btn.btn--primary.btn--lg(href='press-center.html')
								| Перейти в раздел
				include ./partials/section_rating.pug
				include ./partials/popup_risk_profile.pug
				el-popup-ask-question
			include ./partials/footer.pug
			include ./partials/parallax.pug
		script(src="js/app.js")