include ./mixins/mixins.pug
-
	let pageTitle = 'markets';

doctype html
html(lang="ru")
	+head()
	body.page.page--markets
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.section--header-sm
					.bg__pic
						img(src='assets/img/markets-bg.jpg' alt='Рынки капитала' v-background-image)
					.page__wrapper
						+breadcrumbs()
						h1.h2 Рынки капитала
				section.section.section--regular.section--regular-with-bg.section--blue.text--white.mb-0
					.page__wrapper
						.slider.slider--application.mb-0.mt-4
							.wrapper
								button.btn.btn--slider-blue.slider__btn.slider__btn--prev
									icon-chewron-down
								.swiper-container.slider__container
									.swiper-wrapper.slider__wrapper
										.swiper-slide.slider__slide
											icon-quality-shield
											h4.h4 Наличие глубокой экспертизы
										.swiper-slide.slider__slide
											icon-universality
											h4.h4 Большой опыт работы на долговом рынке
										.swiper-slide.slider__slide
											icon-reliability
											h4.h4 Проактивная команда специалистов
								button.btn.btn--slider-blue.slider__btn.slider__btn--next
									icon-chewron-down
							.swiper-pagination.slider__pagination.slider__pagination--mint
				section.section.section--regular.decoration--arc-before
					.page__wrapper
						h2.h2.text-center Комплексное сопровождение сделок по секьюритизации Ваших активов
						markets-person(
							:data="{ name: 'Андрей Игоревич Буш', role: 'руководитель управления инвестиционно- банковских услуг', pic: 'assets/img/bush.png', text: '<p class=\"text text--lg\"> Являясь профессиональным участником рынка ценных бумаг, инвестиционно-финансовая компания «Солид» предлагает своим клиентам полный комплекс услуг по размещению облигаций. </p> <p class=\"text text--lg mb-5\"> ИФК «Солид» может взять на себя разработку параметров эмиссии и подготовку комплекта документов для регистрации выпуска облигаций (решение о размещении и выпуске ценных бумаг, проспект эмиссии, отчет о выпуске и др.), само размещение (в качестве андеррайтера) и организацию вторичного обращения. </p>' }"
						)
				section.section.section--regular.section--regular-with-bg.section--light.mb-0
					.page__wrapper
						h2.h2.text-center Виды консультационных услуг
						markets-services.mb-4(
							:initial-breakpoints='breakpoints'
							:services="['Внесение имущественного взноса в уставной капитал','Структурирование сделок','Купля-продажа облигаций','Техническое сопровождение биржевого размещения облигаций','Маркетинговая поддержка и организация презентаций для инвесторов','Содействие в выборе контрагентов','Маркет-мейкинг']"
						)
						.d-blok.text-center
							button.btn.btn--primary.btn--lg(@click="openPopup('backcall')") Стать клиентом
				section.section.section--regular.section--regular-with-bg.mb-0
					.page__wrapper
						markets-media(
							:media="[ { title: '«Механизм облигационного займа»', pic: 'assets/img/article-1.jpg', link: '#', category: 'Рекомендуемые информационные материалы' }, { title: '«Корпоративные облигации»', pic: 'assets/img/article-2.jpg', link: '#', category: 'Рекомендуемые информационные материалы' }, { title: 'Рынок ВДО. Секреты управляющего. Интервью Invest Heroes с Андреем Бушем', pic: 'assets/img/article-3.jpg', link: '#', date: '17 окт. 2020 г.' } ]"
						)
				section.section.section--regular.section--regular-with-bg.text--white.mb-lg-0
					.bg__pic
						picture(v-background-image)
							source(srcset='assets/img/section-feedback-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
							source(srcset='assets/img/section-feedback-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
							source(srcset='assets/img/section-feedback-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
							img(src='assets/img/section-feedback-bg-lg.jpg' alt='Отзывы наших клиентов')
					.page__wrapper
						h2.h2.text-center Контакты
						h3.h3.text-center
							a.link.link--unset(href='mailto:capitalmarkets@solidbroker.ru') capitalmarkets@solidbroker.ru
				include ./partials/section_rating.pug
				el-popup-ask-question
				el-popup-backcall
			include ./partials/footer.pug
		script(src="js/app.js")