include ./mixins/mixins.pug
-
	let pageTitle = 'personal_broker';

doctype html
html(lang="ru")
	+head()
	body.page.page--personal_broker
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.decoration--arc-after
					.bg__pic
						picture(v-background-image)
							source(srcset='assets/img/personal-broker-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
							source(srcset='assets/img/personal-broker-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
							source(srcset='assets/img/personal-broker-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
							img(src='assets/img/personal-broker-bg-lg.jpg' alt='Персональный брокер')
					.page__wrapper
						+breadcrumbs()
						h1.h2
							| Персональный брокер
						h2.h4
							| Зарабатывайте на наших
							br.d-none.d-md-block.d-lg-none
							| торговых идеях,
							br.d-none.d-lg-block
							|  получайте
							br.d-none.d-md-block.d-lg-none
							| советы по управлению
							br.d-none.d-md-block
							| инвестициями.
						button.btn.btn--primary.btn--lg(@click="openPopup('ask-question')")
							| Консультация
				section.section.decoration--arc-double
					.page__wrapper
						.slider.slider--advantages
							.wrapper
								button.btn.btn--slider-blue.slider__btn.slider__btn--prev
									icon-chewron-down
								.swiper-container.slider__container
									.swiper-wrapper.slider__wrapper
										.swiper-slide.slider__slide
											icon-quality
											span.text
												| Высокое
												br.d-none.d-md-block.d-lg-none
												| качество
												br.d-none.d-lg-block
												| и
												br.d-lg-none
												| результативность
										.swiper-slide.slider__slide
											icon-ideas
											span.text
												| Идеи и торговые
												br
												| сигналы
												br.d-md-none
												| «внутри
												br.d-none.d-md-block
												| дня»
										.swiper-slide.slider__slide
											icon-calendar
											span.text
												| Календарь по
												br
												| компаниям
												br
												| фокус-группы
										.swiper-slide.slider__slide
											icon-money
											span.text
												| Формирование высокодоходных портфелей
										.swiper-slide.slider__slide
											icon-strat
											span.text
												| Стратегии
												br
												| торговли на любом
												br
												| тренде
								button.btn.btn--slider-blue.slider__btn.slider__btn--next
									icon-chewron-down
							.swiper-pagination.slider__pagination.slider__pagination--mint
				el-section-graph(:animated='animEnabled')
					template(v-slot:bg)
						img(src="assets/img/graph.png" alt="" v-background-image)
				section.section.section--broker.section--regular.section--regular-with-bg.text--white
					.bg__pic
						img(src='assets/img/broker-bg.jpg' alt='Персональный брокер' v-background-image)
					.page__wrapper
						.wrapper
							h2.h2.mb-4.pb-md-2.pb-md-3
								| Персональный брокер
							p.text.text--lg
								| Персональный брокер — это услуга для инвесторов с опытом самостоятельной торговли на фондовом рынке, нуждающихся в результативных торговых идеях от профессионала, но оставляющих последнее слово в принятии инвестиционного решения за собой.
								br
								| Персональный брокер всегда находится в рынке, имеет доступ к профессиональной информации, владеет инструментами анализа и способен предложить наиболее эффективные варианты для достижения индивидуальных инвестиционных целей.
							p.text.text--sm
								| Услуга Персональный брокер юридически оказывается путем заключения Договора об инвестиционном консультировании, Персональный брокер - уполномоченное лицо инвестиционного советника – АО ИФК «Солид», в обязанности которого входит осуществление деятельности по инвестиционному консультированию.
							a.btn.btn--primary.btn--lg(href='#' @click.prevent="openPopup('backcall')")
								| Позвонить брокеру
						img.figure(src='assets/img/person.png' alt='Персональный брокер')
				section.section.section--regular
					.page__wrapper
						h2.h2.text-center
							| Как работает
							br.d-none.d-sm-block.d-md-none
							|  персональный брокер?
						ul.list.list--steps.mb-0
							li.list__item
								h4.h4
									| Уточнение инвестиционного опыта и предпочтений клиента
								p.text.text--md
									| Анализ компетенций и целей клиента,  интересов к инструментам и рынкам
							li.list__item
								h4.h4
									| Определение риск-профиля
								p.text.text--md
									| Подбор подходящей инвестиционной программы в зависимости от ожиданий по доходности и рискам
							li.list__item
								h4.h4
									| Эффективные инвестиционные решения
								p.text.text--md
									| Высокое качество и результативность торговых идей от профессионалов
				section.section.section--broker.section--regular.section--regular-with-bg.text--white
					.bg__pic
						img(src='assets/img/broker-2-bg.png' alt='Тест-драйв идеи' v-background-image)
					.page__wrapper
						.figure.ml-0.ml-md-auto.mr-auto.pr-lg-5
							img.mb-4.pb-4.mb-md-0.pb-md-1(src='assets/img/reflection.png' alt='Тест-драйв идеи')
						.wrapper
							h2.h2.mb-4.pb-md-2.pb-md-3
								| Тест-драйв идеи
							p.text.text--lg
								| Хотите торговую идею, на которой можно заработать? Получите одну идею от персонального брокера прямо сейчас. Бесплатно!
							p.text.text--sm
								| Не является индивидуальной инвестиционной рекомендацией.
							a.btn.btn--primary.btn--lg(href='#' @click.prevent="openPopup('backcall')")
								| Запросить идею
				section.section.section--regular
					.page__wrapper
						h2.h2.text-center
							| Команда
							br.d-md-none
							| профессионалов
						professional-team(
							:initial-breakpoints="breakpoints"
							:team="[ { name: 'Дмитрий Балакин', role: 'персональный брокер', info: 'Успешно зашортил нефть в преддверии 8 марта 2017, в нерабочий день на российском рынке. На фондовом и валютном рынках с осени 2011г. Окончил МГГУ по специальности «Информационные системы и технологии». Создал собственную систему торговли, основанную на понимании действий крупного игрока. Специализируется на инструментах срочного рынка, а также на стратегиях Buy&hold для инвестирования в быстрорастущие бизнесы.', pic: 'assets/img/balakin.png' }, { name: 'Евгений Маришин', role: 'персональный брокер', info: 'Заработал 30% за ночь на Брексит. Выпускник Российского Государственного Торгово-Экономического Университета (РГТЭУ), специальность: мировая экономика. Впервые познакомился с финансовыми рынками в возрасте 16 лет. Активно торгует с 2012 года. Специализируется на инструментах российского рынка: акции, облигации, фьючерсы на ценные бумаги, сырье, валюта, а также на акциях, ETF американского рынка.', pic: 'assets/img/marishin.png' } ]"
						)
				section.section.section--regular.section--regular-with-bg.section--light
					.page__wrapper
						h2.h2.text-center
							| Тарифы и обслуживание
						broker-tariffs(:tariffs="[ { title: 'Комиссия, % от суммы сделки', desc: '<p class=\"text text--lg\"> Вне зависимости от оборота 0,2 % + % за успех* </p> <p class=\"text-text--sm\"> *включает биржевую комиссию </p>' }, { title: 'Поддержание необеспеченных позиций', desc: '<table class=\"table table--transparent text--lg\"> <tbody> <tr> <td> Позиция «Short» </td> <td> 16 % годовых </td> </tr> <tr> <td> Позиция «Long» </td> <td> 18 % годовых </td> </tr> <tr> <td> Внутри дня </td> <td> Бесплатно </td> </tr> </tbody> </table>' } ]")
						.d-flex.justify-content-center
							a.btn.btn--primary.btn--lg(href='#')
								| Полная информация по тарифу
				section.section.section--regular
					.page__wrapper
						h2.h2.text-center
							| Персональный брокер VS
							br.d-none.d-md-block
							| индивидуальное доверительное управление
						.wrapper.wrapper--compare
							.figure.figure--compare.figure--mint
								.figure__header
									h4.h4
										| Брокер
								p.text
									span.h4
										| Затраты
									span.text.text--sm
										| Фикс + % за успех
								p.text
									span.h4
										| Контроль
									span.text.text--sm
										| Клиент сам принимает инвестиционное решение
								p.text
									span.h4
										| Контакт с управляющим
									span.text.text--sm
										| Всегда на связи
								p.text
									span.h4
										| Смена стратегии
									span.text.text--sm
										| Оперативно по рекомендации ПБ
							.figure.figure--compare.figure--primary
								.figure__header
									h4.h4
										| ИДУ
								p.text
									span.h4
										| Затраты
									span.text.text--sm
										| Фикс + % за успех
								p.text
									span.h4
										| Контроль
									span.text.text--sm
										| Решение принимает управляющий в соответствии со стратегией ИДУ
								p.text
									span.h4
										| Контакт с управляющим
									span.text.text--sm
										| По истечении отчетного периода
								p.text
									span.h4
										| Смена стратегии
									span.text.text--sm
										| Через расторжение договора
							table.table.table--compare-cards
								thead
									tr
										th
										th
											| Брокер
										th
											| ИДУ
								tbody
									tr
										td
											| Затраты
										td
											| Фикс + % за успех
										td
											| Фикс + % за успех
									tr
										td
											| Контроль
										td
											| Клиент сам принимает инвестиционное решение
										td
											| Решение принимает управляющий в соответствии со стратегией ИДУ
									tr
										td
											| Контакт с управляющим
										td
											| Всегда на связи
										td
											| По истечении отчетного периода
									tr
										td
											| Смена стратегии
										td
											| Оперативно по рекомендации ПБ
										td
											| Через расторжение договора
						.d-flex.justify-content-center
							a.btn.btn--primary.btn--lg(href='#' @click.prevent="openPopup('backcall')")
								| Позвонить брокеру
				include ./partials/section_feedback.pug
				include ./partials/section_telegram.pug
				include ./partials/section_interesting.pug
				include ./partials/section_rating.pug
				el-popup-ask-question
				el-popup-backcall
			include ./partials/footer.pug
		script(src="js/app.js")