include ./mixins/mixins.pug
-
	let pageTitle = 'press-center';

doctype html
html(lang="ru")
	+head()
	body.page.page--press-center
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section
					.page__wrapper
						+breadcrumbs()
						h1.h2 Пресс-центр
						press-centers
				include ./partials/section_rating.pug
			include ./partials/footer.pug
		script(src="js/app.js")