include ./mixins/mixins.pug
-
	let pageTitle = 'single-press';

doctype html
html(lang="ru")
	+head()
	body.page.page--single-press
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section
					.page__wrapper
						+breadcrumbs()
						h2.h2
							| ИФК «Солид» — победитель в 4 номинациях премии Cbonds Awards- 2020
						.text--sm.mb-4
							| Июль 22, 2020
						.wrapper--article
							p
								| Управление инвестиционно-банковских услуг ИФК «Солид», возглавляемое Андреем Бушем, стало победителем сразу в четырех номинациях премии Cbonds Awards-2020
								| Вручение наград традиционно состоялось в рамках XVIII Российского облигационного конгресса в Санкт — Петербурге.
							p
								| По мнению участников голосования, ИФК «Солид» стала лучшим организатором дебютного выпуска лесопромышленного холдинга «Группа компаний Сегежа» серии 001P-01R на 10 млрд рублей —
								b номинация лучшая сделка первичного размещения в нефинансовом секторе.
								br
								|  Организация выпуска АФК «Система» серии 001Р-15 на 10 млрд рублей принесла вторую
								b
									| номинацию — лучшая сделка первичного размещения в сегменте «связь и коммуникации».
								br
								| Третья номинация —
								b лучшая сделка первичного размещения в сегменте high-yield
								|  — досталась за дебютный выпуск девелопера «Джи Групп» серии 001P-01 на 1 млрд рублей.
								br
								b Самой «розничной» сделкой первичного размещения
								|  — четвертая номинация — был выбран дебютный выпуск телекоммуникационной компании «МаксимаТелеком» серии БО-П01 на 3 млрд рублей. В рамках сделки более 1 млрд рублей на первичном размещении было приобретено физическими лицами.
								br
								| Cbonds Awards — ежегодная премия, которая вручается лучшим участникам российского облигационного рынка по итогам открытого голосования, обладателей которой определяют сами участники облигационного рынка. Голосование является полностью открытым и проходит ежегодно с 2006 года.
						.d-block.mb-5
							a.link(href='#')
								| Источник
						a.btn.btn--link.mb-5.mb-md-4.mb-lg-0(href='#')
							icon-chewron-left
							span.btn__text
								| Назад к новостям
				include ./partials/section_rating.pug
			include ./partials/footer.pug
		script(src="js/app.js")