include ./mixins/mixins.pug
-
	let pageTitle = 'single-review';

doctype html
html(lang="ru")
	+head()
	body.page.page--single-review
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section
					.page__wrapper
						+breadcrumbs()
						h2.h2
							| Еженедельный обзор инвестидей 7-11 декабря 2020
						.text--sm.mb-4
							| Июль 22, 2020
						.d-flex.align-items-center.text--sm.mb-4
							icon-positive.mr-3
							| сентимент: позитивный
						.wrapper--article
							.wrapper
								h4.h4.text--primary.mb-3
									| Комментарий по рынкам
								p
									| Предновогоднее ралли уже вовсю идет. Американские индексы продолжают обновлять исторические максимумы на ожидании новых стимулирующих мер экономики, даже несмотря на слабые данные по рынку труда. Классический рыночный принцип – чем хуже дела в экономике, тем лучше для фондовых рынков, ведь тем больше будет денежных вливаний в экономику.
								p
									| Российский рынок находится в шаге от обновления январских максимумов. Тогда мир только-только начал знакомится с «китайским» коронавирусом и ещё не предполагал масштабы эпидемии. Сейчас же пандемия с каждым днём всё хуже и хуже, а рынки всё выше и выше. Массовая вакцинация, которая является чуть ли не единственным способом остановить пандемию, вот-вот начнется. В России с этой недели уже начались прививки по рисковым группам, но действительно массовый характер будет не раньше следующего года. Рынок «прайсит» излечение от коронавируса в следующем году.
								p
									| По сообщениям «Ъ», на фоне восстановления индекса Московской биржи растет интерес пайщиков к фондам акций и снижается спрос на консервативные облигационные фонды, однако сохраняется и доля инвестиций в защитных фондах, ориентированных на вложения в золото. Мы сейчас наблюдаем рекордный приток физлиц на фондовый рынок, что должно вызвать ещё больший рост индексов в следующем году.
								p
									| На прошлой неделе в понедельник мы выпустили инвестидею по Озону, а уже в пятницу её закрыли по достижению целевой цены и перекупленности. Доход составил более 30%. Рост акций был спровоцирован высказываниями менеджмента АФК Системы о том, что они не планируют продавать Озон после истечения периода локапа. Долгосрочным инвесторам мы по-прежнему рекомендуем удерживать эти акции.
								p
									| На этой неделе мы рекомендуем к покупке 3 акции: РусГидро, Газпром нефть и Юнипро. С полным списком инвестидей вы сможете ознакомиться ниже.
								p
									| P.S. Напомним, что на выходных мы выложили запись нашего стратегического вебинара по итогам 3 кв. 2020 в общий доступ. Поэтому всем, кто ещё не ознакомился с вебинаром и с нашим выбором акций, рекомендуем его посмотреть. Доступно тут.
							.wrapper
								.wrapper.mb-4
									h4.h4
										| Нефть Brent
									img(src='assets/img/graph-0.jpg' alt='graph-0')
								.wrapper.mb-4
									h4.h4
										| Индекс Мосбиржи
									img(src='assets/img/graph-1.jpg' alt='graph-1')
						.wrapper.mb-5
							table.table
								tbody
									tr.table__head
										td(colspan='4')
											| Оценка
									tr(v-for='i in 4' :key='`tr1_${i}`')
										td
											| Чистая прибыль
										td
											| 3,9
										td
											| 84,0
										td
											| 11,39
						.wrapper--article
							.wrapper
								h4.h4.text--primary.mb-3
									| Газпром нефть
								p
									| Предновогоднее ралли уже вовсю идет. Американские индексы продолжают обновлять исторические максимумы на ожидании новых стимулирующих мер экономики, даже несмотря на слабые данные по рынку труда. Классический рыночный принцип – чем хуже дела в экономике, тем лучше для фондовых рынков, ведь тем больше будет денежных вливаний в экономику.
								p
									| Российский рынок находится в шаге от обновления январских максимумов. Тогда мир только-только начал знакомится с «китайским» коронавирусом и ещё не предполагал масштабы эпидемии. Сейчас же пандемия с каждым днём всё хуже и хуже, а рынки всё выше и выше. Массовая вакцинация, которая является чуть ли не единственным способом остановить пандемию, вот-вот начнется. В России с этой недели уже начались прививки по рисковым группам, но действительно массовый характер будет не раньше следующего года. Рынок «прайсит» излечение от коронавируса в следующем году.
								p
									| По сообщениям «Ъ», на фоне восстановления индекса Московской биржи растет интерес пайщиков к фондам акций и снижается спрос на консервативные облигационные фонды, однако сохраняется и доля инвестиций в защитных фондах, ориентированных на вложения в золото. Мы сейчас наблюдаем рекордный приток физлиц на фондовый рынок, что должно вызвать ещё больший рост индексов в следующем году.
								p
									| На прошлой неделе в понедельник мы выпустили инвестидею по Озону, а уже в пятницу её закрыли по достижению целевой цены и перекупленности. Доход составил более 30%. Рост акций был спровоцирован высказываниями менеджмента АФК Системы о том, что они не планируют продавать Озон после истечения периода локапа. Долгосрочным инвесторам мы по-прежнему рекомендуем удерживать эти акции.
								p
									| На этой неделе мы рекомендуем к покупке 3 акции: РусГидро, Газпром нефть и Юнипро. С полным списком инвестидей вы сможете ознакомиться ниже.
								p
									| P.S. Напомним, что на выходных мы выложили запись нашего стратегического вебинара по итогам 3 кв. 2020 в общий доступ. Поэтому всем, кто ещё не ознакомился с вебинаром и с нашим выбором акций, рекомендуем его посмотреть. Доступно тут.
							.wrapper
								table.table.mb-5
									tbody
										tr.table__head
											td(colspan='4')
												| Акции
										tr(v-for='i in 6' :key='`tr1_${i}`')
											td
												| Чистая прибыль
											td
											td
											td
												| 11,39
										tr.table__head
											td
												| Финансы (млрд. руб.)
											td
												| 2018
											td
												| 2019
											td
												| 2020-е
										tr(v-for='i in 4' :key='`tr2_${i}`')
											td
												| Чистая прибыль
											td
												| 3,9
											td
												| 84,0
											td
												| 11,39
								.wrapper.mb-4
									h4.h4
										| Цена акции
									img(src='assets/img/graph-2.jpg' alt='graph-2')
						a.file.mb-4.mb-lg-5(href='#')
							span.file__icon
								icon-file-pdf
							span.wrapper
								span.file__name
									| Скачать полный обзор
								span.file__info
									| (324Кб, PDF)
						a.btn.btn--link.mb-5.mb-md-4.mb-lg-0(href='#')
							icon-chewron-left
							span.btn__text
								| Назад к списку обзоров
				include ./partials/section_rating.pug
			include ./partials/footer.pug
		script(src="js/app.js")