include ./mixins/mixins.pug
-
	let pageTitle = 'tariffs';

doctype html
html(lang="ru")
	+head()
	body.page.page--tariffs
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.section--header-sm
					.bg__pic
						img(src='assets/img/tariffs-bg.jpg' alt='Тарифы' v-background-image)
					.page__wrapper
						+breadcrumbs()
						h1.h2 Тарифы
				section.section.section--regular.section--regular-with-bg.section--blue.text--white.mb-0
					.page__wrapper
						.slider.slider--application.mb-0.mt-4
							.wrapper
								button.btn.btn--slider-blue.slider__btn.slider__btn--prev
									icon-chewron-down
								.swiper-container.slider__container
									.swiper-wrapper.slider__wrapper
										.swiper-slide.slider__slide
											icon-money-box
											h4.h4 Нет сделок — нет комиссий!
											p.text.text--md
												| При отсутствии у Клиента сделок в течение расчетного месяца брокерская и депозитарная комиссии не взимаются
										.swiper-slide.slider__slide
											icon-transparency
											h4.h4 Простота и прозрачность расчётов
											p.text.text--md Отсутствие скрытых комиссий при оплате за сделку или торговую серию
										.swiper-slide.slider__slide
											icon-requirements
											h4.h4
												| Минимальные требования к
												br.d-lg-none
												| сумме активов на счете
											p.text.text--md Открытие брокерского счета начиная от 50 000 рублей
								button.btn.btn--slider-blue.slider__btn.slider__btn--next
									icon-chewron-down
							.swiper-pagination.slider__pagination.slider__pagination--mint
				section.section.section--regular.section--regular-with-bg
					.page__wrapper
						.wrapper.wrapper--docs
							.wrapper
								el-list-tabs(
									:tabs="{ tab1: 'Фондовый рынок Московской биржи', tab2: 'Срочный рынок Московской биржи', tab3: 'Условия осуществления депозитарной деятельности', tab4: 'Валютный рынок Московской биржи', tab5: 'Санкт-Петербургская биржа' }"
									:selected="'tab2'"
								)
							.wrapper
								.control.control--select.d-lg-none
									select.control__input(v-model='currentTab')
										option(value='tab1') Фондовый рынок Московской биржи
										option(value='tab2') Срочный рынок Московской биржи
										option(value='tab3') Условия осуществления депозитарной деятельности
										option(value='tab4') Валютный рынок Московской биржи
										option(value='tab5') Санкт-Петербургская биржа
								.wrapper(v-if="currentTab === 'tab1'")
									h3.h3.mb-5 Фондовый рынок Московской биржи
								.wrapper(v-if="currentTab === 'tab2'")
									h3.h3.mb-5 Срочный рынок Московской биржи
									.d-flex.justify-content-end.mb-4
										multiselect.w-auto(placeholder='Сортировать по' :options="['Дате', 'Цене', 'Городу']")
									el-figure-tariff.mb-5(
										:tariff="{ name: '«Первый»', cities: { msk: 'Москва', spb: 'Санкт-Петербург' }, city: 'msk', link: '#', description: 'Рекомендован начинающим инвесторам — физическим лицам с невысокими суммами первоначальных инвестиций.', table: [ ['Вне зависимости от оборота (льготный период)', ' 0,1 %'], [' Вне зависимости от оборота (основной период)', '0,5 %'] ], file: { name: 'Подробное описание', info: '1Мб, PDF', link: '#' } }"
									)
									el-figure-tariff.mb-5(
										:tariff="{ name: '«Базовый стандарт»', cities: { msk: 'Москва', spb: 'Санкт-Петербург' }, city: 'msk', link: '#', description: 'Рекомендован начинающим инвесторам — физическим лицам с невысокими суммами первоначальных инвестиций.', table: [ ['Вне зависимости от оборота (льготный период)', ' 0,1 %'], [' Вне зависимости от оборота (основной период)', '0,5 %'], [' Вне зависимости от оборота (основной период)', '0,5 %'] ], file: { name: 'Подробное описание', info: '1Мб, PDF', link: '#' } }"
									)
									el-figure-tariff.mb-5(
										:tariff="{ name: '«Маржинальный»', cities: { msk: 'Москва', spb: 'Санкт-Петербург' }, city: 'msk', link: '#', description: 'Рекомендован начинающим инвесторам — физическим лицам с невысокими суммами первоначальных инвестиций.', table: [ ['Вне зависимости от оборота (льготный период)', ' 0,1 %'], ['Вне зависимости от оборота (льготный период)', ' 0,1 %'], [' Вне зависимости от оборота (основной период)', '0,5 %'], [' Вне зависимости от оборота (основной период)', '0,5 %'] ], file: { name: 'Подробное описание', info: '1Мб, PDF', link: '#' } }"
									)
									h4.h4 Комиссия за брокерское обслуживание указана в % от суммы сделки
								.wrapper(v-if="currentTab === 'tab3'")
									h3.h3.mb-5 Условия осуществления депозитарной деятельности
								.wrapper(v-if="currentTab === 'tab4'")
									h3.h3.mb-5 Валютный рынок Московской биржи
								.wrapper(v-if="currentTab === 'tab5'")
									h3.h3.mb-5 Санкт-Петербургская биржа
				include ./partials/section_rating.pug
			include ./partials/footer.pug
		script(src="js/app.js")