include ./mixins/mixins.pug
-
	let pageTitle = 'trade';

doctype html
html(lang="ru")
	+head()
	body.page.page--trade
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--header.decoration--arc-after
					.bg__pic
						picture(v-background-image)
							source(srcset='assets/img/trade-bg-lg.png' :media='`(min-width: ${breakpoints.lg}px)`')
							source(srcset='assets/img/trade-bg-md.png' :media='`(min-width: ${breakpoints.md}px)`')
							source(srcset='assets/img/trade-bg-xs.png' :media='`(min-width: ${breakpoints.xs}px)`')
							img(src='assets/img/trade-bg-lg.png' alt='Купить акции')
					.page__wrapper
						+breadcrumbs()
						h1.h2
							| Купить акции
						h2.h4
							| Вам доступно множество рынков
							br.d-none.d-md-block.d-lg-none
							| и
							br.d-none.d-lg-block
							| инструментов, а также
							br.d-none.d-md-block.d-lg-none
							| аналитическая и
							br.d-none.d-lg-block
							|  техническая
							br.d-none.d-md-block.d-lg-none
							| поддержка от наших
							br.d-none.d-md-block
							| специалистов
						button.btn.btn--primary.btn--lg
							| Приступить
				+section-steps()
				section.section.section--regular
					.page__wrapper
						h2.h2.text-center
							| Преимущества инвестиций с нами
						trade-advantages(
							:initial-breakpoints="breakpoints"
							:advantages="[ { title: 'Удобные способы управления', text: 'Вы можете вести торговлю как через приложение Solid Investor, так и через поручения на сайте или по телефону. Выберите то, что удобно именно вам!' }, { title: 'Единый брокерский счет', text: 'Возможность торговли с единым обеспечением на фондовом, срочном и валютном рынках Московской биржи без необходимости осуществлять переводы средств между площадками.' }, { title: 'Аналитическая и техническая поддержка', text: 'Бесплатное предоставление аналитических и экспертных материалов и обзоров по рынку. Советы управляющих и опытных консультантов. Техническая поддержка с 9:00 до 24:00 каждый биржевой рабочий день.' } ]"
						)
				section.section.section--regular.section--regular-with-bg.section--light.mb-0
					.page__wrapper
						h2.h2.text-center
							| Доступные рынки и инструменты
						trade-tools(:tools="[ { title: 'Фондовый рынок Московской Биржи', icon: 'moex', list: [ 'крупнейшие предприятия РФ', 'стабильный высокий доход' ] }, { title: 'Срочный рынок Московской Биржи', icon: 'moex-urgent', list: [ 'торговля с плечом', 'минимизация и диверсификация рисков' ] }, { title: 'Валютный рынок Московской Биржи', icon: 'moex-currency', list: [ 'валюты по лучшему обменному курсу', 'без переплаты банкам и обменникам!' ] }, { title: 'Санкт-Петербургская биржа', icon: 'fin-spb', list: [ 'иностранные инструменты на российской площадке внутри российской юрисдикции' ] }, { title: 'Мировые финансовые рынки', icon: 'fin-world', list: [ 'CME, eCBOT, NYSE, NASDAQ, LSE, IPE и др.', 'круглосуточный доступ через современные платформы' ] } ]")
				section.section.section--broker.section--regular.section--regular-with-bg.text--white
					.bg__pic
						picture(v-background-image)
							source(srcset='assets/img/investor-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
							source(srcset='assets/img/investor-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
							source(srcset='assets/img/investor-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
							img(src='assets/img/investor-bg-lg.jpg' alt='Солид Инвестор')
					.page__wrapper
						a.figure.mb-4.mr-md-auto.d-block(href="application.html")
							img(src='assets/img/investor-app.png' alt='Солид Инвестор')
						.wrapper
							a.link.link--unset.wrapper.wrapper--app-icon(href="application.html")
								icon-solid-app
								h2.h2
									| Солид
									br
									| Инвестор
							p.text.text--lg
								| Простое и доступное приложение, которое предоставляет мгновенный доступ к торгам на Московской бирже. С его помощью торговать на бирже сможет даже начинающий инвестор: покупать и продавать акции и облигации, просматривать котировки и отслеживать состояние инвестиционного портфеля.
							.wrapper.wrapper--store-icons
								a.link.mr-3.mb-2(href=info.appStoreUrl target='_blank' name='App Store')
									icon-app-store
								a.link.mr-3.mb-2(href=info.googlePlayUrl target='_blank' name='Google Play')
									icon-google-play
								a.link.mb-2(href=info.appInstruction target='_blank' name='Instruction')
									icon-app-instruction
				section.section.section--lk.section--regular
					.page__wrapper
						.wrapper
							h2.h2
								| Личный кабинет инвестора
							p.text--lg
								| Здесь надо написать, что можно делать через ЛК, почему это удобно и как этим пользоваться.
							p.text--lg
								| Я не видела толком ЛК и не могу это сформулировать.
							a.btn.btn--primary.btn--lg.d-none.d-lg-inline-flex(href='#')
								| Перейти в личный кабинет
						.figure
							img(src='assets/img/lk.jpg' alt='Личный кабинет инвестора')
				section.section.section--regular.section--regular-with-bg.section--light
					.page__wrapper
						h2.h2.text-center
							| Торговая платформа Quik
						trade-quik(
							:initial-breakpoints="breakpoints"
							:items="[{title: 'Web-Quik', logo: 'assets/img/web-quik.png', desc: 'Полноценный торговый терминал, работающий в окне любого браузера под управлением разных операционных систем.', content: '<a href=\"#\" class=\"d-inline-block link link--gray mt-auto py-md-2\"> Перейти </a>'}, {title: 'Для Windows', logo: 'assets/img/quik.png', desc: 'Рабочее место QUIK — это полноценный торговый терминал для торговли ценными бумагами в режиме реального времени.', content: '<a href=\"#\" class=\"d-inline-block link link--gray mt-auto py-md-2\"> Скачать для Windows </a>'}, {title: 'Quik X', logo: 'assets/img/quik-x.png', desc: 'Мобильное приложение, позволяющее совершать торговые операции с финансовыми инструментами.', content: '<div class=\"d-flex align-items-center flex-wrap mt-auto\"><a href=\"#\" class=\"d-flex align-items-center link link--gray mr-2 mr-lg-4\"><img src=\"assets/img/icon-apple.png\"><span class=\"d-none d-lg-block\"> для iOS </span></a><a href=\"#\" class=\"d-flex align-items-center link link--gray\"><img src=\"assets/img/icon-gplay.png\"><span class=\"d-none d-lg-block\"> для Android </span></a></div>'}]"
						)
				include ./partials/section_telegram.pug
				include ./partials/section_interesting.pug
				include ./partials/section_rating.pug
			include ./partials/footer.pug
		script(src="js/app.js")