<template>
    <div class="slider slider--application ">
        <div class="wrapper">
            <button class="btn btn--slider-blue slider__btn slider__btn--prev">
                <icon-chewron-down></icon-chewron-down>
            </button>
            <div class="swiper-container slider__container">
                <div class="swiper-wrapper slider__wrapper">
                    <div
                        v-for="(item, index) in slides"
                        :key="`slide_${index}`"
                        class="swiper-slide slider__slide"
                        >
                        <component v-bind:is="`icon-${item.icon}`"></component>
                        <h4 class="h4">
                            {{ item.title }}
                        </h4>
                        <p class="text text--md" v-html="item.caption"></p>
                    </div>
                </div>
            </div>
            <button class="btn btn--slider-blue slider__btn slider__btn--next">
                <icon-chewron-down></icon-chewron-down>
            </button>
        </div>
        <div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
    </div>
</template>

<script>

	import initSlider from '../../libs/slider.js';
	import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';
	import IconTop5 from '../icons/icon_files/IconTop5.vue';
	import IconTop20 from '../icons/icon_files/IconTop20.vue';
	import IconTop25 from '../icons/icon_files/IconTop25.vue';

	export default {
		name: 'AboutRatings',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            ratings: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown,
            IconTop5,
            IconTop20,
            IconTop25
		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.ratings,
				sliderRatings: null,
				sliderRatingsToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			enableSliderRatings(){
				let breakpoints = {};
				breakpoints[this.breakpoints['md']] = {
					slidesPerView: 2
				}
				this.sliderRatings = initSlider('.slider--application', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderRatings(){
				if( this.sliderRatings ){
					this.sliderRatings.destroy(true, true);
				}
			},
			initSliderRatings(){
				!this.sliderRatingsToggleBreakpoint.matches ? this.enableSliderRatings() : this.disableSliderRatings();
			},
            /*loadRatings(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.ratings;
                });
            }*/
		},
		mounted(){
            //loadRatings();
			this.sliderRatingsToggleBreakpoint = window.matchMedia(`(min-width:${this.breakpoints['lg']}px)`);
			this.sliderRatingsToggleBreakpoint.addListener( this.initSliderRatings );
			this.initSliderRatings();
		},
        beforeDestroy(){
            this.sliderRatingsToggleBreakpoint.removeListener( this.initSliderRatings );
        }
	}
</script>
