<template>
    <div class="control control--accordion">
        <div class="control__wrapper">
            <div
                v-for="(tab, index) in tabs"
                :key="`tab_${index}`"
                >
                <input
                    type="checkbox"
                    class="control__input"
                    :id="`auction-checkbox-${index}`">
                <label :for="`auction-checkbox-${index}`" class="control__label">
                    <div class="control__title">
                        <h4 class="h4 mb-0">
                            {{ tab.title }}
                        </h4>
                    </div>
                    <div class="control__indicator">
                        <icon-chewron-down></icon-chewron-down>
                    </div>
                </label>
                <div class="control__content">
                    <div v-html="tab.content"></div>
                    <div class="wrapper wrapper--box" v-if="tab.list">
                        <div
                            v-for="(list_item, list_item_index) in tab.list"
                            :key="`list_item_${index}_${list_item_index}`"
                            class="figure figure--box figure--box-service"
                            >
                            <a :href="list_item.link" class="text--lg link link--unset">
                                {{ list_item.title }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';

	export default {
		name: 'AuctionServices',
        props: {
            services: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                tabs: this.services
			}
		},
		computed: {

		},
		methods: {
            /*loadServices(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.tabs = resp.services;
                });
            }*/
		},
		mounted(){
            //loadServices();
		}
	}
</script>
