<template>
    <ul class="list list--procedures">
        <li
            v-for="(item, index) in items"
            :key="`items_${index}`"
            class="list__item"
            >
            {{ item }}
        </li>
    </ul>
</template>

<script>

	export default {
		name: 'AuctionProcedures',
        props: {
            procedures: {
                type: Array,
                default: () => ([])
            }
        },
		components: {

		},
		data(){
			return {
                items: this.procedures
			}
		},
		computed: {

		},
		methods: {
            /*loadProcedures(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.items = resp.procedures;
                });
            }*/
		},
		mounted(){
            //loadProcedures();
		}
	}
</script>
