<template>
    <div class="wrapper wrapper--tariffs">
        <div
            v-for="(item, index) in tariffsData"
            :key="`figure_${index}`"
            class="figure figure--box"
            >
            <div class="figure__header">
                <h4 class="h4">
                    {{ item.title }}
                </h4>
            </div>
            <div v-html="item.desc"></div>
        </div>
    </div>
</template>

<script>

	export default {
		name: 'BrokerTariffs',
        props: {
            tariffs: {
                type: Array,
                default: () => ([])
            }
        },
		components: {

		},
		data(){
			return {
                tariffsData: this.tariffs
			}
		},
		computed: {

		},
		methods: {
            /*loadTariffs(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.tariffsData = resp.tariffs;
                });
            }*/
		},
		mounted(){
            //loadTariffs();
		}
	}
</script>
