<template>
    <div class="slider slider--feedback">
        <div class="wrapper">
            <button class="btn btn--slider-blue slider__btn slider__btn--prev">
                <icon-chewron-down></icon-chewron-down>
            </button>
            <div class="swiper-container slider__container">
                <div class="swiper-wrapper slider__wrapper">
                    <div
                        v-for="(item, index) in slides"
                        :key="`slide_${index}`"
                        class="swiper-slide slider__slide"
                        >
                        <div class="person">
                            {{ item.name }}
                        </div>
                        <div v-html="item.text"></div>
                    </div>
                </div>
            </div>
            <button class="btn btn--slider-blue slider__btn slider__btn--next">
                <icon-chewron-down></icon-chewron-down>
            </button>
        </div>
        <div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
    </div>
</template>

<script>

	import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';
	import initSlider from '../../libs/slider.js';

	export default {
		name: 'ClientReviews',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            reviews: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.reviews
			}
		},
		computed: {

		},
		methods: {
			initSliderFeedback(){
				return initSlider('.slider--feedback', {
					loop: true,
					spaceBetween: 110,
					effect: 'coverflow',
					coverflowEffect: {
						rotate: 30,
						slideShadows: false
					}
				})[0];
			}
            /*loadReviews(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.reviews;
                });
            }*/
		},
		mounted(){
            //loadReviews();
            this.initSliderFeedback();
		}
	}
</script>
