<template>
    <el-dropdown>
        <template v-slot:activator>
            <div class="info info--adress">
                <icon-map-pin></icon-map-pin>
                <span class="info__content">
                    <a href="#">
                        {{ currentCityName }}
                    </a> и&nbsp;<a href="#">еще&nbsp;{{ citiesList.length - 1 }}</a> представительств по России
                </span>
            </div>
        </template>
        <template v-slot:header>
            <span class="text--primary">
                Выберите ваш город:
            </span>
        </template>
        <ul class="list list--dropdown text-nowrap">
            <li
                v-for="city in citiesList"
                :key="`city_${city.code}`"
                class="list__item"
                :class="{'list__item--active': city.code === currCityCode}"
                >
                <span v-if="city.code === currCityCode">
                    {{ currentCityName }}
                </span>
                <a
                    v-else
                    href="#"
                    class="link link--gray"
                    @click.prevent="changeCity(city)"
                    >
                    {{ city.name }}
                </a>
            </li>
        </ul>
    </el-dropdown>
</template>

<script>

    import { events } from "../../events.js";
    import ElDropdown from '../ElDropdown.vue';
    import IconMapPin from '../icons/icon_files/IconMapPin.vue';

	export default {
		name: 'DropdownCities',
        props: {
            cities: {
                type: Array,
                default: () => ([
                    {code: '495',   name: 'Москва'},
                    {code: '812',   name: 'Санкт-Петербург'},
                    {code: '3912',  name: 'Красноярск'},
                    {code: '8432',  name: 'Казань'},
                    {code: '3452',  name: 'Тюмень'},
                    {code: '8442',  name: 'Волгоград'},
                    {code: '3472',  name: 'Уфа'},
                    {code: '85569', name: 'Бавлы'},
                    {code: '84345', name: 'Нурлат'},
                    {code: '4872',  name: 'Тула'},
                    {code: '8553',  name: 'Альметьевск'},
                    {code: '85514', name: 'Бугульма'},
                    {code: '85557', name: 'Елабуга'}
                ])
            }
        },
		components: {
            ElDropdown,
            IconMapPin
		},
		data(){
			return {
                citiesList: this.cities,
                currCityCode: '495'
			}
		},
		computed: {
            currentCityName(){
                return this.citiesList.filter( city => city.code === this.currCityCode)[0].name;
            }
		},
		methods: {
            changeCity(city){
                this.currCityCode = city.code;
                this.$evbus.$emit(events.EV_APP_CHANGE_CITY, {code: city.code});
            }
            /*loadCities(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.citiesList = resp.data;
                });
            }*/
		},
		mounted(){
            //loadCities();
            this.$evbus.$on(events.EV_APP_CHANGE_CITY, (data) => {
                this.currCityCode = data.code;
            });
		}
	}
</script>
