<template>
    <div class="slider slider--boxes">
        <div class="swiper-container slider__container">
            <div class="swiper-wrapper slider__wrapper">
                <div
                    v-for="(item, index) in slides"
                    :key="`slide_${index}`"
                    class="swiper-slide slider__slide"
                    >
                    <div class="figure figure--box">
                        <div class="figure__header">
                            <h4 class="text--lg font-weight-normal">
                                {{ item.title }}
                            </h4>
                        </div>
                        <p class="text">
                            {{ item.caption }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination slider__pagination"></div>
        </div>
    </div>
</template>

<script>

    import initSlider from '../../libs/slider.js';

	export default {
		name: 'EvaluationServices',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            services: {
                type: Array,
                default: () => ([])
            }
        },
		components: {

		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.services,
				sliderServices: null,
                sliderServicesToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			enableSliderServices(){
				this.sliderServices = initSlider('.slider--boxes', {
					effect: 'coverflow',
					coverflowEffect: {
						rotate: 30,
						slideShadows: false
					},
					loop: true
				});
			},
			disableSliderServices(){
				if( this.sliderServices ){
					this.sliderServices.map( slider => {
						slider.destroy(true, true);
					});
				}
			},
			initSliderServices(){
				!this.sliderServicesToggleBreakpoint.matches ? this.enableSliderServices() : this.disableSliderServices();
            },
            /*loadServices(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.services;
                });
            }*/
		},
		mounted(){
            //loadServices();
			this.sliderServicesToggleBreakpoint = window.matchMedia(`(min-width:${this.breakpoints['md']}px)`);
			this.sliderServicesToggleBreakpoint.addListener( this.initSliderServices );
            this.initSliderServices();
		},
		beforeDestroy(){
			this.sliderServicesToggleBreakpoint.removeListener( this.initSliderServices );
		}
	}
</script>
