<template>
    <div class="slider slider--clients">
        <div class="wrapper">
            <button class="btn btn--slider-blue slider__btn slider__btn--prev">
                <icon-chewron-down></icon-chewron-down>
            </button>
            <div class="swiper-container slider__container">
                <div class="swiper-wrapper slider__wrapper">
                    <div
                        v-for="(src, index) in slides"
                        :key="`slide_${index}`"
                        class="swiper-slide slider__slide"
                        >
                        <img :src="src">
                    </div>
                </div>
            </div>
            <button class="btn btn--slider-blue slider__btn slider__btn--next">
                <icon-chewron-down></icon-chewron-down>
            </button>
        </div>
        <div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
    </div>
</template>

<script>

    import initSlider from '../../libs/slider.js';
    import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';

	export default {
		name: 'EvaluationClienst',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            clients: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.clients
			}
		},
		computed: {

		},
		methods: {
            initSliderClients(){
				let breakpoints = {};
				breakpoints[this.breakpoints['md']] = {
					slidesPerView: 2,
					spaceBetween: 40
                }
				breakpoints[this.breakpoints['lg']] = {
					slidesPerView: 3,
					spaceBetween: 40
				}
                return initSlider('.slider--clients', {
                    loop: false,
					spaceBetween: 40,
					breakpoints: breakpoints
				})[0];
            }
            /*loadClienst(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.clients;
                });
            }*/
		},
		mounted(){
            //loadClienst();
            this.initSliderClients();
		}
	}
</script>
