<template>
    <div class="slider slider--license">
        <div class="wrapper">
            <button class="btn btn--slider slider__btn slider__btn--prev">
                <icon-chewron-down></icon-chewron-down>
            </button>
            <div class="swiper-container slider__container">
                <div class="swiper-wrapper slider__wrapper">
                    <div
                        v-for="(item, index) in slides"
                        :key="`slide_${index}`"
                        class="swiper-slide slider__slide"
                        @click="openPopup('gallery', {src: item.picFull, caption: item.title})"
                        >
                        <div class="bg__pic">
                            <img :src="item.picMin" v-background-image>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn--slider slider__btn slider__btn--next">
                <icon-chewron-down></icon-chewron-down>
            </button>
        </div>
        <div class="swiper-pagination slider__pagination"></div>
    </div>
</template>

<script>


	import { events } from "../../events";
    import initSlider from '../../libs/slider.js';
    import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';

	export default {
		name: 'EvaluationLicenses',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            licenses: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.licenses
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
            initSliderLicense(){
				let breakpoints = {};
				breakpoints[this.breakpoints['md']] = {
					slidesPerView: 2,
					spaceBetween: 40
                }
				breakpoints[this.breakpoints['lg']] = {
					slidesPerView: 3,
					spaceBetween: 40
				}
                return initSlider('.slider--license', {
                    loop: false,
					spaceBetween: 40,
					breakpoints: breakpoints
				})[0];
			},
            /*loadLicenses(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.licenses;
                });
            }*/
		},
		mounted(){
            //loadLicenses();
            this.initSliderLicense();
		}
	}
</script>
