<template>
    <div class="wrapper wrapper--specialist">
        <div
            v-for="(item, index) in items"
            :key="`item_${index}`"
            class="figure--specialist"
            >
            <h4 class="person__name h4 text--primary">
                <span class="text">
                    {{ item.name }}
                </span>
                <span class="person__role">
                    {{ item.role }}
                </span>
            </h4>
            <div class="wrapper">
                <img class="person__pic" :src="item.pic" :alt="item.name">
                <div class="person__info">
                    {{ item.info }}
                    <div class="wrapper">
                        <span class="text--bold">
                            Стаж работы
                        </span>
                        <span class="text--accented">
                            {{ item.experience }} лет
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

	export default {
		name: 'EvaluationSpecialists',
        props: {
            specialists: {
                type: Array,
                default: () => ([])
            }
        },
		components: {

		},
		data(){
			return {
                items: this.specialists
			}
		},
		computed: {

		},
		methods: {
            /*loadSpecialists(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.items = resp.specialists;
                });
            }*/
		},
		mounted(){
            //loadSpecialists();
		}
	}
</script>
