<template>
    <div class="slider slider--press">
        <div class="swiper-container slider__container">
            <div class="swiper-wrapper slider__wrapper">
                <div
                    v-for="(item, index) in slides"
                    :key="`slide_${index}`"
                    class="swiper-slide slider__slide"
                    >
                    <div class="figure figure--press">
                        <a class="text--lg" :href="item.link">
                            {{ item.title }}
                        </a>
                        <time class="text text--sm">
                            {{ item.date }}
                        </time>
                        <p class="text text--md">
                            {{ item.caption }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination slider__pagination"></div>
        </div>
    </div>
</template>

<script>

	import initSlider from '../../libs/slider.js';

	export default {
		name: 'FrontPress',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            press: {
                type: Array,
                default: () => ([])
            }
        },
		components: {

		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.press,
				sliderPress: null,
				sliderPressToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			disableSliderPress(){
				if( this.sliderPress ){
					this.sliderPress.destroy(true, true);
				}
			},
			enableSliderPress(){
				let breakpoints = {};
				breakpoints[this.breakpoints['md']] = {
					slidesPerView: 3
				}
				this.sliderPress = initSlider('.slider--press', {
					breakpoints: breakpoints,
					navigation: false
				})[0];
			},
			initSliderPress(){
				!this.sliderPressToggleBreakpoint.matches ? this.enableSliderPress() : this.disableSliderPress();
			}
            /*loadPress(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.press;
                });
            }*/
		},
		mounted(){
            //loadPress();
			this.sliderPressToggleBreakpoint = window.matchMedia(`(min-width:${this.breakpoints['lg']}px)`);
			this.sliderPressToggleBreakpoint.addListener( this.initSliderPress );
			this.initSliderPress();
		},
		beforeDestroy(){
			this.sliderPressToggleBreakpoint.removeListener( this.initSliderPress );
		}
	}
</script>
