<template>
    <div class="slider slider--front">
        <div class="swiper-container slider__container">
            <button class="btn btn--slider slider__btn slider__btn--prev">
                <icon-chewron-down></icon-chewron-down>
            </button>
            <div class="swiper-wrapper slider__wrapper">
                <div
                    v-for="(slide, index) in slides"
                    :key="`slide_${index}`"
                    class="swiper-slide slider__slide"
                    >
                    <div class="bg__pic" :style="getSlideBgStyle(slide)"></div>
                    <div class="page__wrapper">
                        <h1 class="h2" v-html="slide.title"></h1>
                        <h2 class="h4" v-html="slide.caption"></h2>
                        <a :href="slide.link" class="btn btn--primary btn--lg">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <button class="btn btn--slider slider__btn slider__btn--next">
                <icon-chewron-down></icon-chewron-down>
            </button>
            <div class="swiper-pagination slider__pagination slider__pagination--inverse"></div>
        </div>
    </div>
</template>

<script>

    import breakpointsMixin from '../../mixins/breakpointsMixin.js';
    import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';
    import initSlider from '../../libs/slider.js';

	export default {
		name: 'FrontBanners',
		mixins: [
			breakpointsMixin
        ],
        props: {
            banners: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                slides: this.banners
			}
		},
		computed: {

		},
		methods: {
            getSlideBgStyle(slide){
                let url = !slide.bg.xs ? slide.bg : slide.bg[this.currentBreakpointKey];
                return `background-image: url(${url})`;
            },
			initSliderFront(){
				return initSlider('.slider--front', {
					effect: 'coverflow',
					coverflowEffect: {
						rotate: 30,
						slideShadows: false
					}
				})[0];
			},
            /*loadBanners(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.banners;
                });
            }*/
		},
		mounted(){
            //loadBanners();
            this.initSliderFront();
		},
        beforeDestroy(){

        }
	}
</script>
