<template>
    <div class="slider slider--stocks">
        <button class="btn btn--slider slider__btn slider__btn--prev">
            <icon-chewron-down></icon-chewron-down>
        </button>
        <div class="swiper-container slider__container">
            <div class="swiper-wrapper slider__wrapper">
                <div
                    v-for="(item, index) in slides"
                    :key="`slide_${index}`"
                    class="swiper-slide slider__slide"
                    >
                    <el-figure-stock
                        :company-title="item.companyTitle"
                        :company-slug="item.companySlug"
                        :text-normal="item.textNormal"
                        :text-accented="item.textAccented"
                        :text-bold="item.textBold"
                        :link="item.link"
                        :logo="item.logo"
                        :badge="item.badge"
                        :badgeClass="item.badgeClass"
                        >
                    </el-figure-stock>
                </div>
            </div>
        </div>
        <button class="btn btn--slider slider__btn slider__btn--next">
            <icon-chewron-down></icon-chewron-down>
        </button>
        <div class="swiper-pagination slider__pagination"></div>
    </div>
</template>

<script>

	import initSlider from '../../libs/slider.js';
    import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';
    import ElFigureStock from '../ElFigureStock.vue';

	export default {
		name: 'FrontAnalitics',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            analitics: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown,
            ElFigureStock
		},
		data(){
			return {
                slides: this.analitics,
                breakpoints: this.initialBreakpoints
			}
		},
		computed: {

		},
		methods: {
			initSliderStocks(){
				let breakpoints = {};
				breakpoints[this.breakpoints['md']] = {
					slidesPerView: 3,
					spaceBetween: 0
				}
				return initSlider('.slider--stocks', {
					spaceBetween: 10,
					breakpoints: breakpoints
				})[0];
			},
            /*loadanalitics(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.analitics;
                });
            }*/
		},
		mounted(){
            //loadanalitics();
            this.initSliderStocks();
		}
	}
</script>
