<template>
    <div class="wrapper wrapper--goals">
        <div
            v-for="(item, index) in strategiesItems"
            :key="`strategies_${index}`"
            class="figure figure--goal"
            :class="item.class"
            >
            <div class="wrapper" @click="toggleFigureVisibility">
                <h3 class="h3" v-html="item.title"></h3>
                <button class="btn btn--action btn--action-min">
                    <icon-chewron-down></icon-chewron-down>
                </button>
            </div>
            <ul class="list list--goal text--lg">
                <li
                    v-for="(list__item, li_index) in item.list"
                    :key="`list__item_${index}_${li_index}`"
                    class="list__item"
                    >
                    <a :href="list__item.link" class="link" v-html="list__item.text">
                        Стратегия <br class="d-none d-lg-block">«Российские акции»
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

    import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';

	export default {
		name: 'FrontStrategies',
        props: {
            strategies: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                strategiesItems: this.strategies
			}
		},
		computed: {

		},
		methods: {
			toggleFigureVisibility(evt){
				evt.target.closest('.figure').classList.toggle('figure--visible');
			}
            /*loadStrategies(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.strategiesItems = resp.strategies;
                });
            }*/
		},
		mounted(){
            //loadStrategies();
		}
	}
</script>
