<template>
    <div class="wrapper wrapper--gallery">
        <div
            v-for="(item, index) in items"
            :key="`item_${index}`"
            class="figure figure--gallery"
            @click="openPopup('gallery', {src: item.picFull, caption: item.title})"
            >
            <div class="bg__pic">
                <img :src="item.picMin" :alt="item.title" v-background-image>
            </div>
            <h4 class="h4">
                {{ item.title }}
            </h4>
        </div>
    </div>
</template>

<script>

	import { events } from "../../events";

	export default {
		name: 'Gallery',
        props: {
            gallery: {
                type: Array,
                default: () => ([])
            }
        },
		components: {

		},
		data(){
			return {
                items: this.gallery
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
            /*loadGallery(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.items = resp.gallery;
                });
            }*/
		},
		mounted(){
            //loadGallery();
		}
	}
</script>
