<template>
    <div class="wrapper wrapper--reviews">
        <article
            v-for="(item, index) in items"
            :key="`item_${index}`"
            class="article article--review"
            >
            <span class="article__pic">
                <img :src="item.pic" v-background-image>
            </span>
            <a :href="item.link" class="h4 article__title">
                {{ item.title }}
            </a>
            <span class="article__category" v-if="item.category">
                {{ item.category }}
            </span>
            <div class="article__date" v-if="item.date">
                {{ item.date }}
            </div>
        </article>
    </div>
</template>

<script>

	export default {
		name: 'MarketsMedia',
        props: {
            media: {
                type: Array,
                default: () => ([])
            }
        },
		components: {

		},
		data(){
			return {
                items: this.media
			}
		},
		computed: {

		},
		methods: {
            /*loadMedia(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.items = resp.media;
                });
            }*/
		},
		mounted(){
            //loadMedia();
		}
	}
</script>
