<template>
	<div class="wrapper wrapper--idu">
		<div class="wrapper">
			<div v-html="person.text"></div>
			<button class="btn btn--primary btn--lg w-100 w-md-auto" @click="openPopup('ask-question')">
				Задать вопрос
			</button>
		</div>
		<div class="person mt-auto">
			<img :src="person.pic" :alt="person.name" class="person__pic">
			<div class="person__info">
				<div class="person__name h4">
					{{ person.name }},
				</div>
				<div class="person__role">
					{{ person.role }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>

		import { events } from "../../events";

	export default {
		name: 'MarketsPerson',
		props: {
			data: {
				type: Object,
				default: () => ({})
			}
		},
		components: {

		},
		data(){
			return {
				person: this.data
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
			/*loadData(){
				fetch('url', {
					method: 'GET',
				}).then(resp =>{
					this.person = resp.data;
				});
			}*/
		},
		mounted(){
			//loadData();
		}
	}
</script>
