<template>
    <div>
        <ul class="list list--tabs-horizontal d-none d-lg-inline-flex mb-5">
            <li
                v-for="(tab, key) in tabs"
                :key="`list_item_${key}`"
                class="list__item"
                :class="{'list__item--active': currentTabKey === key}"
                @click="loadTabContent(key)"
                >
                {{ tab }}
            </li>
        </ul>
        <div class="control control--select d-lg-none mb-5">
            <select
                class="control__input"
                v-model="currentTabKey"
                @change="loadTabContent(currentTabKey)"
                >
                <option
                    v-for="(tab, key) in tabs"
                    :key="`option_${key}`"
                    :value="key"
                    >
                    {{ tab }}
                </option>
            </select>
        </div>
        <div class="wrapper">
            <div class="wrapper wrapper--press-center">
                <el-review
                    class="article--press"
                    v-for="(item, index) in tabsContent[currentTabKey]"
                    :key="`company_item_${index}`"
                    :lead="index === 0"
                    v-bind="item"
                    >
                </el-review>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn--primary btn--lg w-100 w-md-auto" @click="loadMore">
                Показать еще
            </button>
        </div>
    </div>
</template>

<script>

	let exampleData = {
        company: [
			{
				title: 'ИФК «Солид» — победитель в 4 номинациях премии Cbonds Awards-2020',
				date: 'Июль 22, 2020',
				excerpt: '<p> Управление инвестиционно-банковских услуг ИФК «Солид», возглавляемое Андреем Бушем, стало победителем сразу в четырех номинациях премии Cbonds Awards – 2020 <br> Вручение наград традиционно состоялось в рамках XVIII Российского облигационного конгресса в Санкт- Петербурге. </p> <p> По мнению участников голосования, ИФК «Солид» стали лучшими организаторами  дебютного выпуска лесопромышленного холдинга «Группа компаний Сегежа» серии 001P-01R на 10 млрд рублей - номинация лучшая сделка первичного размещения в нефинансовом секторе. </p>',
                btnText: 'Читать далее',
				link: 'single-press'
			},
			{
				title: 'ИФК "Солид" удерживает лидерские позиции',
				date: 'Июль 22, 2020',
				excerpt: 'По итогам 9 месяцев ИФК "Солид" удерживает второе место в рэнкинге организаторов российских облигаций high-yield.',
                btnText: 'Читать далее',
				link: 'single-press'
			},
			{
				title: 'О работе офисов в республике Татарстан 6 ноября',
				date: 'Июль 22, 2020',
				excerpt: 'Уважаемые клиенты! В связи с празднованием Дня Конституции республики Татарстан 6 ноября не работают офисы АО ИФК "Солид" в городах Казань, Альметьевск...',
                btnText: 'Читать далее',
				link: 'single-press'
			},
			{
				title: 'Об утверждении новых редакций внутренних нормативных документов, регулирующих взаимодействие с Клиентами при оказании услуг на финансовых рынках',
				date: 'Июль 22, 2020',
				excerpt: 'Приказом АО ИФК «Солид» от 16.11.2020 № 205 с 01.01.2021 вводятся в документооборот с Клиентами новые редакции документов...',
                btnText: 'Читать далее',
				link: 'single-press'
			}
        ],
        depositary: [],
        media: [],
        corporate: []
	}

	for (let index = 0; index < 3; index++) {
		exampleData.company.push(exampleData.company[index%3 + 1]);
	}
    exampleData.depositary = JSON.parse( JSON.stringify(exampleData.company) );
    exampleData.depositary.sort(() => Math.random() - 0.5);
    exampleData.media = JSON.parse( JSON.stringify(exampleData.company) );
    exampleData.media.sort(() => Math.random() - 0.5);
    exampleData.corporate = JSON.parse( JSON.stringify(exampleData.company) );
    exampleData.corporate.sort(() => Math.random() - 0.5);

	import ElReview from '../ElReview.vue';

	export default {
		name: 'PressCenters',
        props: {

        },
		components: {
            ElReview
		},
		data(){
			return {
				tabs: {
					company: 'Новости компании',
					depositary: 'Новости депозитария' ,
					media: 'Мы в СМИ' ,
					corporate: 'Корпоративные действия эмитентов'
				},
				tabsContent: {
					company: [],
					depositary: [],
					media: [],
					corporate: []
				},
				currentTabKey: 'company'
			}
		},
		computed: {

		},
		methods: {
			loadMore(){
                /*fetch(`url_${this.currentTabKey}&page=2`, {
                    method: 'GET',
                }).then(resp =>{
                    this.tabsContent[this.currentTabKey].push(resp.items);
                });	*/
			},
			loadTabContent(key){
				this.currentTabKey = key;
                /*fetch(`url_${this.currentTabKey}`, {
                    method: 'GET',
                }).then(resp =>{
                    this.tabsContent[this.currentTabKey] = resp.items;
                });	*/
				this.tabsContent[this.currentTabKey] = exampleData[this.currentTabKey];
			}
		},
		mounted(){
            this.loadTabContent('company');
		}
	}
</script>
