<template>
    <div class="slider slider--team">
        <button class="btn btn--slider slider__btn slider__btn--prev">
            <icon-chewron-down></icon-chewron-down>
        </button>
        <div class="swiper-container slider__container">
            <div class="swiper-wrapper slider__wrapper">
                <div
                    v-for="(item, index) in slides"
                    :key="`slide_${index}`"
                    class="swiper-slide slider__slide"
                    >
                    <div class="figure--person">
                        <h4 class="person__name h4 text--primary">
                            <span class="text">
                                {{ item.name }},
                            </span>
                            <span class="person__role">
                                {{ item.role }}
                            </span>
                        </h4>
                        <div class="wrapper">
                            <p class="person__info text--md">
                                {{ item.info }}
                            </p>
                            <img class="person__pic" :src="item.pic" :alt="item.name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination slider__pagination"></div>
        </div>
        <button class="btn btn--slider slider__btn slider__btn--next">
            <icon-chewron-down></icon-chewron-down>
        </button>
    </div>
</template>

<script>

    import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';
    import initSlider from '../../libs/slider.js';

	export default {
		name: 'ProfessionalTeam',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            team: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.team
			}
		},
		computed: {

		},
		methods: {
			initSliderTeam(){
				let breakpoints = {};
				breakpoints[this.breakpoints['md']] = {
					slidesPerView: 2,
					coverflowEffect: {
						rotate: 0,
						depth: 0
					}
				}
				breakpoints[this.breakpoints['lg']] = {
					slidesPerView: 1,
					coverflowEffect: {
						rotate: 30,
						depth: 100
					}
				}
				return initSlider('.slider--team', {
					loop: true,
					breakpoints: breakpoints,
					effect: 'coverflow',
					coverflowEffect: {
						rotate: 30,
						slideShadows: false
					}
				})[0];
			}
            /*loadTeam(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.team;
                });
            }*/
		},
		mounted(){
            //loadTeam();
            this.initSliderTeam();
		}
	}
</script>
