<template>
    <ul class="menu">
        <li
            class="menu__item"
            v-for="(item, index) in menuItems"
            :key="`menu_item_${index}`"
            :class="{'menu__item--active': item.current}"
            >
            <div class="nav__item">
                <a class="link" :href="item.link">
                    {{ item.title }}
                </a>
                <button
                    class="btn btn--action btn--action-min"
                    @click="toggleSubMenu"
                    aria-label="Открыть/Скрыть подменю"
                    v-if="item.inner">
                    <icon-chewron-down></icon-chewron-down>
                </button>
            </div>
            <ul class="menu" v-if="item.inner">
                <li
                    class="menu__item"
                    v-for="(item_inner, index_inner) in item.inner"
                    :key="`menu_item_inner_${index_inner}`"
                    :class="{'menu__item--active': item_inner.current}"
                    >
                    <div class="nav__item">
                        <a class="link" :href="item_inner.link">
                            {{ item_inner.title }}
                        </a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</template>

<script>

    import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';

	export default {
		name: 'SiteMenu',
        props: {
            menu: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                menuItems: this.menu
			}
		},
		computed: {

		},
		methods: {
			toggleSubMenu(evt){
				evt.target.closest('.menu__item').classList.toggle('menu__item--open');
			}
            /*loadMenu(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.menuItems = resp.menu;
                });
            }*/
		},
		mounted(){
            //loadMenu();
		}
	}
</script>
