<template>
    <div class="wrapper">
        <a
            v-for="(item, index) in socItems"
            :key="`socials_${index}`"
            class="link link--gray" target="_blank"
            :href="item.link"
            :name="item.name"
            >
            <component v-bind:is="`icon-${item.icon}`"></component>
        </a>
    </div>
</template>

<script>

	import IconFacebook from '../icons/icon_files/IconFacebook.vue';
	import IconTelegram from '../icons/icon_files/IconTelegram.vue';
	import IconInstagram from '../icons/icon_files/IconInstagram.vue';
	import IconVkontakte from '../icons/icon_files/IconVkontakte.vue';
	import IconYoutube from '../icons/icon_files/IconYoutube.vue';

	export default {
		name: 'SiteSocials',
        props: {
            socials: {
                type: Array,
                default: () => ([
                    { name: 'Facebook',     icon: 'facebook',   link: 'https://www.facebook.com/solidbroker' },
                    { name: 'Telegram',     icon: 'telegram',   link: 'https://tele.click/SolidPro' },
                    { name: 'Instagram',    icon: 'instagram',  link: 'https://www.instagram.com/solid.broker/' },
                    { name: 'Вконтакте',    icon: 'vkontakte',  link: 'https://vk.com/solidbroker' },
                    { name: 'Youtube',      icon: 'youtube',    link: 'https://www.youtube.com/user/solidifc/featured' }
                ])
            }
        },
		components: {
            IconFacebook,
            IconTelegram,
            IconInstagram,
            IconVkontakte,
            IconYoutube
		},
		data(){
			return {
                socItems: this.socials
			}
		},
		computed: {

		},
		methods: {
            /*loadSocials(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.socItems = resp.socials;
                });
            }*/
		},
		mounted(){
            //loadSocials();
		}
	}
</script>
