<template>
    <div class="slider slider--rating mb-0 mt-4">
        <div class="wrapper">
            <button class="btn btn--slider slider__btn slider__btn--prev">
                <icon-chewron-down></icon-chewron-down>
            </button>
            <div class="swiper-container slider__container">
                <div class="swiper-wrapper slider__wrapper">
                    <div
                        v-for="(item, index) in slides"
                        :key="`slide_${index}`"
                        class="swiper-slide slider__slide"
                        >
                        <div class="wrapper" v-html="item"></div>
                    </div>
                </div>
            </div>
            <button class="btn btn--slider slider__btn slider__btn--next">
                <icon-chewron-down></icon-chewron-down>
            </button>
        </div>
        <div class="swiper-pagination slider__pagination"></div>
    </div>
</template>

<script>

	import initSlider from '../../libs/slider.js';
    import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';

	export default {
		name: 'StrategyConditions',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            conditions: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.conditions,
				sliderConditions: null,
				sliderConditionsToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			enableSliderConditions(){
				let breakpoints = {};
				breakpoints[this.breakpoints['md']] = {
					slidesPerView: 2
				}
				this.sliderConditions = initSlider('.slider--rating', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderConditions(){
				if( this.sliderConditions ){
					this.sliderConditions.destroy(true, true);
				}
			},
			initSliderConditions(){
				!this.sliderConditionsToggleBreakpoint.matches ? this.enableSliderConditions() : this.disableSliderConditions();
			},
            /*loadConditions(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.conditions;
                });
            }*/
		},
		mounted(){
            //loadConditions();
			this.sliderConditionsToggleBreakpoint = window.matchMedia(`(min-width:${this.breakpoints['lg']}px)`);
			this.sliderConditionsToggleBreakpoint.addListener( this.initSliderConditions );
			this.initSliderConditions();
		},
		beforeDestroy(){
			this.sliderConditionsToggleBreakpoint.removeListener( this.initSliderConditions );
		}
	}
</script>
