<template>
    <div>
        <div class="control control--select d-lg-none mb-3">
            <select
                class="control__input"
                v-model="currentPeriod"
                @change="zoomToPeriod(currentPeriod)"
                >
                <option
                    v-for="period in periods"
                    :key="`period_opt_${period.id}`"
                    :value="period.id"
                    >
                    {{ period.label }}
                </option>
            </select>
        </div>
        <ul class="list list--chart d-none d-lg-flex">
            <li
                v-for="period in periods"
                :key="`period_${period.id}`"
                class="list__item"
                :class="{'list__item--active': currentPeriod === period.id}"
                @click="zoomToPeriod(period.id)"
                >
                {{ period.label }}
            </li>
        </ul>
        <div class="wrapper--chart">
            <div class="wrapper__content" ref="chart"></div>
        </div>
    </div>
</template>

<script>

    import { exampleData, initChart } from '../../libs/chart.js';

	let periods = [
		{
			id: 'from_start',
			label: 'C момента основания'
		},
		{
			id: 'last_3_years',
			label: 'Последние 3 года'
		},
		{
			id: 'last_1_year',
			label: 'Последний год'
		},
		{
			id: 'from_1_january',
			label: 'С начала года'
		},
		{
			id: 'last_6_month',
			label: 'Последние полгода'
		},
		{
			id: 'last_month',
			label: 'Последний месяц'
		},
	]

	export default {
		name: 'StrategyChart',
		components: {

		},
		props: {
            id: {
                type: String,
                default: ''
            }
		},
		data(){
			return {
				chart: null,
				periods: periods,
				currentPeriod: periods[0].id,
                strategyId: this.id
			}
		},
		computed: {

		},
		methods: {
			zoomToPeriod(periodId){

				let dateAxis = this.chart._xAxes.getIndex(0),
					today = new Date(),
					startDate = new Date(2019, 0, 2),
					endDate = today,
					day = 1000*60*60*24;

				switch (periodId) {
					case 'from_start':
						startDate = new Date( this.chart.data[0].date );
					break;
					case 'last_3_years':
						startDate = new Date() - day*30*12*3;
					break;
					case 'last_1_year':
						startDate = new Date() - day*30*12;
					break;
					case 'from_1_january':
						startDate = new Date( today.getFullYear(), 0, 1 );
					break;
					case 'last_6_month':
						startDate = new Date() - day*30*6;
					break;
					case 'last_month':
						startDate = new Date() - day*30;
					break;
					default:
						break;
				}
				dateAxis.zoomToDates(startDate, endDate);
				this.currentPeriod = periodId;
			},
            loadChartData(){
                /*fetch('url_with_chart_data', {
                    method: 'POST',
                    body: {
                        id: this.strategyId
                    },
                }).then(resp =>{
                    let chartData = JSON.parse(resp.data);
                    this.chart = initChart(this.$refs.chart, chartData);
                });*/
                let chartData = exampleData;
                this.chart = initChart(this.$refs.chart, chartData);
            }
		},
		mounted(){
			this.loadChartData();
        },
		beforeDestroy() {
			if (this.chart) {
				this.chart.dispose();
			}
		}
	}
</script>
