<template>
    <div class="d-flex flex-column align-items-center flex-md-row">
        <div class="wrapper mr-auto mr-md-4">
            <h1 class="h2 mw-100">
                {{ strategyData.title }}
            </h1>
            <h2 class="h4 mw-100" v-html="strategyData.caption"></h2>
            <button class="btn btn--primary btn--lg d-none d-md-flex" @click="openPopup('backcall')">
                Отправить заявку
            </button>
        </div>
        <el-widget-pie :percent="strategyData.percent" class="mb-4 mb-md-0 ml-md-auto">
            <p class="text text--bold">
                {{ percentLabel }}
            </p>
            <p class="text">
                {{ strategyData.percentCaption }}
            </p>
        </el-widget-pie>
        <button class="btn btn--primary btn--lg mb-0 d-md-none" @click="openPopup('backcall')">
            Отправить заявку
        </button>
    </div>
</template>

<script>

	import { events } from "../../events";
	import ElWidgetPie from '../ElWidgetPie.vue';

	export default {
		name: 'StrategyBanner',
        props: {
            strategy: {
                type: Object,
                required: true
            }
        },
		components: {
			ElWidgetPie
		},
		data(){
			return {
                strategyData: this.strategy
			}
		},
		computed: {
            percentLabel(){
                return `+${this.strategyData.percent.toString().replace('.',',')}%`
            }
		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
            /*loadStrategy(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.strategyData = resp.strategy;
                });
            }*/
		},
		mounted(){
            //loadStrategy();
		}
	}
</script>
