<template>
    <div class="slider slider--examples">
        <div class="wrapper">
            <button class="btn btn--slider slider__btn slider__btn--prev">
                <icon-chewron-down></icon-chewron-down>
            </button>
            <div class="swiper-container slider__container">
                <div class="swiper-wrapper slider__wrapper">
                    <div
                        class="swiper-slide slider__slide"
                        v-for="(item, index) in slides"
                        :key="`slide_${index}`"
                        >
                        <div class="figure figure--box">
                            <div class="figure__header">
                                <h3 class="h3 mr-lg-3">
                                    {{ item.title }}
                                </h3>
                                <a :href="item.link" class="btn btn--secondary d-none d-lg-inline-flex">
                                    Обзор
                                </a>
                            </div>
                            <div class="wrapper wrapper--example">
                                <div class="wrapper">
                                    <div class="mb-4">
                                        <div class="text--primary h2 mb-1">
                                            {{ item.percent }}
                                        </div>
                                        <div class="text--md font-weight-bold">
                                            {{ item.percentCaption }}
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="text--md font-weight-bold mb-1">
                                            Тип стратегии
                                        </div>
                                        <div class="text--lg">
                                            {{ item.type }}
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <div class="text--md font-weight-bold mb-1">
                                            Уровень риска:
                                        </div>
                                        <div class="text--lg">
                                            {{ item.risk }}
                                        </div>
                                    </div>
                                    <div class="d-block">
                                        <div class="text--md font-weight-bold mb-1">
                                            Валюта:
                                        </div>
                                        <div class="text--lg">
                                            {{ item.currency }}
                                        </div>
                                    </div>
                                </div>
                                <div class="figure">
                                    <div class="wrapper--chart">
                                        <div class="wrapper__content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn--slider slider__btn slider__btn--next">
                <icon-chewron-down></icon-chewron-down>
            </button>
        </div>
        <div class="swiper-pagination slider__pagination slider__pagination--primary"></div>
    </div>
</template>

<script>

    import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';
    import initSlider from '../../libs/slider.js';
    import { initChart, exampleData } from '../../libs/chart.js';

export default {
		name: 'StrategyExamples',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            examples: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.examples,
                charts: []
			}
		},
		computed: {

		},
		methods: {
			initSliderExamples(){
				let breakpoints = {},
                    _this = this;
				breakpoints[this.breakpoints['md']] = {
					slidesPerView: 2,
					spaceBetween: 0,
					coverflowEffect: {
						rotate: 0,
						depth: 0
					}
				}
				breakpoints[this.breakpoints['lg']] = {
					slidesPerView: 1,
					spaceBetween: 100,
					coverflowEffect: {
						rotate: 30,
						depth: 100
					}
				}
				return initSlider('.slider--examples', {
					allowTouchMove: false,
					breakpoints: breakpoints,
					spaceBetween: 30,
					effect: 'coverflow',
					coverflowEffect: {
						rotate: 30,
						slideShadows: false
					},
                    on: {
                        slideChangeTransitionEnd: function(swiper){
                            _this.$nextTick( () => {
                                _this.charts[swiper.activeIndex].svgContainer.measure();
                            });
                        }
                    }
				})[0];
			},
			initSliderCharts(){
                this.slides.map( (slide, index) => {
                    let elem = document.querySelectorAll(`.wrapper--chart > .wrapper__content`)[index];
                    /*fetch('url_with_chart_data', {
                        method: 'GET',
                    }).then(resp =>{
                        let chartData = JSON.parse(resp.data);
                        this.charts.push( initChart(elem, chartData) );
                    });*/
                    let chartData = exampleData;
                    this.charts.push( initChart(elem, chartData) );
                })
			},
			destroySliderCharts(){
				if (this.charts.length) {
					this.charts.map( chart => {
						chart.dispose();
					});
				}
				this.charts = [];
			},
            /*loadExamples(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.examples;
                });
            }*/
		},
		mounted(){
            //loadExamples();
			this.initSliderExamples();
			this.initSliderCharts();
		},
		beforeDestroy() {
			this.destroySliderCharts();
		}
	}
</script>
