<template>
    <div class="d-md-flex align-items-start">
        <div class="wrapper mr-5" v-html="strategyData.description"></div>
        <div class="wrapper">
            <div class="figure figure--compare mb-5 flex-grow-1">
                <p class="text--lg mb-2">
                    Тип стратегии:
                </p>
                <p class="h3 text--primary text--bold mb-4">
                    {{ strategyData.type }}
                </p>
                <p class="text--lg mb-2">
                    Уровень риска:
                </p>
                <p class="h3 text--primary text--bold mb-4">
                    {{ strategyData.risk }}
                </p>
                <p class="text--lg mb-2">
                    Валюта:
                </p>
                <p class="h3 text--primary text--bold mb-0">
                    {{ strategyData.currency }}
                </p>
            </div>
            <button class="btn btn--lg btn--primary" @click="openPopup('ask-question')">
                Задать вопрос
            </button>
        </div>
    </div>
</template>

<script>

	import { events } from "../../events";

	export default {
		name: 'StrategyDescription',
        props: {
            strategy: {
                type: Object,
                default: () => ({})
            }
        },
		components: {

		},
		data(){
			return {
                strategyData: this.strategy
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
            /*loadStrategy(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.strategyData = resp.strategy;
                });
            }*/
		},
		mounted(){
            //loadStrategy();
		}
	}
</script>
