<template>
    <div class="slider slider--application mb-0 mt-4">
        <div class="wrapper">
            <button class="btn btn--slider-blue slider__btn slider__btn--prev">
                <icon-chewron-down></icon-chewron-down>
            </button>
            <div class="swiper-container slider__container">
                <ul class="swiper-wrapper slider__wrapper list list--steps-strategy">
                    <li
                        v-for="(item, index) in slides"
                        :key="`slide_${index}`"
                        class="swiper-slide slider__slide list__item"
                        >
                        <h4 class="h4">
                            {{ item.title }}
                        </h4>
                        <p class="text text--md">
                            {{ item.caption }}
                        </p>
                    </li>
                </ul>
            </div>
            <button class="btn btn--slider-blue slider__btn slider__btn--next">
                <icon-chewron-down></icon-chewron-down>
            </button>
        </div>
        <div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
    </div>
</template>

<script>

	import initSlider from '../../libs/slider.js';
	import IconChewronDown from '../icons/icon_files/IconChewronDown.vue';

	export default {
		name: 'StrategyAdvantages',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            advantages: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconChewronDown
		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.advantages,
				sliderAdvantages: null,
				sliderAdvantagesToggleBreakpoint: null,
			}
		},
		computed: {

		},
		methods: {
			enableSliderAdvantages(){
				let breakpoints = {};
				breakpoints[this.breakpoints['md']] = {
					slidesPerView: 2
				}
				this.sliderAdvantages = initSlider('.slider--application', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderAdvantages(){
				if( this.sliderAdvantages ){
					this.sliderAdvantages.destroy(true, true);
				}
			},
			initSliderAdvantages(){
				!this.sliderAdvantagesToggleBreakpoint.matches ? this.enableSliderAdvantages() : this.disableSliderAdvantages();
			},
            /*loadAdvantages(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.advantages;
                });
            }*/
		},
		mounted(){
            //loadAdvantages();
			this.sliderAdvantagesToggleBreakpoint = window.matchMedia(`(min-width:${this.breakpoints['lg']}px)`);
			this.sliderAdvantagesToggleBreakpoint.addListener( this.initSliderAdvantages );
			this.initSliderAdvantages();
		},
        beforeDestroy(){
            this.sliderAdvantagesToggleBreakpoint.removeListener( this.initSliderAdvantages );
        }
	}
</script>
