<template>
    <div>
        <h1 class="h2">
            {{ tabs[currentTabKey] }}
        </h1>
        <ul class="list list--tabs-horizontal d-none d-lg-inline-flex mb-5">
            <li
                v-for="(tab, key) in tabs"
                :key="`list_item_${key}`"
                class="list__item"
                :class="{'list__item--active': currentTabKey === key}"
                @click="loadTabContent(key)"
                >
                {{ tab }}
            </li>
        </ul>
        <div class="control control--select d-lg-none mb-5">
            <select
                class="control__input"
                v-model="currentTabKey"
                @change="loadTabContent(currentTabKey)"
                >
                <option
                    v-for="(tab, key) in tabs"
                    :key="`option_${key}`"
                    :value="key"
                    >
                    {{ tab }}
                </option>
            </select>
        </div>
        <div class="wrapper" v-if="currentTabKey === 'stocks'">
            <div class="wrapper wrapper--stocks">
                <el-figure-stock
                    v-for="(item, index) in tabsContent['stocks']"
                    :key="`stocks_item_${index}`"
                    v-bind="item"
                    >
                </el-figure-stock>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn--primary btn--lg w-100 w-md-auto" @click="loadMore">
                    Показать еще
                </button>
            </div>
        </div>
        <div class="wrapper" v-if="currentTabKey === 'daily'">
            <div class="wrapper wrapper--daily-reviews">
                <el-review
					class="article--daily-review"
                    v-for="(item, index) in tabsContent['daily']"
                    :key="`daily_item_${index}`"
                    :lead="index === 0"
                    v-bind="item"
                    >
                </el-review>
            </div>
            <div class="d-block text-center mb-5">
                <button class="btn btn--primary btn--lg w-100 w-md-auto" @click="loadMore">
                    Показать еще обзоры
                </button>
            </div>
        </div>
        <div class="wrapper" v-if="currentTabKey === 'weekly'">
            <div class="wrapper wrapper--daily-reviews">
                <el-review
					class="article--daily-review"
                    v-for="(item, index) in tabsContent['weekly']"
                    :key="`weekly_item_${index}`"
                    :lead="index === 0"
                    v-bind="item"
                    >
                </el-review>
            </div>
            <div class="d-block text-center mb-5">
                <button class="btn btn--primary btn--lg w-100 w-md-auto" @click="loadMore">
                    Показать еще обзоры
                </button>
            </div>
        </div>
        <div class="wrapper" v-if="currentTabKey === 'video'">
            <div class="wrapper wrapper--reviews mb-4">
                <el-video-review
                    v-for="(item, index) in tabsContent['video']"
                    :key="`video_item_${index}`"
                    v-bind="item"
                    >
                </el-video-review>
            </div>
            <div class="d-block text-center mb-5">
                <button class="btn btn--primary btn--lg w-100 w-md-auto" @click="loadMore">
                    Показать еще обзоры
                </button>
            </div>
        </div>
    </div>
</template>

<script>

	let exampleData = {
		stocks: [
			{
				badge: "Акции",
				badgeClass: "badge--mint",
				companyTitle: "Эталон Групп",
				companySlug: "ETLN",
				textNormal: "Бизнес Эталона показывает признаки роста. Стоимость заключенных контрактов в июне выросла на 78% по сравнению с маем 2020 года. Доля ипотечных сделок также увеличилась с 36% в 1 квартале до рекордных 44% во 2 квартале 2020 года. Это свидетельствует о зарождении нового цикла в строительной отрасли.",
				textAccented: "более 10%",
				textBold: "дивидендная доходность акций",
				logo: 'assets/img/etln-logo.png',
				link: '/company-analitics'
			},
			{
				badge: "Облигации",
				badgeClass: "badge--darkblue",
				companyTitle: "Джи-Групп",
				companySlug: "GGROUP",
				textNormal: "Казанский девелопер, осуществляющий деятельность в сегментах жилой и коммерческой недвижимости. Бизнес основан в 1996 г. С 2017 г. компания продемонстрировала темп роста выручки в 28% в год, на выручку от коммерческой недвижимости ежегодно приходится 5-10%.",
				textAccented: "от 9,3%",
				textBold: "доходность к оферте от 22.07.2025",
				logo: 'assets/img/ggroup-logo.png',
				link: '/company-analitics'
			},
			{
				badge: "Акции",
				badgeClass: "badge--mint",
				companyTitle: "Газпром",
				companySlug: "GAZP",
				textNormal: "Наверное, самая популярная бумага у российских инвесторов. Но мало кто задумывается, дорого или дешево сейчас стоит Газпром и почему он должен расти. Мы предлагаем посмотреть на основные моменты за второй квартал этого года, чтобы понять текущую ситуацию в компании, а также заглянуть в «лобовое стекло»",
				textAccented: "от 25 рублей",
				textBold: "ожидаемые дивиденды после 2021",
				logo: 'assets/img/gazprom-logo.png',
				link: '/company-analitics'
			}
		],
		daily: [
			{
				title: 'Утренний комментарий за 8 декабря 2020, 09:50',
				segment: 'positive',
				excerpt: 'США вводят новые санкции на 14 высокопоставленных чиновников КНР на фоне нарушения устоев демократии в Гонконге. Санкции принимаются по инициативе нынешнего президента США Дональда Трампа, однако с приходом Байдена к власти внешнеполитический курс вряд ли сильно поменяется. Китай и РФ являются главными геополитическими противниками США согласно нацстратегии. <br> Губернатор Санкт-Петербурга заявил, что Петербург «совсем немного» отделяет от полного локдауна. Власти призывают не приезжать туристов на новогодние праздники, чтобы не было «марафона передачи» коронавируса. Власти ФРГ планируют ввести жёсткий...',
				link: 'single-review'
			},
			{
				title: '7 декабря 2020',
				segment: 'neutral',
				excerpt: 'По итогам заседания ОПЕК+ было принято решение об увеличении предложения нефти в январе 2021 года с общего увеличения добычи стран ОПЕК+ на 500 тыс. баррелей в сутки.',
				link: 'single-review'
			},
			{
				title: '12 декабря 2020',
				segment: 'positive',
				excerpt: 'По итогам заседания ОПЕК+ было принято решение об увеличении предложения нефти в январе 2021 года с общего увеличения добычи стран ОПЕК+ на 500 тыс. баррелей в сутки.',
				link: 'single-review'
			},
			{
				title: '26 января 2020',
				segment: 'negative',
				excerpt: 'По итогам заседания ОПЕК+ было принято решение об увеличении предложения нефти в январе 2021 года с общего увеличения добычи стран ОПЕК+ на 500 тыс. баррелей в сутки.',
				link: 'single-review'
			}
		],
		weekly: [],
		video: [
			{
				title: 'Куда инвестировать 100 тыс., 1 млн и 10 млн рублей? Солид Брокер рекомендует',
				preview: 'assets/img/video-review-1.jpg',
				date: '29 нояб. 2020 г.',
				link: '#'
			},
			{
				title: 'Не бойся кризисов! Как подготовиться ко второй волне кризиса?',
				preview: 'assets/img/video-review-2.jpg',
				date: '29 нояб. 2020 г.',
				link: '#'
			},
			{
				title: 'Рынок ВДО. Секреты управляющего. Интервью Invest Heroes с Андреем Бушем',
				preview: 'assets/img/video-review-3.jpg',
				date: '29 нояб. 2020 г.',
				link: '#'
			},
			{
				title: 'Ставка ЦБ. "Допка" Аэрофлота. Норникель. SPO Детского мира. МосБиржа. НМТП. СОЛИДная Аналитика #6',
				preview: 'assets/img/video-review-4.jpg',
				date: '29 нояб. 2020 г.',
				link: '#'
			},
			{
				title: 'IPO OZON, QIWI, Тинькофф Банк, Сбер и М.Видео, Алроса, Газпром нефть, РусАл. СОЛИДная Аналитика #16',
				preview: 'assets/img/video-review-5.jpg',
				date: '29 нояб. 2020 г.',
				link: '#'
			},
			{
				title: 'Новчику на бирже: как составить инвестиционный портфель? Основные принципы',
				preview: 'assets/img/video-review-6.jpg',
				date: '29 нояб. 2020 г.',
				link: '#'
			}
		]
	}
	for (let index = 0; index < 6; index++) {
		exampleData.stocks.push(exampleData.stocks[index%3]);
	}
	for (let index = 0; index < 8; index++) {
		exampleData.daily.push(exampleData.daily[index%4]);
	}
	exampleData.weekly = JSON.parse( JSON.stringify(exampleData.daily) );
	exampleData.weekly.reverse();
	exampleData.video.push(exampleData.video[0]);
	exampleData.video.push(exampleData.video[1]);

	import ElFigureStock from '../ElFigureStock.vue';
	import ElReview from '../ElReview.vue';
	import ElVideoReview from '../ElVideoReview.vue';

	export default {
		name: 'TabsAnalitics',
        props: {

        },
		components: {
            ElFigureStock,
            ElReview,
            ElVideoReview
		},
		data(){
			return {
				tabs: {
					stocks: 'Акции и облигации',
					daily: 'Ежедневные обзоры' ,
					weekly: 'Еженедельные обзоры' ,
					video: 'Видео обзоры'
				},
				tabsContent: {
					stocks: [],
					daily: [],
					weekly: [],
					video: []
				},
				currentTabKey: 'stocks'
			}
		},
		computed: {

		},
		methods: {
			loadMore(){
                /*fetch(`url_${this.currentTabKey}&page=2`, {
                    method: 'GET',
                }).then(resp =>{
                    this.tabsContent[this.currentTabKey].push(resp.items);
                });	*/
			},
			loadTabContent(key){
				this.currentTabKey = key;
                /*fetch(`url_${this.currentTabKey}`, {
                    method: 'GET',
                }).then(resp =>{
                    this.tabsContent[this.currentTabKey] = resp.items;
                });	*/
				this.tabsContent[this.currentTabKey] = exampleData[this.currentTabKey];
			}
		},
		mounted(){
            this.loadTabContent('stocks');
		}
	}
</script>
