<template>
    <div class="wrapper wrapper--tools">
        <div
            v-for="(item, index) in toolsItems"
            :key="`strategies_${index}`"
            class="figure figure--tool"
            >
            <h4 class="h4 text--primary">
                <span class="text">
                    {{ item.title }}
                </span>
                <component v-bind:is="`icon-${item.icon}`"></component>
            </h4>
            <ul class="list list--goal text--lg">
                <li
                    v-for="(list__item, li_index) in item.list"
                    :key="`list__item_${index}_${li_index}`"
                    class="list__item"
                    >
                    {{ list__item }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

	import IconMoex from '../icons/icon_files/IconMoex.vue';
	import IconMoexCurrency from '../icons/icon_files/IconMoexCurrency.vue';
	import IconMoexUrgent from '../icons/icon_files/IconMoexUrgent.vue';
	import IconFinWorld from '../icons/icon_files/IconFinWorld.vue';
	import IconFinSpb from '../icons/icon_files/IconFinSpb.vue';

	export default {
		name: 'TradeTools',
        props: {
            tools: {
                type: Array,
                default: () => ([])
            }
        },
		components: {
            IconMoex,
            IconMoexCurrency,
            IconMoexUrgent,
            IconFinWorld,
            IconFinSpb
		},
		data(){
			return {
                toolsItems: this.tools
			}
		},
		computed: {

		},
		methods: {
            /*loadTools(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.toolsItems = resp.tools;
                });
            }*/
		},
		mounted(){
            //loadTools();
		}
	}
</script>
