<template>
    <div class="slider slider--boxes">
        <div class="swiper-container slider__container">
            <div class="swiper-wrapper slider__wrapper">
                <div
                    v-for="(item, index) in slides"
                    :key="`slide_${index}`"
                    class="swiper-slide slider__slide"
                    >
                    <div class="figure figure--box">
                        <div class="figure__header">
                            <h4 class="h4">
                                {{ item.title }}
                            </h4>
                        </div>
                        <p class="text text--lg">
                            {{ item.text }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination slider__pagination"></div>
        </div>
    </div>
</template>

<script>

	import initSlider from '../../libs/slider.js';

	export default {
		name: 'TradeAdvantages',
        props: {
            initialBreakpoints: {
                type: Object,
                required: true
            },
            advantages: {
                type: Array,
                default: () => ([])
            }
        },
		components: {

		},
		data(){
			return {
                breakpoints: this.initialBreakpoints,
                slides: this.advantages,
				sliderBoxes: null,
				sliderBoxesToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			enableSliderBoxes(){
				this.sliderBoxes = initSlider('.slider--boxes', {
					effect: 'coverflow',
					coverflowEffect: {
						rotate: 30,
						slideShadows: false
					},
					loop: true
				});
			},
			disableSliderBoxes(){
				if( this.sliderBoxes ){
					this.sliderBoxes.map( slider => {
						slider.destroy(true, true);
					});
				}
			},
			initSliderBoxes(){
				!this.sliderBoxesToggleBreakpoint.matches ? this.enableSliderBoxes() : this.disableSliderBoxes();
			}
            /*loadAdvantages(){
                fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.slides = resp.advantages;
                });
            }*/
		},
		mounted(){
            //loadAdvantages();
			this.sliderBoxesToggleBreakpoint = window.matchMedia(`(min-width:${this.breakpoints['md']}px)`);
			this.sliderBoxesToggleBreakpoint.addListener( this.initSliderBoxes );
			this.initSliderBoxes();
		},
		beforeDestroy(){
			this.sliderBoxesToggleBreakpoint.removeListener( this.initSliderBoxes );
		}
	}
</script>
