//- pageTitle - global variable declared in [pagename].pug
//- menu - global variable declared in content.pug
mixin breadcrumbs()
	-
		function findMenuItem(menu, uid){
			let findRezult = false;
			menu.map(item =>{
				if( item.uid === uid ){
					breadcrumbs.push(item);
					findRezult = true;
				}else if( item.inner ){
					let findInner = findMenuItem(item.inner, uid);
					if( findInner ){
						breadcrumbs.push(item);
						findRezult = true;
					}
				}
			});
			return findRezult;
		}

		let currentUid = pageTitle.toString().toLowerCase().replace(/ /g, '_'),
			breadcrumbs = [];

		findMenuItem(siteMap, currentUid);

		breadcrumbs.push({
			title: 'Главная',
			uid: 'index'
		});

		breadcrumbs.reverse();
	ul.list.list--breadcrumbs
		each item, index in breadcrumbs
			-
				var link = `${item.uid}.html`;
			li.list__item
				a.link(href=link)
					| #{item.title}