-

	let pages = {

	}

	let project = {
			title: 'Солид Брокер',
			description: 'Рынки капиталов',
			copy: 'АО ИФК «Солид». Все права защищены. Информация и мнения, представленные на данном ресурсе, подготовлены специалистами компании ИФК «Солид». Полное или частичное предоставление материалов третьим лицам возможно в случаях и на условиях, определенных законодательством. Настоящий документ не может рассматриваться в качестве публичной оферты. ИФК «Солид», его руководство и сотрудники не несут ответственности за инвестиционное решение клиента, основанное на информации, содержащейся в настоящем буклете. Лицензии на осуществление: - брокерской деятельности – № 045-06790-100000, выдана ФКЦБ России 24 июня 2003 г. без ограничения срока действия; - дилерской деятельности – № 045-06793-010000, выдана ФКЦБ России 24 июня 2003 г. без ограничения срока действия; - деятельности по управлению ценными бумагами – № 045-06795-001000, выдана ФКЦБ России 24 июня 2003 г. без ограничения срока действия; - депозитарной деятельности – № 045-06807-000100, выдана ФКЦБ России 27 июня 2003 г. без ограничения срока действия \r\nИндивидуальные инвестиционные рекомендации могут предоставляться исключительно в рамках заключенного Договора об инвестиционном консультировании.Рекомендации, предоставляемые в рамках сервисов сайта не являются индивидуальными инвестиционными рекомендациями.'
		}

	let info = {
		phone: '8 (800) 250-70-10',
		phone_tech: '8 (495) 228-70-14',
		phone_traiding: '8 (495) 228-70-16',
		appStoreUrl: 'https://apps.apple.com/ru/app/%D1%81%D0%BE%D0%BB%D0%B8%D0%B4-%D0%B8%D0%BD%D0%B2%D0%B5%D1%81%D1%82%D0%BE%D1%80/id1495333071?mt=8',
		googlePlayUrl: 'https://play.google.com/store/apps/details?id=ru.solidbroker.investor&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1',
		appInstruction: '#',
		facebookUrl: 'https://www.facebook.com/solidbroker',
		telegramUrl: 'https://tele.click/SolidPro',
		instagramUrl: 'https://www.instagram.com/solid.broker/',
		vkontakteUrl: 'https://vk.com/solidbroker',
		youtubeUrl: 'https://www.youtube.com/user/solidifc/featured',
		copy: `© ${new Date().getFullYear()} ${project.copy}`
	}

	let siteMap = [
		{
			uid: 'idu',
			title: 'Доверительное управление'
		},
		{
			uid: 'personal_broker',
			title: 'Персональный брокер'
		},
		{
			uid: 'trade',
			title: 'Купить акции'
		},
		{
			uid: 'iis',
			title: 'ИИС'
		},
		{
			uid: 'analitics',
			title: 'Аналитика'
		},
		{
			uid: 'about',
			title: 'О компании',
			inner: [
				{
					uid: 'contacts',
					title: 'Контакты'
				},
				{
					uid: 'docs',
					title: 'Документы'
				},
				{
					uid: 'press-center',
					title: 'Пресс-центр'
				}
			]
		},
		{
			uid: 'application',
			title: 'Мобильное приложение'
		},
		{
			uid: 'instructions',
			title: 'Инструкции'
		},
		{
			uid: 'markets',
			title: 'Рынки капитала'
		},
		{
			uid: 'tariffs',
			title: 'Тарифы на брокерское обслуживание'
		},
		{
			uid: 'auction',
			title: 'Аукционный центр'
		},
		{
			uid: 'evaluation',
			title: 'Оценка'
		},
		{
			uid: 'disclosure_of_information',
			title: 'Раскрытие информации'
		},
	];

	function getMenuItems(arr){
		let resp = [];
		let currentUid = pageTitle.toString().toLowerCase().replace(/ /g, '_');
		arr.map( item => {
			let inner = null;
			if( item.inner ){
				inner = [];
				item.inner.map( item_inner => {
					inner.push({
						current: currentUid === item_inner.uid,
						link: `${item_inner.uid}.html`,
						title: item_inner.title,
					});
				});
			}
			resp.push({
				current: currentUid === item.uid,
				link: `${item.uid}.html`,
				title: item.title,
				inner: inner
			})
		});
		return resp;
	}

	let menu_main = JSON.parse(JSON.stringify([
			siteMap[0],
			siteMap[1],
			siteMap[2],
			siteMap[3],
			siteMap[4],
			siteMap[5]
		]));

	let menu_secondary = JSON.parse(JSON.stringify([
		siteMap[6],
		siteMap[7],
		siteMap[8],
		siteMap[9],
		siteMap[10],
		siteMap[11],
		siteMap[12]
	]));

	function findInSiteMap(){

		function findByUid(menu,uid){
			menu.map(item =>{
				if( item.uid === uid ){
					page = item;
				}else if( item.inner ){
					findByUid(item.inner, uid);
				}
			});
		}

		let currentUid = pageTitle.toString().toLowerCase().replace(/ /g, '_'),
			page = undefined;

		findByUid(siteMap, currentUid);
		return page;
	}