mixin figure-stock(data)
	-
		var badgeAttributes = {
				class: 'badge--mint'
			},
			badge = data.badge || 'Акции',
			text_normal = data.text_normal || 'Lorem ipsum',
			text_accented = data.text_accented || 'Lorem ipsum',
			text_bold = data.text_bold || 'Lorem ipsum',
			text_btn = data.text_btn || 'Обзор',
			company_title = data.company_title || 'Эталон Групп',
			company_slug = data.company_slug || 'ETLN';
		if( data.badgeclass ){
			badgeAttributes.class = data.badgeclass;
		}

	.figure.figure--stock
		.badge()&attributes(badgeAttributes)
			| #{ badge }
		a.company(href="company_analitics.html")
			.company__logo
				if data.img
					img(src=data.img alt=data.company_title v-background-image)
				if data.icon
					#{`icon-${data.icon}`}
			.company__title
				span.d-block
					| #{ company_title }
				span.d-block
					| (#{ company_slug })
		p.text.text--normal
			| #{ text_normal }
		p.text.text--accented
			| #{ text_accented }
		p.text.text--bold
			| #{ text_bold }
		a.btn.btn--secondary(href="company_analitics.html")
			| #{ text_btn }