mixin head(title, desc)
	-
		var title = title || 'Инвестиционно-финансовая компания "Солид"';
		var description = desc || 'Брокерское и депозитарное обслуживание, доверительное управление активами и другие услуги для частных и корпоративных клиентов. Онлайн-заявка на обслуживание.';
		var style_src = `css/style.css?ver=${pDate()}`;
		var page = findInSiteMap();
		if( page ){
			title = page.title;
		}
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width,initial-scale=1.0')
		link(rel='apple-touch-icon' sizes='180x180' href='icons/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='icons/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='icons/favicon-16x16.png')
		link(rel='manifest' href='icons/site.webmanifest')
		link(rel='mask-icon' href='icons/safari-pinned-tab.svg' color='#5bbad5')
		link(rel='shortcut icon' href='icons/favicon.ico')
		link(rel="stylesheet", href=style_src)
		meta(name='msapplication-TileColor' content='#da532c')
		meta(name='msapplication-config' content='icons/browserconfig.xml')
		meta(name='theme-color' content='#ffffff')
		meta(name="description", content=description)
		style(type="text/css").
			/* hide not rendered vue conponents */
			el-popup-risk-profile,
			el-popup-ask-question,
			el-popup-backcall,
			el-section-iis,
			el-section-calc,
			el-section-calc-idu,
			el-section-chart,
			el-section-graph,
			el-widget-pie,
			el-dropdown{
				display:none;
			}
		title #{title}