mixin menu-item(item)
	-
		item.current = false;
		let currentUid = pageTitle.toString().toLowerCase().replace(/ /g, '_');
		if( currentUid === item.uid ){
			item.current = true;
		}
		let itemClass = {class: item.current ? 'menu__item menu__item--active' : 'menu__item' };
	li&attributes(itemClass)
		.nav__item
			a.link(href=`${item.uid}.html`) #{item.title}
			if item.inner
				button.btn.btn--action.btn--action-min(aria-label="Открыть/Скрыть подменю", v-on:click="toggleSubMenu")
					icon-chewron-down
		if item.inner
			+menu(item.inner)


mixin menu(menu, customClass)
	-
		let menuAttributes = {
			class: 'menu'
		}
		if( customClass ){
			menuAttributes.class += ` ${customClass}`
		}
	if Array.isArray(menu)
		ul&attributes(menuAttributes)
			each item in menu
				+menu-item(item)
	else
		ul&attributes(menuAttributes)
			+menu-item(menu)