//- VARS
-
	function pDate(){
		return new Date().getTime();
	}

	function clearphone(phone){
		return phone.replace(/[- ]/g,'');
	}

include content.pug
include head.pug
include breadcrumbs.pug
include link-phone.pug
include menu.pug
include figure-stock.pug
include section-steps.pug