mixin section-steps(customClass)
	-
		let sectionAttributes = {
			class: ''
		}
		if( customClass ){
			sectionAttributes.class += ` ${customClass}`
		}
	.section.section--regular.section--regular-with-bg.text--white()&attributes(sectionAttributes)
		.bg__pic
			picture(v-background-image)
				source(srcset='assets/img/section-steps-bg-lg.jpg' :media='`(min-width: ${breakpoints.lg}px)`')
				source(srcset='assets/img/section-steps-bg-md.jpg' :media='`(min-width: ${breakpoints.md}px)`')
				source(srcset='assets/img/section-steps-bg-xs.jpg' :media='`(min-width: ${breakpoints.xs}px)`')
				img(src='assets/img/section-steps-bg-lg.jpg' alt='Что нужно, чтобы начать инвестировать?')
		.page__wrapper
			h2.h2.text-center
				| Что нужно, чтобы начать инвестировать?
			ul.list.list--steps
				li.list__item
					h4.h4
						| Откройте счёт дистанционно
					p.text
						| Все документы оформляются онлайн, без посещения офиса.
				li.list__item
					h4.h4
						| Установите приложение Solid Investor
					p.text
						| Тысячи ценных бумаг в простом и доступном приложении
				li.list__item
					h4.h4
						| Пополните счёт и начинайте!
					p.text
						| Здесь надо написать о том, что это быстро и приятно
			.d-flex.justify-content-center
				a.btn.btn--primary.btn--lg(href='#')
					| Начать!