<template>
	<main class="page__main">
		<section class="section section--header section--header-sm">
			<div class="bg__pic">
				<img src="../assets/images/docs-bg.jpg" alt="Документы" v-background-image>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Документы
				</h1>
			</div>
		</section>
        <section class="section section--regular section--regular-with-bg">
            <div class="page__wrapper">
                <div class="wrapper wrapper--docs">
                    <div class="wrapper">
                        <el-list-tabs
                            :tabs="{
                                tab1: 'Регламент оказания услуг на финансовых рынках',
                                tab2: 'Регламент осуществления деятельности по управлению ценными бумагами',
                                tab3: 'Условия осуществления депозитарной деятельности',
                                tab4: 'Регламент признания лица квалифицированным инвестором',
                                tab5: 'Персональные данные',
                                tab6: 'Соглашение об использовании электронной подписи',
                                tab7: 'FATCA',
                                tab8: 'Дополнительная информация',
                                tab9: 'Инструкции',
                                tab10: 'Реквизиты',
                            }"
                            :selected="'tab1'"
                            >
                        </el-list-tabs>
                    </div>
                    <div class="wrapper">
                        <div class="control control--select d-lg-none">
                            <select class="control__input" v-model="currentTab">
                                <option value="tab1">
                                    Регламент оказания услуг на финансовых рынках
                                </option>
                                <option value="tab2">
                                    Регламент осуществления деятельности по управлению ценными бумагами
                                </option>
                                <option value="tab3">
                                    Условия осуществления депозитарной деятельности
                                </option>
                                <option value="tab4">
                                    Регламент признания лица квалифицированным инвестором
                                </option>
                                <option value="tab5">
                                    Персональные данные
                                </option>
                                <option value="tab6">
                                    Соглашение об использовании электронной подписи
                                </option>
                                <option value="tab7">
                                    FATCA
                                </option>
                                <option value="tab8">
                                    Дополнительная информация
                                </option>
                                <option value="tab9">
                                    Инструкции
                                </option>
                                <option value="tab10">
                                    Реквизиты
                                </option>
                            </select>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab1'">
                            <h3 class="h3">
                                Регламент осуществления деятельности по управлению ценными бумагами
                            </h3>
                            <p>
                                Редакция № 62 Дата публикации: 17 августа 2020 г. Период актуальности: 01 сентября 2020 г. по настоящее время.
                            </p>
                            <div class="wrapper--filebox mb-4">
                                <a href="#" class="file mb-0">
                                    <span class="file__icon">
                                        <icon-file-pdf></icon-file-pdf>
                                    </span>
                                    <span class="wrapper">
                                        <span class="file__name">
                                            Скачать документ
                                        </span>
                                        <span class="file__info">
                                            (1Мб, PDF)
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <a href="#" class="link d-inline-block mb-4">
                                Архив документов
                            </a>
                            <table class="table table--docs table--docs-lg">
                                <tbody>
                                    <tr class="table__row table__row--file">
                                        <td class="text--muted">
                                            Приложение № РДУ-1
                                        </td>
                                        <td>
                                            <div class="wrapper">
                                                <span>
                                                    Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
                                                </span>
                                                <a href="#" class="link link--gray">
                                                    <icon-download></icon-download>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="table__row table__row--group">
                                        <td>
                                            Приложение № РДУ-2
                                        </td>
                                        <td>
                                            <div class="wrapper">
                                                <span>
                                                    Анкета Учредителя управления
                                                </span>
                                                <button class="btn btn--action" @click="toggleTableRow">
                                                    <icon-chewron-down></icon-chewron-down>
                                                </button>
                                            </div>
                                            <table class="table">
                                                <tbody>
                                                    <tr class="table__row table__row--file">
                                                        <td>
                                                            РДУ-3-1
                                                        </td>
                                                        <td>
                                                            <div class="wrapper">
                                                                <span>
                                                                    Инвестиционная декларация. Стратегия «Российские акции 1»
                                                                </span>
                                                                <a href="#" class="link link--gray">
                                                                    <icon-download></icon-download>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="table__row table__row--file">
                                                        <td>
                                                            РДУ-3-1
                                                        </td>
                                                        <td>
                                                            <div class="wrapper">
                                                                <span>
                                                                    Инвестиционная декларация. Стратегия «Российские акции 1»
                                                                </span>
                                                                <a href="#" class="link link--gray">
                                                                    <icon-download></icon-download>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="table__row table__row--file">
                                                        <td>
                                                            РДУ-3-1
                                                        </td>
                                                        <td>
                                                            <div class="wrapper">
                                                                <span>
                                                                    Инвестиционная декларация. Стратегия «Российские акции 1»
                                                                </span>
                                                                <a href="#" class="link link--gray">
                                                                    <icon-download></icon-download>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="table__row table__row--file">
                                        <td class="text--muted">
                                            Приложение № РДУ-1
                                        </td>
                                        <td>
                                            <div class="wrapper">
                                                <span>
                                                    Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
                                                </span>
                                                <a href="#" class="link link--gray">
                                                    <icon-download></icon-download>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="table__row table__row--group">
                                        <td>
                                            Приложение № РДУ-2
                                        </td>
                                        <td>
                                            <div class="wrapper">
                                                <span>
                                                    Анкета Учредителя управления
                                                </span>
                                                <button class="btn btn--action" @click="toggleTableRow">
                                                    <icon-chewron-down></icon-chewron-down>
                                                </button>
                                            </div>
                                            <table class="table">
                                                <tbody>
                                                    <tr class="table__row table__row--file">
                                                        <td class="text--muted">
                                                            РДУ-3-1
                                                        </td>
                                                        <td>
                                                            <div class="wrapper">
                                                                <span>
                                                                    Инвестиционная декларация. Стратегия «Российские акции 1»
                                                                </span>
                                                                <a href="#" class="link link--gray">
                                                                    <icon-download></icon-download>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="table__row table__row--file">
                                                        <td class="text--muted">
                                                            РДУ-3-1
                                                        </td>
                                                        <td>
                                                            <div class="wrapper">
                                                                <span>
                                                                    Инвестиционная декларация. Стратегия «Российские акции 1»
                                                                </span>
                                                                <a href="#" class="link link--gray">
                                                                    <icon-download></icon-download>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="table__row table__row--file">
                                                        <td class="text--muted">
                                                            РДУ-3-1
                                                        </td>
                                                        <td>
                                                            <div class="wrapper">
                                                                <span>
                                                                    Инвестиционная декларация. Стратегия «Российские акции 1»
                                                                </span>
                                                                <a href="#" class="link link--gray">
                                                                    <icon-download></icon-download>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="file mb-5">
                                <span class="file__icon">
                                    <icon-file-pdf></icon-file-pdf>
                                </span>
                                <span class="wrapper">
                                    <span class="file__name">
                                        Скачать все документы одним файлом
                                    </span>
                                    <span class="file__info">
                                        (1Мб, PDF)
                                    </span>
                                </span>
                            </a>
                            <table class="table table--docs mb-5">
                                <tbody>
                                    <tr class="table__row table__row--file">
                                        <td>
                                            Новый регламент осуществления АО ИФК «Солид» деятельности по управлению ценными бумагами
                                        </td>
                                        <td>
                                            <div class="wrapper">
                                                <span class="text--muted">
                                                    Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
                                                </span>
                                                <a href="#" class="link link--gray">
                                                    <icon-download></icon-download>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="table__row table__row--file">
                                        <td>
                                            Новый регламент осуществления АО ИФК «Солид» деятельности по управлению ценными бумагами
                                        </td>
                                        <td>
                                            <div class="wrapper">
                                                <span class="text--muted">
                                                    Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
                                                </span>
                                                <a href="#" class="link link--gray">
                                                    <icon-download></icon-download>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <h3 class="h3 mb-3 mr-4">
                                    Архив документов
                                </h3>
                                <button class="btn btn--link btn--toggle btn--active mb-3" @click="$event.target.parentNode.classList.toggle('btn--active');$refs.archive.classList.toggle('d-none')">
                                    <icon-chewron-down></icon-chewron-down>
                                    <span class="btn__text">
                                        Раскрыть
                                    </span>
                                    <span class="btn__text--hidden">
                                        Скрыть
                                    </span>
                                </button>
                            </div>
                            <table class="table table--docs" ref="archive">
                                <tbody>
                                    <tr class="table__row table__row--file">
                                        <td>
                                            Новый регламент осуществления АО ИФК «Солид» деятельности по управлению ценными бумагами
                                        </td>
                                        <td>
                                            <div class="wrapper">
                                                <span class="text--muted">
                                                    Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
                                                </span>
                                                <a href="#" class="link link--gray">
                                                    <icon-download></icon-download>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="table__row table__row--file">
                                        <td>
                                            Новый регламент осуществления АО ИФК «Солид» деятельности по управлению ценными бумагами
                                        </td>
                                        <td>
                                            <div class="wrapper">
                                                <span class="text--muted">
                                                    Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
                                                </span>
                                                <a href="#" class="link link--gray">
                                                    <icon-download></icon-download>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="table__row table__row--file">
                                        <td>
                                            Новый регламент осуществления АО ИФК «Солид» деятельности по управлению ценными бумагами
                                        </td>
                                        <td>
                                            <div class="wrapper">
                                                <span class="text--muted">
                                                    Договор доверительного управления ценными бумагами и денежными средствами, предназначенными для инвестирования в ценные бумаги
                                                </span>
                                                <a href="#" class="link link--gray">
                                                    <icon-download></icon-download>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab2'">
                            <h3 class="h3">
                                Регламент осуществления деятельности по управлению ценными бумагами
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab3'">
                            <h3 class="h3">
                                Условия осуществления депозитарной деятельности
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab4'">
                            <h3 class="h3">
                                Регламент признания лица квалифицированным инвестором
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab5'">
                            <h3 class="h3">
                                Персональные данные
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab6'">
                            <h3 class="h3">
                                Соглашение об использовании электронной подписи
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab7'">
                            <h3 class="h3">
                                FATCA
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab8'">
                            <h3 class="h3">
                                Дополнительная информация
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab9'">
                            <h3 class="h3">
                                Инструкции
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab10'">
                            <h3 class="h3">
                                Акционерное общество Инвестиционно- финансовая компания «Солид»
                            </h3>
                            <div class="wrapper--filebox mb-4">
                                <a href="#" class="file mb-0">
                                    <span class="file__icon">
                                        <icon-file-pdf></icon-file-pdf>
                                    </span>
                                    <span class="wrapper">
                                        <span class="file__name">
                                            Скачать документ
                                        </span>
                                        <span class="file__info">
                                            (1Мб, PDF)
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <table class="table table--simple mb-5">
                                <tbody>
                                    <tr>
                                        <td class="text--muted">
                                            Полное наименование:
                                        </td>
                                        <td>
                                            Акционерное общество Инвестиционно-финансовая компания «Солид»
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Полное наименование на английском языке:
                                        </td>
                                        <td>
                                            "Solid" Investment Financial Joint-Stock Company
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Сокращенное наименование:
                                        </td>
                                        <td>
                                            АО ИФК «Солид»
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Юридический адрес:
                                        </td>
                                        <td>
                                            Российская Федерация, 123007, г. Москва, Хорошевское шоссе, д. 32А, комната 14
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Почтовый адрес:
                                        </td>
                                        <td>
                                            Российская Федерация, 123007, г. Москва, Хорошевское шоссе, д. 32А, комната 14
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Телефон:
                                        </td>
                                        <td>
                                            88002507010
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            E-mail:
                                        </td>
                                        <td>
                                            solid@solidbroker.ru
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Веб-сайт:
                                        </td>
                                        <td>
                                            www.solidbroker.ru
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            ИНН:
                                        </td>
                                        <td>
                                            5008009854
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            КПП:
                                        </td>
                                        <td>
                                            771401001
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            ОГРН:
                                        </td>
                                        <td>
                                            1027739045839
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            ОКПО:
                                        </td>
                                        <td>
                                            33074373
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            ОКВЭД:
                                        </td>
                                        <td>
                                            67.12.1 65.23.2 67.12.2 67.13.51 74.14 74.84
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="text--lg">
                                Банковские реквизиты:
                            </p>
                            <table class="table table--simple mb-5">
                                <tbody>
                                    <tr>
                                        <td class="text--muted">
                                            Расчетный счет:
                                        </td>
                                        <td>
                                            40701810000000012359
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Банк:
                                        </td>
                                        <td>
                                            ПАО Росбанк г. Москва
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Корр. счет:
                                        </td>
                                        <td>
                                            30101810000000000256
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            БИК:
                                        </td>
                                        <td>
                                            044525256
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3 class="h3 mb-4">
                                Брокерский счет для зачисления денежных средств клиентов, направляемых в качестве взноса по договору на брокерское обслуживание:
                            </h3>
                            <div class="wrapper--filebox mb-4">
                                <a href="#" class="file mb-0">
                                    <span class="file__icon">
                                        <icon-file-pdf></icon-file-pdf>
                                    </span>
                                    <span class="wrapper">
                                        <span class="file__name">
                                            Скачать документ
                                        </span>
                                        <span class="file__info">
                                            (1Мб, PDF)
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <table class="table table--simple mb-4">
                                <tbody>
                                    <tr>
                                        <td class="text--muted">
                                            Полное наименование:
                                        </td>
                                        <td>
                                            Акционерное общество Инвестиционно-финансовая компания «Солид»
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Полное наименование на английском языке:
                                        </td>
                                        <td>
                                            "Solid" Investment Financial Joint-Stock Company
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Сокращенное наименование:
                                        </td>
                                        <td>
                                            АО ИФК «Солид»
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Юридический адрес:
                                        </td>
                                        <td>
                                            Российская Федерация, 123007, г. Москва, Хорошевское шоссе, д. 32А, комната 14
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Почтовый адрес:
                                        </td>
                                        <td>
                                            Российская Федерация, 123007, г. Москва, Хорошевское шоссе, д. 32А, комната 14
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table--simple">
                                <tbody>
                                    <tr>
                                        <td class="text--muted">
                                            Телефон:
                                        </td>
                                        <td>
                                            88002507010
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            E-mail:
                                        </td>
                                        <td>
                                            solid@solidbroker.ru
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text--muted">
                                            Веб-сайт:
                                        </td>
                                        <td>
                                            www.solidbroker.ru
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <el-section-rating></el-section-rating>
	</main>
</template>

<script>

	import { events } from "../events";

    import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
    import ElSectionRating from '../components/ElSectionRating.vue';
    import IconDownload from '../components/icons/icon_files/IconDownload.vue';
    import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';
    import ElListTabs from '../components/ElListTabs.vue';

    import IconFilePdf from '../components/icons/icon_files/IconFilePdf.vue';

	export default {
		name: 'PageDocs',
		components: {
            ElBreadcrumbs,
            ElSectionRating,
            IconFilePdf,
            IconDownload,
            IconChewronDown,
            ElListTabs
		},
		data(){
			return {
                currentTab: 'tab1'
			}
		},
		computed: {

		},
		methods: {
			toggleTableRow(evt){
				evt.target.closest('.table__row').classList.toggle('table__row--open');
			},
		},
		mounted(){
            this.$evbus.$on(events.EV_APP_TOGGLE_TAB, (data) => {
                this.currentTab = data.tab;
            });
		}
	}
</script>
