<template>
	<main class="page__main">
		<section class="section section--header section--header-sm">
			<div class="bg__pic">
				<img src="../assets/images/contacts-bg.jpg" alt="Документы" v-background-image>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Контакты
				</h1>
			</div>
		</section>
        <section class="section section--regular section--regular-with-bg">
            <div class="page__wrapper">
                <div class="wrapper wrapper--docs">
                    <div class="wrapper">
                        <el-list-tabs
                            :tabs="{
                                moskva: 'Москва',
                                peterburg: 'Санкт-Петербург',
                                krasnoyarsk: 'Красноярск',
                                kazan: 'Казань',
                                tyumen: 'Тюмень',
                                volgograd: 'Волгоград',
                                ufa: 'Уфа',
                                bavly: 'Бавлы',
                                nurlat: 'Нурлат',
                                tula: 'Тула',
                                almetyevsk: 'Альметьевск',
                                elabuga: 'Елабуга'
                            }"
                            :selected="'peterburg'"
                            >
                        </el-list-tabs>
                    </div>
                    <div class="wrapper">
                        <div class="control control--select d-lg-none">
                            <select class="control__input" v-model="currentTab">
                                <option value="moskva">
                                    Москва
                                </option>
                                <option value="peterburg">
                                    Санкт-Петербург
                                </option>
                                <option value="krasnoyarsk">
                                    Красноярск
                                </option>
                                <option value="kazan">
                                    Казань
                                </option>
                                <option value="tyumen">
                                    Тюмень
                                </option>
                                <option value="volgograd">
                                    Волгоград
                                </option>
                                <option value="ufa">
                                    Уфа
                                </option>
                                <option value="bavly">
                                    Бавлы
                                </option>
                                <option value="nurlat">
                                    Нурлат
                                </option>
                                <option value="tula">
                                    Тула
                                </option>
                                <option value="almetyevsk">
                                    Альметьевск
                                </option>
                                <option value="elabuga">
                                    Елабуга
                                </option>
                            </select>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'moskva'">
                            <h3 class="h3">
                                Москва
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'peterburg'">
                            <h3 class="h3">
                                Представительство в Санкт-Петербурге
                            </h3>
                            <table class="table table--transparent my-5">
                                <tbody>
                                    <tr>
                                        <td class="table__col table__col--icon">
                                            <icon-location class="text--primary"></icon-location>
                                        </td>
                                        <td>
                                            191028, г. Санкт-Петербург, Литейный проспект, дом 26 офис 414 («Бизнес-центр Преображенский двор»)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <icon-email class="text--primary"></icon-email>
                                        </td>
                                        <td>
                                            8 (812) 389-25-85
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <icon-phone class="text--primary"></icon-phone>
                                        </td>
                                        <td>
                                            spb@solidbroker.ru
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <icon-time class="text--primary"></icon-time>
                                        </td>
                                        <td>
                                            пн.-пт.: с 09:30 до 18:00
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn--primary btn--lg w-100 w-md-auto mb-5" @click="openPopup('backcall')">
                                Связаться с нами
                            </button>
                            <div class="map map--yandex">
                                <yandex-map
                                    :coords="[59.941880, 30.349483]"
                                    zoom="15"
                                    style="width: 100%; height: 460px;"
                                    :cluster-options="{1: {clusterDisableClickZoom: true}}"
                                    :behaviors="['drag']"
                                    :controls="[]"
                                    map-type="map"
                                    >
                                <ymap-marker
                                    marker-id="office"
                                    :coords="[59.941880, 30.349483]"
                                    :icon="{layout: 'default#imageWithContent', imageHref: require('../assets/images/map-icon.png'), imageSize: [54, 65],imageOffset: [-27, -65]}"
                                    >
                                </ymap-marker>
                            </yandex-map>
                            </div>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'krasnoyarsk'">
                            <h3 class="h3">
                                Красноярск
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'kazan'">
                            <h3 class="h3">
                                Казань
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tyumen'">
                            <h3 class="h3">
                                Тюмень
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'volgograd'">
                            <h3 class="h3">
                                Волгоград
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'ufa'">
                            <h3 class="h3">
                                Уфа
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'bavly'">
                            <h3 class="h3">
                                Бавлы
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'nurlat'">
                            <h3 class="h3">
                                Нурлат
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tula'">
                            <h3 class="h3">
                                Тула
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'almetyevsk'">
                            <h3 class="h3">
                                Альметьевск
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'elabuga'">
                            <h3 class="h3">
                                Елабуга
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <el-section-rating></el-section-rating>
        <el-popup-backcall></el-popup-backcall>
	</main>
</template>

<script>

    import { events } from "../events";

    import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
    import ElSectionRating from '../components/ElSectionRating.vue';
    import ElPopupBackcall from '../components/ElPopupBackcall.vue';
    import ElListTabs from '../components/ElListTabs.vue';

    import IconLocation from '../components/icons/icon_files/IconLocation.vue';
    import IconEmail from '../components/icons/icon_files/IconEmail.vue';
    import IconPhone from '../components/icons/icon_files/IconPhone.vue';
    import IconTime from '../components/icons/icon_files/IconTime.vue';

	export default {
		name: 'PageContacts',
		components: {
            ElBreadcrumbs,
            ElSectionRating,
            ElPopupBackcall,
            IconLocation,
            IconEmail,
            IconPhone,
            IconTime,
            ElListTabs
		},
		data(){
			return {
                currentTab: 'peterburg'
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			}
		},
		mounted(){
            this.$evbus.$on(events.EV_APP_TOGGLE_TAB, (data) => {
                this.currentTab = data.tab;
            });
		}
	}
</script>
