<template>
	<main class="page__main">
		<section class="section section--solutions section--hidden">
			<div class="page__wrapper">

				<div class="wrapper px-3 py-4">
					<h1>Иконки</h1>
					<table>
						<tr
							v-for="(row, r_index) in iconsTable"
							:key="`row_${r_index}`"
							>
							<td
								class="p-2"
								v-for="(icon, c_index) in row"
								:key="`col_${c_index}`"
								>
								<component
									v-bind:is="icon"
								></component>
							</td>
						</tr>
					</table>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>
						Кнопки
					</h1>
					<button class="btn btn--primary mr-3 mb-3">
						Консультация
					</button>
					<button class="btn btn--secondary mr-3 mb-3">
						Консультация
					</button>
					<button class="btn btn--primary btn--lg mr-3 mb-3">
						Консультация
					</button>
					<button class="btn btn--secondary btn--lg mr-3 mb-3">
						Консультация
					</button>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Текст</h1>

					<h1>
						h1
					</h1>
					<h2>
						h2
					</h2>
					<h3>
						h3
					</h3>
					<h4>
						h4
					</h4>

					<p class="text--sm">
						small
					</p>
					<p class="text--md">
						medium
					</p>
					<p class="text--lg">
						large
					</p>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Чекбокс</h1>
					<div class="control control--checkbox">
						<input id="test-checkbox" type="checkbox" class="control__input">
						<label for="test-checkbox" class="control__label">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus necessitatibus dolorem quaerat soluta sapiente architecto! Animi, quasi accusantium delectus laborum eos eaque natus aliquid rerum praesentium, in debitis laudantium ducimus.
						</label>
						<div class="control__msg control__msg--valid">
							valid
						</div>
						<div class="control__msg control__msg--invalid">
							Error description
						</div>
					</div>
					<div class="control control--checkbox">
						<input id="test-checkbox-2" type="checkbox" class="control__input" disabled>
						<label for="test-checkbox-2" class="control__label">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus necessitatibus dolorem quaerat soluta sapiente architecto! Animi, quasi accusantium delectus laborum eos eaque natus aliquid rerum praesentium, in debitis laudantium ducimus.
						</label>
					</div>
					<div class="control control--checkbox">
						<input id="test-checkbox-3" type="checkbox" class="control__input" checked disabled>
						<label for="test-checkbox-3" class="control__label">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus necessitatibus dolorem quaerat soluta sapiente architecto! Animi, quasi accusantium delectus laborum eos eaque natus aliquid rerum praesentium, in debitis laudantium ducimus.
						</label>
					</div>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Радио</h1>
					<div class="control control--radio">
						<input id="test-radio-1" name="test-radio" type="radio" class="control__input">
						<label for="test-radio-1" class="control__label">
							Lorem, ipsum dolor
						</label>
					</div>
					<div class="control control--radio">
						<input id="test-radio-2" name="test-radio" type="radio" class="control__input" disabled>
						<label for="test-radio-2" class="control__label">
							Lorem, ipsum dolor
						</label>
					</div>
					<div class="control control--radio">
						<input id="test-radio-3" name="test-radio" type="radio" class="control__input" checked disabled>
						<label for="test-radio-3" class="control__label">
							Lorem, ipsum dolor
						</label>
						<div class="control__msg control__msg--valid">
							valid
						</div>
						<div class="control__msg control__msg--invalid">
							Error description
						</div>
					</div>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Текст</h1>
					<div class="control control--text">
						<label for="" class="control__label">
							ФИО <sup class="text--error">*</sup>
						</label>
						<input type="text" class="control__input">
						<div class="control__msg control__msg--valid">
							valid
						</div>
						<div class="control__msg control__msg--invalid">
							Error description
						</div>
					</div>
				</div>

				<table class="table">
					<thead>
						<tr>
							<th colspan="4">
								Оценка
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="i in 4" :key="`tr2_${i}`">
							<td>
								Чистая прибыль
							</td>
							<td>
								3,9
							</td>
							<td>
								84,0
							</td>
							<td>
								11,39
							</td>
						</tr>
					</tbody>
				</table>

				<div class="wrapper px-3 py-4">
					<h1>Datepicker</h1>

					<datepicker
						class="mr-3 my-2"
						placeholder="Дата c"
						v-bind="datepicker"
					>
					</datepicker>

				</div>


				<div class="wrapper px-3 py-4">
					<h1>Custom select</h1>

					<multiselect
						class="mb-4"
						:multiple="false"
						:options="['option 1', 'option 2', 'option 3']"
						v-model="multiselect_hlp"
						>
					</multiselect>

				</div>

			</div>
		</section>
	</main>
</template>

<script>

	import allIcons from '../components/icons/allIcons.js';
    import Datepicker from 'vuejs-datepicker';
    import {ru} from 'vuejs-datepicker/dist/locale';
	import Multiselect from 'vue-multiselect';

	export default {
		name: 'PageUi',
		components: {
			...allIcons,
			Datepicker,
			Multiselect
		},
		data(){
			return {
				allIconsNames: Object.keys(allIcons),
                datepicker: {
                    language: ru,
                    format: 'dd.MM.yyyy',
                    mondayFirst: true,
                    wrapperClass: 'control--datepicker',
                    inputClass: 'control__input'
                },
				multiselect_hlp: null
			}
		},
		computed: {
            iconsTable(){
                let rows = [],
                    col = [];
                this.allIconsNames.map( (name, index) => {
                    col.push(name);
                    if( (index + 1) % 3 === 0 ){
                        rows.push(col);
                        col = [];
                    }
                });
                rows.push(col);
                return rows;
            }
		},
		methods: {

		},
		mounted(){

		},
	}
</script>
