<template>
	<main class="page__main">
		<section class="section">
			<div class="page__wrapper">

				<el-breadcrumbs></el-breadcrumbs>

				<h1 class="h2">
					Пресс-центр
				</h1>
                <press-centers></press-centers>
			</div>
		</section>
		<el-section-rating></el-section-rating>
	</main>
</template>

<script>

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElSectionRating from '../components/ElSectionRating.vue';
    import PressCenters from '../components/api_blocks/PressCenters.vue';

	export default {
		name: 'PagePressCenter',
		components: {
			ElBreadcrumbs,
			ElSectionRating,
            PressCenters
		},
		data(){
			return {
				currentTab: 'tab-1'
			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
