<template>
	<main class="page__main">
		<section class="section section--header section--header-sm">
			<div class="bg__pic">
				<img src="../assets/images/tariffs-bg.jpg" alt="Тарифы" v-background-image>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Тарифы
				</h1>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--blue text--white mb-0">
			<div class="page__wrapper">
				<div class="slider slider--application mb-0 mt-4">
					<div class="wrapper">
						<button class="btn btn--slider-blue slider__btn slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">
								<div class="swiper-slide slider__slide">
									<icon-money-box></icon-money-box>
									<h4 class="h4">
										Нет сделок — нет комиссий!
									</h4>
									<p class="text text--md">
										При отсутствии у Клиента сделок в течение расчетного месяца брокерская и депозитарная комиссии не взимаются
									</p>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-transparency></icon-transparency>
									<h4 class="h4">
										Простота и прозрачность расчётов
									</h4>
									<p class="text text--md">
										Отсутствие скрытых комиссий при оплате за сделку или торговую серию
									</p>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-requirements></icon-requirements>
									<h4 class="h4">
										Минимальные требования к <br class="d-lg-none">сумме активов на счете
									</h4>
									<p class="text text--md">
										Открытие брокерского счета начиная от 50 000 рублей
									</p>
								</div>
							</div>
						</div>
						<button class="btn btn--slider-blue slider__btn slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
				</div>
			</div>
		</section>
        <section class="section section--regular section--regular-with-bg">
            <div class="page__wrapper">
                <div class="wrapper wrapper--docs">
                    <div class="wrapper">
                        <el-list-tabs
                            :tabs="{
                                tab1: 'Фондовый рынок Московской биржи',
                                tab2: 'Срочный рынок Московской биржи',
                                tab3: 'Условия осуществления депозитарной деятельности',
                                tab4: 'Валютный рынок Московской биржи',
                                tab5: 'Санкт-Петербургская биржа'
                            }"
                            :selected="'tab2'"
                            >
                        </el-list-tabs>
                    </div>
                    <div class="wrapper">
                        <div class="control control--select d-lg-none">
                            <select class="control__input" v-model="currentTab">
                                <option value="tab1">
                                    Фондовый рынок Московской биржи
                                </option>
                                <option value="tab2">
                                    Срочный рынок Московской биржи
                                </option>
                                <option value="tab3">
                                   Условия осуществления депозитарной деятельности
                                </option>
                                <option value="tab4">
                                    Валютный рынок Московской биржи
                                </option>
                                <option value="tab5">
                                    Санкт-Петербургская биржа
                                </option>
                            </select>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab1'">
                            <h3 class="h3 mb-5">
                                Фондовый рынок Московской биржи
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab2'">
                            <h3 class="h3 mb-5">
                                Срочный рынок Московской биржи
                            </h3>
                            <div class="d-flex justify-content-end mb-4">
                                <multiselect
                                    class="w-auto"
                                    placeholder="Сортировать по"
                                    :options="['Дате', 'Цене', 'Городу']"
                                    >
                                </multiselect>
                            </div>

                            <el-figure-tariff
                                class="mb-5"
                                :tariff="{
                                    name: '«Первый»',
                                    cities: {
                                        msk: 'Москва',
                                        spb: 'Санкт-Петербург'
                                    },
                                    city: 'msk',
                                    link: '#',
                                    description: 'Рекомендован начинающим инвесторам — физическим лицам с невысокими суммами первоначальных инвестиций.',
                                    table: [
                                        ['Вне зависимости от оборота (льготный период)', ' 0,1 %'],
                                        [' Вне зависимости от оборота (основной период)', '0,5 %']
                                    ],
                                    file: {
                                        name: 'Подробное описание',
                                        info: '1Мб, PDF',
                                        link: '#'
                                    }
                                }"
                                >
                            </el-figure-tariff>

                            <el-figure-tariff
                                class="mb-5"
                                :tariff="{
                                    name: '«Базовый стандарт»',
                                    cities: {
                                        msk: 'Москва',
                                        spb: 'Санкт-Петербург'
                                    },
                                    city: 'msk',
                                    link: '#',
                                    description: 'Рекомендован начинающим инвесторам — физическим лицам с невысокими суммами первоначальных инвестиций.',
                                    table: [
                                        ['Вне зависимости от оборота (льготный период)', ' 0,1 %'],
                                        [' Вне зависимости от оборота (основной период)', '0,5 %'],
                                        [' Вне зависимости от оборота (основной период)', '0,5 %']
                                    ],
                                    file: {
                                        name: 'Подробное описание',
                                        info: '1Мб, PDF',
                                        link: '#'
                                    }
                                }"
                                >
                            </el-figure-tariff>

                            <el-figure-tariff
                                class="mb-5"
                                :tariff="{
                                    name: '«Маржинальный»',
                                    cities: {
                                        msk: 'Москва',
                                        spb: 'Санкт-Петербург'
                                    },
                                    city: 'msk',
                                    link: '#',
                                    description: 'Рекомендован начинающим инвесторам — физическим лицам с невысокими суммами первоначальных инвестиций.',
                                    table: [
                                        ['Вне зависимости от оборота (льготный период)', ' 0,1 %'],
                                        ['Вне зависимости от оборота (льготный период)', ' 0,1 %'],
                                        [' Вне зависимости от оборота (основной период)', '0,5 %'],
                                        [' Вне зависимости от оборота (основной период)', '0,5 %']
                                    ],
                                    file: {
                                        name: 'Подробное описание',
                                        info: '1Мб, PDF',
                                        link: '#'
                                    }
                                }"
                                >
                            </el-figure-tariff>

                            <h4 class="h4">
                                Комиссия за брокерское обслуживание указана в % от суммы сделки
                            </h4>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab3'">
                            <h3 class="h3 mb-5">
                                Условия осуществления депозитарной деятельности
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab4'">
                            <h3 class="h3 mb-5">
                                Валютный рынок Московской биржи
                            </h3>
                        </div>
                        <div class="wrapper" v-if="currentTab === 'tab5'">
                            <h3 class="h3 mb-5">
                                Санкт-Петербургская биржа
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <el-section-rating></el-section-rating>
	</main>
</template>

<script>

    import { events } from "../events.js";

    import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
    import ElSectionRating from '../components/ElSectionRating.vue';

    import IconMoneyBox from '../components/icons/icon_files/IconMoneyBox.vue';
    import IconRequirements from '../components/icons/icon_files/IconRequirements.vue';
    import IconTransparency from '../components/icons/icon_files/IconTransparency.vue';
    import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';
    import ElListTabs from '../components/ElListTabs.vue';
    import ElFigureTariff from '../components/ElFigureTariff.vue';
    import Multiselect from 'vue-multiselect';

    import initSlider from '../libs/slider.js';

	export default {
		name: 'PageTariffs',
		components: {
            ElBreadcrumbs,
            ElSectionRating,
            IconMoneyBox,
            IconRequirements,
            IconTransparency,
            IconChewronDown,
            ElListTabs,
            ElFigureTariff,
            Multiselect
		},
		data(){
			return {
                currentTab: 'tab2',
				sliderApplication: null,
				sliderApplicationToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			enableSliderApplication(){
				let breakpoints = {};
				breakpoints[this.$store.state.breakpoints['md']] = {
					slidesPerView: 2
				}
				this.sliderApplication = initSlider('.slider--application', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderApplication(){
				if( this.sliderApplication ){
					this.sliderApplication.destroy(true, true);
				}
			},
			initSliderApplication(){
				!this.sliderApplicationToggleBreakpoint.matches ? this.enableSliderApplication() : this.disableSliderApplication();
			}
		},
		mounted(){
			this.sliderApplicationToggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakpoints['lg']}px)`);
			this.sliderApplicationToggleBreakpoint.addListener( this.initSliderApplication );
			this.initSliderApplication();

            this.$evbus.$on(events.EV_APP_TOGGLE_TAB, (data) => {
                this.currentTab = data.tab;
            });
		}
	}
</script>
