<template>
	<main class="page__main">
		<section class="section section--header pb-5">
			<div class="bg__pic">
				<img src="../assets/images/idu-inner-bg.png" alt="Доверительное управление инвестициями" v-background-image>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<strategy-banner
					:strategy="{
						title: 'Стратегия Российские акции 1',
						caption: 'Существенный обгон инфляции',
						percent: 14.1,
						percentCaption: 'Средняя годовая доходность*'
					}"
					>
				</strategy-banner>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--blue text--white">
			<div class="page__wrapper">
				<strategy-advantages
					class="mb-0 mt-4"
					:initial-breakpoints="$store.state.breakpoints"
					:advantages="[
						{ title: 'Защита от инфляции', caption: 'На длительных интервалах времени (5 и более лет) портфель акций заметно обгоняет инфляцию' },
						{ title: 'Высокая ликвидность', caption: 'Управляющий в короткий срок и с низкими затратами может изменять структуру и состав портфелей в зависимости от конъюнктуры рынка.' },
						{ title: 'Широкая диверсификация', caption: 'Управляющий формирует портфель из большого числа акций, что существенно уменьшает риск, связанный с отдельной бумагой.' }
					]"
					>
				</strategy-advantages>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Описание стратегии
				</h2>
				<strategy-description
					:strategy="{
						description: '<p class=\'text--lg mb-4 pb-3\'> Управляющий инвестирует в акции крупных и надежных российских компаний. Доход формируется как за счет роста цен на акции, так и за счет выплат компаниями регулярных дивидендов. </p> <h4 class=\'h4 text--primary mb-3\'> Цель стратегии </h4> <p class=\'text--lg mb-4 pb-3\'> Получение средней годовой доходности на уровне от 15%. </p> <h4 class=\'h4 text--primary mb-3\'> Структура активов </h4> <p class=\'text--lg\'> Обычно инвестиционный портфель на 100% состоит из акций крупных российских компаний, таких как Газпром, Лукойл, Сбербанк, Норильский Никель, МТС, Магнит, Яндекс и другие. В условиях повышенного риска управляющий может сокращать позиции в акциях вплоть до 0%, размещая активы в денежных средствах или облигациях, в том числе еврооблигациях. </p>',
						type: 'агрессивная',
						risk: '35%',
						currency: 'рубли'
					}"
					>
				</strategy-description>
			</div>
		</section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					График чистой доходности
				</h2>
				<strategy-chart :strategy-id="'es213s'"></strategy-chart>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Условия инвестирования
				</h2>
				<strategy-conditions
					:initial-breakpoints="$store.state.breakpoints"
					:conditions="[
						'<span class=\'text\'> <span class=\'text--bold\'>100</span> тыс. руб. </span> минимальная сумма инвестиции',
						'<span class=\'text text--bold\'> 5 лет </span> рекомендуемый срок инвестиции',
						'<span class=\'text text--bold\'> 2% </span> вознаграждение управляющего',
						'<span class=\'text text--bold\'> 15% </span> плата за успех от прироста стоимости активов'
					]"
					>
				</strategy-conditions>
			</div>
		</section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<div class="d-flex w-100 justify-content-center">
					<div class="figure--person">
						<h4 class="person__name h4 text--primary">
							<span class="text">
								Михаил Королюк
							</span>
							<span class="person__role">
								Опыт работы портфельным управляющим с 1999 года
							</span>
						</h4>
						<div class="wrapper">
							<p class="person__info text--md">
								Стратегия «Российские акции 1» предназначена для существенного обгона инфляции на интервале в несколько лет. История показывает, что акции — это единственный класс активов, систематически обгоняющий уровень инфляции. Россия никогда не была исключением из этого правила. Не была, и не будет.
							</p>
							<img class="person__pic" src="../assets/images/koroluk-min.png" alt="Михаил Королюк">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<div class="d-flex justify-content-center">
					<div class="form form--simple form--sm">
						<h4 class="h4 mb-0 mr-3">
							Задать вопрос
						</h4>
						<p>
							Оставьте свои контакты, чтобы наш консультант по услуге мог перезвонить и ответить на все Ваши вопросы. Поля, помеченные *, обязательны для заполнения.
						</p>
						<div class="control control--text">
							<label for="" class="control__label">
								Имя <sup class="text--error">*</sup>
							</label>
							<input type="text" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите Имя
							</div>
						</div>
						<div class="control control--text">
							<label for="" class="control__label">
								Телефон <sup class="text--error">*</sup>
							</label>
							<input type="tel" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите Телефон
							</div>
						</div>
						<div class="control control--text">
							<label for="" class="control__label">
								E-mail <sup class="text--error">*</sup>
							</label>
							<input type="email" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите E-mail
							</div>
						</div>
						<div class="control control--text">
							<label for="" class="control__label">
								Город
							</label>
							<input type="text" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите Город
							</div>
						</div>
						<div class="control control--checkbox mb-4">
							<input id="popup-askquestion-agrement" type="checkbox" class="control__input">
							<label for="popup-askquestion-agrement" class="control__label">
								Я принимаю <a href="#" class="link">условия соглашения об обработке персональных данных</a>
							</label>
							<div class="control__msg control__msg--invalid">
								Примите условия
							</div>
						</div>
						<button class="btn btn--primary btn--lg">
							Отправить заявку
						</button>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg">
			<div class="bg__pic">
				<img src="../assets/images/wrapper-start-bg.jpg" alt="Не знаете, с чего начать?" v-background-image>
			</div>
			<div class="page__wrapper">
				<div class="wrapper wrapper--start">
					<div class="wrapper__content">
						<h2 class="h2">
							Не знаете, с чего начать?
						</h2>
						<p class="text">
							Как понять, какая стратегия подойдет именно Вам?
						</p>
						<p class="text">
							Начните с небольшого опросника, который поможет определиться с выбором. Метод профессионалов может стать хорошим началом в определении стратегии инвестирования.
						</p>
						<button class="btn btn--primary btn--lg" @click="openPopup('risk-profile')">
							Определить риск профиль
						</button>
					</div>
				</div>
			</div>
		</section>
		<el-section-telegram></el-section-telegram>
		<el-section-interesting></el-section-interesting>
		<el-section-rating></el-section-rating>

		<el-popup-backcall></el-popup-backcall>
		<el-popup-ask-question></el-popup-ask-question>
		<el-popup-risk-profile></el-popup-risk-profile>

	</main>
</template>

<script>

	import { events } from "../events";

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElSectionTelegram from '../components/ElSectionTelegram.vue';
	import ElSectionInteresting from '../components/ElSectionInteresting.vue';
	import ElSectionRating from '../components/ElSectionRating.vue';
	import ElPopupBackcall from '../components/ElPopupBackcall.vue';
	import ElPopupAskQuestion from '../components/ElPopupAskQuestion.vue';
	import ElPopupRiskProfile from '../components/ElPopupRiskProfile.vue';

	import StrategyBanner from '../components/api_blocks/StrategyBanner.vue';
	import StrategyAdvantages from '../components/api_blocks/StrategyAdvantages.vue';
	import StrategyDescription from '../components/api_blocks/StrategyDescription.vue';
	import StrategyChart from '../components/api_blocks/StrategyChart.vue';
	import StrategyConditions from '../components/api_blocks/StrategyConditions.vue';

	export default {
		name: 'PageIduInner',
		components: {
			ElBreadcrumbs,
			ElSectionTelegram,
			ElSectionInteresting,
			ElSectionRating,
			ElPopupBackcall,
			ElPopupAskQuestion,
			ElPopupRiskProfile,
			StrategyBanner,
			StrategyAdvantages,
			StrategyDescription,
			StrategyChart,
			StrategyConditions
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			}
		},
		mounted(){

		}
	}
</script>