<template>
	<main class="page__main">
		<section class="section section--header section--header-sm">
			<div class="bg__pic">
				<img src="../assets/images/markets-bg.jpg" alt="Рынки капитала" v-background-image>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Рынки капитала
				</h1>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--blue text--white mb-0">
			<div class="page__wrapper">
				<div class="slider slider--application mb-0 mt-4">
					<div class="wrapper">
						<button class="btn btn--slider-blue slider__btn slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">
								<div class="swiper-slide slider__slide">
									<icon-quality-shield></icon-quality-shield>
									<h4 class="h4">
										Наличие глубокой экспертизы
									</h4>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-universality></icon-universality>
									<h4 class="h4">
										Большой опыт работы на долговом рынке
									</h4>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-reliability></icon-reliability>
									<h4 class="h4">
										Проактивная команда специалистов
									</h4>
								</div>
							</div>
						</div>
						<button class="btn btn--slider-blue slider__btn slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
				</div>
			</div>
		</section>
		<section class="section section--regular decoration--arc-before">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Комплексное сопровождение сделок по секьюритизации Ваших активов
				</h2>
				<markets-person
					:data="{
						name: 'Андрей Игоревич Буш',
						role: 'руководитель управления инвестиционно- банковских услуг',
						pic: 'assets/img/bush.png',
						text: '<p class=\'text text--lg\'> Являясь профессиональным участником рынка ценных бумаг, инвестиционно-финансовая компания «Солид» предлагает своим клиентам полный комплекс услуг по размещению облигаций. </p> <p class=\'text text--lg mb-5\'> ИФК «Солид» может взять на себя разработку параметров эмиссии и подготовку комплекта документов для регистрации выпуска облигаций (решение о размещении и выпуске ценных бумаг, проспект эмиссии, отчет о выпуске и др.), само размещение (в качестве андеррайтера) и организацию вторичного обращения. </p>'
					}"
					>
				</markets-person>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Виды консультационных услуг
				</h2>
				<markets-services
					class="mb-4"
					:initial-breakpoints="$store.state.breakpoints"
					:services="[
						'Внесение имущественного взноса в уставной капитал',
						'Структурирование сделок',
						'Купля-продажа облигаций',
						'Техническое сопровождение биржевого размещения облигаций',
						'Маркетинговая поддержка и организация презентаций для инвесторов',
						'Содействие в выборе контрагентов',
						'Маркет-мейкинг'
					]"
					>
				</markets-services>
				<div class="d-blok text-center">
					<button class="btn btn--primary btn--lg" @click="openPopup('backcall')">
						Стать клиентом
					</button>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg mb-0">
			<div class="page__wrapper">
				<markets-media
					:media="[
						{
							title: '«Механизм облигационного займа»',
							pic: 'assets/img/article-1.jpg',
							link: '#',
							category: 'Рекомендуемые информационные материалы'
						},
						{
							title: '«Корпоративные облигации»',
							pic: 'assets/img/article-2.jpg',
							link: '#',
							category: 'Рекомендуемые информационные материалы'
						},
						{
							title: 'Рынок ВДО. Секреты управляющего. Интервью Invest Heroes с Андреем Бушем',
							pic: 'assets/img/article-3.jpg',
							link: '#',
							date: '17 окт. 2020 г.'
						}
					]"
					>
				</markets-media>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg text--white mb-lg-0">
			<div class="bg__pic">
				<picture v-background-image>
					<source
						srcset="../assets/images/section-feedback-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/section-feedback-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/section-feedback-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/section-feedback-bg-lg.jpg" alt="Отзывы наших клиентов">
				</picture>
			</div>
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Контакты
				</h2>
				<h3 class="h3 text-center">
					<a href="mailto:capitalmarkets@solidbroker.ru" class="link link--unset">
						capitalmarkets@solidbroker.ru
					</a>
				</h3>
			</div>
		</section>
		<el-section-rating></el-section-rating>
		<el-popup-ask-question></el-popup-ask-question>
		<el-popup-backcall></el-popup-backcall>
	</main>
</template>

<script>

	import { events } from "../events";

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElPopupAskQuestion from '../components/ElPopupAskQuestion.vue';
	import ElPopupBackcall from '../components/ElPopupBackcall.vue';
	import ElSectionRating from '../components/ElSectionRating.vue';

	import IconQualityShield from '../components/icons/icon_files/IconQualityShield.vue';
	import IconUniversality from '../components/icons/icon_files/IconUniversality.vue';
	import IconReliability from '../components/icons/icon_files/IconReliability.vue';
	import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';
	import MarketsPerson from '../components/api_blocks/MarketsPerson.vue';
	import MarketsServices from '../components/api_blocks/MarketsServices.vue';
	import MarketsMedia from '../components/api_blocks/MarketsMedia.vue';

	import initSlider from '../libs/slider.js';

	export default {
		name: 'PageMarkets',
		components: {
			ElBreadcrumbs,
			ElPopupAskQuestion,
			ElSectionRating,
			ElPopupBackcall,
			IconQualityShield,
			IconUniversality,
			IconReliability,
			IconChewronDown,
			MarketsPerson,
			MarketsServices,
			MarketsMedia
		},
		data(){
			return {
				sliderApplication: null,
				sliderApplicationToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
			enableSliderApplication(){
				let breakpoints = {};
				breakpoints[this.$store.state.breakpoints['md']] = {
					slidesPerView: 2
				}
				this.sliderApplication = initSlider('.slider--application', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderApplication(){
				if( this.sliderApplication ){
					this.sliderApplication.destroy(true, true);
				}
			},
			initSliderApplication(){
				!this.sliderApplicationToggleBreakpoint.matches ? this.enableSliderApplication() : this.disableSliderApplication();
			}
		},
		mounted(){
			this.sliderApplicationToggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakpoints['lg']}px)`);
			this.sliderApplicationToggleBreakpoint.addListener( this.initSliderApplication );
			this.initSliderApplication();
		}
	}
</script>
