<template>
	<main class="page__main">
		<section class="section section--header section--header-sm">
			<div class="bg__pic">
				<img src="../assets/images/about-bg.jpg" alt="О компании" v-background-image>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					О компании
				</h1>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--blue text--white mb-0">
			<div class="page__wrapper">
				<about-ratings
					class="mb-0 mt-4"
					:initial-breakpoints="$store.state.breakpoints"
					:ratings="[
						{
							title: 'TOP 5',
							caption: 'Рейтинг надежности и качества <br class=\'d-none d-lg-block\'>услуг НРА',
							icon: 'top5'
						},
						{
							title: 'TOP 20',
							caption: 'Организаторов выпусков <br class=\'d-none d-lg-block\'>облигаций в России',
							icon: 'top20'
						},
						{
							title: 'TOP 25',
							caption: 'Ведущих операторов Мосбиржи',
							icon: 'top25'
						}
					]"
					>
				</about-ratings>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Успешно управляем финансами с 1993 года!
				</h2>
				<p class="text-text--md text-center mb-5">
					На протяжении 27 лет мы удерживаем высокий рейтинг надежности (НРА) и статус ведущего оператора Московской Биржи. Сегодня мы продолжаем развиваться и остаемся верны качеству, предлагая инвестиционные решения, проверенные временем.
				</p>
				<ul class="list list--steps list--steps-icons">
					<li class="list__item">
						<icon-help></icon-help>
						<h4 class="h4">
							Мы помогаем клиентам
						</h4>
						<p class="text text--md">
							находить альтернативные способы преумножения капитала, достигать  инвестиционных целей, зарабатывать и использовать переменчивую ситуацию на рынке в свою пользу.
						</p>
					</li>
					<li class="list__item">
						<icon-experience></icon-experience>
						<h4 class="h4">
							Бесценный опыт
						</h4>
						<p class="text text--md">
							накопленный нами за 27 лет непрерывной работы на фондовом рынке, позволяет предлагать клиентам наиболее успешные инвестиционные решения.
						</p>
					</li>
					<li class="list__item">
						<icon-offices></icon-offices>
						<h4 class="h4">
							Наши офисы
						</h4>
						<p class="text text--md">
							открыты в Санкт- Петербурге, Казани, Туле, Уфе, Альметьевске, Красноярске и многих других городах России. Мы оказываем сервисы в том числе онлайн, чтобы вы экономили свое время.
						</p>
					</li>
				</ul>
				<div class="d-block text-center">
					<button class="btn btn--primary btn--lg" @click="openPopup('backcall')">
						Стать клиентом
					</button>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light mb-0">
			<div class="page__wrapper">
				<div class="wrapper wrapper--tools">
					<div class="figure figure--tool">
						<h4 class="h4 text--primary">
							<span class="text">
								4 место в рейтинге надёжности и качества НРА
							</span>
							<img src="../assets/images/nra-logo.png" alt="НРА">
						</h4>
						<ul class="list list--goal text--lg">
							<li class="list__item">
								по национальной шкале инвестиционных компаний присвоен рейтинг АА-|ru.iv|
							</li>
							<li class="list__item">
								прогноз по рейтингу — «Стабильный»
							</li>
						</ul>
					</div>
					<div class="figure figure--tool">
						<h4 class="h4 text--primary">
							<span class="text">
								2 место в рэнкинге организаторов выпуска высокодоходных облигаций
							</span>
							<icon-cbonds></icon-cbonds>
						</h4>
						<ul class="list list--goal text--lg">
							<li class="list__item">
								доля первой тройки организаторов на рынке составляет 52.3%
							</li>
						</ul>
					</div>
					<div class="figure figure--tool">
						<h4 class="h4 text--primary">
							<span class="text">
								Прорыв года Cbonds Award
							</span>
							<icon-cbonds></icon-cbonds>
						</h4>
						<ul class="list list--goal text--lg">
							<li class="list__item">
								1 место в номинации «Прорыв года» 2019
							</li>
							<li class="list__item">
								2 место в номинации «Лучший организатор сделок High Yield»
							</li>
						</ul>
					</div>
					<div class="figure figure--tool">
						<h4 class="h4 text--primary">
							<span class="text">
								Первое место в номинации Cbonds Award
							</span>
							<img src="../assets/images/cbonds-logo.png" alt="Cbonds Award">
						</h4>
						<ul class="list list--goal text--lg">
							<li class="list__item">
								иностранные инструменты на российской площадке внутри российской юрисдикции
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Лицензии
				</h2>
				<gallery
					:gallery="[
						{ title: 'Управление ценными бумагами', picMin: 'assets/img/gallery-item.jpg', picFull: 'assets/img/license.jpg'},
						{ title: 'Брокерская деятельность', picMin: 'assets/img/gallery-item.jpg', picFull: 'assets/img/license.jpg'},
						{ title: 'Дилерская деятельность', picMin: 'assets/img/gallery-item.jpg', picFull: 'assets/img/license.jpg'},
						{ title: 'Депозитарная деятельность', picMin: 'assets/img/gallery-item.jpg', picFull: 'assets/img/license.jpg'}
					]"
					>
				</gallery>
			</div>
		</section>
		<el-section-interesting></el-section-interesting>
		<el-section-rating></el-section-rating>

		<el-popup-gallery :name="'popup-gallery'"></el-popup-gallery>
		<el-popup-backcall></el-popup-backcall>
	</main>
</template>

<script>

	import { events } from "../events";

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import IconHelp from '../components/icons/icon_files/IconHelp.vue';
	import IconExperience from '../components/icons/icon_files/IconExperience.vue';
	import IconOffices from '../components/icons/icon_files/IconOffices.vue';
	import IconCbonds from '../components/icons/icon_files/IconCbonds.vue';

	import ElSectionRating from '../components/ElSectionRating.vue';
	import ElSectionInteresting from '../components/ElSectionInteresting.vue';
	import ElPopupGallery from '../components/ElPopupGallery.vue';
	import ElPopupBackcall from '../components/ElPopupBackcall.vue';

	import AboutRatings from '../components/api_blocks/AboutRatings.vue';
	import Gallery from '../components/api_blocks/Gallery.vue';

	export default {
		name: 'PageAbout',
		components: {
			ElBreadcrumbs,
			IconHelp,
			IconExperience,
			IconOffices,
			IconCbonds,
			ElSectionRating,
			ElSectionInteresting,
			ElPopupGallery,
			ElPopupBackcall,
			AboutRatings,
			Gallery
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},

		},
		mounted(){

		}
	}
</script>
