<template>
	<main class="page__main">
		<section class="section">
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<tabs-analitics></tabs-analitics>
			</div>
		</section>
		<el-section-rating></el-section-rating>
	</main>
</template>

<script>

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElSectionRating from '../components/ElSectionRating.vue';
	import TabsAnalitics from '../components/api_blocks/TabsAnalitics.vue';

	export default {
		name: 'PageAnalitics',
		components: {
			ElBreadcrumbs,
			ElSectionRating,
			TabsAnalitics
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
