<template>
	<main class="page__main">
		<section class="section section--header section--header-sm">
			<div class="bg__pic">
				<img src="../assets/images/auction-bg.jpg" alt="Аукционный центр" v-background-image>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Аукционный центр
				</h1>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--blue text--white mb-0">
			<div class="page__wrapper">
				<div class="slider slider--application mb-0 mt-4">
					<div class="wrapper">
						<button class="btn btn--slider-blue slider__btn slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">
								<div class="swiper-slide slider__slide">
									<icon-reliability></icon-reliability>
									<h4 class="h4">
										Прозрачность
									</h4>
									<p class="text text--md">
										Экспертная оценка предмета торгов, соблюдение процедуры проведения торгов в соответствии с законодательством Российской Федерации
									</p>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-universality></icon-universality>
									<h4 class="h4">
										Индивидуальный подход
									</h4>
									<p class="text text--md">
										Мы помогаем клиенту в достижении цели, начиная с момента подготовки до подведения итогов и оформления результатов торгов
									</p>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-quality-shield></icon-quality-shield>
									<h4 class="h4">
										Оперативность
									</h4>
									<p class="text text--md">
										Мы помогаем клиенту достичь цели в максимально возможные сроки.
									</p>
								</div>
							</div>
						</div>
						<button class="btn btn--slider-blue slider__btn slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Перечень услуг
				</h2>
				<auction-services class="mb-5"
					:services="[
						{
							title: 'Для собственников',
							content: '<p> Потенциальным покупателям и арендаторам имущества в Аукционном центре готовы оказать консультационные услуги по вопросам: </p>'
						},
						{
							title: 'Для потенциальных собственников',
							content: '<p> Потенциальным покупателям и арендаторам имущества в Аукционном центре готовы оказать консультационные услуги по вопросам: </p>',
							list: [
								{ title: 'Участие в торгах', link: '#' },
								{ title: 'Процедуры аукциона', link: '#' },
								{ title: 'Оформления права собственности', link: '#' },
								{ title: 'Оформления пакета документов для участия в аукционе', link: '#' },
								{ title: ' Организации осмотра имущества, выставляемого на торги', link: '#' },
								{ title: 'преимуществ ЗПИФ и процедуре внесения в него имущества', link: '#' }
							]
						}
					]"
					>
				</auction-services>
				<div class="d-block text-center">
					<button class="btn btn--primary btn--lg" @click="openPopup('backcall')">
						Стать клиентом
					</button>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Категории конкурентных процедур
				</h2>
				<auction-procedures
					:procedures="[
						'Движимое имущество',
						'Недвижимое имущество',
						'Право требования, ценные бумаги и т.д.',
						'Банкротство',
						'Объекты, планируемые к продаже'
					]"
					>
				</auction-procedures>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Ваш менеджер
				</h2>
                <div class="d-flex justify-content-center mb-5">
                    <div class="figure figure--manager">
                        <img class="person__pic" src="../assets/images/zelenok.jpg" alt="Татьяна Олеговна Зеленюк">
                        <h4 class="person__name h4">
                            <span class="text">
                                Татьяна Олеговна Зеленюк
                            </span>
                            <span class="person__role">
                                Заместитель начальника управления оценки
                            </span>
                        </h4>
                    </div>
                </div>
				<div class="d-block text-center">
					<button class="btn btn--primary btn--lg" @click="openPopup('ask-question')">
						Заказать вопрос
					</button>
				</div>
            </div>
        </section>
        <el-section-rating></el-section-rating>
        <el-popup-backcall></el-popup-backcall>
        <el-popup-ask-question></el-popup-ask-question>
	</main>
</template>

<script>
	import { events } from "../events";

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElPopupBackcall from '../components/ElPopupBackcall.vue';
    import ElPopupAskQuestion from '../components/ElPopupAskQuestion.vue';
    import ElSectionRating from '../components/ElSectionRating.vue';

	import IconReliability from '../components/icons/icon_files/IconReliability.vue';
	import IconUniversality from '../components/icons/icon_files/IconUniversality.vue';
	import IconQualityShield from '../components/icons/icon_files/IconQualityShield.vue';
	import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';
	import AuctionServices from '../components/api_blocks/AuctionServices.vue';
	import AuctionProcedures from '../components/api_blocks/AuctionProcedures.vue';

	import initSlider from '../libs/slider.js';

	export default {
		name: 'PageAuction',
		components: {
            ElBreadcrumbs,
            ElPopupBackcall,
            ElPopupAskQuestion,
            IconReliability,
            IconUniversality,
            IconQualityShield,
            IconChewronDown,
            ElSectionRating,
			AuctionServices,
			AuctionProcedures
		},
		data(){
			return {
				sliderApplication: null,
				sliderApplicationToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
			enableSliderApplication(){
				let breakpoints = {};
				breakpoints[this.$store.state.breakpoints['md']] = {
					slidesPerView: 2
				}
				this.sliderApplication = initSlider('.slider--application', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderApplication(){
				if( this.sliderApplication ){
					this.sliderApplication.destroy(true, true);
				}
			},
			initSliderApplication(){
				!this.sliderApplicationToggleBreakpoint.matches ? this.enableSliderApplication() : this.disableSliderApplication();
			}
		},
		mounted(){
			this.sliderApplicationToggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakpoints['lg']}px)`);
			this.sliderApplicationToggleBreakpoint.addListener( this.initSliderApplication );
			this.initSliderApplication();
		}
	}
</script>
