<template>
	<main class="page__main">
		<section class="section section--header decoration--arc-after">
			<div class="bg__pic">
				<picture v-background-image>
					<source
						srcset="../assets/images/idu-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/idu-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/idu-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/idu-bg-lg.jpg" alt="Доверительное управление инвестициями">
				</picture>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Доверительное <br class="d-none d-lg-block">управление инвестициями
				</h1>
				<h2 class="h4">
					Выберите подходящую <br class="d-none d-md-block d-lg-none">стратегию <br class="d-none d-lg-block">управления <br class="d-none d-md-block d-lg-none">инвестициями и доверьте <br class="d-none d-md-block">получение дохода опытным <br class="d-none d-md-block d-lg-none">управляющим
				</h2>
				<button class="btn btn--primary btn--lg" @click="openPopup('ask-question')">
					Консультация
				</button>
			</div>
		</section>
		<section class="section decoration--arc-double">
			<div class="page__wrapper">
				<div class="slider slider--advantages">
					<div class="wrapper">
						<button class="btn btn--slider-blue slider__btn slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">
								<div class="swiper-slide slider__slide">
									<icon-comfortable></icon-comfortable>
									<span class="text">
										Комфортная стартовая сумма инвестиций
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-results></icon-results>
									<span class="text">
										Подтвержденные результаты управления
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-strategy></icon-strategy>
									<span class="text">
										Широкий выбор инвестиционных стратегий
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-knowledge></icon-knowledge>
									<span class="text">
										Не требуется специальных знаний
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-penalty></icon-penalty>
									<span class="text">
										Досрочный выход из стратегии без штрафов
									</span>
								</div>
							</div>
						</div>
						<button class="btn btn--slider-blue slider__btn slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
				</div>
			</div>
		</section>
		<section class="section section--regular decoration--arc-before">
			<div class="page__wrapper">
				<div class="wrapper wrapper--idu">
					<div class="wrapper">
						<h2 class="h2 mb-4 pb-lg-3">
							Индивидуальное доверительное управление
						</h2>
						<p class="text text--lg mb-4 pb-md-2 pb-lg-3">
							Профессиональное принятие инвестиционных решений и управление капиталом не требует навыков самостоятельной торговли на бирже и знаний о рынке ценных бумаг. Вы выбираете подходящую стратегию и передаете деньги в управление профессионалу. В Личном кабинете Вы можете видеть ежедневную переоценку и структуру своих активов, все совершаемые Управляющим сделки. В любой день можно вывести все или часть инвестированных средств или сменить стратегию.
						</p>
						<button class="btn btn--primary btn--lg w-100 w-md-auto" @click="openPopup('ask-question')">
							Задать вопрос
						</button>
					</div>
					<div class="person">
						<img src="../assets/images/koroluk.png" alt="Михаил Королюк" class="person__pic">
						<div class="person__info">
							<div class="person__name h4">
								Михаил Королюк,
							</div>
							<div class="person__role">
								Начальник отдела Доверительного управления
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Как это работает?
				</h2>
				<ul class="list list--steps mb-0">
					<li class="list__item">
						<h4 class="h4">
							Определение риск-профиля и целей клиента
						</h4>
						<p class="text text--md">
							Анализ предпочтений клиента, ожиданий по доходности и рискам
						</p>
					</li>
					<li class="list__item">
						<h4 class="h4">
							Выбор подходящей инвестиционной стратегии
						</h4>
						<p class="text text--md">
							Разнообразие стратегий позволяет выбрать вариант, лучше всего отвечающий запросам клиента
						</p>
					</li>
					<li class="list__item">
						<h4 class="h4">
							Доход выше, чем по депозитам в банках
						</h4>
						<p class="text text--md">
							Профессиональный управляющий реализует выбранную стратегию, инвестированные средства приносят доход
						</p>
					</li>
				</ul>
			</div>
		</section>
		<el-section-calc-idu>
			<template v-slot:bg>
				<picture v-background-image>
					<source
						srcset="../assets/images/section-calc-idu-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/section-calc-idu-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/section-calc-idu-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/section-calc-idu-bg-lg.jpg" alt="Подбор стратегии">
				</picture>
			</template>
		</el-section-calc-idu>
		<section class="section section--regular section--regular-with-bg section--light mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Примеры результативности стратегий
				</h2>
				<strategy-examples
					:initial-breakpoints="$store.state.breakpoints"
					:examples="[
						{
							title: 'Российские акции 1',
							link: $router.resolve({name: 'idu-inner'}).href,
							percent: '+14,1%',
							percentCaption: 'Cредняя годовая доходность за 5 лет',
							type: 'агрессивная',
							risk: '35%',
							currency: 'рубли',
							chartData: {}
						},
						{
							title: 'Российские акции 1',
							link: $router.resolve({name: 'idu-inner'}).href,
							percent: '+14,1%',
							percentCaption: 'Cредняя годовая доходность за 5 лет',
							type: 'агрессивная',
							risk: '35%',
							currency: 'рубли',
							chartData: {}
						},
						{
							title: 'Российские акции 1',
							link: $router.resolve({name: 'idu-inner'}).href,
							percent: '+14,1%',
							percentCaption: 'Cредняя годовая доходность за 5 лет',
							type: 'агрессивная',
							risk: '35%',
							currency: 'рубли',
							chartData: {}
						}
					]"
					>
				</strategy-examples>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg">
			<div class="bg__pic">
				<img src="../assets/images/wrapper-start-bg.jpg" alt="Не знаете, с чего начать?" v-background-image>
			</div>
			<div class="page__wrapper">
				<div class="wrapper wrapper--start">
					<div class="wrapper__content">
						<h2 class="h2">
							Не знаете, с чего начать?
						</h2>
						<p class="text">
							Как понять, какая стратегия подойдет именно Вам?
						</p>
						<p class="text">
							Начните с небольшого опросника, который поможет определиться с выбором. Метод профессионалов может стать хорошим началом в определении стратегии инвестирования.
						</p>
						<button class="btn btn--primary btn--lg" @click="openPopup('risk-profile')">
							Определить риск профиль
						</button>
					</div>
				</div>
			</div>
		</section>
		<el-section-telegram></el-section-telegram>
		<el-section-interesting></el-section-interesting>
		<el-section-rating></el-section-rating>

		<el-popup-ask-question></el-popup-ask-question>
		<el-popup-risk-profile></el-popup-risk-profile>

	</main>
</template>

<script>

	import { events } from "../events";

	import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';
	import IconComfortable from '../components/icons/icon_files/IconComfortable.vue';
	import IconResults from '../components/icons/icon_files/IconResults.vue';
	import IconStrategy from '../components/icons/icon_files/IconStrategy.vue';
	import IconKnowledge from '../components/icons/icon_files/IconKnowledge.vue';
	import IconPenalty from '../components/icons/icon_files/IconPenalty.vue';

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElSectionCalcIdu from '../components/ElSectionCalcIdu.vue';
	import ElSectionTelegram from '../components/ElSectionTelegram.vue';
	import ElSectionInteresting from '../components/ElSectionInteresting.vue';
	import ElSectionRating from '../components/ElSectionRating.vue';
	import ElPopupAskQuestion from '../components/ElPopupAskQuestion.vue';
	import ElPopupRiskProfile from '../components/ElPopupRiskProfile.vue';
	import StrategyExamples from '../components/api_blocks/StrategyExamples.vue';

	import initSlider from '../libs/slider.js';

	export default {
		name: 'PageIdu',
		components: {
			IconChewronDown,
			IconComfortable,
			IconResults,
			IconStrategy,
			IconKnowledge,
			IconPenalty,

			ElBreadcrumbs,
			ElSectionCalcIdu,
			ElSectionTelegram,
			ElSectionInteresting,
			ElSectionRating,
			ElPopupAskQuestion,
			ElPopupRiskProfile,
			StrategyExamples
		},
		data(){
			return {
				sliderAdvantages: null,
				sliderAdvantagesToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
			enableSliderAdvantages(){
				let breakpoints = {};
				breakpoints[this.$store.state.breakpoints['md']] = {
					slidesPerView: 3
				}
				this.sliderAdvantages = initSlider('.slider--advantages', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderAdvantages(){
				if( this.sliderAdvantages ){
					this.sliderAdvantages.destroy(true, true);
				}
			},
			initSliderAdvantages(){
				!this.sliderAdvantagesToggleBreakpoint.matches ? this.enableSliderAdvantages() : this.disableSliderAdvantages();
			}
		},
		mounted(){
			this.sliderAdvantagesToggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakpoints['lg']}px)`);
			this.sliderAdvantagesToggleBreakpoint.addListener( this.initSliderAdvantages );
			this.initSliderAdvantages();
		}
	}
</script>
