<template>
	<main class="page__main">
		<section class="section section--header section--header-application">
			<div class="bg__pic">
				<img src="../assets/images/idu-inner-bg.png" alt="Мобильное приложение" v-background-image>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<div class="wrapper wrapper--application">
					<div class="wrapper wrapper--app-icon">
						<icon-solid-app></icon-solid-app>
						<h2 class="h2 mb-0">
							Солид <br>Инвестор
						</h2>
					</div>
					<div class="figure">
						<img src="../assets/images/investor-app.png" alt="Солид Инвестор">
					</div>
					<div class="wrapper">
						<div class="wrapper wrapper--app-icon">
							<icon-solid-app></icon-solid-app>
							<h2 class="h2 mb-0">
								Солид <br>Инвестор
							</h2>
						</div>
						<p class="text text--lg">
							Мы создали простое и доступное приложение, которое предоставляет мгновенный доступ к торгам на Московской бирже. С его помощью торговать на бирже сможет даже начинающий инвестор: покупать и продавать акции и облигации, просматривать котировки и отслеживать состояние инвестиционного портфеля.
						</p>
						<div class="wrapper wrapper--store-icons">
							<a :href="$store.state.appStoreUrl" class="link mr-3 mb-2" target="_blank" name="App Store">
								<icon-app-store></icon-app-store>
							</a>
							<a :href="$store.state.googlePlayUrl" class="link mb-2 mr-3" target="_blank" name="Google Play">
								<icon-google-play></icon-google-play>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--blue text--white mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center mt-5">
					Стать инвестором легко!
				</h2>
				<p class="text text--lg text-center mb-5">
					Покупайте акции, облигации, валюту, ETF. Ожидаемая доходность является ориентиром, и не является обязательством со стороны Банка. Информация о доходности может расцениваться не иначе как предположения. Результаты инвестиционной деятельности в прошлом не определяют результаты в будущем.
				</p>
				<div class="slider slider--application">
					<div class="wrapper">
						<button class="btn btn--slider-blue slider__btn slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">
								<div class="swiper-slide slider__slide">
									<icon-easy></icon-easy>
									<h4 class="h4">
										Просто
									</h4>
									<p class="text text--md">
										Скачайте приложение и откройте брокерский счет. Посещение офиса не требуется
									</p>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-profitable></icon-profitable>
									<h4 class="h4">
										Выгодно
									</h4>
									<p class="text text--md">
										Получайте доходность выше, чем по банковскому вкладу
									</p>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-handy></icon-handy>
									<h4 class="h4">
										Удобно
									</h4>
									<p class="text text--md">
										Покупайте акции и облигации, когда удобно и где удобно
									</p>
								</div>
							</div>
						</div>
						<button class="btn btn--slider-blue slider__btn slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
				</div>
			</div>
		</section>
		<div class="section section--regular mb-0">
			<ul class="list list--application">
				<li class="list__item">
					<div class="bg__pic">
						<img src="../assets/images/list-application-bg.png" v-background-image>
					</div>
					<div class="wrapper">
						<icon-management class="text--primary"></icon-management>
						<h2 class="h2 text--primary">
							Управление инвестициями онлайн
						</h2>
						<p class="text text--md">
							Отслеживайте ваш инвестиционный портфель. Контролируйте, как изменилась цена ваших активов. Получайте информацию о том, сколько у вас в наличии денежных средств на счету.
						</p>
					</div>
				</li>
				<li class="list__item">
					<div class="wrapper">
						<div class="figure">
							<img src="../assets/images/iphone-app-1.png" alt="application">
						</div>
					</div>
				</li>
				<li class="list__item">
					<div class="wrapper">
						<div class="figure">
							<img src="../assets/images/iphone-app-2.png" alt="application">
						</div>
					</div>
				</li>
				<li class="list__item">
					<div class="bg__pic">
						<img src="../assets/images/exchange-bg.jpg" v-background-image>
					</div>
					<div class="wrapper text--white">
						<div class="ml-md-auto">
							<icon-exchange></icon-exchange>
							<h2 class="h2">
								Разнообразие биржевых инструментов
							</h2>
							<p class="text text--md">
								В приложении вам доступны акции, торгуемые на Московской бирже, облигации ОФЗ и валюта.
							</p>
						</div>
					</div>
				</li>
				<li class="list__item">
					<div class="bg__pic">
						<img src="../assets/images/list-application-bg.png" v-background-image>
					</div>
					<div class="wrapper">
						<icon-tools class="text--primary"></icon-tools>
						<h2 class="h2 text--primary">
							Инструменты и котировки
						</h2>
						<p class="text text--md">
							Смотрите котировки конкретной бумаги на простом и понятном экране. Читайте актуальные новости по эмитенту первыми, просматривайте уровень доходности на разных временных периодах. Оформляйте заявки на покупку или продажу.
						</p>
					</div>
				</li>
				<li class="list__item">
					<div class="bg__pic">
						<img src="../assets/images/list-application-bg.png" v-background-image>
					</div>
					<div class="wrapper">
						<div class="figure">
							<img src="../assets/images/iphone-app-3.png" alt="application">
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="section section--regular section--regular-with-bg text--white">
			<div class="bg__pic">
				<picture v-background-image>
					<source
						srcset="../assets/images/start-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/start-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/start-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/start-bg-lg.jpg" alt="Готовы начать?">
				</picture>
			</div>
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Готовы начать?
				</h2>
				<ul class="list list--steps">
					<li class="list__item">
						<h4 class="h4">
							Откройте счёт дистанционно
						</h4>
						<p class="text">
							Откройте брокерский счет онлайн через приложение Личный кабинет. Потребуется паспорт или учетная запись на портале Госуслуги.
						</p>
					</li>
					<li class="list__item">
						<h4 class="h4">
							Установите приложение Solid Investor
						</h4>
						<p class="text">
							Загрузите мобильное приложение Солид Инвестор и Личный кабинет клиента. Доступны версии для iOS и Android.
						</p>
					</li>
					<li class="list__item">
						<h4 class="h4">
							Пополните счёт и начинайте!
						</h4>
						<p class="text">
							Пополните брокерский счет переводом через мобильное приложение вашего банка или по реквизитам.
						</p>
					</li>
				</ul>
				<div class="wrapper wrapper--store-icons justify-content-center">
					<a :href="$store.state.appStoreUrl" class="link mr-3 mb-2" target="_blank" name="App Store">
						<icon-app-store></icon-app-store>
					</a>
					<a :href="$store.state.googlePlayUrl" class="link mb-2 mr-3" target="_blank" name="Google Play">
						<icon-google-play></icon-google-play>
					</a>
					<a :href="$store.state.AppInstruction" class="link mb-2" target="_blank" name="Instruction">
						<icon-app-instruction></icon-app-instruction>
					</a>
				</div>
			</div>
		</div>
		<el-section-telegram></el-section-telegram>
		<el-section-interesting></el-section-interesting>
		<el-section-rating></el-section-rating>
	</main>
</template>

<script>

	import IconSolidApp from '../components/icons/icon_files/IconSolidApp.vue';
	import IconAppStore from '../components/icons/icon_files/IconAppStore.vue';
	import IconGooglePlay from '../components/icons/icon_files/IconGooglePlay.vue';
	import IconAppInstruction from '../components/icons/icon_files/IconAppInstruction.vue';
	import IconProfitable from '../components/icons/icon_files/IconProfitable.vue';
	import IconEasy from '../components/icons/icon_files/IconEasy.vue';
	import IconHandy from '../components/icons/icon_files/IconHandy.vue';
	import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';
	import IconManagement from '../components/icons/icon_files/IconManagement.vue';
	import IconExchange from '../components/icons/icon_files/IconExchange.vue';
	import IconTools from '../components/icons/icon_files/IconTools.vue';

	import ElSectionRating from '../components/ElSectionRating.vue';
	import ElSectionTelegram from '../components/ElSectionTelegram.vue';
	import ElSectionInteresting from '../components/ElSectionInteresting.vue';
	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';

	import initSlider from '../libs/slider.js';

	export default {
		name: 'PageApplication',
		components: {
			IconSolidApp,
			IconAppStore,
			IconGooglePlay,
			IconAppInstruction,
			IconProfitable,
			IconEasy,
			IconHandy,
			IconChewronDown,
			IconManagement,
			IconExchange,
			IconTools,
			ElSectionRating,
			ElSectionTelegram,
			ElSectionInteresting,
			ElBreadcrumbs
		},
		data(){
			return {
				sliderApplication: null,
				sliderApplicationToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			enableSliderApplication(){
				let breakpoints = {};
				breakpoints[this.$store.state.breakpoints['md']] = {
					slidesPerView: 2
				}
				this.sliderApplication = initSlider('.slider--application', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderApplication(){
				if( this.sliderApplication ){
					this.sliderApplication.destroy(true, true);
				}
			},
			initSliderApplication(){
				!this.sliderApplicationToggleBreakpoint.matches ? this.enableSliderApplication() : this.disableSliderApplication();
			}
		},
		mounted(){
			this.sliderApplicationToggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakpoints['lg']}px)`);
			this.sliderApplicationToggleBreakpoint.addListener( this.initSliderApplication );
			this.initSliderApplication();
		}
	}
</script>
