<template>
	<main class="page__main">
		<section class="section">
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
                <h2 class="h2">
                    ИФК «Солид» — победитель в 4 номинациях премии Cbonds Awards- 2020
                </h2>
				<div class="text--sm mb-4">
					Июль 22, 2020
				</div>
				<div class="wrapper--article">
					<p>
						Управление инвестиционно-банковских услуг ИФК «Солид», возглавляемое Андреем Бушем, стало победителем сразу в четырех номинациях премии Cbonds Awards-2020
						Вручение наград традиционно состоялось в рамках XVIII Российского облигационного конгресса в Санкт — Петербурге.
					</p>
					<p>
						По мнению участников голосования, ИФК «Солид» стала лучшим организатором дебютного выпуска лесопромышленного холдинга «Группа компаний Сегежа» серии 001P-01R на 10 млрд рублей — <b>номинация лучшая сделка первичного размещения в нефинансовом секторе.</b> <br>
						Организация выпуска АФК «Система» серии 001Р-15 на 10 млрд рублей принесла вторую <b>номинацию — лучшая сделка первичного размещения в сегменте «связь и коммуникации».</b> <br>
						Третья номинация — <b>лучшая сделка первичного размещения в сегменте high-yield</b> — досталась за дебютный выпуск девелопера «Джи Групп» серии 001P-01 на 1 млрд рублей. <br>
						<b>Самой «розничной» сделкой первичного размещения</b> — четвертая номинация — был выбран дебютный выпуск телекоммуникационной компании «МаксимаТелеком» серии БО-П01 на 3 млрд рублей. В рамках сделки более 1 млрд рублей на первичном размещении было приобретено физическими лицами. <br>
						Cbonds Awards — ежегодная премия, которая вручается лучшим участникам российского облигационного рынка по итогам открытого голосования, обладателей которой определяют сами участники облигационного рынка. Голосование является полностью открытым и проходит ежегодно с 2006 года.
					</p>
				</div>

				<div class="d-block mb-5">
					<a href="#" class="link">
						Источник
					</a>
				</div>

				<a href="#" class="btn btn--link mb-5 mb-md-4 mb-lg-0">
					<icon-chewron-left></icon-chewron-left>
					<span class="btn__text">
						Назад к новостям
					</span>
				</a>

			</div>
		</section>
		<el-section-rating></el-section-rating>
	</main>
</template>

<script>

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElSectionRating from '../components/ElSectionRating.vue';
	import IconChewronLeft from '../components/icons/icon_files/IconChewronLeft.vue';

	export default {
		name: 'PageSinglePress',
		components: {
			IconChewronLeft,
			ElBreadcrumbs,
			ElSectionRating
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
