<template>
	<main class="page__main">
		<section class="section section--header section--header-sm">
			<div class="bg__pic">
				<img src="../assets/images/auction-lot-bg.jpg" alt="Прямая продажа" v-background-image>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Прямая продажа
				</h1>
			</div>
		</section>
        <section class="section section--regular section--regular-with-bg mb-0">
            <div class="page__wrapper">
                <div class="figure figure--box">
                    <div class="figure__header">
                        <h4 class="text--lg font-weight-normal">
                            Лот №1 Нежилое помещение пл.91 м2, 1-я линия В.О. г. Санкт-Петербург
                        </h4>
                    </div>
                    <table class="table table--docs table--docs-lg mb-4">
                        <tbody>
                            <tr class="table__row">
                                <td class="text--muted">
                                    Адрес
                                </td>
                                <td>
                                    г. Санкт-Петербург, 1-я линия В.О., д. 22, лит. А, пом. 8Н, кадастровый номер: <br>
                                    78:6:2014:1005:33:8 (1 этаж)
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="text--muted">
                                    Общая площадь
                                </td>
                                <td>
                                    91 кв.м.
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="text--muted">
                                    Начальная цена продажи
                                </td>
                                <td>
                                    14 000 000,00 руб. с учетом НДС
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="text--muted">
                                    Наименование
                                </td>
                                <td>
                                    Собственник имущества: АО "Солид Банк"
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="text--muted">
                                    Наличие обременения
                                </td>
                                <td>
                                    обременения отсутствуют
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="text--muted">
                                    Форма реализации
                                </td>
                                <td>
                                    прямая продажа, торг возможен
                                </td>
                            </tr>
                            <tr class="table__row">
                                <td class="text--muted">
                                    Место проведения
                                </td>
                                <td>
                                    по вопросам приобретения обращаться в Аукционный центр: 8(495)228-70-17 или auction@solidbroker.ru
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="file mb-4">
                        <span class="file__icon">
                            <icon-file-pdf></icon-file-pdf>
                        </span>
                        <span class="wrapper">
                            <span class="file__name">
                                Презентация_91 кв.м
                            </span>
                            <span class="file__info">
                                (1 Мб, PDF)
                            </span>
                        </span>
                    </a>
                    <a href="#" class="file mb-5">
                        <span class="file__icon">
                            <icon-file-pdf></icon-file-pdf>
                        </span>
                        <span class="wrapper">
                            <span class="file__name">
                                Свидетельство 91 кв.м
                            </span>
                            <span class="file__info">
                                (1 Мб, PDF)
                            </span>
                        </span>
                    </a>
                    <evaluation-licenses
                        class="slider--lots mb-4"
                        :initial-breakpoints="$store.state.breakpoints"
                        :licenses="[
                            { title: 'lot', picMin: 'assets/img/lot-1.jpg', picFull: 'assets/img/lot-1.jpg'},
                            { title: 'lot', picMin: 'assets/img/lot-2.jpg', picFull: 'assets/img/lot-2.jpg'},
                            { title: 'lot', picMin: 'assets/img/lot-3.jpg', picFull: 'assets/img/lot-3.jpg'},
                            { title: 'lot', picMin: 'assets/img/lot-1.jpg', picFull: 'assets/img/lot-1.jpg'},
                            { title: 'lot', picMin: 'assets/img/lot-2.jpg', picFull: 'assets/img/lot-2.jpg'},
                            { title: 'lot', picMin: 'assets/img/lot-3.jpg', picFull: 'assets/img/lot-3.jpg'}
                        ]"
                        >
                    </evaluation-licenses>
                </div>
            </div>
        </section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<div class="d-flex justify-content-center">
					<div class="form form--simple form--sm">
						<h4 class="h4 mb-0 mr-3">
							Задайте вопрос / предложите цену
						</h4>
						<p>
							Поля, помеченные *, обязательны для заполнения.
						</p>
						<div class="control control--text">
							<label for="" class="control__label">
								Имя <sup class="text--error">*</sup>
							</label>
							<input type="text" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите Имя
							</div>
						</div>
						<div class="control control--text">
							<label for="" class="control__label">
								Телефон <sup class="text--error">*</sup>
							</label>
							<input type="tel" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите Телефон
							</div>
						</div>
						<div class="control control--text">
							<label for="" class="control__label">
								E-mail <sup class="text--error">*</sup>
							</label>
							<input type="email" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите E-mail
							</div>
						</div>
						<div class="control control--text">
							<label for="" class="control__label">
								Город
							</label>
							<input type="text" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите Город
							</div>
						</div>
						<div class="control control--checkbox mb-4">
							<input id="popup-askquestion-agrement" type="checkbox" class="control__input">
							<label for="popup-askquestion-agrement" class="control__label">
								Я принимаю <a href="#" class="link">условия соглашения об обработке персональных данных</a>
							</label>
							<div class="control__msg control__msg--invalid">
								Примите условия
							</div>
						</div>
						<button class="btn btn--primary btn--lg">
							Отправить заявку
						</button>
					</div>
				</div>
			</div>
		</section>

        <el-popup-gallery :name="'popup-gallery'"></el-popup-gallery>
	</main>
</template>

<script>

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
    import ElPopupGallery from '../components/ElPopupGallery.vue';
    import EvaluationLicenses from '../components/api_blocks/EvaluationLicenses.vue';
    import IconFilePdf from '../components/icons/icon_files/IconFilePdf.vue';

	export default {
		name: 'PageAuctionLot',
		components: {
            ElBreadcrumbs,
            ElPopupGallery,
            IconFilePdf,
            EvaluationLicenses
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
