/* eslint-disable */
<template>
	<main class="page__main">
		<section class="section section--slider-front section--regular">
			<front-banners
				:initial-breakpoints="$store.state.breakpoints"
				:banners="[
                    {
                        bg: {
                            xs: require('../assets/images/slider-front-slide-1-bg-xs.jpg'),
                            sm: require('../assets/images/slider-front-slide-1-bg-xs.jpg'),
                            md: require('../assets/images/slider-front-slide-1-bg-md.jpg'),
                            lg: require('../assets/images/slider-front-slide-1-bg-lg.jpg'),
                            xl: require('../assets/images/slider-front-slide-1-bg-lg.jpg')
                        },
                        title: 'Получите 13% <br class=\'d-md-none d-lg-inline\'>к своим инвестициям <br>от государства',
                        caption: 'Создайте индвидуальный <br class=\'d-lg-none\'>инвестиционный <br class=\'d-none d-lg-inline\'>счёт и <br class=\'d-lg-none\'>воспользуйтесь налоговым <br class=\'d-lg-none\'>вычетом',
                        link: '#'
                    },
                    {
                        bg: require('../assets/images/slide-2.jpg'),
                        title: 'Купить акции',
                        caption: 'Вам доступно множество рынков и инструментов, а также аналитическая и техническая поддержка от наших специалистов',
                        link: $router.resolve({name: 'trade'}).href
                    },
                    {
                        bg: require('../assets/images/slide-3.jpg'),
                        title: 'Зарабатывайте на идеях персонального брокера',
                        caption: 'Оптимальное соотношение риск/доходность для различных типов инвесторов.',
                        link: '#'
                    }
				]"
				>
			</front-banners>
		</section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<front-strategies
					:strategies="[
						{
							class: 'figure--primary',
							title: 'Заработать',
							list: [
								{
									link: '#',
									text: 'Стратегия <br class=\'d-none d-lg-block\'>«Российские акции»'
								},
								{
									link: '#',
									text: 'Стратегия <br class=\'d-none d-lg-block\'>«Дивидендные акции»'
								},
								{
									link: $router.resolve({name: 'trade'}).href,
									text: 'Купить акции'
								}
							]
						},
						{
							class: 'figure--mint',
							title: 'Сохранить <br class=\'d-none d-lg-block\'>и&nbsp;приумножить',
							list: [
								{
									link: $router.resolve({name: 'personal-broker'}).href,
									text: 'Персональный брокер'
								},
								{
									link: '#',
									text: 'Стратегия <br class=\'d-none d-lg-block\'>«Дивидендные акции»'
								},
								{
									link: '#',
									text: 'Стратегия <br class=\'d-none d-lg-block\'>«Сбалансированная»'
								}
							]
						},
						{
							class: 'figure--darkblue',
							title: 'Максимальная надежность',
							list: [
								{
									link: '#',
									text: 'ИИС с фокусировкой на облигации'
								},
								{
									link: '#',
									text: 'Стратегия «Умеренно- консервативная»'
								},
								{
									link: '#',
									text: 'Стратегия «Российские облигации»'
								}
							]
						}
					]"
					>
				</front-strategies>
			</div>
		</section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<div class="wrapper wrapper--start">
					<div class="bg__pic">
						<img src="../assets/images/wrapper-start-bg.jpg" alt="Не знаете, с чего начать?" v-background-image>
					</div>
					<div class="wrapper__content">
						<h2 class="h2">
							Не знаете, с чего начать?
						</h2>
						<p class="text">
							Как подобрать оптимальный формат инвестиций?
						</p>
						<p class="text">
							Расскажите нам о вашем финансовом опыте и будущих предпочтениях, и мы подготовим инвестиционные продукты, который подойдут именно вам.
						</p>
						<button class="btn btn--primary btn--lg" @click="openPopup('risk-profile')">
							Определить риск профиль
						</button>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<h2 class="h2 text-center text-lg-left mb-3 mb-lg-4">
					Во что инвестировать?
				</h2>
				<p class="text text--lg text-center text-lg-left mb-3 mb-md-4 mb-lg-5">
					Аналитика по актуальным акциям и облигациям, подготовленная нашими персональными брокерами.
				</p>
				<front-analitics
					:initial-breakpoints="$store.state.breakpoints"
					:analitics="[
						{
							badge: 'Акции',
							badgeClass: 'badge--mint',
							link: $router.resolve({name: 'company-analitics'}).href,
							logo: require('../assets/images/etln-logo.png'),
							companyTitle: 'Эталон Групп',
							companySlug: 'ETLN',
							textNormal: 'Бизнес Эталона показывает признаки роста. Стоимость заключенных контрактов в июне выросла на 78% по сравнению с маем 2020 года. Доля ипотечных сделок также увеличилась с 36% в 1 квартале до рекордных 44% во 2 квартале 2020 года. Это свидетельствует о зарождении нового цикла в строительной отрасли.',
							textAccented: 'более 10%',
							textBold: 'дивидендная доходность акций'
						},
						{
							badge: 'Облигации',
							badgeClass: 'badge--darkblue',
							link: $router.resolve({name: 'company-analitics'}).href,
							logo: require('../assets/images/ggroup-logo.png'),
							companyTitle: 'Джи-Групп',
							companySlug: 'GGROUP',
							textNormal: 'Казанский девелопер, осуществляющий деятельность в сегментах жилой и коммерческой недвижимости. Бизнес основан в 1996 г. С 2017 г. компания продемонстрировала темп роста выручки в 28% в год, на выручку от коммерческой недвижимости ежегодно приходится 5-10%.',
							textAccented: 'от 9,3%',
							textBold: 'доходность к оферте от 22.07.2025'
						},
						{
							badge: 'Акции',
							badgeClass: 'badge--mint',
							link: $router.resolve({name: 'company-analitics'}).href,
							logo: require('../assets/images/gazprom-logo.png'),
							companyTitle: 'Газпром',
							companySlug: 'GAZP',
							textNormal: 'Наверное, самая популярная бумага у российских инвесторов. Но мало кто задумывается, дорого или дешево сейчас стоит Газпром и почему он должен расти. Мы предлагаем посмотреть на основные моменты за второй квартал этого года, чтобы понять текущую ситуацию в компании, а также заглянуть в «лобовое стекло»',
							textAccented: 'от 25 рублей',
							textBold: 'ожидаемые дивиденды после 2021'
						},
						{
							badge: 'Акции',
							badgeClass: 'badge--mint',
							link: $router.resolve({name: 'company-analitics'}).href,
							logo: require('../assets/images/etln-logo.png'),
							companyTitle: 'Эталон Групп',
							companySlug: 'ETLN',
							textNormal: 'Бизнес Эталона показывает признаки роста. Стоимость заключенных контрактов в июне выросла на 78% по сравнению с маем 2020 года. Доля ипотечных сделок также увеличилась с 36% в 1 квартале до рекордных 44% во 2 квартале 2020 года. Это свидетельствует о зарождении нового цикла в строительной отрасли.',
							textAccented: 'более 10%',
							textBold: 'дивидендная доходность акций'
						},
						{
							badge: 'Облигации',
							badgeClass: 'badge--darkblue',
							link: $router.resolve({name: 'company-analitics'}).href,
							logo: require('../assets/images/ggroup-logo.png'),
							companyTitle: 'Джи-Групп',
							companySlug: 'GGROUP',
							textNormal: 'Казанский девелопер, осуществляющий деятельность в сегментах жилой и коммерческой недвижимости. Бизнес основан в 1996 г. С 2017 г. компания продемонстрировала темп роста выручки в 28% в год, на выручку от коммерческой недвижимости ежегодно приходится 5-10%.',
							textAccented: 'от 9,3%',
							textBold: 'доходность к оферте от 22.07.2025'
						}
					]"
					>
				</front-analitics>
			</div>
		</section>
		<el-section-steps class="mb-0"></el-section-steps>
		<section class="section section--light section--regular section--regular-with-bg mb-lg-0 pb-lg-4">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Пресс-центр
				</h2>
				<front-press
					:initial-breakpoints="$store.state.breakpoints"
					:press="[
						{
							link: $router.resolve({name: 'single-press'}).href,
							title: 'Что спровоцировало падение рубля? Владимир Гигуашвили для портала KazanFirst',
							date: 'Август 3, 2020',
							caption: 'Рубль установил очередной антирекорд: курс доллара превысил 74 рубля впервые с середины мая, а евро впервые с 31 марта нацелился на 87 рублей. Сложилась достаточно парадоксальная ситуация: рубль продолжает дешеветь по отношению к доллару даже в тот период, когда сам доллар слабеет по отношению к другим мировым валютам. Почему это происходит и чего ждать дальше?',
						},
						{
							link: $router.resolve({name: 'single-press'}).href,
							title: 'Как заработать на золоте? Михаил Королюк для издания Комсомольская правда',
							date: 'Август 3, 2020',
							caption: 'Золото бьет рекорды. В понедельник на бирже одна тройская унция этого металла (31,1 грамма) стоила больше 1940 долларов. Это рекорд за всю историю. Прошлое достижение было осенью 2011 года. Тогда золото стоило 1910 долларов, но потом стало дешеветь. Что происходит сейчас? При любой непонятной ситуации в экономике, инвесторы предпочитают спасать свои деньги в этом проверенном временем инструменте. Но есть и другая причина.',
						},
						{
							link: $router.resolve({name: 'single-press'}).href,
							title: 'Переживут ли США новый кризис? Мнение Е.Маришина для издания АИФ',
							date: 'Август 3, 2020',
							caption: 'ВВП США непрерывно рос с июня 2009 года, 128 месяцев подряд. В феврале этого года рост прекратился: американская экономика вошла в рецессию, отчиталось Национальное бюро экономических исследований. В первом квартале ВВП США в годовом выражении, по данным местного Министерства торговли, сократился на 4,8%. Во втором может рухнуть на 37%, прогнозирует Международный валютный фонд (МВФ).',
						},
						{
							link: $router.resolve({name: 'single-press'}).href,
							title: 'Что спровоцировало падение рубля? Владимир Гигуашвили для портала KazanFirst',
							date: 'Август 3, 2020',
							caption: 'Рубль установил очередной антирекорд: курс доллара превысил 74 рубля впервые с середины мая, а евро впервые с 31 марта нацелился на 87 рублей. Сложилась достаточно парадоксальная ситуация: рубль продолжает дешеветь по отношению к доллару даже в тот период, когда сам доллар слабеет по отношению к другим мировым валютам. Почему это происходит и чего ждать дальше?',
						},
						{
							link: $router.resolve({name: 'single-press'}).href,
							title: 'Как заработать на золоте? Михаил Королюк для издания Комсомольская правда',
							date: 'Август 3, 2020',
							caption: 'Золото бьет рекорды. В понедельник на бирже одна тройская унция этого металла (31,1 грамма) стоила больше 1940 долларов. Это рекорд за всю историю. Прошлое достижение было осенью 2011 года. Тогда золото стоило 1910 долларов, но потом стало дешеветь. Что происходит сейчас? При любой непонятной ситуации в экономике, инвесторы предпочитают спасать свои деньги в этом проверенном временем инструменте. Но есть и другая причина.',
						}
					]"
					>
				</front-press>
				<div class="d-flex justify-content-center mb-lg-3">
					<a :href="$router.resolve({name: 'press-center'}).href" class="btn btn--primary btn--lg">
						Перейти в раздел
					</a>
				</div>
			</div>
		</section>
		<el-section-rating></el-section-rating>

		<el-popup-risk-profile></el-popup-risk-profile>
		<el-popup-ask-question></el-popup-ask-question>

	</main>
</template>

<script>

	import { events } from "../events";

	import ElSectionRating from '../components/ElSectionRating.vue';
	import ElSectionSteps from '../components/ElSectionSteps.vue';
	import ElPopupAskQuestion from '../components/ElPopupAskQuestion.vue';
	import ElPopupRiskProfile from '../components/ElPopupRiskProfile.vue';

	import FrontBanners from '../components/api_blocks/FrontBanners';
	import FrontStrategies from '../components/api_blocks/FrontStrategies';
	import FrontAnalitics from '../components/api_blocks/FrontAnalitics';
	import FrontPress from '../components/api_blocks/FrontPress';

	export default {
		name: 'PageIndex',
		components: {
			ElSectionRating,
			ElSectionSteps,
			ElPopupAskQuestion,
			ElPopupRiskProfile,
			FrontBanners,
			FrontStrategies,
			FrontAnalitics,
			FrontPress
		},
		data(){
			return {
				parallaxScene: null
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			}
		},
		mounted(){


		},
		beforeDestroy(){
			this.sliderPressToggleBreakpoint.removeListener( this.initSliderPress );
		}
	}
</script>
