<template>
	<main class="page__main">
		<section class="section section--header decoration--arc-after">
			<div class="bg__pic">
				<picture v-background-image>
					<source
						srcset="../assets/images/trade-bg-lg.png"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/trade-bg-md.png"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/trade-bg-xs.png"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/trade-bg-lg.png" alt="Купить акции">
				</picture>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Купить акции
				</h1>
				<h2 class="h4">
                    Вам доступно множество рынков <br class="d-none d-md-block d-lg-none">и <br class="d-none d-lg-block">инструментов, а также <br class="d-none d-md-block d-lg-none">аналитическая и<br class="d-none d-lg-block"> техническая <br class="d-none d-md-block d-lg-none">поддержка от наших <br class="d-none d-md-block">специалистов
				</h2>
				<button class="btn btn--primary btn--lg">
					Приступить
				</button>
			</div>
		</section>
		<el-section-steps></el-section-steps>
		<section class="section section--regular">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Преимущества инвестиций с нами
				</h2>
				<trade-advantages
					:initial-breakpoints="$store.state.breakpoints"
					:advantages="[
						{
							title: 'Удобные способы управления',
							text: 'Вы можете вести торговлю как через приложение Solid Investor, так и через поручения на сайте или по телефону. Выберите то, что удобно именно вам!'
						},
						{
							title: 'Единый брокерский счет',
							text: 'Возможность торговли с единым обеспечением на фондовом, срочном и валютном рынках Московской биржи без необходимости осуществлять переводы средств между площадками.'
						},
						{
							title: 'Аналитическая и техническая поддержка',
							text: 'Бесплатное предоставление аналитических и экспертных материалов и обзоров по рынку. Советы управляющих и опытных консультантов. Техническая поддержка с 9:00 до 24:00 каждый биржевой рабочий день.'
						}
					]"
					>
				</trade-advantages>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Доступные рынки и инструменты
				</h2>
				<trade-tools
					:tools="[
						{
							title: 'Фондовый рынок Московской Биржи',
							icon: 'moex',
							list: [
								'крупнейшие предприятия РФ',
								'стабильный высокий доход'
							]
						},
						{
							title: 'Срочный рынок Московской Биржи',
							icon: 'moex-urgent',
							list: [
								'торговля с плечом',
								'минимизация и диверсификация рисков'
							]
						},
						{
							title: 'Валютный рынок Московской Биржи',
							icon: 'moex-currency',
							list: [
								'валюты по лучшему обменному курсу',
								'без переплаты банкам и обменникам!'
							]
						},
						{
							title: 'Санкт-Петербургская биржа',
							icon: 'fin-spb',
							list: [
								'иностранные инструменты на российской площадке внутри российской юрисдикции'
							]
						},
						{
							title: 'Мировые финансовые рынки',
							icon: 'fin-world',
							list: [
								'CME, eCBOT, NYSE, NASDAQ, LSE, IPE и др.',
								'круглосуточный доступ через современные платформы'
							]
						}
					]"
					>
				</trade-tools>
			</div>
		</section>
		<section class="section section--broker section--regular section--regular-with-bg text--white">
			<div class="bg__pic">
				<picture v-background-image>
					<source
						srcset="../assets/images/investor-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/investor-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/investor-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/investor-bg-lg.jpg" alt="Солид Инвестор">
				</picture>
			</div>
			<div class="page__wrapper">
				<router-link class="figure mb-4 mr-md-auto d-block" :to="'application'">
					<img src="../assets/images/investor-app.png" alt="Солид Инвестор">
				</router-link>
				<div class="wrapper">
					<router-link class="link link--unset wrapper wrapper--app-icon" :to="'application'">
						<icon-solid-app></icon-solid-app>
						<h2 class="h2">
							Солид <br>Инвестор
						</h2>
					</router-link>
					<p class="text text--lg">
						Простое и доступное приложение, которое предоставляет мгновенный доступ к торгам на Московской бирже. С его помощью торговать на бирже сможет даже начинающий инвестор: покупать и продавать акции и облигации, просматривать котировки и отслеживать состояние инвестиционного портфеля.
					</p>
					<div class="wrapper wrapper--store-icons">
						<a :href="$store.state.appStoreUrl" class="link mr-3 mb-2" target="_blank" name="App Store">
							<icon-app-store></icon-app-store>
						</a>
						<a :href="$store.state.googlePlayUrl" class="link mb-2 mr-3" target="_blank" name="Google Play">
							<icon-google-play></icon-google-play>
						</a>
						<a :href="$store.state.AppInstruction" class="link mb-2" target="_blank" name="Instruction">
							<icon-app-instruction></icon-app-instruction>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--lk section--regular ">
			<div class="page__wrapper">
				<div class="wrapper">
					<h2 class="h2">
						Личный кабинет инвестора
					</h2>
					<p class="text--lg">
						Здесь надо написать, что можно делать через ЛК, почему это удобно и как этим пользоваться.
					</p>
					<p class="text--lg">
						Я не видела толком ЛК и не могу это сформулировать.
					</p>
					<a href="#" class="btn btn--primary btn--lg d-none d-lg-inline-flex">
						Перейти в личный кабинет
					</a>
				</div>
				<div class="figure">
					<img src="../assets/images/lk.jpg" alt="Личный кабинет инвестора">
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Торговая платформа Quik
				</h2>
				<trade-quik
					:initial-breakpoints="$store.state.breakpoints"
					:items="[
						{
							title: 'Web-Quik',
							logo: require('../assets/images/web-quik.png'),
							desc: 'Полноценный торговый терминал, работающий в окне любого браузера под управлением разных операционных систем.',
							content: '<a href=\'#\' class=\'d-inline-block link link--gray mt-auto py-md-2\'> Перейти </a>'
						},
						{
							title: 'Для Windows',
							logo: require('../assets/images/quik.png'),
							desc: 'Рабочее место QUIK — это полноценный торговый терминал для торговли ценными бумагами в режиме реального времени.',
							content: '<a href=\'#\' class=\'d-inline-block link link--gray mt-auto py-md-2\'> Скачать для Windows </a>'
						},
						{
							title: 'Quik X',
							logo: require('../assets/images/quik-x.png'),
							desc: 'Мобильное приложение, позволяющее совершать торговые операции с финансовыми инструментами.',
							content: '<div class=\'d-flex align-items-center flex-wrap mt-auto\'> <a href=\'#\' class=\'d-flex align-items-center link link--gray mr-2 mr-lg-4\'> <img src='+require('../assets/images/icon-apple.png')+'> <span class=\'d-none d-lg-block\'> для iOS </span> </a> <a href=\'#\' class=\'d-flex align-items-center link link--gray\'> <img src='+require('../assets/images/icon-gplay.png')+'> <span class=\'d-none d-lg-block\'> для Android </span> </a> </div>'
						}
					]"
					>
				</trade-quik>
			</div>
		</section>
		<el-section-telegram></el-section-telegram>
		<el-section-interesting></el-section-interesting>
		<el-section-rating></el-section-rating>
	</main>
</template>

<script>

	import IconSolidApp from '../components/icons/icon_files/IconSolidApp.vue';
	import IconAppStore from '../components/icons/icon_files/IconAppStore.vue';
	import IconGooglePlay from '../components/icons/icon_files/IconGooglePlay.vue';
	import IconAppInstruction from '../components/icons/icon_files/IconAppInstruction.vue';

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElSectionRating from '../components/ElSectionRating.vue';
	import ElSectionSteps from '../components/ElSectionSteps.vue';
	import ElSectionTelegram from '../components/ElSectionTelegram.vue';
	import ElSectionInteresting from '../components/ElSectionInteresting.vue';

	import TradeAdvantages from '../components/api_blocks/TradeAdvantages.vue';
	import TradeTools from '../components/api_blocks/TradeTools.vue';
	import TradeQuik from '../components/api_blocks/TradeQuik.vue';

	export default {
		name: 'PageTrade',
		components: {
			IconSolidApp,
			IconAppStore,
			IconGooglePlay,
			IconAppInstruction,

			ElBreadcrumbs,
			ElSectionRating,
			ElSectionSteps,
			ElSectionTelegram,
			ElSectionInteresting,

			TradeAdvantages,
			TradeTools,
			TradeQuik
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
