<template>
	<main class="page__main">
		<section class="section">
			<div class="page__wrapper">
                <h2 class="h2">
                    PageTmp
                </h2>
			</div>
		</section>
	</main>
</template>

<script>


	export default {
		name: 'PageTmp',
		components: {

		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
