<template>
	<main class="page__main">
		<section class="section section--header decoration--arc-after">
			<div class="bg__pic">
				<picture v-background-image>
					<source
						srcset="../assets/images/personal-broker-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/personal-broker-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/personal-broker-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/personal-broker-bg-lg.jpg" alt="Персональный брокер">
				</picture>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Персональный брокер
				</h1>
				<h2 class="h4">
					Зарабатывайте на наших <br class="d-none d-md-block d-lg-none">торговых идеях,<br class="d-none d-lg-block"> получайте <br class="d-none d-md-block d-lg-none">советы по управлению <br class="d-none d-md-block">инвестициями.
				</h2>
				<button class="btn btn--primary btn--lg" @click="openPopup('ask-question')">
					Консультация
				</button>
			</div>
		</section>
		<section class="section decoration--arc-double">
			<div class="page__wrapper">
				<div class="slider slider--advantages">
					<div class="wrapper">
						<button class="btn btn--slider-blue slider__btn slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">
								<div class="swiper-slide slider__slide">
									<icon-quality></icon-quality>
									<span class="text">
										Высокое <br class="d-none d-md-block d-lg-none">качество <br class="d-none d-lg-block">и <br class="d-lg-none">результативность
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-ideas></icon-ideas>
									<span class="text">
										Идеи и торговые <br>сигналы <br class="d-md-none">«внутри <br class="d-none d-md-block">дня»
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-calendar></icon-calendar>
									<span class="text">
										Календарь по <br>компаниям <br>фокус-группы
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-money></icon-money>
									<span class="text">
										Формирование высокодоходных портфелей
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-strat></icon-strat>
									<span class="text">
										Стратегии <br>торговли на любом <br>тренде
									</span>
								</div>
							</div>
						</div>
						<button class="btn btn--slider-blue slider__btn slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
				</div>
			</div>
		</section>
		<el-section-graph :animated="$store.getters.animEnabled"></el-section-graph>
		<section class="section section--broker section--regular section--regular-with-bg text--white">
			<div class="bg__pic">
				<img src="../assets/images/broker-bg.jpg" alt="Персональный брокер" v-background-image>
			</div>
			<div class="page__wrapper">
				<div class="wrapper">
					<h2 class="h2 mb-4 pb-md-2 pb-md-3">
						Персональный брокер
					</h2>
					<p class="text text--lg">
						Персональный брокер — это услуга для инвесторов с опытом самостоятельной торговли на фондовом рынке, нуждающихся в результативных торговых идеях от профессионала, но оставляющих последнее слово в принятии инвестиционного решения за собой. <br>
						Персональный брокер всегда находится в рынке, имеет доступ к профессиональной информации, владеет инструментами анализа и способен предложить наиболее эффективные варианты для достижения индивидуальных инвестиционных целей.
					</p>
					<p class="text text--sm">
						Услуга Персональный брокер юридически оказывается путем заключения Договора об инвестиционном консультировании, Персональный брокер - уполномоченное лицо инвестиционного советника – АО ИФК «Солид», в обязанности которого входит осуществление деятельности по инвестиционному консультированию.
					</p>
					<a href="#" class="btn btn--primary btn--lg" @click.prevent="openPopup('backcall')">
						Позвонить брокеру
					</a>
				</div>
				<img class="figure" src="../assets/images/person.png" alt="Персональный брокер">
			</div>
		</section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Как работает <br class="d-none d-sm-block d-md-none"> персональный брокер?
				</h2>
				<ul class="list list--steps mb-0">
					<li class="list__item">
						<h4 class="h4">
							Уточнение инвестиционного опыта и предпочтений клиента
						</h4>
						<p class="text text--md">
							Анализ компетенций и целей клиента,  интересов к инструментам и рынкам
						</p>
					</li>
					<li class="list__item">
						<h4 class="h4">
							Определение риск-профиля
						</h4>
						<p class="text text--md">
							Подбор подходящей инвестиционной программы в зависимости от ожиданий по доходности и рискам
						</p>
					</li>
					<li class="list__item">
						<h4 class="h4">
							Эффективные инвестиционные решения
						</h4>
						<p class="text text--md">
							Высокое качество и результативность торговых идей от профессионалов
						</p>
					</li>
				</ul>
			</div>
		</section>
		<section class="section section--broker section--regular section--regular-with-bg text--white">
			<div class="bg__pic">
				<img src="../assets/images/broker-2-bg.png" alt="Тест-драйв идеи" v-background-image>
			</div>
			<div class="page__wrapper">
				<div class="figure ml-0 ml-md-auto mr-auto pr-lg-5">
					<img class="mb-4 pb-4 mb-md-0 pb-md-1" src="../assets/images/reflection.png" alt="Тест-драйв идеи">
				</div>
				<div class="wrapper">
					<h2 class="h2 mb-4 pb-md-2 pb-md-3">
						Тест-драйв идеи
					</h2>
					<p class="text text--lg">
						Хотите торговую идею, на которой можно заработать? Получите одну идею от персонального брокера прямо сейчас. Бесплатно!
					</p>
					<p class="text text--sm">
						Не является индивидуальной инвестиционной рекомендацией.
					</p>
					<a href="#" class="btn btn--primary btn--lg" @click.prevent="openPopup('backcall')">
						Запросить идею
					</a>
				</div>
			</div>
		</section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Команда <br class="d-md-none">профессионалов
				</h2>
				<professional-team
					:initial-breakpoints="$store.state.breakpoints"
					:team="[
						{
							name: 'Дмитрий Балакин',
							role: 'персональный брокер',
							info: 'Успешно зашортил нефть в преддверии 8 марта 2017, в нерабочий день на российском рынке. На фондовом и валютном рынках с осени 2011г. Окончил МГГУ по специальности «Информационные системы и технологии». Создал собственную систему торговли, основанную на понимании действий крупного игрока. Специализируется на инструментах срочного рынка, а также на стратегиях Buy&hold для инвестирования в быстрорастущие бизнесы.',
							pic: require('../assets/images/balakin.png')
						},
						{
							name: 'Евгений Маришин',
							role: 'персональный брокер',
							info: 'Заработал 30% за ночь на Брексит. Выпускник Российского Государственного Торгово-Экономического Университета (РГТЭУ), специальность: мировая экономика. Впервые познакомился с финансовыми рынками в возрасте 16 лет. Активно торгует с 2012 года. Специализируется на инструментах российского рынка: акции, облигации, фьючерсы на ценные бумаги, сырье, валюта, а также на акциях, ETF американского рынка.',
							pic: require('../assets/images/marishin.png')
						}
					]"
					>
				</professional-team>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Тарифы и обслуживание
				</h2>
				<broker-tariffs
					:tariffs="[
						{
							title: 'Комиссия, % от суммы сделки',
							desc: '<p class=\'text text--lg\'> Вне зависимости от оборота 0,2 % + % за успех* </p> <p class=\'text-text--sm\'> *включает биржевую комиссию </p>'
						},
						{
							title: 'Поддержание необеспеченных позиций',
							desc: '<table class=\'table table--transparent text--lg\'> <tbody> <tr> <td> Позиция «Short» </td> <td> 16 % годовых </td> </tr> <tr> <td> Позиция «Long» </td> <td> 18 % годовых </td> </tr> <tr> <td> Внутри дня </td> <td> Бесплатно </td> </tr> </tbody> </table>'
						}
					]"
					>
				</broker-tariffs>
			</div>
		</section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Персональный брокер VS <br class="d-none d-md-block">индивидуальное доверительное управление
				</h2>
				<div class="wrapper wrapper--compare">
					<div class="figure figure--compare figure--mint">
						<div class="figure__header">
							<h4 class="h4">
								Брокер
							</h4>
						</div>
						<p class="text">
							<span class="h4">
								Затраты
							</span>
							<span class="text text--sm">
								Фикс + % за успех
							</span>
						</p>
						<p class="text">
							<span class="h4">
								Контроль
							</span>
							<span class="text text--sm">
								Клиент сам принимает инвестиционное решение
							</span>
						</p>
						<p class="text">
							<span class="h4">
								Контакт с управляющим
							</span>
							<span class="text text--sm">
								Всегда на связи
							</span>
						</p>
						<p class="text">
							<span class="h4">
								Смена стратегии
							</span>
							<span class="text text--sm">
								Оперативно по рекомендации ПБ
							</span>
						</p>
					</div>
					<div class="figure figure--compare figure--primary">
						<div class="figure__header">
							<h4 class="h4">
								ИДУ
							</h4>
						</div>
						<p class="text">
							<span class="h4">
								Затраты
							</span>
							<span class="text text--sm">
								Фикс + % за успех
							</span>
						</p>
						<p class="text">
							<span class="h4">
								Контроль
							</span>
							<span class="text text--sm">
								Решение принимает управляющий в соответствии со стратегией ИДУ
							</span>
						</p>
						<p class="text">
							<span class="h4">
								Контакт с управляющим
							</span>
							<span class="text text--sm">
								По истечении отчетного периода
							</span>
						</p>
						<p class="text">
							<span class="h4">
								Смена стратегии
							</span>
							<span class="text text--sm">
								Через расторжение договора
							</span>
						</p>
					</div>
					<table class="table table--compare-cards">
						<thead>
							<tr>
								<th></th>
								<th>
									Брокер
								</th>
								<th>
									ИДУ
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Затраты
								</td>
								<td>
									Фикс + % за успех
								</td>
								<td>
									Фикс + % за успех
								</td>
							</tr>
							<tr>
								<td>
									Контроль
								</td>
								<td>
									Клиент сам принимает инвестиционное решение
								</td>
								<td>
									Решение принимает управляющий в соответствии со стратегией ИДУ
								</td>
							</tr>
							<tr>
								<td>
									Контакт с управляющим
								</td>
								<td>
									Всегда на связи
								</td>
								<td>
									По истечении отчетного периода
								</td>
							</tr>
							<tr>
								<td>
									Смена стратегии
								</td>
								<td>
									Оперативно по рекомендации ПБ
								</td>
								<td>
									Через расторжение договора
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#" class="btn btn--primary btn--lg" @click.prevent="openPopup('backcall')">
						Позвонить брокеру
					</a>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg text--white">
			<div class="bg__pic bg--darkblue">
				<picture v-background-image>
					<source
						srcset="../assets/images/section-feedback-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/section-feedback-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/section-feedback-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/section-feedback-bg-lg.jpg" alt="Отзывы наших клиентов">
				</picture>
			</div>
			<div class="page__wrapper">
				<h2 class="h2 text-center mb-4">
					Отзывы наших клиентов
				</h2>
				<client-reviews
					:initial-breakpoints="$store.state.breakpoints"
					:reviews="[
						{
							name: 'Илья, г. Тула',
							text: '<p> С июля 2018г. я перешёл на тарифный план «Персональный брокер». Моим брокером является Дмитрий Балакин. Данный тарифный план и работа конкретно с Д. Балакиным меня устраивает по следующим причинам:<br> - грамотные и своевременные рекомендации брокера по совершению сделок;<br> - формирование портфеля (по совету брокера), обеспечивающего более высокую доходность.<br> Хотелось бы вернуть систему поручений по телефонной связи, когда поручения передавались непосредственно своему брокеру, и он выставлял заявку. Данная система наиболее удобна мне как клиенту и экономит моё время. </p>'
						},
						{
							name: 'Екатерина, г. Москва',
							text: '<p> Хочу поделиться своими впечатлениями об ИИС. Инвестиционный счёт был открыт в сентябре 2017 года. В январе 2018 мы перевели ИИС в \'Солид-брокер\'. И уже летом 2018 года я получила возврат подоходного налога 52 000 руб. Кроме этого акции, в которые были вложены средства тоже принесли прибыль- так что за 2018 год ИИС обеспечил мне хороший доход! </p> <p> Глядя на хорошие результаты в 2018 году, я приняла решение продолжить вкладывать деньги в ИИС, поэтому в прошлом году я пополнила счёт ещё на 400 тыс рублей и снова подала декларацию на возврат подоходного налога. Но, ничего этого бы не было, если бы не Ваша помощь и поддержка, Ян! Я считаю, что только благодаря Вашим грамотным консультациям, вашей заботе, мы пришли к таким хорошим финансовым результатам! Искреннее огромное Вам спасибо, Ян! </p>'
						}
					]"
					>
				</client-reviews>
			</div>
		</section>
		<el-section-telegram></el-section-telegram>
		<el-section-interesting></el-section-interesting>
		<el-section-rating></el-section-rating>

		<el-popup-ask-question></el-popup-ask-question>
		<el-popup-backcall></el-popup-backcall>


	</main>
</template>

<script>

	import { events } from "../events";

	import IconStrat from '../components/icons/icon_files/IconStrat.vue';
	import IconMoney from '../components/icons/icon_files/IconMoney.vue';
	import IconCalendar from '../components/icons/icon_files/IconCalendar.vue';
	import IconIdeas from '../components/icons/icon_files/IconIdeas.vue';
	import IconQuality from '../components/icons/icon_files/IconQuality.vue';
	import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElSectionGraph from '../components/ElSectionGraph.vue';
	import ElSectionTelegram from '../components/ElSectionTelegram.vue';
	import ElSectionInteresting from '../components/ElSectionInteresting.vue';
	import ElSectionRating from '../components/ElSectionRating.vue';
	import ElPopupAskQuestion from '../components/ElPopupAskQuestion.vue';
	import ElPopupBackcall from '../components/ElPopupBackcall.vue';
	import ProfessionalTeam from '../components/api_blocks/ProfessionalTeam.vue';
	import BrokerTariffs from '../components/api_blocks/BrokerTariffs.vue';
	import ClientReviews from '../components/api_blocks/ClientReviews.vue';


	import initSlider from '../libs/slider.js';

	export default {
		name: 'PagePersonalBroker',
		components: {
			IconStrat,
			IconMoney,
			IconCalendar,
			IconIdeas,
			IconQuality,
			IconChewronDown,

			ElBreadcrumbs,
			ElSectionGraph,
			ElSectionRating,
			ElSectionTelegram,
			ElSectionInteresting,
			ElPopupAskQuestion,
			ElPopupBackcall,
			ProfessionalTeam,
			BrokerTariffs,
			ClientReviews
		},
		data(){
			return {
				sliderAdvantages: null,
				sliderAdvantagesToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
			enableSliderAdvantages(){
				let breakpoints = {};
				breakpoints[this.$store.state.breakpoints['md']] = {
					slidesPerView: 3
				}
				this.sliderAdvantages = initSlider('.slider--advantages', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderAdvantages(){
				if( this.sliderAdvantages ){
					this.sliderAdvantages.destroy(true, true);
				}
			},
			initSliderAdvantages(){
				!this.sliderAdvantagesToggleBreakpoint.matches ? this.enableSliderAdvantages() : this.disableSliderAdvantages();
			}
		},
		mounted(){
			this.sliderAdvantagesToggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakpoints['lg']}px)`);
			this.sliderAdvantagesToggleBreakpoint.addListener( this.initSliderAdvantages );
			this.initSliderAdvantages();
		},
		beforeDestroy(){
			this.sliderAdvantagesToggleBreakpoint.removeListener( this.initSliderAdvantages );
		}
	}
</script>
