<template>
	<main class="page__main">
		<section class="section section--header decoration--arc-after">
			<div class="bg__pic">
				<picture v-background-image>
					<source
						srcset="../assets/images/iis-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/iis-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/iis-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/iis-bg-lg.jpg" alt="ИИС">
				</picture>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					ИИС. Получите 13% к своим инвестициям <br class="d-none d-lg-block">от <br class="d-none d-md-block d-lg-none">государства
				</h1>
				<h2 class="h4">
					Откройте индивидуальный <br class="d-none d-md-block">инвестиционный счет и <br class="d-none d-md-block d-lg-none">воспользуйтесь <br class="d-none d-lg-block">налоговым <br class="d-none d-md-block d-lg-none">вычетом
				</h2>
				<button class="btn btn--primary btn--lg" @click="openPopup('ask-question')">
					Консультация
				</button>
			</div>
		</section>
		<section class="section decoration--arc-double">
			<div class="page__wrapper">
				<div class="slider slider--advantages">
					<div class="wrapper">
						<button class="btn btn--slider-blue slider__btn slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">
								<div class="swiper-slide slider__slide">
									<icon-guarantee></icon-guarantee>
									<span class="text">
										Гарантия <br>государства
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-refill></icon-refill>
									<span class="text">
										Удобное <br>пополнение
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-income></icon-income>
									<span class="text">
										Дополнительный <br>доход
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-multicurrency></icon-multicurrency>
									<span class="text">
										Мультивалютные <br>инвестиции
									</span>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-flexible></icon-flexible>
									<span class="text">
										Гибкость <br>управления
									</span>
								</div>
							</div>
						</div>
						<button class="btn btn--slider-blue slider__btn slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
				</div>
			</div>
		</section>
		<el-section-iis></el-section-iis>
		<section class="section section--regular section--regular-with-bg section--light mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Как это работает?
				</h2>
				<ul class="list list--steps mb-0">
					<li class="list__item">
						<h4 class="h4">
							Откройте счёт и выберите стратегию
						</h4>
						<p class="text text--md">
							Легко оформить онлайн, а наши аналитики помогут подобрать подходящую стратегию
						</p>
					</li>
					<li class="list__item">
						<h4 class="h4">
							Выберите тип налогового вычета
						</h4>
						<p class="text text--md">
							Вы можете освободить свою прибыль от налогов или получить дополнительные проценты от взноса
						</p>
					</li>
					<li class="list__item">
						<h4 class="h4">
							Получите доход от государства
						</h4>
						<p class="text text--md">
							Гарантированная выплата с возможностью рефинансирования средств
						</p>
					</li>
				</ul>
			</div>
		</section>
		<el-section-calc>
			<template v-slot:bg>
				<picture v-background-image>
					<source
						srcset="../assets/images/section-calc-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/section-calc-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/section-calc-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/section-calc-bg-lg.jpg" alt="Как максимизировать выгоду по ИИС">
				</picture>
			</template>
		</el-section-calc>
		<section class="section section--regular">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Виды вычетов ИИС
				</h2>
				<p class="h4 text-center mb-4 pb-md-2 pb-md-3">
					Инвестор может выбрать только один из двух видов. Тип вычета можно выбрать в течение срока действия счета.
				</p>
				<div class="wrapper wrapper--tariffs">
					<div class="figure figure--compare figure--mint">
						<div class="figure__header">
							<h4 class="mr-3">
								Вычет на взнос
							</h4>
							<span class="text text--md">
								Тип А
							</span>
						</div>
						<p class="text text--lg mb-3">
							13% от суммы денежных средств, внесенных на ИИС, возвращается ежегодно или один раз за три года.
						</p>
						<p class="text h4 text--mint text-upper mb-3">
							+13% ОТ ВЗНОСА
						</p>
						<p class="text mb-3">
							<span class="text h6 font-weight-bold d-block mb-1">
								Тип инвестора
							</span>
							<span class="text">
								Долгосрочный
							</span>
						</p>
						<p class="text mb-3">
							<span class="text h6 font-weight-bold d-block mb-1">
								Официальный доход
							</span>
							<span class="text">
								Требуется, облагаемый НДФЛ
							</span>
						</p>
						<p class="text mb-3">
							<span class="text h6 font-weight-bold d-block mb-1">
								Размер вычета
							</span>
							<span class="text">
								До 52 000 рублей в год
							</span>
						</p>
						<div class="figure__footer">
							<span class="text d-block mb-1">
								Пример:
							</span>
							<p class="text text--md mb-0">
								Клиент возвращает уплаченный от заработной платы НДФЛ в размере 13% от суммы взноса (до 52 000 рублей).
							</p>
						</div>
					</div>
					<div class="figure figure--compare figure--primary">
						<div class="figure__header">
							<h4 class="mr-3">
								Вычет на доход
							</h4>
							<span class="text text--md">
								Тип B
							</span>
						</div>
						<p class="text text--lg mb-3">
							Весь доход, полученный от операций по счету ИИС, не облагается НДФЛ.
						</p>
						<br class="d-none d-md-block">
						<p class="text h4 text--primary text-upper mb-3">
							ПРИБЫЛЬ БЕЗ НАЛОГОВ
						</p>
						<p class="text mb-3">
							<span class="text h6 font-weight-bold d-block mb-1">
								Тип инвестора
							</span>
							<span class="text">
								Активный
							</span>
						</p>
						<p class="text mb-3">
							<span class="text h6 font-weight-bold d-block mb-1">
								Официальный доход
							</span>
							<span class="text">
								Не требуется
							</span>
						</p>
						<p class="text mb-3">
							<span class="text h6 font-weight-bold d-block mb-1">
								Размер вычета:
							</span>
							<span class="text">
								Не ограничен
							</span>
						</p>
						<div class="figure__footer">
							<span class="text d-block mb-1">
								Пример:
							</span>
							<p class="text text--md mb-0">
								Клиент получил финансовый результат от операций на ИИС в размере 1,2 млн. рублей, данная сумма не облагается НДФЛ
							</p>
						</div>
					</div>
				</div>
				<p class="text text--md mb-0">
					У одного физического лица может быть только один счёт ИИС. Если у вас есть текущий брокерский счёт, его нельзя превратить в ИИС. Датой открытия ИИС считается дата подписания договора с брокером. <br>
					Минимальный срок существования счета — 3 года. Максимальная сумма вычета на взнос составляет 52 000 рублей в год.
				</p>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Документы для получения вычета
				</h2>
				<div class="wrapper mb-4 d-md-flex">
					<div class="d-flex justify-content-center flex-shrink-0 mb-3 mb-md-0 mr-md-4 pr-md-1 mr-lg-5 pr-md-2">
						<icon-docs></icon-docs>
					</div>
					<div class="d-flex flex-column align-items-start">
						<p class="text text--lg mb-3">
							Необходимо подать налоговую декларацию в Федеральную налоговую службу по форме 3-НДФЛ вместе с документами:
						</p>
						<ul class="list list--goal text--lg mb-3">
							<li class="list__item">
								форма 2-НДФЛ;
							</li>
							<li class="list__item">
								заявление о возврате налога;
							</li>
							<li class="list__item">
								документы, подтверждающие зачисление средств на ИИС.
							</li>
						</ul>
						<p class="text text--lg text--primary">
							Наши сотрудники помогут вам подготовить весь пакет необходимых документов!
						</p>
					</div>
				</div>
				<div class="d-flex justify-content-center">
					<button class="btn btn--primary btn--lg" @click="openPopup('ask-question')">
						Консультация
					</button>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg text--white">
			<div class="bg__pic bg--darkblue">
				<picture v-background-image>
					<source
						srcset="../assets/images/section-feedback-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/section-feedback-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/section-feedback-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/section-feedback-bg-lg.jpg" alt="Отзывы наших клиентов">
				</picture>
			</div>
			<div class="page__wrapper">
				<h2 class="h2 text-center mb-4">
					Отзывы наших клиентов
				</h2>
				<client-reviews
					:initial-breakpoints="$store.state.breakpoints"
					:reviews="[
						{
							name: 'Илья, г. Тула',
							text: '<p> С июля 2018г. я перешёл на тарифный план «Персональный брокер». Моим брокером является Дмитрий Балакин. Данный тарифный план и работа конкретно с Д. Балакиным меня устраивает по следующим причинам:<br> - грамотные и своевременные рекомендации брокера по совершению сделок;<br> - формирование портфеля (по совету брокера), обеспечивающего более высокую доходность.<br> Хотелось бы вернуть систему поручений по телефонной связи, когда поручения передавались непосредственно своему брокеру, и он выставлял заявку. Данная система наиболее удобна мне как клиенту и экономит моё время. </p>'
						},
						{
							name: 'Екатерина, г. Москва',
							text: '<p> Хочу поделиться своими впечатлениями об ИИС. Инвестиционный счёт был открыт в сентябре 2017 года. В январе 2018 мы перевели ИИС в \'Солид-брокер\'. И уже летом 2018 года я получила возврат подоходного налога 52 000 руб. Кроме этого акции, в которые были вложены средства тоже принесли прибыль- так что за 2018 год ИИС обеспечил мне хороший доход! </p> <p> Глядя на хорошие результаты в 2018 году, я приняла решение продолжить вкладывать деньги в ИИС, поэтому в прошлом году я пополнила счёт ещё на 400 тыс рублей и снова подала декларацию на возврат подоходного налога. Но, ничего этого бы не было, если бы не Ваша помощь и поддержка, Ян! Я считаю, что только благодаря Вашим грамотным консультациям, вашей заботе, мы пришли к таким хорошим финансовым результатам! Искреннее огромное Вам спасибо, Ян! </p>'
						}
					]"
					>
				</client-reviews>
			</div>
		</section>
		<el-section-telegram></el-section-telegram>
		<el-section-interesting></el-section-interesting>
		<el-section-rating></el-section-rating>

		<el-popup-ask-question></el-popup-ask-question>

	</main>
</template>

<script>

	import { events } from "../events";

	import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';
	import IconGuarantee from '../components/icons/icon_files/IconGuarantee.vue';
	import IconRefill from '../components/icons/icon_files/IconRefill.vue';
	import IconIncome from '../components/icons/icon_files/IconIncome.vue';
	import IconMulticurrency from '../components/icons/icon_files/IconMulticurrency.vue';
	import IconFlexible from '../components/icons/icon_files/IconFlexible.vue';
	import IconDocs from '../components/icons/icon_files/IconDocs.vue';

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElSectionIis from '../components/ElSectionIis.vue';
	import ElSectionTelegram from '../components/ElSectionTelegram.vue';
	import ElSectionInteresting from '../components/ElSectionInteresting.vue';
	import ElSectionCalc from '../components/ElSectionCalc.vue';
	import ElSectionRating from '../components/ElSectionRating.vue';
	import ElPopupAskQuestion from '../components/ElPopupAskQuestion.vue';
	import ClientReviews from '../components/api_blocks/ClientReviews.vue';

	import initSlider from '../libs/slider.js';

	export default {
		name: 'PageIis',
		components: {
			IconChewronDown,
			IconGuarantee,
			IconRefill,
			IconIncome,
			IconMulticurrency,
			IconFlexible,
			IconDocs,

			ElBreadcrumbs,
			ElSectionIis,
			ElSectionTelegram,
			ElSectionInteresting,
			ElSectionCalc,
			ElSectionRating,
			ElPopupAskQuestion,
			ClientReviews
		},
		data(){
			return {
				sliderAdvantages: null,
				sliderAdvantagesToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
			enableSliderAdvantages(){
				let breakpoints = {};
				breakpoints[this.$store.state.breakpoints['md']] = {
					slidesPerView: 3
				}
				this.sliderAdvantages = initSlider('.slider--advantages', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderAdvantages(){
				if( this.sliderAdvantages ){
					this.sliderAdvantages.destroy(true, true);
				}
			},
			initSliderAdvantages(){
				!this.sliderAdvantagesToggleBreakpoint.matches ? this.enableSliderAdvantages() : this.disableSliderAdvantages();
			}
		},
		mounted(){
			this.sliderAdvantagesToggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakpoints['lg']}px)`);
			this.sliderAdvantagesToggleBreakpoint.addListener( this.initSliderAdvantages );
			this.initSliderAdvantages();
		},
		beforeDestroy(){
			this.sliderAdvantagesToggleBreakpoint.removeListener( this.initSliderAdvantages );
		}
	}
</script>
