<template>
	<main class="page__main">
		<section class="section">
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
                <h2 class="h2">
                    Еженедельный обзор инвестидей 7-11 декабря 2020
                </h2>
				<div class="text--sm mb-4">
					Июль 22, 2020
				</div>
				<div class="d-flex align-items-center text--sm mb-4">
					<icon-positive class="mr-3"></icon-positive>
					сентимент: позитивный
				</div>
				<div class="wrapper--article">
					<div class="wrapper">
						<h4 class="h4 text--primary mb-3">
							Комментарий по рынкам
						</h4>
						<p>
							Предновогоднее ралли уже вовсю идет. Американские индексы продолжают обновлять исторические максимумы на ожидании новых стимулирующих мер экономики, даже несмотря на слабые данные по рынку труда. Классический рыночный принцип – чем хуже дела в экономике, тем лучше для фондовых рынков, ведь тем больше будет денежных вливаний в экономику.
						</p>
						<p>
							Российский рынок находится в шаге от обновления январских максимумов. Тогда мир только-только начал знакомится с «китайским» коронавирусом и ещё не предполагал масштабы эпидемии. Сейчас же пандемия с каждым днём всё хуже и хуже, а рынки всё выше и выше. Массовая вакцинация, которая является чуть ли не единственным способом остановить пандемию, вот-вот начнется. В России с этой недели уже начались прививки по рисковым группам, но действительно массовый характер будет не раньше следующего года. Рынок «прайсит» излечение от коронавируса в следующем году.
						</p>
						<p>
							По сообщениям «Ъ», на фоне восстановления индекса Московской биржи растет интерес пайщиков к фондам акций и снижается спрос на консервативные облигационные фонды, однако сохраняется и доля инвестиций в защитных фондах, ориентированных на вложения в золото. Мы сейчас наблюдаем рекордный приток физлиц на фондовый рынок, что должно вызвать ещё больший рост индексов в следующем году.
						</p>
						<p>
							На прошлой неделе в понедельник мы выпустили инвестидею по Озону, а уже в пятницу её закрыли по достижению целевой цены и перекупленности. Доход составил более 30%. Рост акций был спровоцирован высказываниями менеджмента АФК Системы о том, что они не планируют продавать Озон после истечения периода локапа. Долгосрочным инвесторам мы по-прежнему рекомендуем удерживать эти акции.
						</p>
						<p>
							На этой неделе мы рекомендуем к покупке 3 акции: РусГидро, Газпром нефть и Юнипро. С полным списком инвестидей вы сможете ознакомиться ниже.
						</p>
						<p>
							P.S. Напомним, что на выходных мы выложили запись нашего стратегического вебинара по итогам 3 кв. 2020 в общий доступ. Поэтому всем, кто ещё не ознакомился с вебинаром и с нашим выбором акций, рекомендуем его посмотреть. Доступно тут.
						</p>
					</div>
					<div class="wrapper">
						<div class="wrapper mb-4">
							<h4 class="h4">
								Нефть Brent
							</h4>
							<img src="../assets/images/graph-0.jpg" alt="graph-0">
						</div>
						<div class="wrapper mb-4">
							<h4 class="h4">
								Индекс Мосбиржи
							</h4>
							<img src="../assets/images/graph-1.jpg" alt="graph-1">
						</div>
					</div>
				</div>
				<div class="wrapper mb-5">
					<table class="table">
						<tbody>
							<tr class="table__head">
								<td colspan="4">
									Оценка
								</td>
							</tr>
							<tr v-for="i in 4" :key="`tr1_${i}`">
								<td>
									Чистая прибыль
								</td>
								<td>
									3,9
								</td>
								<td>
									84,0
								</td>
								<td>
									11,39
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="wrapper--article">
					<div class="wrapper">
						<h4 class="h4 text--primary mb-3">
							Газпром нефть
						</h4>
						<p>
							Предновогоднее ралли уже вовсю идет. Американские индексы продолжают обновлять исторические максимумы на ожидании новых стимулирующих мер экономики, даже несмотря на слабые данные по рынку труда. Классический рыночный принцип – чем хуже дела в экономике, тем лучше для фондовых рынков, ведь тем больше будет денежных вливаний в экономику.
						</p>
						<p>
							Российский рынок находится в шаге от обновления январских максимумов. Тогда мир только-только начал знакомится с «китайским» коронавирусом и ещё не предполагал масштабы эпидемии. Сейчас же пандемия с каждым днём всё хуже и хуже, а рынки всё выше и выше. Массовая вакцинация, которая является чуть ли не единственным способом остановить пандемию, вот-вот начнется. В России с этой недели уже начались прививки по рисковым группам, но действительно массовый характер будет не раньше следующего года. Рынок «прайсит» излечение от коронавируса в следующем году.
						</p>
						<p>
							По сообщениям «Ъ», на фоне восстановления индекса Московской биржи растет интерес пайщиков к фондам акций и снижается спрос на консервативные облигационные фонды, однако сохраняется и доля инвестиций в защитных фондах, ориентированных на вложения в золото. Мы сейчас наблюдаем рекордный приток физлиц на фондовый рынок, что должно вызвать ещё больший рост индексов в следующем году.
						</p>
						<p>
							На прошлой неделе в понедельник мы выпустили инвестидею по Озону, а уже в пятницу её закрыли по достижению целевой цены и перекупленности. Доход составил более 30%. Рост акций был спровоцирован высказываниями менеджмента АФК Системы о том, что они не планируют продавать Озон после истечения периода локапа. Долгосрочным инвесторам мы по-прежнему рекомендуем удерживать эти акции.
						</p>
						<p>
							На этой неделе мы рекомендуем к покупке 3 акции: РусГидро, Газпром нефть и Юнипро. С полным списком инвестидей вы сможете ознакомиться ниже.
						</p>
						<p>
							P.S. Напомним, что на выходных мы выложили запись нашего стратегического вебинара по итогам 3 кв. 2020 в общий доступ. Поэтому всем, кто ещё не ознакомился с вебинаром и с нашим выбором акций, рекомендуем его посмотреть. Доступно тут.
						</p>
					</div>
					<div class="wrapper">
						<table class="table mb-5">
							<tbody>
								<tr class="table__head">
									<td colspan="4">
										Акции
									</td>
								</tr>
								<tr v-for="i in 6" :key="`tr1_${i}`">
									<td>
										Чистая прибыль
									</td>
									<td>

									</td>
									<td>

									</td>
									<td>
										11,39
									</td>
								</tr>
								<tr class="table__head">
									<td>
										Финансы (млрд. руб.)
									</td>
									<td>
										2018
									</td>
									<td>
										2019
									</td>
									<td>
										2020-е
									</td>
								</tr>
								<tr v-for="i in 4" :key="`tr2_${i}`">
									<td>
										Чистая прибыль
									</td>
									<td>
										3,9
									</td>
									<td>
										84,0
									</td>
									<td>
										11,39
									</td>
								</tr>
							</tbody>
						</table>
						<div class="wrapper mb-4">
							<h4 class="h4">
								Цена акции
							</h4>
							<img src="../assets/images/graph-2.jpg" alt="graph-2">
						</div>
					</div>
				</div>

				<a href="#" class="file mb-4 mb-lg-5">
					<span class="file__icon">
						<icon-file-pdf></icon-file-pdf>
					</span>
					<span class="wrapper">
						<span class="file__name">
							Скачать полный обзор
						</span>
						<span class="file__info">
							(324Кб, PDF)
						</span>
					</span>
				</a>

				<a href="#" class="btn btn--link mb-5 mb-md-4 mb-lg-0">
					<icon-chewron-left></icon-chewron-left>
					<span class="btn__text">
						Назад к списку обзоров
					</span>
				</a>

			</div>
		</section>
		<el-section-rating></el-section-rating>
	</main>
</template>

<script>

	import ElSectionRating from '../components/ElSectionRating.vue';
	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import IconPositive from '../components/icons/icon_files/IconPositive.vue';
	import IconFilePdf from '../components/icons/icon_files/IconFilePdf.vue';
	import IconChewronLeft from '../components/icons/icon_files/IconChewronLeft.vue';

	export default {
		name: 'PageSingleReview',
		components: {
			ElBreadcrumbs,
			IconPositive,
			IconFilePdf,
			IconChewronLeft,
			ElSectionRating
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
