<template>
	<main class="page__main">
		<section class="section section--header decoration--arc-after">
			<div class="bg__pic">
				<picture v-background-image>
					<source
						srcset="../assets/images/dcm-bg-lg.png"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/dcm-bg-md.png"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/dcm-bg-xs.png"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/dcm-bg-lg.png" alt="Рынки капитала">
				</picture>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Рынки капитала
				</h1>
				<h2 class="h4">
					Организуем привлечение<br class="d-none d-lg-block"> финансирования на рынках <br class="d-none d-lg-block">долгового капитала
				</h2>
				<button class="btn btn--primary btn--lg">
					Консультация
				</button>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--blue text--white mb-0">
			<div class="page__wrapper">
				<div class="slider slider--application mb-0 mt-4">
					<div class="wrapper">
						<button class="btn btn--slider-blue slider__btn slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">
								<div class="swiper-slide slider__slide">
									<icon-structure></icon-structure>
									<h4 class="text--lg">
										Отсутствие влияния на структуру акционерного капитала
									</h4>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-borrowing></icon-borrowing>
									<h4 class="text--lg">
										Не требуется залог при заимствовании
									</h4>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-independence></icon-independence>
									<h4 class="text--lg">
										Независимость от кредиторов
									</h4>
								</div>
							</div>
						</div>
						<button class="btn btn--slider-blue slider__btn slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
				</div>
			</div>
		</section>
		<div class="section section--regular mb-0">
			<ul class="list list--dcm">
				<li class="list__item">
					<div class="bg__pic">
						<img src="../assets/images/dcm-square-1.png" v-background-image>
					</div>
					<div class="wrapper">
						<h2 class="h2 text--primary ml-auto mb-auto">
							Первичное размещение <br class="d-none d-md-block">облигаций
						</h2>
					</div>
				</li>
				<li class="list__item">
					<div class="wrapper">
						<ul class="list list--goal text--lg">
							<li class="list__item">
								Бридж кредитование
							</li>
							<li class="list__item">
								Программы облигаций «под ключ»
							</li>
							<li class="list__item">
								Широкая дистрибуция облигаций среди инвесторов
							</li>
							<li class="list__item">
								Гарантия андеррайтинга, включая поддержку размещения собственной позицией
							</li>
							<li class="list__item">
								Рейтинговое консультирование
							</li>
							<li class="list__item">
								Аналитическая поддержка
							</li>
							<li class="list__item">
								Маркетинг
							</li>
							<li class="list__item">
								Организация и поддержка презентаций эмитента
							</li>
							<li class="list__item">
								Работа с инвесторами для открытия лимитов на размещение облигаций
							</li>
						</ul>
					</div>
				</li>
				<li class="list__item">
					<div class="wrapper">
						<div class="figure">
							<ul class="list list--goal text--lg">
								<li class="list__item">
									Поддержка котировок на вторичном рынке (маркет-мейкинг)
								</li>
								<li class="list__item">
									Сделки РЕПО
								</li>
								<li class="list__item">
									Управление долговым портфелем (удлинение долга, обратный выкуп, конвертация  долга)
								</li>
								<li class="list__item">
									Аналитические обзоры о результатах деятельности Эмитента
								</li>
								<li class="list__item">
									Расширение лимитной емкости инвесторов
								</li>
								<li class="list__item">
									Поддержка раскрытия информации
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="list__item">
					<div class="bg__pic">
						<img src="../assets/images/dcm-square-2.png" v-background-image>
					</div>
					<div class="wrapper">
						<h2 class="h2 text--primary mb-auto">
							Обращение <br>облигаций
						</h2>
					</div>
				</li>
				<li class="list__item">
					<div class="bg__pic">
						<img src="../assets/images/dcm-square-3.png" v-background-image>
					</div>
					<div class="wrapper">
						<h2 class="h2 text--primary ml-auto mb-auto">
							Прохождение оферт и <br class="d-none d-sm-block d-lg-none">работа с&nbsp;рынком
						</h2>
					</div>
				</li>
				<li class="list__item">
					<div class="wrapper">
						<div class="figure">
							<ul class="list list--goal text--lg">
								<li class="list__item">
									Разработка концепции прохождения оферты
								</li>
								<li class="list__item">
									Услуги Агента по оферте, сопровождение    на всех этапах оферты «под ключ»
								</li>
								<li class="list__item">
									Организация взаимодействия с инфраструктурой рынка
								</li>
								<li class="list__item">
									Работа с действующими держателями и привлечение новых инвесторов
								</li>
								<li class="list__item">
									Аналитическая поддержка
								</li>
								<li class="list__item">
									Маркетинг
								</li>
								<li class="list__item">
									Поддержка раскрытия информации
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<section class="section section--regular section--regular-with-bg">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Этапы и сроки размещения облигаций
				</h2>
				<div class="figure figure--box">
					<table class="table table--simple text--muted font-weight-normal">
						<tbody>
							<tr>
								<td>
									№
								</td>
								<td>
									<span class="text-uppercase">
										Основные укрупненные этапы
									</span>
								</td>
								<td>
									<span class="text--md">
										Ориентировочные сроки, неделя от старта работ
									</span>
								</td>
							</tr>
							<tr>
								<td>
									1
								</td>
								<td>
									Заключение договора с организатором
								</td>
								<td>
									<span class="text--gray">
										1
									</span>
								</td>
							</tr>
							<tr>
								<td>
									2
								</td>
								<td>
									Разработка концепции эмиссии облигационного займа
								</td>
								<td>
									<span class="text--gray">
										2
									</span>
								</td>
							</tr>
							<tr>
								<td>
									3
								</td>
								<td>
									Прохождение процедуры KYC Биржи*
								</td>
								<td>
									<span class="text--gray">
										2-3
									</span>
								</td>
							</tr>
							<tr>
								<td>
									4
								</td>
								<td>
									Заключение договоров с юр. консультантом*, биржей, НРД, Интерфакс, рейтинговым агентством*, ПВО*
								</td>
								<td>
									<span class="text--gray">
										2-3
									</span>
								</td>
							</tr>
							<tr>
								<td>
									5
								</td>
								<td>
									Подготовка эмиссионной документации Организатором и Эмитентом
								</td>
								<td>
									<span class="text--gray">
										4-13
									</span>
								</td>
							</tr>
							<tr>
								<td>
									6
								</td>
								<td>
									Согласование эмиссионной документации Биржей
								</td>
								<td>
									<span class="text--gray">
										4-6
									</span>
								</td>
							</tr>
							<tr>
								<td>
									7
								</td>
								<td>
									Регистрация эмиссионной документации Биржей
								</td>
								<td>
									<span class="text--gray">
										7-9
									</span>
								</td>
							</tr>
							<tr>
								<td>
									8
								</td>
								<td>
									Подготовка Аналитических материалов Организатором
								</td>
								<td>
									<span class="text--gray">
										10-12
									</span>
								</td>
							</tr>
							<tr>
								<td>
									9
								</td>
								<td>
									Маркетинговые мероприятия (взаимодействие с инвесторами)**
								</td>
								<td>
									<span class="text--gray">
										13-15
									</span>
								</td>
							</tr>
							<tr>
								<td>
									10
								</td>
								<td>
									Размещение облигационного займа и перечисление средств Эмитенту
								</td>
								<td>
									<span class="text--gray">
										15
									</span>
								</td>
							</tr>
							<tr>
								<td>
									11
								</td>
								<td>
									Уведомление/Отчет об итогах выпуска облигационного займа
								</td>
								<td>
									<span class="text--gray">
										15
									</span>
								</td>
							</tr>
							<tr>
								<td>
									12
								</td>
								<td>
									Вторичное обращение облигационного займа
								</td>
								<td>
									<span class="text--gray">
										15
									</span>
								</td>
							</tr>
						</tbody>
					</table>
					<p class="text--sm">
						* При необходимости<br>
						** В зависимости от сектора экономики и рыночной конъюнктуры
					</p>
					<p class="text--sm">
						Указанные цифры не окончательные. В случае усложнения структуры выпуска облигаций могут возрасти издержки на юридического консультанта и рейтинговое агентство. После первого года присутствуют расходы по поддержанию выпуска облигаций Московской Биржей, НРД, ПВО, раскрытие информации (Интерфакс), рейтинговое агентство. Маркетинг зависит от пожеланий и возможностей компании эмитента
					</p>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg text--white mb-0">
			<div class="bg__pic bg--darkblue">
				<img src="../assets/images/dcm-advantages.jpg" alt="Преимущества выпуска облигаций перед банковским кредитом" v-background-image>
			</div>
			<div class="page__wrapper">
				<h2 class="h2 text-center mb-4">
					Преимущества выпуска облигаций перед банковским кредитом
				</h2>
				<div class="wrapper wrapper--box mb-4 align-items-center align-items-lg-stretch">
					<div class="figure figure--box figure--box-service shadow-none">
						<a href="#" class="text--lg link link--unset">
							Отсутствие влияния на структуру акционерного капитала
						</a>
					</div>
					<div class="figure figure--box figure--box-service shadow-none">
						<a href="#" class="text--lg link link--unset">
							Более выгодные условия и большие объемы финансирования
						</a>
					</div>
					<div class="figure figure--box figure--box-service shadow-none">
						<a href="#" class="text--lg link link--unset">
							Сравнительно низкая стоимость привлечения денежных средств
						</a>
					</div>
					<div class="figure figure--box figure--box-service shadow-none">
						<a href="#" class="text--lg link link--unset">
							Возможность управления процентной ставкой заимствования
						</a>
					</div>
					<div class="figure figure--box figure--box-service shadow-none">
						<a href="#" class="text--lg link link--unset">
							Не требует залогов
						</a>
					</div>
					<div class="figure figure--box figure--box-service shadow-none">
						<a href="#" class="text--lg link link--unset">
							Рыночный индикатор стоимости банкового долга
						</a>
					</div>
					<div class="figure figure--box figure--box-service shadow-none">
						<a href="#" class="text--lg link link--unset">
							Независимость от кредиторов
						</a>
					</div>
				</div>
				<div class="d-block text-center">
					<button class="btn btn--primary btn--lg" @click="openPopup('backcall')">
						Стать клиентом
					</button>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg mb-lg-0 section--light">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Реализованные сделки
				</h2>
				<div class="slider slider--dials">
					<div class="wrapper">
						<button class="btn slider__btn btn--slider slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">
								<div class="swiper-slide slider__slide">
									<div class="figure figure--tool">
										<h4 class="h4 text--primary">
											ООО «ЭКСПОБАНК»
										</h4>
										<img src="../assets/images/ekspobank.jpg" alt="«ЭКСПОБАНК»" class="mb-3">
										<p class="mb-0">
											Выпуск биржевых  облигаций 001Р-03 <br>
											3 000 000 000 руб. <br>
											Купон 8% <br>
											Со-Организатор
										</p>
									</div>
								</div>
								<div class="swiper-slide slider__slide">
									<div class="figure figure--tool">
										<h4 class="h4 text--primary">
											ООО «РОЛЬФ»
										</h4>
										<img src="../assets/images/rolf.jpg" alt="«ЭКСПОБАНК»" class="mb-3">
										<p class="mb-0">
											Выпуск биржевых облигаций 001Р-01R <br>
											4 500 000 000 руб. <br>
											Купон 9%  <br>
											Организатор
										</p>
									</div>
								</div>
							</div>
						</div>
						<button class="btn slider__btn btn--slider slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination"></div>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Рэнкинги, достижения и признание инвестиционного сообщества
				</h2>
				<div class="slider slider--boxes">
					<div class="swiper-container slider__container">
						<div class="swiper-wrapper slider__wrapper">
							<div class="swiper-slide slider__slide">
								<div class="figure figure--box d-flex flex-column bg--super-light">
									<div class="figure__header">
										<h4 class="h4">
											Прорыв года CBonds Award
										</h4>
									</div>
									<div class="figure__body mt-auto">
										<img src="../assets/images/dcm-award-1.png" alt="Прорыв года CBonds Award" class="mb-3">
										<p class="text">
											I место в номинации «Прорыв года 2019» <br>
											II место в номинации «Лучший организатор сделок High Yield»
										</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide slider__slide">
								<div class="figure figure--box d-flex flex-column bg--super-light">
									<div class="figure__header">
										<h4 class="h4">
											II место в рэнкинге Организаторов выпуска высокодоходных облигаций
										</h4>
									</div>
									<div class="figure__body mt-auto">
										<img src="../assets/images/dcm-award-2.png" alt="II место в рэнкинге Организаторов выпуска высокодоходных облигаций" class="mb-3">
										<p class="text mb-1">
											Доля первой тройки организаторов на рынке
										</p>
										<span class="h4">
											52,3%
										</span>
									</div>
								</div>
							</div>
							<div class="swiper-slide slider__slide">
								<div class="figure figure--box d-flex flex-column bg--super-light">
									<div class="figure__header">
										<h4 class="h4">
											I место в номинации CBonds Award
										</h4>
									</div>
									<div class="figure__body mt-auto">
										<img src="../assets/images/dcm-award-3.png" alt="I место в номинации CBonds Award" class="mb-3">
										<p class="text">
											Иностранные инструменты на российской площадке внутри российской юрисдикции
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-pagination slider__pagination"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Наша команда
				</h2>
				<div class="wrapper wrapper--managers">
					<div class="figure figure--manager">
						<img class="person__pic" src="../assets/images/golovanov.jpg" alt="Голованов Валерий Николаевич">
						<h4 class="person__name h4">
							<span class="text">
								<span class="text-uppercase">Голованов</span> Валерий Николаевич
							</span>
							<span class="person__role">
								Начальник Управления корпоративного финансирования, стаж работы на финансовом рынке с 1994 г.
							</span>
						</h4>
					</div>
					<div class="figure figure--manager">
						<img class="person__pic" src="../assets/images/shavleeva.jpg" alt="Щавлеева Марина Георгиевна">
						<h4 class="person__name h4">
							<span class="text">
								<span class="text-uppercase">Щавлеева</span> Марина Георгиевна
							</span>
							<span class="person__role">
								Руководитель направления сопровождения сделок, стаж работы на финансовом рынке с 2004 г.
							</span>
						</h4>
					</div>
					<div class="figure figure--manager">
						<img class="person__pic" src="../assets/images/shevaeva.jpg" alt="Щеваева Анна Анатольевна">
						<h4 class="person__name h4">
							<span class="text">
								<span class="text-uppercase">Щеваева</span> Анна Анатольевна
							</span>
							<span class="person__role">
								Руководитель направления продаж, стаж работы на финансовом рынке с 2001 г.
							</span>
						</h4>
					</div>
					<div class="figure figure--manager">
						<img class="person__pic" src="../assets/images/okulski.jpg" alt="Окульский Никита Владимирович">
						<h4 class="person__name h4">
							<span class="text">
								<span class="text-uppercase">Окульский</span> Никита Владимирович
							</span>
							<span class="person__role">
								Аналитик по облигациям, стаж работы на финансовом  рынке с 2015 года
							</span>
						</h4>
					</div>
				</div>
            </div>
        </section>
		<section class="section section--regular">
			<div class="page__wrapper">
				<div class="d-flex justify-content-center">
					<div class="form form--simple form--sm">
						<h4 class="h4 mb-0 mr-3">
							Запросить оценку компании
						</h4>
						<p>
							Поля, помеченные *, обязательны для заполнения.
						</p>
						<div class="control control--text">
							<label for="" class="control__label">
								Имя <sup class="text--error">*</sup>
							</label>
							<input type="text" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите Имя
							</div>
						</div>
						<div class="control control--text">
							<label for="" class="control__label">
								Телефон <sup class="text--error">*</sup>
							</label>
							<input type="tel" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите Телефон
							</div>
						</div>
						<div class="control control--text">
							<label for="" class="control__label">
								E-mail <sup class="text--error">*</sup>
							</label>
							<input type="email" class="control__input">
							<div class="control__msg control__msg--invalid">
								Введите E-mail
							</div>
						</div>
						<div class="control control--text">
							<label for="" class="control__label">
								Задайте вопрос нашим специалистам:
							</label>
							<textarea class="control__input"></textarea>
							<div class="control__msg control__msg--invalid">
								Введите вопрос
							</div>
						</div>
						<div class="control control--checkbox mb-4">
							<input id="popup-askquestion-agrement" type="checkbox" class="control__input">
							<label for="popup-askquestion-agrement" class="control__label">
								Я принимаю <a href="#" class="link">условия соглашения об обработке персональных данных</a>
							</label>
							<div class="control__msg control__msg--invalid">
								Примите условия
							</div>
						</div>
						<button class="btn btn--primary btn--lg">
							Отправить заявку
						</button>
					</div>
				</div>
			</div>
		</section>
		<el-section-interesting></el-section-interesting>
		<el-section-rating></el-section-rating>
	</main>
</template>

<script>

	import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';
	import IconIndependence from '../components/icons/icon_files/IconIndependence.vue';
	import IconBorrowing from '../components/icons/icon_files/IconBorrowing.vue';
	import IconStructure from '../components/icons/icon_files/IconStructure.vue';

	import ElSectionRating from '../components/ElSectionRating.vue';
	import ElSectionInteresting from '../components/ElSectionInteresting.vue';
	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';

	import initSlider from '../libs/slider.js';

	export default {
		name: 'PageDcm',
		components: {
			IconChewronDown,
			IconIndependence,
			IconBorrowing,
			IconStructure,
			ElSectionRating,
			ElSectionInteresting,
			ElBreadcrumbs
		},
		data(){
			return {
				sliderApplication: null,
				sliderDeals: null,
				sliderApplicationToggleBreakpoint: null,
				sliderBoxes: null,
				sliderBoxesToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			enableSliderApplication(){
				let breakpoints = {};
				breakpoints[this.$store.state.breakpoints['md']] = {
					slidesPerView: 2
				}
				this.sliderApplication = initSlider('.slider--application', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderApplication(){
				if( this.sliderApplication ){
					this.sliderApplication.destroy(true, true);
				}
			},
			initSliderApplication(){
				!this.sliderApplicationToggleBreakpoint.matches ? this.enableSliderApplication() : this.disableSliderApplication();
			},
			initSliderDials(){
				let breakpoints = {};
				breakpoints[this.$store.state.breakpoints['md']] = {
					slidesPerView: 2
				}
				this.sliderDeals = initSlider('.slider--dials', {
					slidesPerView: 'auto',
					spaceBetween: 35,
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			enableSliderBoxes(){
				this.sliderBoxes = initSlider('.slider--boxes', {
					effect: 'coverflow',
					coverflowEffect: {
						rotate: 30,
						slideShadows: false
					},
					loop: true
				});
			},
			disableSliderBoxes(){
				if( this.sliderBoxes ){
					this.sliderBoxes.map( slider => {
						slider.destroy(true, true);
					});
				}
			},
			initSliderBoxes(){
				!this.sliderBoxesToggleBreakpoint.matches ? this.enableSliderBoxes() : this.disableSliderBoxes();
			}
		},
		mounted(){
			this.sliderApplicationToggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakpoints['lg']}px)`);
			this.sliderApplicationToggleBreakpoint.addListener( this.initSliderApplication );
			this.initSliderApplication();
			this.initSliderDials();
			this.sliderBoxesToggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakpoints['md']}px)`);
			this.sliderBoxesToggleBreakpoint.addListener( this.initSliderBoxes );
			this.initSliderBoxes();
		},
		beforeDestroy(){
			this.sliderBoxesToggleBreakpoint.removeListener( this.initSliderBoxes );
		}
	}
</script>
