<template>
	<main class="page__main">
		<section class="section">
			<div class="page__wrapper">

				<el-breadcrumbs></el-breadcrumbs>

				<h1 class="h2 mb-4">
					Акции и облигации
				</h1>

				<h3 class="h3 mb-3">
					Дивидендная доходность акций Эталон Групп превышает 10%
				</h3>

				<div class="d-block d-md-flex align-items-center mb-md-3 mb-lg-5">
					<time class="text--muted text--sm d-block mb-3 mb-md-0 mr-md-3" datetime="2020-07-22">
						Июль 22, 2020
					</time>
					<div class="badge badge--mint mb-3 mb-md-0">
						Акции
					</div>
				</div>

				<div class="widget widget--indexes">
					<div class="widget__content">
						<div class="company">
							<div class="company__logo">
								<img src="../assets/images/etln-logo.png" alt="etln logo" >
							</div>
							<div class="company__title">
								Эталон Групп
								<span class="text--muted">
									(ETLN)
								</span>
							</div>
						</div>
						<div class="wrapper">
							<span>
								1 947,23 <span class="text--rouble">a</span>
							</span>
							<div class="text--success">
								+20,21%
							</div>
						</div>
						<a href="#" class="btn btn--primary btn--lg">
							Купить
						</a>
					</div>
				</div>

				<div class="wrapper--article">
					<div class="wrapper">
						<h4 class="h4 text--primary mb-3">
							Плюсы:
						</h4>
						<ul class="list list--plus">
							<li class="list__item">
								высокая дивидендная доходность
							</li>
							<li class="list__item">
								мажоритарий АФК Система, что позитивно для корп. управления и дивидендов
							</li>
							<li class="list__item">
								восстановление индустрии
							</li>
							<li class="list__item">
								прогнозируемый рост ВВП РФ в 2021 году более чем в 3%
							</li>
							<li class="list__item">
								льготная ставка по ипотеке
							</li>
							<li class="list__item">
								снижение ключевой ставки ЦБ
							</li>
							<li class="list__item">
								крупный бренд и 2 место по объемам после ПИКа
							</li>
						</ul>

						<h4 class="h4 text--primary mb-3">
							Минусы и риски:
						</h4>

						<ul class="list list--minus">
							<li class="list__item">
								относительно высокий долг
							</li>
							<li class="list__item">
								риск неодобрения дивидендов на ГОСА
							</li>
							<li class="list__item">
								вторая волна кризиса
							</li>
						</ul>

						<p>
							Как известно, акции циклических секторов нужно покупать на дне цикла. Сейчас, когда пандемия в России сходит на нет, а вакцины уже созданы и проходят финальные испытания, можно смело говорить о начале нового цикла. Строительный сектор или девелопмент как раз относится к таким секторам. А акции Эталона, на наш взгляд, являются наиболее привлекательными.
						</p>

						<p>
							Даже несмотря на провальные операционные показатели за первое полугодие (падение продаж на 24%), которые были вызваны снижением потребительской активности и запретами на строительство в Москве на фоне пандемии, бизнес Эталона показывает признаки восстановления. Стоимость заключенных контрактов в июне выросла на 78% по сравнению с маем 2020 года. Доля ипотечных сделок также увеличилась с 36% в 1 квартале до рекордных 44% во 2 квартале 2020 года. Это свидетельствует о зарождении нового цикла в строительной отрасли.
						</p>

						<p>
							Пожалуй, самым главным драйвером, способным привести к росту бизнес девелоперов, является снижение процентных ставок по ипотеке, а также госпрограмма 2020 с льготными 6,5% на новостройки до начала ноября 2020 года. Мы ожидаем всплеск продаж во второй половине года, что неминуемо отразится на акциях девелоперов.
						</p>

						<p>
							Также немаловажным фактором выступает решение Совета Директоров о следовании новоутвержденной дивидендной политике, которая предусматривает минимальную выплату в 12 рублей на акцию, что при цене акции в 110 рублей сулит почти 11% дивидендную доходность. Поэтому мы считаем, что сейчас прекрасное время для покупок депозитарных расписок Эталона (тикер ETLN) себе в портфель.
						</p>
					</div>
					<div class="wrapper">
						<table class="table">
							<tbody>
								<tr class="table__head">
									<td colspan="4">
										Акции
									</td>
								</tr>
								<tr v-for="i in 6" :key="`tr1_${i}`">
									<td>
										Чистая прибыль
									</td>
									<td>

									</td>
									<td>

									</td>
									<td>
										11,39
									</td>
								</tr>
								<tr class="table__head">
									<td>
										Финансы (млрд. руб.)
									</td>
									<td>
										2018
									</td>
									<td>
										2019
									</td>
									<td>
										2020-е
									</td>
								</tr>
								<tr v-for="i in 4" :key="`tr2_${i}`">
									<td>
										Чистая прибыль
									</td>
									<td>
										3,9
									</td>
									<td>
										84,0
									</td>
									<td>
										11,39
									</td>
								</tr>
								<tr class="table__head">
									<td colspan="4">
										Оценка
									</td>
								</tr>
								<tr v-for="i in 4" :key="`tr3_${i}`">
									<td>
										Чистая прибыль
									</td>
									<td>
										3,9
									</td>
									<td>
										84,0
									</td>
									<td>
										11,39
									</td>
								</tr>
							</tbody>
						</table>

						<div class="wrapper mb-4">
							<h4 class="h4">
								ETLN-гдр
							</h4>
							<img src="../assets/images/graph-0.jpg" alt="graph-0">
						</div>

						<div class="wrapper mb-4">
							<h4 class="h4">
								Чистая прибыль, млрд руб.
							</h4>
							<img src="../assets/images/graph-1.jpg" alt="graph-1">
						</div>

						<div class="wrapper mb-4">
							<h4 class="h4">
								Дивиденды на акцию
							</h4>
							<img src="../assets/images/graph-2.jpg" alt="graph-2">
						</div>
					</div>
				</div>

				<a href="#" class="file mb-4 mb-lg-5">
					<span class="file__icon">
						<icon-file-pdf></icon-file-pdf>
					</span>
					<span class="wrapper">
						<span class="file__name">
							Скачать полный обзор
						</span>
						<span class="file__info">
							(324Кб, PDF)
						</span>
					</span>
				</a>

				<a href="#" class="btn btn--link mb-5 mb-md-4 mb-lg-0">
					<icon-chewron-left></icon-chewron-left>
					<span class="btn__text">
						Назад к списку обзоров
					</span>
				</a>

			</div>
		</section>
		<el-section-rating></el-section-rating>
	</main>
</template>

<script>

	import IconFilePdf from '../components/icons/icon_files/IconFilePdf.vue';
	import IconChewronLeft from '../components/icons/icon_files/IconChewronLeft.vue';

	import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
	import ElSectionRating from '../components/ElSectionRating.vue';

	export default {
		name: 'PageCompanyAnalitics',
		components: {
			IconFilePdf,
			IconChewronLeft,

			ElBreadcrumbs,
			ElSectionRating
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
