<template>
	<main class="page__main">
		<section class="section section--header section--header-sm">
			<div class="bg__pic">
				<img src="../assets/images/evaluation-bg.jpg" alt="Оценка" v-background-image>
			</div>
			<div class="page__wrapper">
				<el-breadcrumbs></el-breadcrumbs>
				<h1 class="h2">
					Оценка
				</h1>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--blue text--white mb-0">
			<div class="page__wrapper">
				<div class="slider slider--application mb-0 mt-4">
					<div class="wrapper">
						<button class="btn btn--slider-blue slider__btn slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">
								<div class="swiper-slide slider__slide">
									<icon-quality-shield></icon-quality-shield>
									<h4 class="h4">
										Надежность
									</h4>
									<p class="text text--md">
										Более 19 лет на рынке оценочных и консультационных услуг
									</p>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-universality></icon-universality>
									<h4 class="h4">
										Универсальность
									</h4>
									<p class="text text--md">
										Консультирование крупных и средних компаний большинства секторов российской экономики
									</p>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-reliability></icon-reliability>
									<h4 class="h4">
										Качество
									</h4>
									<p class="text text--md">
										Соответствие международным стандартам оценки IVS, TeGOVA, RICS, ASA
									</p>
								</div>
								<div class="swiper-slide slider__slide">
									<icon-professionalism></icon-professionalism>
									<h4 class="h4">
										Профессионализм
									</h4>
									<p class="text text--md">
										Более чем 7-летний опыт каждого из специалистов команды
									</p>
								</div>
							</div>
						</div>
						<button class="btn btn--slider-blue slider__btn slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Виды консультационных услуг
				</h2>
				<evaluation-services
					class="mb-4"
					:initial-breakpoints="$store.state.breakpoints"
					:services="[
						{
							title: 'Оценка стоимости бизнеса и ценных бумаг',
							caption: 'Продажа компании, выпуск бумаг, расчёт страховых сумм, споры о стоимости объекта, расчёт неденежными средствами'
						},
						{
							title: 'Оценка недвижимых объектов',
							caption: 'Определение рыночной стоимости зданий при осуществлении любых операций с недвижимостью, разрешении споров, оптимизации налогообложения'
						},
						{
							title: 'Оценка транспортных средств',
							caption: 'Определение стоимости предприятия как экономического субъекта, деятельность которого направлена на извлечение экономических выгод'
						},
						{
							title: 'Оценка машин и оборудования',
							caption: 'Определение стоимости предприятия как экономического субъекта, деятельность которого направлена на извлечение экономических выгод'
						},
						{
							title: 'Оценка для целей МСФО',
							caption: 'Определение стоимости предприятия как экономического субъекта, деятельность которого направлена на извлечение экономических выгод'
						},
						{
							title: 'Оспаривание кадастровой стоимости',
							caption: 'Определение стоимости предприятия как экономического субъекта, деятельность которого направлена на извлечение экономических выгод'
						},
						{
							title: 'Оценка интеллектуальной собственности',
							caption: 'Лицензионные договора, расчёт вознаграждения, приватизация и определение размеров ущерба правообладателю'
						}
					]"
					>

				</evaluation-services>
                <div class="d-blok text-center">
                    <button class="btn btn--primary btn--lg" @click="openPopup('backcall')">
                        Заказать оценку
                    </button>
                </div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg section--light mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Лицензии и сертификаты
				</h2>
				<evaluation-licenses
					:initial-breakpoints="$store.state.breakpoints"
					:licenses="[
						{ title: 'license', picMin: 'assets/img/license-1.jpg', picFull: 'assets/img/license-1.jpg'},
						{ title: 'license', picMin: 'assets/img/license-2.jpg', picFull: 'assets/img/license-2.jpg'},
						{ title: 'license', picMin: 'assets/img/license-3.jpg', picFull: 'assets/img/license-3.jpg'},
						{ title: 'license', picMin: 'assets/img/license-1.jpg', picFull: 'assets/img/license-1.jpg'},
						{ title: 'license', picMin: 'assets/img/license-2.jpg', picFull: 'assets/img/license-2.jpg'},
						{ title: 'license', picMin: 'assets/img/license-3.jpg', picFull: 'assets/img/license-3.jpg'}
					]"
					>
				</evaluation-licenses>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg mb-0">
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Специалисты отдела оценки
				</h2>
				<evaluation-specialists
					:specialists="[
						{
							name: 'Олег Ландо',
							role: 'Заместитель начальника управления оценки',
							info: 'Некоммерческое партнерство «Саморегулируемая организация российских магистров оценки» регистрационный № 964 от 14.01.2008 г.',
							pic: 'assets/img/lando.jpg',
							experience: 15
						},
						{
							name: 'Светлана Волкова',
							role: 'Главный оценщик',
							info: 'Некоммерческое партнерство «Саморегулируемая организация российских магистров оценки» регистрационный № 964 от 14.01.2008 г.',
							pic: 'assets/img/volkova.jpg',
							experience: 11
						}
					]"
					>
				</evaluation-specialists>
				<div class="d-block text-center">
					<button class="btn btn--primary btn--lg" @click="openPopup('backcall')">
						Заказать обратный звонок
					</button>
				</div>
			</div>
		</section>
		<section class="section section--regular section--regular-with-bg text--white mb-lg-0">
			<div class="bg__pic">
				<picture v-background-image>
					<source
						srcset="../assets/images/section-feedback-bg-lg.jpg"
						:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
					>
					<source
						srcset="../assets/images/section-feedback-bg-md.jpg"
						:media="`(min-width: ${$store.state.breakpoints.md}px)`"
					>
					<source
						srcset="../assets/images/section-feedback-bg-xs.jpg"
						:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
					>
					<img src="../assets/images/section-feedback-bg-lg.jpg" alt="Отзывы наших клиентов">
				</picture>
			</div>
			<div class="page__wrapper">
				<h2 class="h2 text-center">
					Наши клиенты
				</h2>
                <evaluation-clienst
					:initial-breakpoints="$store.state.breakpoints"
					:clients="[
						'assets/img/client-1.png',
						'assets/img/client-2.png',
						'assets/img/client-3.png',
						'assets/img/client-1.png',
						'assets/img/client-2.png',
						'assets/img/client-3.png'
					]"
					>
				</evaluation-clienst>
			</div>
		</section>
        <el-section-rating></el-section-rating>
        <el-popup-gallery :name="'popup-gallery'"></el-popup-gallery>
		<el-popup-backcall></el-popup-backcall>
	</main>
</template>

<script>

	import { events } from "../events";

    import ElBreadcrumbs from '../components/ElBreadcrumbs.vue';
    import ElSectionRating from '../components/ElSectionRating.vue';
	import ElPopupGallery from '../components/ElPopupGallery.vue';
	import ElPopupBackcall from '../components/ElPopupBackcall.vue';

    import IconQualityShield from '../components/icons/icon_files/IconQualityShield.vue';
    import IconUniversality from '../components/icons/icon_files/IconUniversality.vue';
    import IconProfessionalism from '../components/icons/icon_files/IconProfessionalism.vue';
    import IconReliability from '../components/icons/icon_files/IconReliability.vue';
    import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';
    import EvaluationServices from '../components/api_blocks/EvaluationServices.vue';
    import EvaluationLicenses from '../components/api_blocks/EvaluationLicenses.vue';
    import EvaluationSpecialists from '../components/api_blocks/EvaluationSpecialists.vue';
    import EvaluationClienst from '../components/api_blocks/EvaluationClienst.vue';

    import initSlider from '../libs/slider.js';

	export default {
		name: 'PageEvaluation',
		components: {
            ElBreadcrumbs,
            ElSectionRating,
			ElPopupGallery,
			ElPopupBackcall,
            IconQualityShield,
            IconUniversality,
            IconProfessionalism,
            IconReliability,
            IconChewronDown,
			EvaluationServices,
			EvaluationLicenses,
			EvaluationSpecialists,
			EvaluationClienst
		},
		data(){
			return {
				sliderApplication: null,
                sliderApplicationToggleBreakpoint: null
			}
		},
		computed: {

		},
		methods: {
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
			enableSliderApplication(){
				let breakpoints = {};
				breakpoints[this.$store.state.breakpoints['md']] = {
					slidesPerView: 2
				}
				this.sliderApplication = initSlider('.slider--application', {
					breakpoints: breakpoints,
					loop: true
				})[0];
			},
			disableSliderApplication(){
				if( this.sliderApplication ){
					this.sliderApplication.destroy(true, true);
				}
			},
			initSliderApplication(){
				!this.sliderApplicationToggleBreakpoint.matches ? this.enableSliderApplication() : this.disableSliderApplication();
            }
		},
		mounted(){
			this.sliderApplicationToggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakpoints['lg']}px)`);
			this.sliderApplicationToggleBreakpoint.addListener( this.initSliderApplication );
            this.initSliderApplication();


		}
	}
</script>
