<template>

	<div class="control control--dropdown" :class="{'control--active': isVisible}" v-click-outside="hideDropdown">
		<div class="control__activator" @click.prevent="toggleDropdown">
			<slot name="activator"></slot>
		</div>
		<div class="control__wrapper" ref="wrapper" :style="wrapperStyle">
			<div class="control__indicator" :style="indicatorStyle"></div>
            <div class="control__header">
                <slot name="header"></slot>
                <button class="btn btn--modal" @click="hideDropdown">
                    <icon-close></icon-close>
                </button>
            </div>
			<el-custom-scroll class="control__content">
				<slot name="default"></slot>
			</el-custom-scroll>
		</div>
	</div>

</template>

<script>

	import { events } from '../events';

	import ClickOutside from 'vue-click-outside';
    import ElCustomScroll from './ElCustomScroll.vue';
	import IconClose from './icons/icon_files/IconClose.vue';

	export default {
		name: 'ElDropdown',
		props: {

		},
		directives: {
			ClickOutside
		},
		components: {
            ElCustomScroll,
            IconClose
		},
		data() {
			return{
				isVisible: false,
				shiftY: 0,
				shiftX: 0
			}
		},
		computed: {
			wrapperStyle(){
				return `transform: translateX(${this.shiftX}px) translateY(${this.shiftY}px);`;
            },
			indicatorStyle(){
				return `transform: translateX(${this.shiftX}px);`;
			}
		},
		methods: {
			toggleDropdown(){
				this.isVisible ? this.hideDropdown() : this.showDropdown();
			},
			showDropdown(){
				let viewportWidth = document.querySelector('body').scrollWidth;
				this.isVisible = true;
				this.$nextTick(() => {
					let box = this.$refs.wrapper.getBoundingClientRect();
					if( box.x < 0 ){
						this.shiftX = -box.x;
					}else if( viewportWidth - (box.x + box.width) < 0 ){
						this.shiftX =  viewportWidth - (box.x + box.width);
					}
				});
			},
			hideDropdown(){
				this.isVisible = false;
				this.shiftY = 0;
				this.shiftX = 0;
			}
		},
		mounted(){
			this.$evbus.$on(events.EV_APP_CLOSE_ALL_WINDOWS, () => {
				if( this.isVisible ){
					this.hideDropdown();
				}
			});
		}
	}

</script>