<template>
    <div class="figure figure--box bg--super-light">
        <div class="figure__header">
            <h4 class="h4 mr-lg-3">
                {{ tariffData.name }}
            </h4>
            <el-dropdown>
                <template v-slot:activator>
                    <a href="" class="link">
                        {{ tariffData.cities[tariffData.city] }}
                    </a>
                </template>
                <ul class="list text-nowrap">
                    <li
                        v-for="(city, key) in tariffData.cities"
                        :key="`city_${key}`"
                        class="list__item"
                        :class="{'list__item--active': key === tariffData.city}"
                        >
                        <span v-if="key === tariffData.city" class="text--primary">
                            {{ tariffData.cities[tariffData.city] }}
                        </span>
                        <a
                            v-else
                            href="#"
                            class="link link--gray link--unset"
                            @click.prevent="loadCityData(key)"
                            >
                            {{ city }}
                        </a>
                    </li>
                </ul>
            </el-dropdown>
        </div>
        <p>
            {{ tariffData.description }}
        </p>
        <table class="table table--simple">
            <tbody>
                <tr
                    v-for="(row, index) in tariffData.table"
                    :key="`row_${index}`"
                    >
                    <td class="text--muted">
                        {{ row[0] }}
                    </td>
                    <td class="text-right text--gray">
                        <h4 class="h4 mb-0">
                            {{ row[1] }}
                        </h4>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <a :href="tariffData.file.link" class="file mb-0 mt-4 mr-4">
                <span class="file__icon">
                    <icon-file-pdf></icon-file-pdf>
                </span>
                <span class="wrapper">
                    <span class="file__name">
                        {{ tariffData.file.name }}
                    </span>
                    <span class="file__info">
                        ({{ tariffData.file.info }})
                    </span>
                </span>
            </a>
            <a :href="tariffData.link" class="btn btn--secondary mt-4">
                Оформить
            </a>
        </div>
    </div>
</template>

<script>

    import IconFilePdf from './icons/icon_files/IconFilePdf.vue';
    import ElDropdown from './ElDropdown.vue';

	export default {
		name: 'ElFigureTariff',
        props: {
            tariff: {
                type: Object,
                default: () => ({})
            }
        },
		components: {
            IconFilePdf,
            ElDropdown
		},
		data(){
			return {
                tariffData: this.tariff
			}
		},
		computed: {

		},
		methods: {
            loadCityData(key){
                this.tariffData.city = key;
                /*fetch('url', {
                    method: 'GET',
                }).then(resp =>{
                    this.tariffData = resp.data;
                });*/
            }
		},
		mounted(){

		}
	}
</script>
