<template>
	<div class="figure figure--stock">
		<div class="badge" :class="badgeClass">
			{{ badge }}
		</div>
		<a class="company" :href="link">
			<div class="company__logo">
				<img :src="logo" :alt="companyTitle" v-background-image>
			</div>
			<div class="company__title">
				<span class="d-block">
					{{ companyTitle }}
				</span>
				<span class="d-block">
					({{ companySlug }})
				</span>
			</div>
		</a>
		<p class="text text--normal">
			{{ textNormal }}
		</p>
		<p class="text text--accented">
			{{ textAccented }}
		</p>
		<p class="text text--bold">
			{{ textBold }}
		</p>
		<a class="btn btn--secondary" :href="link">
			{{ textBtn }}
		</a>
	</div>
</template>


<script>

	export default {
		name: 'ElFigureStock',
		props: {
			badge: {
				type: String,
				default: ''
			},
			badgeClass: {
				type: String,
				default: 'badge--mint'
			},
			companyTitle: {
				type: String,
				default: ''
			},
			companySlug: {
				type: String,
				default: ''
			},
			textNormal: {
				type: String,
				default: ''
			},
			textAccented: {
				type: String,
				default: ''
			},
			textBold: {
				type: String,
				default: ''
			},
			textBtn: {
				type: String,
				default: 'Обзор'
			},
			link: {
				type: String,
				default: ''
			},
			logo: {
				type: String,
				default: ''
			}
		},
		components: {

		},
		data() {
			return{

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>