<template>
	<footer class="footer page__footer">
		<div class="page__wrapper">
			<div class="footer__info">
				<div class="wrapper wrapper--footer-info-top">
					<div class="wrapper wrapper--logo">
						<router-link class="footer__logo project__logo" title="home page" :to="{name: 'index'}">
							<icon-logo></icon-logo>
							<div class="wrapper">
								<icon-logo-text-top></icon-logo-text-top>
								<icon-logo-text-bottom></icon-logo-text-bottom>
							</div>
						</router-link>
						<dropdown-cities></dropdown-cities>
					</div>
					<a href="#" class="btn btn--secondary">
						Открыть счёт
					</a>
				</div>
				<div class="wrapper wrapper--phones">
					<dropdown-cities></dropdown-cities>
					<div class="info info--phone info--lg">
						<div class="info__content">
							<a :href="`tel:${ $store.state.phone }`" class="link">
								{{ $store.state.phone }}
							</a>
						</div>
					</div>
					<div class="info info--phone">
						<div class="info__label">
							Техническая поддержка:
						</div>
						<div class="info__content">
							<a :href="`tel:${$store.state.phone_tech}`" class="link">
								{{ $store.state.phone_tech }}
							</a>
						</div>
					</div>
					<div class="info info--phone">
						<div class="info__label">
							Трейдинг-деск:
						</div>
						<div class="info__content">
							<a :href="`tel:${$store.state.phone_traiding}`" class="link">
								{{ $store.state.phone_traiding }}
							</a>
						</div>
					</div>
				</div>
				<div class="wrapper wrapper--footer-info-bottom">
					<div class="wrapper wrapper--stores">
						<a :href="$store.state.appStoreUrl" class="link link--gray" target="_blank" name="App Store">
							<icon-app-store></icon-app-store>
						</a>
						<a :href="$store.state.googlePlayUrl" class="link link--gray" target="_blank" name="Google Play">
							<icon-google-play></icon-google-play>
						</a>
					</div>
					<site-socials class="wrapper--socials"></site-socials>
				</div>
			</div>
			<div class="footer__top">
				<nav class="nav nav--footer">
					<site-menu class="menu--footer-main" :menu="getMenuItems($store.state.menu_main)"></site-menu>
					<a href="#" class="btn btn--secondary">
						Открыть счёт
					</a>
				</nav>
			</div>
			<div class="footer__bottom">
				<nav class="nav nav--footer">
					<site-menu class="menu--footer-secondary" :menu="getMenuItems($store.state.menu_secondary)"></site-menu>
				</nav>
			</div>
		</div>
		<div class="footer__copy">
			<div class="page__wrapper">
				<span class="text--sm">
					{{ $store.getters.copy }}
				</span>
			</div>
		</div>
	</footer>
</template>

<script>

	import IconLogo from './icons/icon_files/IconLogo.vue';
	import IconLogoTextTop from './icons/icon_files/IconLogoTextTop.vue';
	import IconLogoTextBottom from './icons/icon_files/IconLogoTextBottom.vue';
	import IconAppStore from './icons/icon_files/IconAppStore.vue';
	import IconGooglePlay from './icons/icon_files/IconGooglePlay.vue';
	import DropdownCities from '../components/api_blocks/DropdownCities.vue';
	import SiteMenu from '../components/api_blocks/SiteMenu.vue';
	import SiteSocials from '../components/api_blocks/SiteSocials.vue';

	export default {
		name: 'ElFooter',
		components: {
			IconLogo,
			IconLogoTextTop,
			IconLogoTextBottom,
			IconAppStore,
			IconGooglePlay,
			DropdownCities,
			SiteMenu,
			SiteSocials
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {
			getMenuItems(arr = []){
				let resp = [];
				arr.map( item => {
					let inner = null;
					if( item.inner ){
						inner = [];
						item.inner.map( item_inner => {
							inner.push({
								current: this.$route.name === item_inner.route_name,
								link: this.getHrefByRouteName(item_inner.route_name),
								title: item_inner.title,
							});
						});
					}
					resp.push({
						current: this.$route.name === item.route_name,
						link: this.getHrefByRouteName(item.route_name),
						title: item.title,
						inner: inner
					})
				});
				return resp;
			},
			getHrefByRouteName(name){
				let props = this.$router.resolve({
					name: name,
				});

				return props.href;
			},
			toggleSubMenu(evt){
				evt.target.closest('.menu__item').classList.toggle('menu__item--open');
			}
		}
	}
</script>