<template>
	<header class="header page__header" :class="{'header--menu-open': menuOpen}">
		<div class="header__overlay" @click.self="toggleMenu"></div>
		<div class="page__wrapper">
			<div class="header__top">
				<div class="header__menu-toggle">
					<button class="btn btn--action" @click.prevent="toggleMenu" aria-label="Открыть/Скрыть меню" >
						<icon-menu-toggle></icon-menu-toggle>
					</button>
				</div>
				<router-link class="header__logo project__logo" title="home page" :to="{name: 'index'}">
					<icon-logo></icon-logo>
					<div class="wrapper">
						<icon-logo-text-top></icon-logo-text-top>
						<icon-logo-text-bottom></icon-logo-text-bottom>
					</div>
				</router-link>
				<div class="header__info">
					<dropdown-cities></dropdown-cities>
					<div class="info info--phone">
						<div class="info__content">
							<a :href="`tel:${ $store.state.phone }`" class="link">
								{{ $store.state.phone }}
							</a>
						</div>
					</div>
				</div>
				<div class="header__actions">
					<a href="#" class="btn btn--action header__btn" @click="openPopup('search')">
						<icon-search></icon-search>
						<span class="btn__text">
							Поиск
						</span>
					</a>
					<a href="#" class="btn btn--action header__btn">
						<icon-log-in></icon-log-in>
						<span class="btn__text">
							Вход
						</span>
					</a>
					<button class="btn btn--secondary">
						Открыть счёт
					</button>
					<button class="btn btn--action">
						<icon-call></icon-call>
					</button>
				</div>
			</div>
			<el-custom-scroll class="header__bottom">
				<nav class="nav nav--header">
					<site-menu class="menu--main" :menu="getMenuItems($store.state.menu_main)"></site-menu>
					<a href="#" class="btn btn--secondary">
						Открыть счёт
					</a>
					<ul class="menu menu--secondary">
						<li
							class="menu__item"
							v-for="(item, index) in $store.state.menu_secondary"
							:key="`header_menu_secondary_${item.route_name ? item.route_name : index}`"
							:class="{'menu__item--active': $route.name === item.route_name}"
							>
							<div class="nav__item">
								<router-link class="link" :to="{name: item.route_name ? item.route_name : 'index'}">
									{{item.title}}
								</router-link>
								<button
									class="btn btn--action btn--action-min"
									@click="toggleSubMenu"
									aria-label="Открыть/Скрыть подменю"
									v-if="item.inner">
									<icon-chewron-down></icon-chewron-down>
								</button>
							</div>
							<ul class="menu" v-if="item.inner">
								<li
									class="menu__item"
									v-for="(item_inner, index_inner) in item.inner"
									:key="`header_menu_secondary_inner${item_inner.route_name ? item_inner.route_name : index_inner}`"
									:class="{'menu__item--active': $route.name === item.route_name}"
									>
									<div class="nav__item">
										<router-link class="link" :to="{name: item_inner.route_name ? item_inner.route_name : 'index'}">
											{{item_inner.title}}
										</router-link>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</el-custom-scroll>
		</div>
	</header>
</template>

<script>

	import {events} from '../events';

	import IconLogo from './icons/icon_files/IconLogo.vue';
	import IconLogoTextTop from './icons/icon_files/IconLogoTextTop.vue';
	import IconLogoTextBottom from './icons/icon_files/IconLogoTextBottom.vue';
	import IconMenuToggle from './icons/icon_files/IconMenuToggle.vue';
	import IconCall from './icons/icon_files/IconCall.vue';
	import IconLogIn from './icons/icon_files/IconLogIn.vue';
	import IconSearch from './icons/icon_files/IconSearch.vue';

	import ElCustomScroll from '../components/ElCustomScroll.vue';
	import DropdownCities from '../components/api_blocks/DropdownCities.vue';
	import SiteMenu from '../components/api_blocks/SiteMenu.vue';

	export default {
		name: 'ElHeader',
		components: {
			IconLogo,
			IconLogoTextTop,
			IconLogoTextBottom,
			IconMenuToggle,
			IconCall,
			IconLogIn,
			IconSearch,

			ElCustomScroll,
			DropdownCities,
			SiteMenu
		},
		data(){
			return {
				menuOpen: false
			}
		},
		computed: {

		},
		methods: {
			getMenuItems(arr = []){
				let resp = [];
				arr.map( item => {
					let inner = null;
					if( item.inner ){
						inner = [];
						item.inner.map( item_inner => {
							inner.push({
								current: this.$route.name === item_inner.route_name,
								link: this.getHrefByRouteName(item_inner.route_name),
								title: item_inner.title,
							});
						});
					}
					resp.push({
						current: this.$route.name === item.route_name,
						link: this.getHrefByRouteName(item.route_name),
						title: item.title,
						inner: inner
					})
				});
				return resp;
			},
			getHrefByRouteName(name){
				let props = this.$router.resolve({
					name: name,
				});

				return props.href;
			},
			openPopup(name){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`
				});
			},
			toggleMenu() {
				this.menuOpen = !this.menuOpen;
				this.$evbus.$emit(events.EV_APP_TOGGLE_PAGE_SCROLL, !this.menuOpen);
			},
			closeMenu() {
				this.menuOpen = false;
				this.$evbus.$emit(events.EV_APP_TOGGLE_PAGE_SCROLL, !this.menuOpen);
			},
			toggleSubMenu(evt){
				evt.target.closest('.menu__item').classList.toggle('menu__item--open');
			},
			closeMenuOnLg(){

			}
		},
		mounted(){
			this.$evbus.$on(events.EV_APP_CLOSE_ALL_WINDOWS, () => {
				if( this.menuOpen ){
					this.closeMenu();
				}
			});
		}
	}
</script>