<template>
	<ul class="list list--tabs d-none d-lg-block">
		<li
			v-for="(tab, key) in tabs"
			:key="`tab_${key}`"
			class="list__item"
			:class="{'list__item--active': currentTabKey === key}"
			@click="toggleTab(key)"
			>
			{{ tab }}
		</li>
	</ul>
</template>

<script>

	import { events } from "../events.js";

	export default {
		name: 'ElListTabs',
		props: {
			tabs: {
				type: Object,
				default: () => ({})
			},
			selected: {
				type: String,
				default : ''
			}
		},
		components: {

		},
		data(){
			return {
				tabsData: this.tabs,
				currentTabKey: this.selected
			}
		},
		computed: {

		},
		methods: {
			toggleTab(key){
				this.currentTabKey = key;
				this.$evbus.$emit(events.EV_APP_TOGGLE_TAB, {
					tab: key
				});
			}
		},
		mounted(){
			if( !Object.keys(this.tabs).includes(this.selected) ){
				this.currentTabKey = Object.keys(this.tabs)[0];
			}
			this.$nextTick( () => {
				this.toggleTab(this.currentTabKey);
			})
		}
	}
</script>
