<template>
	<el-popup :name="'popup-risk-profile'" class="modal--lg modal--anket" :class="{'modal--finished': anket.finished}" @popup-close="anketReset">
		<template v-slot:header v-if="!anket.finished">
			Вопрос {{ anket.current + 1 }} из {{ anket.data.questions.length }}
		</template>

		<template v-slot:bg>
			<slot name="bg"></slot>
			<img src="../assets/images/modal-risk-profile-bg.jpg" alt="Ваш риск-профиль" v-background-image v-if="!hasBg">
		</template>

		<template v-if="!anket.finished">
			<h4 class="h4 mb-4">
				{{ anket.data.questions[anket.current].title }}
			</h4>
			<div
				class="control control--radio mb-4"
				v-for="(variant, index) in anket.data.questions[anket.current].variants"
				:key="`variant_${index}`"
				>
				<input
					:id="`risk-profile-${index}`"
					:name="`risk-profile-${index}`"
					type="radio"
					class="control__input"
					:value="variant.points"
					v-model="anket.data.questions[anket.current].selected"
					>
				<label
					:for="`risk-profile-${index}`"
					class="control__label"
					>
					{{ variant.value }}
				</label>
			</div>
			<div class="d-flex">
				<button
					class="btn btn--secondary btn--lg mr-4"
					v-if="anket.current > 0"
					@click="anketPrev"
					>
					Назад
				</button>
				<button
					class="btn btn--primary btn--lg"
					:disabled="anket.data.questions[anket.current].selected == null"
					@click="anketNext"
					>
					<span v-if="anket.current < anket.data.questions.length - 1">
						Продолжить
					</span>
					<span v-else>
						Показать результат
					</span>
				</button>
			</div>
		</template>

		<template v-else>
			<h4 class="h4 text-center mb-4">
				Ваш риск-профиль
			</h4>
			<h2 class="h2 text-center mb-4">
				{{ anketResult.title }}
			</h2>
			<p class="text--lg text-center mb-2">
				{{ anketResult.description }}
			</p>
			<h4 class="h4 text-center mb-4">
				Вам подойдут следующие инвестиционные продукты:
			</h4>
			<ul class="list list--products text--lg mb-5">
				<li
					v-for="(suggestion, index) in anketResult.suggestions"
					:key="`suggestion_${index}`"
					class="list__item"
					@click="closePopup"
					>
					<a :href="suggestion.url" class="link text--lg">
						<span v-html="suggestion.name"></span>
					</a>
				</li>
			</ul>
			<div class="d-flex justify-content-end">
				<button
					class="btn btn--primary btn--lg"
					@click="getConsultation"
					>
					Консультация
				</button>
			</div>
		</template>
	</el-popup>
</template>

<script>

	import { events } from "../events.js";
	import ElPopup from './ElPopup.vue';
	import { anketData, getAnketSectionScore, getRangeMinMax } from '../libs/riskProfileData.js';

	export default {
		name: 'PageRsikProfile',
		components: {
			ElPopup
		},
		data(){
			return {
				anket: {
					current: 0,
					finished: false,
					data: anketData
				}
			}
		},
		computed: {
			anketResult(){
				let section1 = getAnketSectionScore(this.anket.data.questions, 1),
					section2 = getAnketSectionScore(this.anket.data.questions, 2),
					strategy = null;
				Object.keys(this.anket.data.answersTable).map( key => {
					let range = getRangeMinMax(key);
					if( section1 >= range.min && section1 <= range.max ){
						Object.keys(this.anket.data.answersTable[key]).map( inner_key => {
							let inner_range = getRangeMinMax(inner_key);
							if( section2 >= inner_range.min && section2 <= inner_range.max ){
								strategy = this.anket.data.answersTable[key][inner_key];
							}
						});
					}
				});
				return this.anket.data.results[strategy];
			},
			hasBg() {
				return !!this.$slots.bg || !!this.$scopedSlots.bg;
			}
		},
		methods: {
			closePopup(name){
				this.$evbus.$emit(events.EV_APP_CLOSE_POPUP, {
					name: `popup-${name}`
				});
			},
			openPopup(name){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`
				});
			},
			getConsultation(){
				this.closePopup('risk-profile');
				this.openPopup('ask-question');
			},
			anketReset(){
				this.anket.current = 0;
				this.anket.finished = false;
				this.anket.data.questions.map( question => question.selected = null );
			},
			anketNext(){
				if( this.anket.current === this.anket.data.questions.length - 1 ){
					this.anket.finished = true;
					return;
				}
				this.anket.current++;
			},
			anketPrev(){
				if( this.anket.current === 0 ){ return; }
				this.anket.current--;
			}
		},
		mounted(){

		}
	}
</script>
