<template>
	<div class="modal" :class="{'modal--visible': isVisible}">
		<div class="modal__overlay" @click.self="closePopup">
			<div class="modal__container">
				<div class="bg__pic">
					<slot name="bg"></slot>
				</div>
				<div class="modal__header">
					<slot name="header"></slot>
					<button class="btn btn--modal" @click="closePopup">
						<icon-close></icon-close>
					</button>
				</div>
				<el-custom-scroll class="modal__main">
					<slot name="default"></slot>
				</el-custom-scroll>
				<div class="modal__footer" v-if="hasFooter">
					<slot name="footer"></slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import popupMixin from '../mixins/popupMixin.js';

	export default {
		name: 'ElPopup',
		mixins: [
			popupMixin
        ],
		props: {

		},
		data() {
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted() {

		}
	}
</script>