<template>
	<div class="modal modal--lg modal--gallery" :class="{'modal--visible': isVisible}">
		<div class="modal__overlay" @click.self="closePopup">
			<div class="modal__container">
				<div class="bg__pic">
					<slot name="bg"></slot>
				</div>
				<div class="modal__header">
					<slot name="header"></slot>
					<button class="btn btn--modal" @click="closePopup">
						<icon-close></icon-close>
					</button>
				</div>
				<el-custom-scroll class="modal__main">
                    <img :src="imageSrc">
                    <p class="text text--md text-center" v-if="imageCaption">
                        {{ imageCaption }}
                    </p>
				</el-custom-scroll>
				<div class="modal__footer" v-if="hasFooter">
					<slot name="footer"></slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import popupMixin from '../mixins/popupMixin.js';

	export default {
		name: 'PopupGallery',
		mixins: [
			popupMixin
        ],
        props: {
            src: {
                type: String,
                default: ''
            },
            caption: {
                type: String,
                default: ''
            }
        },
		data(){
			return {
                imageSrc: this.src,
                imageCaption: this.caption
			}
		},
		computed: {

		},
		methods: {
            onPopupShow(data) {
                this.imageSrc = data.src;
                this.imageCaption = data.caption;
                this.showPopup();
            }
		},
		mounted(){

		}
	}
</script>
