<template>
	<div class="modal modal--lg modal--search" :class="{'modal--visible': isVisible}">
		<div class="modal__overlay" @click.self="closePopup">
			<div class="modal__container">
				<div class="bg__pic">
					<slot name="bg"></slot>
				</div>
				<div class="modal__header">
					<h4 class="h4 mt-4 mx-auto">
                        Поиск
                    </h4>
					<button class="btn btn--modal" @click="closePopup">
						<icon-close></icon-close>
					</button>
				</div>
				<el-custom-scroll class="modal__main">
                    <div class="mb-4">
                        <div class="d-flex align-items-center mb-3">
                            <div class="control control--text w-100 mb-0 mr-4">
                                <input
                                    type="text"
                                    class="control__input"
                                    placeholder="Введите что-нибудь"
                                    >
                            </div>
                            <button class="btn btn--primary btn--lg">
                                Искать
                            </button>
                        </div>
                        <div class="d-block text--sm">
                            Найдено: 500 результатов
                        </div>
                    </div>
                    <div class="wrapper wrapper--search">
                        <article class="article article--search">
                            <a href="#" class="article__title">
                                Акция "Персональный брокер на особых условиях"
                            </a>
                            <div class="article__caption">
                                Условия акции: 1. Общие положения 1.1. Настоящие «Условия проведения стимулирующей акции «Персональный брокер на особых условиях» (далее – Условия) ...
                            </div>
                        </article>
                        <article class="article article--search">
                            <a href="#" class="article__title">
                                Сообщение акционерам ОАО РАО «ЕЭС России».
                            </a>
                            <div class="article__caption">
                                ... ПРОТИВ или не примите участия в голосовании , то Вы будете вправе требовать от ОАО РАО «ЕЭС России» выкупа всех или части принадлежащих Вам акций. Выкуп акций будет осуществляться по цене, определенной Советом директоров ОАО РАО «ЕЭС России» в соответствии с п. 3 ст. 75 ФЗ «Об акционерных ...
                            </div>
                        </article>
                        <article class="article article--search">
                            <a href="#" class="article__title">
                                ГМК «Норильский никель» подвела предварительные итоги приобретения собственных размещенных акций
                            </a>
                            <div class="article__caption">
                                ... никель» сообщает о результатах рассмотрения заявлений, поданных акционерами в связи с приобретением Компанией собственных размещенных акций в соответствии с решением Совета директоров ГМК «Норильский никель» от 2 декабря 2004 года. 3 декабря 2004 года ГМК «Норильский никель» ...
                            </div>
                        </article>
                        <article class="article article--search">
                            <a href="#" class="article__title">
                                Российские акции 1
                            </a>
                            <div class="article__caption">
                                Стратегия предназначена для инвесторов, которые предпочитают инвестировать средства в акции российских компаний. В последние годы рынок российских акций входит в число наиболее доходных фондовых рынков в мире. Краткое описание ...
                            </div>
                        </article>
                    </div>
                    <div class="text-center mb-5">
                        <button class="btn btn--primary btn--lg">
                            Показать еще
                        </button>
                    </div>
				</el-custom-scroll>
				<div class="modal__footer" v-if="hasFooter">
					<slot name="footer"></slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import popupMixin from '../mixins/popupMixin.js';

	export default {
		name: 'ElPopupSearch',
		mixins: [
			popupMixin
        ],
		components: {

		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
