<template>
	<el-popup :name="'popup-backcall'" class="modal--sm">
		<template v-slot:header>
			<h4 class="h4 mb-0 mr-3">
				Связаться с нами
			</h4>
		</template>
		<p>
			Поля, помеченные <sup class="text--error">*</sup>, обязательны для заполнения.
		</p>
		<div class="control control--text">
			<label for="" class="control__label">
				Имя <sup class="text--error">*</sup>
			</label>
			<input type="text" class="control__input">
			<div class="control__msg control__msg--invalid">
				Введите Имя
			</div>
		</div>
		<div class="control control--text">
			<label for="" class="control__label">
				Телефон <sup class="text--error">*</sup>
			</label>
			<input type="tel" class="control__input">
			<div class="control__msg control__msg--invalid">
				Введите Телефон
			</div>
		</div>
		<div class="control control--text">
			<label for="" class="control__label">
				E-mail <sup class="text--error">*</sup>
			</label>
			<input type="email" class="control__input">
			<div class="control__msg control__msg--invalid">
				Введите E-mail
			</div>
		</div>
		<div class="control control--text">
			<label for="" class="control__label">
				Город
			</label>
			<input type="text" class="control__input">
			<div class="control__msg control__msg--invalid">
				Введите Город
			</div>
		</div>
		<div class="control control--checkbox mb-4">
			<input id="popup-askquestion-agrement" type="checkbox" class="control__input">
			<label for="popup-askquestion-agrement" class="control__label">
				Я принимаю <a href="#" class="link">условия соглашения об обработке персональных данных</a>
			</label>
			<div class="control__msg control__msg--invalid">
				Примите условия
			</div>
		</div>
		<button class="btn btn--primary btn--lg">
			Отправить заявку
		</button>
	</el-popup>
</template>

<script>

	import ElPopup from './ElPopup.vue';

	export default {
		name: 'PopupBackcall',
		components: {
			ElPopup
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
