<template>
    <article class="article" :class="{'article--lead': lead}">
        <div class="wrapper">
            <a :href="link" class="article__title">
                {{ title }}
            </a>
            <div class="article__date" v-if="date">
                {{ date }}
            </div>
            <div class="article__category" v-if="segment">
                <component v-bind:is="`icon-${segment}`"></component>
                {{ segmentLabel }}
            </div>
        </div>
        <div class="article__caption" v-html="excerpt"></div>
        <a :href="link" class="btn btn--secondary" v-if="lead">
            {{ btnText }}
        </a>
    </article>
</template>

<script>

    import IconPositive from './icons/icon_files/IconPositive.vue';
    import IconNeutral from './icons/icon_files/IconNeutral.vue';
    import IconNegative from './icons/icon_files/IconNegative.vue';


	export default {
		name: 'ElReview',
        props: {
            lead: {
                type: Boolean,
                default: false
            },
            title: {
                type: String,
                default: ''
            },
            segment: {
                type: String,
                default: ''
            },
            excerpt: {
                type: String,
                default: ''
            },
            date: {
                type: String,
                default: ''
            },
            link: {
                type: String,
                default: ''
            },
            btnText: {
                type: String,
                default: 'Обзор'
            }
        },
		components: {
            IconPositive,
            IconNeutral,
            IconNegative
		},
		data(){
			return {

			}
		},
		computed: {
            segmentLabel(){
                let text = '';
                switch (this.segment) {
                    case 'positive':
                        text = 'позитивный';
                    break;
                    case 'negative':
                        text = 'негативный';
                    break;
                    case 'neutral':
                        text = 'нейтральный';
                    break;
                    default:
                    break;
                }
                return text.length ? `сегмент: ${text}` : '';
            }
		},
		methods: {

		},
		mounted(){

		}
	}
</script>
