<template>
	<section class="section section--regular section--regular-with-bg mb-0">
		<div class="page__wrapper">
			<ul class="list list--rating">
				<li class="list__item">
					<span class="text text--bold">
						АА-
					</span>
					рейтинг НРА
				</li>
				<li class="list__item">
					<span class="text text--bold">
						>30
					</span>
					млрд рублей <br class="d-lg-none">активов
				</li>
				<li class="list__item">
					<span class="text text--bold">
						>10
					</span>
					тысяч клиентов
				</li>
				<li class="list__item">
					<span class="text text--bold">
						>27
					</span>
					лет на <br class="d-lg-none">финансовом <br>рынке
				</li>
			</ul>
		</div>
	</section>
</template>


<script>

	export default {
		name: 'ElSectionRating',
		props: {

		},
		components: {

		},
		data() {
			return{

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>