<template>
	<section class="section section--regular section--regular-with-bg text--white mb-lg-0">
		<div class="bg__pic">
			<picture v-background-image>
				<source
					srcset="../assets/images/section-feedback-bg-lg.jpg"
					:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
				>
				<source
					srcset="../assets/images/section-feedback-bg-md.jpg"
					:media="`(min-width: ${$store.state.breakpoints.md}px)`"
				>
				<source
					srcset="../assets/images/section-feedback-bg-xs.jpg"
					:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
				>
				<img src="../assets/images/section-feedback-bg-lg.jpg" alt="Отзывы наших клиентов">
			</picture>
		</div>
		<div class="page__wrapper">
			<h2 class="h2 text-center">
				Вам может быть интересно
			</h2>
			<ul class="list list--products">
				<li class="list__item">
					<div class="bg__pic">
						<img src="../assets/images/interesting-1.jpg" alt="Индивидуальный инвестиционный счёт" v-background-image>
					</div>
					<router-link :to="'trade'" class="link" v-if="isCustom">
						<h4 class="h4">
							Купить Акции
						</h4>
					</router-link>
					<router-link :to="'iis'" class="link" v-else>
						<h4 class="h4">
							Индивидуальный <br class="d-md-none">инвестиционный счёт
						</h4>
					</router-link>
				</li>
				<li class="list__item">
					<div class="bg__pic">
						<img src="../assets/images/interesting-2.jpg" alt="Доверительное управление" v-background-image>
					</div>
					<router-link :to="'iis'" class="link" v-if="isIduPage || isPersonalBrokerPage">
						<h4 class="h4">
							Индивидуальный <br class="d-md-none">инвестиционный счёт
						</h4>
					</router-link>
					<router-link :to="'idu'" class="link" v-else>
						<h4 class="h4">
							Доверительное управление
						</h4>
					</router-link>
				</li>
				<li class="list__item">
					<div class="bg__pic">
						<img src="../assets/images/interesting-3.jpg" alt="Интернет-трейдинг" v-background-image>
					</div>
					<router-link :to="'trade'" class="link" v-if="!isCustom">
						<h4 class="h4">
							Интернет-трейдинг
						</h4>
					</router-link>
					<router-link :to="'personal-broker'" class="link" v-if="isIisPage || isIduPage">
						<h4 class="h4">
							Персональный брокер
						</h4>
					</router-link>
					<router-link :to="'idu'" class="link" v-if="isPersonalBrokerPage">
						<h4 class="h4">
							Доверительное управление
						</h4>
					</router-link>
				</li>
			</ul>
		</div>
	</section>
</template>

<script>


	export default {
		name: 'ElSectionInteresting',
		components: {

		},
		data(){
			return {

			}
		},
		computed: {
			isIduPage(){
				return this.$route.name === 'idu';
			},
			isIisPage(){
				return this.$route.name === 'iis';
			},
			isPersonalBrokerPage(){
				return this.$route.name === 'personal-broker';
			},
			isCustom(){
				return this.isIduPage || this.isIisPage || this.isPersonalBrokerPage;
			}
		},
		methods: {

		},
		mounted(){

		}
	}
</script>
