<template>
	<section class="section section--regular section--iis decoration--arc-before">
		<div class="page__wrapper">
			<div class="wrapper">
				<h2 class="h2 mr-4 pb-lg-3">
					Что это такое?
				</h2>
				<p class="h4">
					Индвидуальный инвестиционный счёт — это брокерский счёт, позволяющий получить налоговый вычет. Государственная программа гарантирует возврат 13% ваших инвестиций или освобождение дохода от налогов. Мы поможем подобрать торговые инструменты и подготовить весь пакет документов.
				</p>
			</div>
			<div class="figure">
				<span class="text text--bold text--primary">
					+13%
				</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="445" height="386" fill="none" viewBox="0 0 445 386" class="icon__vue">
					<defs>
						<linearGradient id="g0oHtBzqbg" x1="89.397" x2="89.397" y1="82.444" y2="193.694" gradientUnits="userSpaceOnUse">
							<stop offset=".255" stop-color="#AAFFEF"/>
							<stop offset="1" stop-color="#953564"/>
						</linearGradient>
						<linearGradient id="g1oHtBzqbg" x1="155.949" x2="155.949" y1="58.605" y2="266.205" gradientUnits="userSpaceOnUse">
							<stop offset=".255" stop-color="#AAFFEF"/>
							<stop offset="1" stop-color="#953564"/>
						</linearGradient>
						<linearGradient id="g2oHtBzqbg" x1="422.154" x2="422.154" y1="163.895" y2="269.185" gradientUnits="userSpaceOnUse">
							<stop offset=".255" stop-color="#AAFFEF"/>
							<stop offset="1" stop-color="#953564"/>
						</linearGradient>
						<linearGradient id="g3oHtBzqbg" x1="222.5" x2="222.5" y1="153.962" y2="336.73" gradientUnits="userSpaceOnUse">
							<stop offset=".255" stop-color="#AAFFEF"/>
							<stop offset="1" stop-color="#953564"/>
						</linearGradient>
						<linearGradient id="g4oHtBzqbg" x1="289.052" x2="289.052" y1="201.641" y2="318.85" gradientUnits="userSpaceOnUse">
							<stop offset=".255" stop-color="#AAFFEF"/>
							<stop offset="1" stop-color="#953564"/>
						</linearGradient>
						<linearGradient id="g5oHtBzqbg" x1="355.603" x2="355.603" y1="171.842" y2="360.569" gradientUnits="userSpaceOnUse">
							<stop offset=".255" stop-color="#AAFFEF"/>
							<stop offset="1" stop-color="#953564"/>
						</linearGradient>
						<linearGradient id="g6oHtBzqbg" x1="22.846" x2="22.846" y1="144.029" y2="305.938" gradientUnits="userSpaceOnUse">
							<stop offset=".255" stop-color="#AAFFEF"/>
							<stop offset="1" stop-color="#953564"/>
						</linearGradient>
					</defs>
					<path stroke="#828282" stroke-width="4" d="M22.846 111.25v247.333M89.397 0v225.48M155.949 47.679V295.01M222.5 102.31v245.346M289.051 171.842v213.56M355.603 128.136v247.333M422.154 144.029v150.982"/>
					<rect width="45.692" height="161.908" y="144.029" fill="url(#g6oHtBzqbg)" rx="4" :transform="`translate(${pillars.pillar_1_from})`">
						<animateTransform
							v-if="isAnimated"
							attributeName="transform"
							type="translate"
							:from="pillars.pillar_1_from"
							to="0 0"
							begin="pillars_anim.begin"
							:dur="pillars.dur"
							repeatCount="1"
							fill="freeze"
							>
						</animateTransform>
					</rect>
					<rect width="45.692" height="111.25" x="66.551" y="82.444" fill="url(#g0oHtBzqbg)" rx="4" :transform="`translate(${pillars.pillar_2_from})`">
						<animateTransform
							v-if="isAnimated"
							attributeName="transform"
							type="translate"
							:from="pillars.pillar_2_from"
							to="0 0"
							begin="pillars_anim.begin"
							:dur="pillars.dur"
							repeatCount="1"
							fill="freeze"
							>
						</animateTransform>
					</rect>
					<rect width="45.692" height="207.6" x="133.103" y="58.605" fill="url(#g1oHtBzqbg)" rx="4" :transform="`translate(${pillars.pillar_3_from})`">
						<animateTransform
							v-if="isAnimated"
							attributeName="transform"
							type="translate"
							:from="pillars.pillar_3_from"
							to="0 0"
							begin="pillars_anim.begin"
							:dur="pillars.dur"
							repeatCount="1"
							fill="freeze"
							>
						</animateTransform>
					</rect>
					<rect width="45.692" height="182.768" x="199.654" y="153.962" fill="url(#g3oHtBzqbg)" rx="4" :transform="`translate(${pillars.pillar_4_from})`">
						<animateTransform
							v-if="isAnimated"
							attributeName="transform"
							type="translate"
							:from="pillars.pillar_4_from"
							to="0 0"
							begin="pillars_anim.begin"
							:dur="pillars.dur"
							repeatCount="1"
							fill="freeze"
							>
						</animateTransform>
					</rect>
					<rect width="45.692" height="117.21" x="266.206" y="201.641" fill="url(#g4oHtBzqbg)" rx="4" :transform="`translate(${pillars.pillar_5_from})`">
						<animateTransform
							v-if="isAnimated"
							attributeName="transform"
							type="translate"
							:from="pillars.pillar_5_from"
							to="0 0"
							begin="pillars_anim.begin"
							:dur="pillars.dur"
							repeatCount="1"
							fill="freeze"
							>
						</animateTransform>
					</rect>
					<rect width="45.692" height="188.728" x="332.757" y="171.842" fill="url(#g5oHtBzqbg)" rx="4" :transform="`translate(${pillars.pillar_6_from})`">
						<animateTransform
							v-if="isAnimated"
							attributeName="transform"
							type="translate"
							:from="pillars.pillar_6_from"
							to="0 0"
							begin="pillars_anim.begin"
							:dur="pillars.dur"
							repeatCount="1"
							fill="freeze"
							>
						</animateTransform>
					</rect>
					<rect width="45.692" height="105.29" x="399.308" y="163.895" fill="url(#g2oHtBzqbg)" rx="4" :transform="`translate(${pillars.pillar_7_from})`">
						<animateTransform
							v-if="isAnimated"
							attributeName="transform"
							type="translate"
							:from="pillars.pillar_7_from"
							to="0 0"
							begin="pillars_anim.begin"
							:dur="pillars.dur"
							repeatCount="1"
							fill="freeze"
							>
						</animateTransform>
					</rect>
					<animate
						v-if="isAnimated"
						id="pillars_anim"
						:dur="pillars.dur"
						begin="indefinite"
						repeatCount="1"
						fill="freeze"
						attributeName="opacity"
						to="1"
						ref="start">
					</animate>
				</svg>
			</div>
		</div>
	</section>
</template>

<script>

	export default {
		name: 'ElSectionIis',
		props: {
			animated: {
				type: Boolean,
				default: true
			}
		},
		components: {

		},
		data(){
			return {
				isAnimated: this.animated,
				animationFinished: false,
				graphScene: null
			}
		},
		computed: {
			pillars(){
				return {
					dur: '1s',
					pillar_1_from: this.isAnimated ? '0, 40' : '0 0',
					pillar_2_from: this.isAnimated ? '0, -70' : '0 0',
					pillar_3_from: this.isAnimated ? '0, 20' : '0 0',
					pillar_4_from: this.isAnimated ? '0, -40' : '0 0',
					pillar_5_from: this.isAnimated ? '0, 50' : '0 0',
					pillar_6_from: this.isAnimated ? '0, -30' : '0 0',
					pillar_7_from: this.isAnimated ? '0, 15' : '0 0',
				}
			}
		},
		methods: {
			playAnimation(){
				if( this.animationFinished || !this.isAnimated ){
					return;
				}
				this.$refs.start.beginElement();
				this.$refs.start.addEventListener('endEvent', () => {
					this.animationFinished = true;
				});
			}
		},
		mounted(){
			let _this = this;
			this.graphScene = this.$scrollmagic.scene({
				triggerElement: '.section--iis',
				duration: 0,
				offset: 0,
				triggerHook: 0.2
			})
			.on('enter', () => {
				_this.playAnimation();
			})
			//.addIndicators({indent: 100});
			this.$scrollmagic.addScene(this.graphScene);
		},
		beforeDestroy(){
			this.$scrollmagic.removeScene(this.graphScene);
		}
	}
</script>
