<template>
	<section class="section section--calc section--regular section--regular-with-bg text--white mb-0">
		<div class="bg__pic">
			<slot name="bg"></slot>
		</div>
		<div class="page__wrapper">
			<h2 class="h2 text-center">
				Подбор стратегии
			</h2>
			<p class="text text--lg text-center mb-4 mb-lg-5">
				В зависимости от цели инвестирования и аппетита к риску, доход может формироваться за счет акций и облигаций надежных российских компаний, самых ликвидных
				иностранных производных инструментов, инструментов срочного рынка и использования спекулятивных идей.
			</p>
			<div class="wrapper">
				<div class="wrapper wrapper--control">
					<div class="d-flex align-items-center justify-content-between mb-2">
						<div class="control__label">
							Сумма взноса
						</div>
						<div class="text text--bold text-right">
							{{ payment.val | money }}
						</div>
					</div>
					<div class="control control--range control--range-grad">
						<input
							type="range"
							class="control__input"
							:min="payment.min"
							:max="payment.max"
							:step="payment.step"
							v-model.number="payment.val"
							v-range-progress
							>
					</div>
					<div class="d-flex align-items-center justify-content-between">
						<div class="text text--sm">
							{{ payment.min | money }}
						</div>
						<div class="text text--sm text-right">
							{{ payment.max | money }}
						</div>
					</div>
				</div>
				<div class="wrapper wrapper--control">
					<div class="d-flex align-items-center justify-content-between mb-2">
						<div class="control__label">
							Риск / доходность
						</div>
						<div class="text text--bold text-right">
							{{ riskLabel }}
						</div>
					</div>
					<div class="control control--range control--range-grad">
						<input
							type="range"
							class="control__input"
							:min="risk.min"
							:max="risk.max"
							:step="risk.step"
							v-model.number="risk.val"
							v-range-progress
							>
					</div>
					<div class="d-flex align-items-center justify-content-between">
						<div class="text text--sm">
							низкий
						</div>
						<div class="text text--sm text-right">
							высокий
						</div>
					</div>
				</div>
				<p class="text text--sm mb-4 mb-md-0">
					*Приведена чистая ожидаемая доходность (за минусом НДФЛ и вознаграждения управляющего) за три года. Результаты инвестирования в прошлом не определяют и не являются гарантией доходности инвестирования в будущем. Все расчеты приведены в порядке информации и имеют целью наглядным образом показать работу инвестиционной стратегии. Представленная информация не является индивидуальной инвестиционной рекомендацией, ни при каких условиях, в том числе при внешнем совпадении её содержания с требованиями нормативно правовых актов, предъявляемых к индивидуальной инвестиционной рекомендации <br>
					Доходность, полученная в прошлом, не гарантирует доходность в будущем.
				</p>
			</div>
			<div class="wrapper">
				<div class="slider slider--calc-idu">
					<div class="wrapper">
						<button class="btn btn--slider-blue slider__btn slider__btn--prev">
							<icon-chewron-down></icon-chewron-down>
						</button>
						<div class="swiper-container slider__container">
							<div class="swiper-wrapper slider__wrapper">

								<div
									class="swiper-slide slider__slide"
									v-for="(strategy, index) in strategies"
									:key="`strategy_${index}`"
									>
									<div class="wrapper wrapper--total">
										<h3 class="h3 text--primary mb-3 mb-lg-4">
											{{ strategy.title }}
										</h3>
										<div class="d-block mb-5">
											<div class="h2 mb-2 text-nowrap">
												+11,6%
											</div>
											<div class="text--lg">
												Cредняя годовая доходность за 3 года*
											</div>
										</div>
										<div class="d-block mb-4">
											<div class="h2 mb-2 text-nowrap">
												+{{ getTotalAdd(strategy.percent) | money }}
											</div>
											<div class="text--lg">
												Доход за 3 года
											</div>
										</div>
										<div class="d-block mb-4">
											<div class="h5 font-weight-bold mb-1">
												Процент риска:
											</div>
											<div class="text--lg text-nowrap">
												{{ strategy.risk }}%
											</div>
										</div>
										<div class="d-flex">
											<button class="btn btn--secondary mx-auto ml-md-0">
												Подробнее
											</button>
										</div>
									</div>
								</div>

							</div>
						</div>
						<button class="btn btn--slider-blue slider__btn slider__btn--next">
							<icon-chewron-down></icon-chewron-down>
						</button>
					</div>
					<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>

	import initSlider from '../libs/slider.js';

	import IconChewronDown from './icons/icon_files/IconChewronDown.vue';

	let strategies = [
		{
			title: "Российские акции 1",
			percent: 42.8,
			risk: 35,
			link: "/investment_management/trust_management/earn/rossiyskie_aktsii_1/"
		},
		{
			title: "Российские акции 2",
			percent: 36.1,
			risk: 35,
			link: "/investment_management/trust_management/earn/rossiyskie_aktsii_2/"
		},
		{
			title: "Российские акции 3",
			percent: 59.3,
			risk: 35,
			link: "/investment_management/trust_management/earn/rossiyskie_aktsii_3/"
		},
		{
			title: "Сбалансированная",
			percent: 29.6,
			risk: 20,
			link: "/investment_management/trust_management/keep-and-multiply/sbalansirovannaya/"
		},
		{
			title: "Дивидендные акции",
			percent: 29.5,
			risk: 25,
			link: "/investment_management/trust_management/keep-and-multiply/dividendnye_aktsii/"
		},
		{
			title: "Российские облигации",
			percent: 26.8,
			risk: 0,
			link: "/investment_management/trust_management/max-safety/rossiyskie_obligatsii/"
		},
		{
			title: "Еврооблигации",
			percent: 4,
			risk: 10,
			link: "/upload/Solid_Eurobonds.pdf"
		},
		/*
		{
			title: "Валютный доход",
			link: "/upload/Solid_Valutnyi_dohod.pdf"
		},
		{
			title: "Солид.Vision",
			link: "/upload/Solid_Vision.pdf"
		},
		{
			title: "Умеренно консервативная",
			percent: 4.1,
			risk: 10,
		}
		*/
	]

	export default {
		name: 'ElSectionCalcIdu',
		components: {
			IconChewronDown
		},
		props: {

		},
		data(){
			return {
				payment: {
					val: 	1900000,
					min: 	100000,
					max: 	5000000,
					step: 	20000
				},
				risk: {
					val: 	50,
					min: 	0,
					max: 	100,
					step: 	1
				},
				strategies: strategies
			}
		},
		computed: {
			hasBg() {
				return !!this.$slots.bg || !!this.$scopedSlots.bg;
			},
			riskLabel(){
				return this.getRiskLabel(this.risk.val);
			}
		},
		methods: {
			initSliderCalc(){
				this.sliderCalc = initSlider('.slider--calc-idu', {
					spaceBetween: 30,
					effect: 'coverflow',
					coverflowEffect: {
						rotate: 30,
						slideShadows: false
					}
				})[0];
			},
			getRiskLabel(value){
				let n = (this.risk.max - this.risk.min)/3;
				if( value >= this.risk.min && value < n ){
					return 'низкий';
				}else if( value >= n && value < 2*n ){
					return 'умеренный';
				}else{
					return 'высокий'
				}
			},
			getTotalAdd(mod){
				return this.payment.val/100*mod;
			}
		},
		mounted(){
			this.initSliderCalc();
		}
	}
</script>
