<template>
	<section class="section decoration--arc-before section--graph section--regular">
		<div class="page__wrapper">
			<p class="h4">
				Точки входа/выхода в торговую идею обоснованы фундаментальным и техническим анализом
			</p>
			<p class="text text--accented">
				<span class="text text--bold text--primary">
					70%
				</span>
				прибыльных идей*
			</p>
			<p class="text text--accented">
				<span class="text text--bold text--primary">
					25,06%
				</span>
				<span class="text mt-sm-2 mb-sm-1 mb-md-3">
					Доходность <br class="d-none d-sm-block">по торговым идеям*
				</span>
			</p>
			<button class="btn btn--primary btn--lg" @click="openPopup('ask-question')">
				Консультация
			</button>
			<div class="bg__pic">
				<slot name="bg"></slot>
				<img src="../assets/images/graph.png" alt="" v-background-image v-if="!hasBg">
				<p class="text text--accented" :class="{'text--visible': animationFinished || !isAnimated}">
					<span class="text text--bold text--primary">
						70%
					</span>
					прибыльных идей*
				</p>
				<p class="text text--accented" :class="{'text--visible': animationFinished || !isAnimated}">
					<span class="text text--bold text--primary">
						25,06%
					</span>
					<span class="text mt-sm-2 mb-sm-1 mb-md-3">
						Доходность <br class="d-none d-sm-block">по торговым идеям*
					</span>
				</p>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" width="220" height="464" viewBox="0 0 220 464" class="icon__vue">
					<defs>
						<linearGradient id="ck9rpHNvcB" x1="47" x2="47" y1="27" y2="464" gradientUnits="userSpaceOnUse">
							<stop stop-color="#3FDAC0"/>
							<stop offset="1" stop-color="#953564"/>
						</linearGradient>
						<linearGradient id="t9cjporvu5" x1="173" x2="173" y1="87.024" y2="402" gradientUnits="userSpaceOnUse">
							<stop stop-color="#3FDAC0"/>
							<stop offset="1" stop-color="#953564"/>
						</linearGradient>
					</defs>
					<g class="pillar-1">
						<path class="bottom" d="M0 440.341C0 446.372 4.556 452.404 13.668 456.98C32.133 466.34 62.108 466.34 80.332 456.98C89.684 452.404 94 446.372 94 440.341 Z" fill="url(#ck9rpHNvcB)"></path>
						<path class="middle" fill="url(#ck9rpHNvcB)" :d="pillars.pillar_1_from">
							<animate
								v-if="isAnimated"
								:dur="pillars.dur"
								begin="pillars_anim.begin"
								repeatCount="1"
								fill="freeze"
								attributeName="d"
								:from="pillars.pillar_1_from"
								:to="pillars.pillar_1_to"
								>
							</animate>
						</path>
						<path class="top" d="M13.6678 12.0817C32.1327 3.97277 62.1079 3.97277 80.3312 12.0817C89.683 16.0472 94 21.2741 94 26.4994C94 31.7263 89.4434 36.9524 80.3312 40.9172C61.8673 49.0276 31.8931 49.0276 13.6688 40.9172C4.31497 36.9524 0 31.7263 0 26.4994C0 21.2733 4.55659 16.2273 13.6678 12.0817Z" fill="#90FFEC" :transform="pillars.pillar_1_transform">
							<animateTransform
								v-if="isAnimated"
								attributeName="transform"
								type="translate"
								values="
									0 400;
									0 0;
								"
								begin="pillars_anim.begin"
								:dur="pillars.dur"
								repeatCount="1"
								fill="freeze"
								>
							</animateTransform>
						</path>
					</g>
					<g class="pillar-2">
						<path class="bottom" fill="url(#t9cjporvu5)" d="M126 378.341C126 384.372 130.556 390.404 139.668 394.98C158.133 404.34 188.107 404.34 206.332 394.98C215.684 390.404 220 384.372 220 378.341Z"></path>
						<path class="middle" fill="url(#t9cjporvu5)" :d="pillars.pillar_2_from">
							<animate
								v-if="isAnimated"
								:dur="pillars.dur"
								begin="pillars_anim.begin"
								repeatCount="1"
								fill="freeze"
								attributeName="d"
								:from="pillars.pillar_2_from"
								:to="pillars.pillar_2_to"
								>
							</animate>
						</path>
						<path class="top" d="M139.669 72.6655C158.133 64.5552 188.107 64.5552 206.331 72.6655C215.683 76.6303 220 81.8563 220 87.0824C220 92.3092 215.443 97.5353 206.331 101.5C187.867 109.61 157.893 109.61 139.669 101.5C130.316 97.5353 126 92.3092 126 87.0824C126 81.8563 130.557 76.8103 139.669 72.6655Z" fill="#90FFEC" :transform="pillars.pillar_2_transform">
							<animateTransform
								v-if="isAnimated"
								attributeName="transform"
								type="translate"
								values="
									0 280;
									0 0;
								"
								begin="pillars_anim.begin"
								:dur="pillars.dur"
								repeatCount="1"
								fill="freeze"
								>
							</animateTransform>
						</path>
					</g>
					<animate
						v-if="isAnimated"
						id="pillars_anim"
						:dur="pillars.dur"
						begin="indefinite"
						repeatCount="1"
						fill="freeze"
						attributeName="opacity"
						to="1"
						ref="start">
					</animate>
				</svg>
			</div>
			<p class="text text--sm">
				* Средняя годовая доходность <br class="d-none d-lg-block">по исполненным торговым идеям <br class="d-none d-lg-block">совокупно по клиентскому портфелю <br class="d-none d-lg-block">на тарифе Персональный брокер за 2018 год
			</p>
		</div>
	</section>
</template>

<script>

	import { events } from "../events";

	export default {
		name: 'ElSectionGraph',
		props: {
			animated: {
				type: Boolean,
				default: true
			}
		},
		components: {

		},
		data() {
			return{
				isAnimated: this.animated,
				animationFinished: false,
				graphScene: null
			}
		},
		computed: {
			pillars(){
				return {
					dur: '1s',
					pillar_1_from: this.isAnimated ? 'M0 430V441.341 H94 V430 H0 Z' : 'M0 27V441.341 H94 V27 H0 Z',
					pillar_1_to: 'M0 27V441.341 H94 V27 H0 Z',
					pillar_1_transform: `translate(${this.isAnimated ? '0 400' : '0 0'})`,
					pillar_2_from: this.isAnimated ? 'M126 367V379.341 H220 V367H126Z' : 'M126 87.024V379.341 H220 V87.024H126Z',
					pillar_2_to: 'M126 87.024V379.341 H220 V87.024H126Z',
					pillar_2_transform: `translate(${this.isAnimated ? '0 280' : '0 0'})`
				}
			}
		},
		methods: {
			hasBg() {
				return !!this.$slots.bg || !!this.$scopedSlots.bg;
			},
			openPopup(name, data){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: `popup-${name}`,
					...data
				});
			},
			playAnimation(){
				if( this.animationFinished || !this.isAnimated ){
					return;
				}
				this.$refs.start.beginElement();
				this.$refs.start.addEventListener('endEvent', () => {
					this.animationFinished = true;
				});
			}
		},
		mounted(){
			let _this = this;
			this.graphScene = this.$scrollmagic.scene({
				triggerElement: '.section--graph',
				duration: 0,
				offset: 0,
				triggerHook: 0.2
			})
			.on('enter', () => {
				_this.playAnimation();
			})
			//.addIndicators({indent: 100});
			this.$scrollmagic.addScene(this.graphScene);
		},
		beforeDestroy(){
			this.$scrollmagic.removeScene(this.graphScene);
		}
	}
</script>