<template>
	<div class="section section--regular section--regular-with-bg text--white">
		<div class="bg__pic">
			<picture v-background-image>
				<source
					srcset="../assets/images/section-steps-bg-lg.jpg"
					:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
				>
				<source
					srcset="../assets/images/section-steps-bg-md.jpg"
					:media="`(min-width: ${$store.state.breakpoints.md}px)`"
				>
				<source
					srcset="../assets/images/section-steps-bg-xs.jpg"
					:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
				>
				<img src="../assets/images/section-steps-bg-lg.jpg" alt="Что нужно, чтобы начать инвестировать?">
			</picture>
		</div>
		<div class="page__wrapper">
			<h2 class="h2 text-center">
				Что нужно, чтобы начать инвестировать?
			</h2>
			<ul class="list list--steps">
				<li class="list__item">
					<h4 class="h4">
						Откройте счёт дистанционно
					</h4>
					<p class="text">
						Все документы оформляются онлайн, без посещения офиса.
					</p>
				</li>
				<li class="list__item">
					<h4 class="h4">
						Установите приложение Solid Investor
					</h4>
					<p class="text">
						Тысячи ценных бумаг в простом и доступном приложении
					</p>
				</li>
				<li class="list__item">
					<h4 class="h4">
						Пополните счёт и начинайте!
					</h4>
					<p class="text">
						Здесь надо написать о том, что это быстро и приятно
					</p>
				</li>
			</ul>
			<div class="d-flex justify-content-center">
				<a href="#" class="btn btn--primary btn--lg">
					Начать!
				</a>
			</div>
		</div>
	</div>
</template>

<script>


	export default {
		name: 'ElSectionSteps',
		components: {

		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
