<template>
	<section class="section section--calc section--regular section--regular-with-bg text--white">
		<div class="bg__pic">
			<slot name="bg"></slot>
		</div>
		<div class="page__wrapper">
			<h2 class="h2 text-center">
				Как максимизировать выгоду по ИИС?
			</h2>
			<div class="wrapper">
				<div class="wrapper wrapper--control">
					<div class="d-flex align-items-center justify-content-between mb-2">
						<div class="control__label">
							Стартовая сумма инвестиций
						</div>
						<div class="text text--bold text-right">
							{{ payment.val | money }}
						</div>
					</div>
					<div class="control control--range control--range-grad">
						<input
							type="range"
							class="control__input"
							:min="payment.min"
							:max="payment.max"
							:step="payment.step"
							v-model.number="payment.val"
							v-range-progress
							>
					</div>
					<div class="d-flex align-items-center justify-content-between">
						<div class="text text--sm">
							{{ payment.min | money }}
						</div>
						<div class="text text--sm text-right">
							{{ payment.max | money }}
						</div>
					</div>
				</div>
				<div class="wrapper wrapper--control">
					<div class="d-flex align-items-center justify-content-between mb-2">
						<div class="control__label">
							Сумма ежегодного пополнения
						</div>
						<div class="text text--bold text-right">
							{{ adding.val | money }}
						</div>
					</div>
					<div class="control control--range control--range-grad">
						<input
							type="range"
							class="control__input"
							:min="adding.min"
							:max="adding.max"
							:step="adding.step"
							v-model.number="adding.val"
							v-range-progress
							>
					</div>
					<div class="d-flex align-items-center justify-content-between">
						<div class="text text--sm">
							{{ adding.min | money }}
						</div>
						<div class="text text--sm text-right">
							{{ adding.max | money }}
						</div>
					</div>
				</div>
				<div class="wrapper wrapper--total my-5 d-md-none">
					<div class="d-block mb-4 pb-1">
						<div class="h2 mb-2 text-nowrap">
							{{ total | money }}
						</div>
						<div class="text--md">
							общая сумма вложений за 3 года
						</div>
					</div>
					<div class="d-block mb-4 pb-1">
						<div class="h2 mb-2 text-nowrap">
							{{ total_return | money }}
						</div>
						<div class="text--md">
							возврат в виде налоговой льготы
						</div>
					</div>
					<div class="d-block mb-4">
						<div class="h2 mb-2 text-nowrap text--primary">
							{{ total_income | money }}
						</div>
						<div class="text--md">
							инвестиционный доход, при условии ежегодного реинвестирования средств, полученных от налоговой льготы
						</div>
					</div>
				</div>
				<ul class="list list--calc-legend mb-4 mt-md-5 pt-md-5 mt-lg-0">
					<li class="list__item list__item--mint">
						Депозит<sup>*</sup>
					</li>
					<li class="list__item list__item--blue">
						ИИС<sup>**</sup>
					</li>
					<li class="list__item list__item--primary">
						ИИС+ВДО<sup>***</sup>
					</li>
				</ul>
				<div class="wrapper wrapper--calc">
					<div class="wrapper__content">
						<ul class="list list--calc">
							<li class="list__item list__item--mint">
								{{ deposit[0] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(deposit[0]) }"></span>
							</li>
							<li class="list__item list__item--blue">
								{{ iis[0] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(iis[0]) }"></span>
							</li>
							<li class="list__item list__item--primary">
								{{ iis_vdo[0] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(iis_vdo[0]) }"></span>
							</li>
						</ul>
						<div class="text">
							взнос
						</div>
					</div>
					<div class="wrapper__content">
						<ul class="list list--calc">
							<li class="list__item list__item--mint">
								{{ deposit[1] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(deposit[1]) }"></span>
							</li>
							<li class="list__item list__item--blue">
								{{ iis[1] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(iis[1]) }"></span>
							</li>
							<li class="list__item list__item--primary">
								{{ iis_vdo[1] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(iis_vdo[1]) }"></span>
							</li>
						</ul>
						<div class="text">
							1 г.
						</div>
					</div>
					<div class="wrapper__content">
						<ul class="list list--calc">
							<li class="list__item list__item--mint">
								{{ deposit[2] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(deposit[2]) }"></span>
							</li>
							<li class="list__item list__item--blue">
								{{ iis[2] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(iis[2]) }"></span>
							</li>
							<li class="list__item list__item--primary">
								{{ iis_vdo[2] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(iis_vdo[2]) }"></span>
							</li>
						</ul>
						<div class="text">
							2 г.
						</div>
					</div>
					<div class="wrapper__content">
						<ul class="list list--calc">
							<li class="list__item list__item--mint">
								{{ deposit[3] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(deposit[3]) }"></span>
							</li>
							<li class="list__item list__item--blue">
								{{ iis[3] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(iis[3]) }"></span>
							</li>
							<li class="list__item list__item--primary">
								{{ iis_vdo[3] | money('₽') }}
								<span class="bg" :style="{ height: summToHeightPercent(iis_vdo[3]) }"></span>
							</li>
						</ul>
						<div class="text">
							3 г.
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="wrapper wrapper--total d-none d-md-block">
					<div class="d-block mb-4 pb-1">
						<div class="h2 mb-2 text-nowrap">
							{{ total | money }}
						</div>
						<div class="text--md">
							общая сумма вложений за 3 года
						</div>
					</div>
					<div class="d-block mb-4 pb-1">
						<div class="h2 mb-2 text-nowrap">
							{{ total_return | money }}
						</div>
						<div class="text--md">
							возврат в виде налоговой льготы
						</div>
					</div>
					<div class="d-block mb-4">
						<div class="h2 mb-2 text-nowrap text--primary">
							{{ total_income | money }}
						</div>
						<div class="text--md">
							инвестиционный доход, при условии ежегодного реинвестирования средств, полученных от налоговой льготы
						</div>
					</div>
				</div>
				<p class="text text--sm mb-4 d-none d-lg-block">
					Данный пример расчета учитывает только вычет на взнос. <br>
					* Принимаемая средняя ставка депозита 7,5%. Сумма ежегодного пополнения 400 т.р. <br>
					** При условии оформления налогового вычета на взнос. Сумма ежегодного пополнения 400 т.р. <br>
					*** При условии оформления налогового вычета на взнос, инвестирования всей суммы взноса в высокодоходные облигации со ставкой купона 14% годовых, с последующим рефинансированием купонного дохода в облигации и ежегодного пополнения на сумму 400 т.р.
				</p>
			</div>
			<div class="d-flex flex-column align-items-center w-100">
				<p class="text text--sm mb-4 d-lg-none">
					Данный пример расчета учитывает только вычет на взнос. <br>
					* Принимаемая средняя ставка депозита 7,5%. Сумма ежегодного пополнения 400 т.р. <br>
					** При условии оформления налогового вычета на взнос. Сумма ежегодного пополнения 400 т.р. <br>
					*** При условии оформления налогового вычета на взнос, инвестирования всей суммы взноса в высокодоходные облигации со ставкой купона 14% годовых, с последующим рефинансированием купонного дохода в облигации и ежегодного пополнения на сумму 400 т.р.
				</p>
				<button class="btn btn--primary btn--lg w-100 w-md-auto">
					Создать счет
				</button>
			</div>
		</div>
	</section>
</template>

<script>

	export default {
		name: 'ElSectionCalc',
		components: {

		},
		props: {

		},
		data(){
			return {
				payment: {
					val: 	640000,
					min: 	40000,
					max: 	1000000,
					step: 	20000
				},
				adding: {
					val: 	200000,
					min: 	40000,
					max: 	1000000,
					step: 	20000
				},
				mod: {
					deposit: 1.06,
					iis: 0.13,
					iis_vdo_return: 0.13,
					iis_vdo_summ: 0.14
				},
				returnMax: 52000,
				nalog: 0.13
			}
		},
		computed: {
			hasBg() {
				return !!this.$slots.bg || !!this.$scopedSlots.bg;
			},
			deposit(){
				let mod = this.mod.deposit,
					add = this.adding.val,
					payment = this.payment.val,
					year1 = payment*mod,
					year2 = (year1 + add)*mod,
					year3 = (year2 + add)*mod;
				return [payment, year1, year2, year3];
			},
			iis(){
				let mod = this.mod.iis,
					add = this.adding.val,
					payment = this.payment.val,
					return1 = this.fixReturn( payment*mod ),
					year1 = payment + return1,
					return2 = this.fixReturn( add*mod ),
					year2 = year1 + add + return2,
					return3 = this.fixReturn( add*mod ),
					year3 = year2 + add + return3;
				return [payment, year1, year2, year3];
			},
			iis_vdo(){
				let mod_return = this.mod.iis_vdo_return,
					mod_summ = this.mod.iis_vdo_summ,
					payment = this.payment.val,
					return1 = this.fixReturn( payment*mod_return ),
					year1 = payment + return1 + payment*mod_summ,
					return2 = this.fixReturn( this.adding.val*mod_return ),
					year2_add = year1 + this.adding.val,
					year2 = year2_add + return2 + year2_add*mod_summ,
					return3 = this.fixReturn( this.adding.val*mod_return ),
					year3_add = year2 + this.adding.val,
					year3 = year3_add + return3 + year3_add*mod_summ;
				return [payment, year1, year2, year3];
			},
			total(){
				let payment = this.payment.val,
					add = this.adding.val;
				return payment + add*2;
			},
			total_return(){
				let payment = this.payment.val,
					add = this.adding.val,
					resp = this.total*this.nalog;
				if(payment >= 400 && add >= 400){
					if(resp > 156000){
						resp = 156000;
					}
				}
				if(payment < 400 && add < 400){
					resp = this.total * 0.13;
				}
				return resp;
			},
			total_income(){
				return this.iis_vdo[3] - this.total;
			}
		},
		methods: {
			fixReturn(value){
				if(value > this.returnMax){
					value = this.returnMax;
				}
				return value;
			},
			summToHeightPercent(summ){
				return `${summ*100/this.iis_vdo[3]}%`;
			}

		},
		mounted(){

		}
	}
</script>
