<template>
	<section class="section section--regular section--regular-with-bg text--white">
		<div class="bg__pic bg--darkblue">
			<picture v-background-image>
				<source
					srcset="../assets/images/section-feedback-bg-lg.jpg"
					:media="`(min-width: ${$store.state.breakpoints.lg}px)`"
				>
				<source
					srcset="../assets/images/section-feedback-bg-md.jpg"
					:media="`(min-width: ${$store.state.breakpoints.md}px)`"
				>
				<source
					srcset="../assets/images/section-feedback-bg-xs.jpg"
					:media="`(min-width: ${$store.state.breakpoints.xs}px)`"
				>
				<img src="../assets/images/section-feedback-bg-lg.jpg" alt="Отзывы наших клиентов">
			</picture>
		</div>
		<div class="page__wrapper">
			<h2 class="h2 text-center mb-4">
				Отзывы наших клиентов
			</h2>
			<div class="slider slider--feedback">
				<div class="wrapper">
					<button class="btn btn--slider-blue slider__btn slider__btn--prev">
						<icon-chewron-down></icon-chewron-down>
					</button>
					<div class="swiper-container slider__container">
						<div class="swiper-wrapper slider__wrapper">
							<div class="swiper-slide slider__slide">
								<div class="person">
									Илья, г. Тула
								</div>
								<p class="mb-0">
									С июля 2018г. я перешёл на тарифный план «Персональный брокер». Моим брокером является Дмитрий Балакин. Данный тарифный план и работа конкретно с Д. Балакиным меня устраивает по следующим причинам:<br>
									- грамотные и своевременные рекомендации брокера по совершению сделок;<br>
									- формирование портфеля (по совету брокера), обеспечивающего более высокую доходность.<br>
									Хотелось бы вернуть систему поручений по телефонной связи, когда поручения передавались непосредственно своему брокеру, и он выставлял заявку. Данная система наиболее удобна мне как клиенту и экономит моё время.
								</p>
							</div>
							<div class="swiper-slide slider__slide">
								<div class="person">
									Екатерина, г. Москва
								</div>
								<p>
									Хочу поделиться своими впечатлениями об ИИС.
									Инвестиционный счёт был открыт в сентябре 2017 года. В январе 2018 мы перевели ИИС в "Солид-брокер". И уже летом 2018 года я получила возврат подоходного налога 52 000 руб. Кроме этого акции, в которые были вложены средства тоже принесли прибыль- так что за 2018 год ИИС обеспечил мне хороший доход!
								</p>
								<p class="mb-0">
									Глядя на хорошие результаты в 2018 году, я приняла решение продолжить вкладывать деньги в ИИС, поэтому в прошлом году я пополнила счёт ещё на 400 тыс рублей и снова подала декларацию на возврат подоходного налога. Но, ничего этого бы не было, если бы не Ваша помощь и поддержка, Ян! Я считаю, что только благодаря Вашим грамотным консультациям, вашей заботе, мы пришли к таким хорошим финансовым результатам! Искреннее огромное Вам спасибо, Ян!
								</p>
							</div>
						</div>
					</div>
					<button class="btn btn--slider-blue slider__btn slider__btn--next">
						<icon-chewron-down></icon-chewron-down>
					</button>
				</div>
				<div class="swiper-pagination slider__pagination slider__pagination--mint"></div>
			</div>
		</div>
	</section>
</template>

<script>

	import IconChewronDown from '../components/icons/icon_files/IconChewronDown.vue';

	import initSlider from '../libs/slider.js';

	export default {
		name: 'ElSectionFeedback',
		components: {
			IconChewronDown
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {
			initSliderFeedback(){
				return initSlider('.slider--feedback', {
					loop: true,
					spaceBetween: 110,
					effect: 'coverflow',
					coverflowEffect: {
						rotate: 30,
						slideShadows: false
					}
				})[0];
			}
		},
		mounted(){
			this.initSliderFeedback();
		}
	}
</script>
