<template>
	<section class="section section--telegram section--regular">
		<div class="page__wrapper">
			<icon-telegram-men class="figure"></icon-telegram-men>
			<div class="wrapper">
				<h2 class="h2">
					Делимся торговыми <br class="d-none d-sm-block d-md-none">идеями <br class="d-none d-sm-block">в телеграм-канале
				</h2>
				<icon-telegram-men class="figure"></icon-telegram-men>
				<a href="#" class="btn btn--blue btn--lg">
					<icon-telegram></icon-telegram>
					<span class="btn__text">
						Присоединиться
					</span>
				</a>
			</div>
		</div>
	</section>
</template>

<script>

	import IconTelegram from './icons/icon_files/IconTelegram.vue';
	import IconTelegramMen from './icons/icon_files/IconTelegramMen.vue';

	export default {
		name: 'ElSectionTelegram',
		components: {
			IconTelegram,
			IconTelegramMen
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
