<template>
    <article class="article article--review">
        <span class="article__pic">
            <img :src="preview" v-background-image>
        </span>
        <a :href="link" class="h4 article__title">
            {{ title }}
        </a>
        <time class="article__date">
            {{ date }}
        </time>
    </article>
</template>

<script>

	export default {
		name: 'ElVideoReview',
        props: {
            title: {
                type: String,
                default: ''
            },
            preview: {
                type: String,
                default: ''
            },
            link: {
                type: String,
                default: ''
            },
            date: {
                type: String,
                default: ''
            }
        },
		components: {

		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}
</script>
