<template>
    <div class="widget--pie">
        <svg viewBox="0 0 10 10" class="bg">
            <path :d="path" fill="currentColor" stroke="#fff" stroke-width="0.15"></path>
        </svg>
        <div class="widget__content">
            <slot></slot>
        </div>
    </div>
</template>

<script>


	export default {
		name: 'WidgetPie',
		props: {
            percent: {
                type: Number,
                default: 20
            }
		},
		data(){
			return {
                ang: this.percentToAng(this.percent)
			}
        },
        watch: {
            percent(newVal){
                this.ang = this.percentToAng(newVal);
            }
        },
		computed: {
			path(){
				let resp = 'M 5 5';
				for (let i = 0; i < this.ang; i++) {
					let point = this.getCoords(5, 5, 10, i);
					resp += ` L${point.x} ${point.y}`;
				}
				resp += ' Z';
				return resp;
			}
		},
		methods: {
			getCoords(cx, cy, r, ang){
				let d = ((ang - 90) * Math.PI / 180)%360,
					x = cx + r * Math.cos(d),
					y = cy + r * Math.sin(d);
				return {
					x: x.toFixed(2),
					y: y.toFixed(2)
				}
            },
            percentToAng(percent){
                return 360*percent/100;
            }
		},
		mounted(){

		}
	}
</script>
