
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Independence"
		>
		<path fill="currentColor" fill-rule="evenodd" d="M17.281 25.953c-1.579 4.072-1.59 8.088.004 12.153-.226.124-.446.241-.662.357-.5.266-.974.519-1.427.805-.402.252-.62.16-.938-.15-1.99-1.94-4.352-2.602-7.042-1.864-3.687 1.009-5.913 4.916-4.964 8.628.954 3.729 4.662 6.045 8.39 5.239 3.956-.855 6.38-4.65 5.473-8.602-.097-.42-.071-.685.358-.893.485-.235.957-.498 1.437-.765.202-.113.405-.226.61-.338 2.891 4.376 6.955 6.827 12.108 7.44v1.844c-3.979 1.292-6.206 4.335-5.735 7.805.497 3.669 3.325 6.315 6.875 6.436 3.405.115 6.478-2.27 7.207-5.602.375-1.714.157-3.36-.662-4.906-1.056-1.996-2.75-3.198-4.936-3.709v-1.88c5.2-.585 9.233-3.088 12.125-7.43l.66.37c.48.272.942.533 1.416.77.363.183.375.41.34.777l-.046.437c-.082.764-.165 1.537-.072 2.284.5 4.027 4.428 6.836 8.34 6.037 4.139-.846 6.691-4.942 5.571-8.939-1.486-5.307-8.01-7.026-11.958-3.16-.165.163-.503.363-.64.298a29.748 29.748 0 0 1-1.784-.96 83.401 83.401 0 0 0-.595-.335c1.589-4.102 1.59-8.117 0-12.151l1.683-.927.92-.507c1.834 1.94 3.962 2.806 6.556 2.46 3.78-.502 6.654-4.334 6.019-8.068-.707-4.151-4.515-6.873-8.443-6.029-4.058.872-6.467 4.635-5.585 8.683.05.23-.032.634-.193.739-.507.327-1.041.612-1.58.899-.205.109-.41.218-.615.33-2.908-4.376-6.944-6.83-12.103-7.439v-1.877c4.197-.995 6.064-4.616 5.719-7.733-.41-3.692-3.32-6.378-6.897-6.477-3.464-.096-6.627 2.44-7.207 5.78-.69 3.973 1.311 6.998 5.62 8.46V16.1c-5.195.6-9.215 3.083-12.11 7.425-.21-.114-.418-.23-.624-.345-.453-.251-.899-.5-1.356-.723-.435-.213-.51-.459-.399-.94 1.055-4.555-2.443-8.855-7.127-8.718-3.013.087-5.2 1.577-6.374 4.342-1.16 2.734-.735 5.344 1.257 7.547 2.026 2.244 4.608 3.005 7.493 2 .83-.29 1.59-.776 2.393-1.29.38-.242.77-.491 1.18-.728l1.232.68 1.088.603Zm5.092 14.951a.192.192 0 0 0-.02.008c-3.894-3.647-5.32-11.604-.428-17.45 4.772-5.699 13.582-6.257 18.996-1.218 5.78 5.381 5.392 13.955.75 18.746l-.027-.082c-.046-.145-.086-.27-.123-.395-.788-2.711-2.52-4.529-5.355-4.761a49.72 49.72 0 0 0-8.32-.002c-2.858.248-4.602 2.091-5.368 4.843a2.095 2.095 0 0 0-.037.154c-.01.045-.019.09-.03.134-.004.01-.02.017-.038.023Zm16.107 2.66c-1.998 1.148-4.165 1.687-6.523 1.722a13.505 13.505 0 0 1-6.414-1.698c-.405-.224-.529-.487-.539-.935-.031-1.357.269-2.559 1.355-3.469.741-.621 1.607-.848 2.555-.846.572 0 1.144.003 1.716.005 1.489.005 2.978.01 4.465-.01 2.275-.035 4.221 1.596 3.886 4.677-.022.203-.29.433-.5.554ZM36.462 7.201a4.46 4.46 0 0 1-4.483 4.414c-2.432-.01-4.442-2.048-4.42-4.48.022-2.429 2.076-4.46 4.483-4.43 2.43.027 4.444 2.077 4.42 4.496ZM4.747 19.94a4.437 4.437 0 0 1 4.428-4.454 4.434 4.434 0 0 1 4.46 4.426c.005 2.428-2.009 4.46-4.436 4.478-2.42.015-4.444-2.007-4.452-4.45Zm8.88 24.23a4.447 4.447 0 0 1-4.486 4.402c-2.443-.014-4.404-2.012-4.398-4.483.006-2.4 2.022-4.424 4.4-4.422 2.477.002 4.517 2.052 4.483 4.503Zm45.64-.038c.003 2.49-1.99 4.456-4.5 4.448-2.412-.008-4.369-1.975-4.39-4.412-.024-2.427 1.984-4.447 4.433-4.461 2.444-.016 4.458 1.984 4.458 4.425ZM31.952 52.46c2.447-.041 4.49 1.947 4.51 4.392.023 2.43-1.995 4.476-4.429 4.495-2.413.02-4.47-2.026-4.475-4.453-.006-2.422 1.949-4.392 4.394-4.434Zm18.436-32.594a4.427 4.427 0 0 1 4.483-4.396c2.457.01 4.4 1.984 4.4 4.47.002 2.4-1.987 4.397-4.396 4.41-2.475.017-4.523-2.03-4.487-4.484Zm-18.754 3.347c-3.216-.005-5.756 2.54-5.755 5.76a5.716 5.716 0 0 0 5.767 5.753 5.733 5.733 0 0 0 5.727-5.73c.008-3.22-2.535-5.78-5.739-5.784Zm.006 8.813a3.032 3.032 0 0 1-3.065-3.059 3.018 3.018 0 0 1 3.063-3.055A3.058 3.058 0 0 1 34.682 29c-.018 1.652-1.392 3.02-3.043 3.025Z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
