<template>
	<icon-template
		:width="64"
		:height="64"
		name="Requirements"
		>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M30.459 59.918c15.717 0 28.459-12.742 28.459-28.459C58.918 15.742 46.176 3 30.459 3 14.742 3 2 15.742 2 31.459c0 15.717 12.742 28.459 28.459 28.459zM42.784 38.573a14.238 14.238 0 01-24.651 0"/>
		<path fill="currentColor" d="M19.788 29.087a3.557 3.557 0 100-7.114 3.557 3.557 0 000 7.114zM41.132 29.087a3.557 3.557 0 100-7.114 3.557 3.557 0 000 7.114z"/>
		<circle cx="52.817" cy="50.77" r="10.18" fill="#152841" stroke="currentColor" stroke-width="2"/>
		<path fill="currentColor" d="M51.813 51.458v.914h3.727v.876h-3.727v2.342h-1.231v-2.342h-.635v-.876h.635v-.914h-.635V50.39h.635v-4.106h2.914c.833 0 1.464.084 1.891.253.432.165.777.46 1.035.883.258.423.387.89.387 1.403 0 .516-.095.943-.286 1.282-.19.338-.444.61-.761.812a3.123 3.123 0 01-1.086.42c-.406.08-.827.12-1.263.12h-1.6zm1.6-1.067c.284 0 .554-.02.813-.063.258-.047.484-.13.679-.248.194-.118.349-.277.463-.476.114-.203.172-.463.172-.78a1.42 1.42 0 00-.16-.699 1.244 1.244 0 00-.424-.463 1.8 1.8 0 00-.629-.267 3.507 3.507 0 00-.78-.082h-1.733v3.078h1.6z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
