
<template>
	<icon-template
		:width="64"
		:height="65"
		name="Income"
	>
		<g fill="currentColor">
			<path d="M32.795 9.68c.554-.05 1.084-.074 1.638-.123.048-.049.12-.073.168-.122H6.925C3.65 9.435 1 12.341 1 15.905v.122l.482 3.37c.265.317.481.635.698.976.241-.341.867-1.147.891-1.147a.335.335 0 01.097-.073l-.482-3.296c.024-2.589 1.927-4.688 4.24-4.688h23.123c.626-.88 1.638-1.416 2.746-1.49zM52.305 9.435h-7.37c.505.488.915 1.026 1.156 1.71h6.214c2.337 0 4.24 2.123 4.24 4.76v6.886a6.047 6.047 0 011.686 1.074v-7.96c0-3.564-2.65-6.47-5.926-6.47z"/>
			<path d="M48.331 21.301a6.04 6.04 0 011.759-.097L44.718 5.455a.843.843 0 00-1.06-.537L2.71 19.202c.193.366.386.78.506 1.196.048.146.073.268.12.415L43.418 6.798l4.914 14.503z"/>
			<path d="M58.255 54.458c0 2.612-1.903 4.761-4.24 4.761H6.925c-2.336 0-4.239-2.124-4.239-4.761v-33.84c1.084 1.196 2.577 1.953 4.24 1.953h47.09c2.336 0 4.239 2.124 4.239 4.76v5.446c.144-.074.313-.122.482-.171.289-.05.602-.074.89-.122.121 0 .218 0 .314.024v-5.2c0-3.565-2.65-6.47-5.925-6.47H6.925c-2.337.024-4.24-2.125-4.24-4.737a.86.86 0 00-.843-.855.843.843 0 00-.843.855v38.357c0 3.565 2.65 6.47 5.925 6.47h47.09c3.276 0 5.926-2.905 5.926-6.47v-6.275c-.53.342-1.084.61-1.686.781v5.494z"/>
			<path d="M57.773 49.843H43.37c-5.275 0-9.586-4.028-9.586-8.985 0-2.32.94-4.517 2.673-6.201 1.831-1.807 4.288-2.784 6.913-2.784h14.404c1.927 0 2.554-.659 2.867-1.147a.836.836 0 01.698-.39c.265 0 .554.146.699.39.963 1.514.94 3.613.94 6.055v5.103c.023 2.783.047 5.176-1.422 6.665-.843.88-2.071 1.294-3.782 1.294zM43.345 33.558c-2.168 0-4.24.83-5.732 2.295-1.398 1.367-2.144 3.125-2.144 4.98 0 4.005 3.54 7.277 7.9 7.277h14.404c1.229 0 2.072-.269 2.602-.782.963-.976.94-3.052.94-5.444v-1.221-1.367-1.514-1.026c0-1.587.023-3.003-.242-4.053-.819.586-1.903.855-3.3.855H43.345z"/>
			<path d="M44.092 45.35c-2.457 0-4.432-2.001-4.432-4.467 0-2.466 1.999-4.468 4.432-4.468 2.456 0 4.432 2.002 4.432 4.468a4.43 4.43 0 01-4.432 4.468zm0-7.226a2.758 2.758 0 00-2.746 2.759 2.758 2.758 0 002.746 2.759 2.758 2.758 0 002.746-2.76c.024-1.538-1.229-2.758-2.746-2.758zM8.226 56.265H6.3v-2.686h1.927v2.686zm0-5.128H6.3v-2.441h1.927v2.441zm0-4.883H6.3v-2.441h1.927v2.441zm0-4.639H6.3V38.93h1.927v2.686zm0-5.127H6.3v-2.442h1.927v2.442zm0-4.883H6.3v-2.198h1.927v2.198zm0-4.64H6.3V24.28h1.927v2.686z"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
