
<template>
	<icon-template
		:width="49"
		:height="42"
		name="Logo"
	>
        <path fill="currentColor" fill-rule="evenodd" d="M44.805 14.056a13.754 13.754 0 014.187 1.88V.034c-2.04.883-4.084.883-5.548.883-1.413 0-3.088-.626-8.166-.883a26.546 26.546 0 00-4.5.155c-4.139.519-8.469 1.816-11.202 3.583a24.707 24.707 0 00-6.961 5.455c6.281 2.232 12.352 4.673 18.163 7.323 6.279 2.855 12.3 5.869 18.214 8.984V22.42c-5.183-2.909-9.79-5.404-15.968-8.057 1.253-.623 4.133-1.04 6.33-1.04a20.86 20.86 0 015.451.734zm-14.027 8.62c6.279 2.807 12.3 5.818 18.214 8.987v-3.064c-5.914-3.17-11.935-6.178-18.214-8.987a227.955 227.955 0 00-19.944-7.998 17.561 17.561 0 00-1.307 2.61c7.37 2.533 14.447 5.337 21.25 8.453zM19.473 38.002c3.453 1.816 7.432 2.906 11.305 3.478 2.444.348 4.91.523 7.38.521a23.518 23.518 0 003.034-.21 24.373 24.373 0 012.88-.268 21.447 21.447 0 014.92.47v-1.249c-5.914-3.166-11.935-6.177-18.214-8.984a249.892 249.892 0 00-22.464-8.83c.734 7.02 5.294 12.059 11.159 15.072zM0 5.123v3.064c2.828.78 5.602 1.66 8.322 2.597.84.269 1.676.572 2.512.83a20.408 20.408 0 011.78-2.387c-1.401-.521-2.879-1.04-4.292-1.507A309.28 309.28 0 000 5.123zm0 6.078v3.064c2.828.83 5.602 1.662 8.322 2.594.12.043.243.078.368.105.2-.935.48-1.851.837-2.74a8.126 8.126 0 01-1.205-.413c-2.72-.9-5.5-1.78-8.322-2.61zm8.27 8.664l.052.053a225.886 225.886 0 0122.464 8.828c6.279 2.804 12.3 5.817 18.214 8.984v-3.062c-5.914-3.169-11.935-6.177-18.214-8.986A232.454 232.454 0 008.69 16.964a12.51 12.51 0 00-.368 2.441 1.45 1.45 0 00-.051.46zM0 20.34c2.828.833 5.602 1.716 8.322 2.597v-.363a15.842 15.842 0 01-.103-1.56c-.01-.384.008-.768.052-1.15C5.548 18.993 2.823 18.109 0 17.33v3.011z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
