
<template>
	<icon-template
		:width="220"
		:height="220"
		name="Offices"
	>
        <path fill="url(#C1Wsxp1yQwWt)" fill-rule="evenodd" d="M103.217 61.014c-25.804 3.904-45.869 25.738-46.746 52.171.067-.01.133-.014.2-.014H82.15c.217-14.12 2.965-27.502 8.245-37.536 3.69-7.027 8.046-11.981 12.823-14.62zM71.82 152.746c-9.02-9.316-14.761-21.773-15.332-35.495.061.009.122.014.183.014h25.487c.186 8.951 1.463 17.593 3.676 25.26-.702.364-1.4.74-2.093 1.129-.229.228-.688.455-1.147.682-3.67 2.275-7.111 5.005-10.323 7.963l-.23.227-.22.22zm16.992-11.673c-2.081-7.219-3.262-15.324-3.441-23.808h23.834v18.948a53.576 53.576 0 00-7.569.844c-.23 0-.402.057-.574.114-.172.056-.344.113-.574.113-4.082.779-7.95 2.09-11.676 3.789zm20.393-1.429c-2.274.118-4.514.371-6.652.825-.229 0-.401.057-.573.114-.172.057-.344.114-.574.114a48.996 48.996 0 00-11.486 3.889 61.74 61.74 0 003.227 7.713c4.481 8.686 10.048 13.964 16.058 15.037v-27.692zm4.129 27.767v-27.847c2.489.035 4.801.261 7.113.678.23 0 .402.057.574.113.172.057.344.114.573.114a52.183 52.183 0 0111.732 3.385c-.996 3.005-2.157 5.833-3.474 8.445-4.388 8.909-10.298 14.233-16.518 15.112zm0-31.257v-18.889h24.294c-.173 8.221-1.288 16.085-3.25 23.133-3.949-1.615-8.137-2.702-12.325-3.341-.229 0-.401-.057-.573-.114a1.705 1.705 0 00-.574-.114 50.85 50.85 0 00-7.572-.675zm0-22.983h24.303c-.226-13.417-2.955-25.91-7.785-35.489-4.595-8.907-10.332-14.23-16.518-15.111v50.6zm-4.129-50.526c-6.01 1.073-11.577 6.351-16.058 15.037-4.83 9.578-7.559 22.072-7.785 35.489h23.843V62.645zm28.268 79.154c2.079-7.485 3.202-15.864 3.369-24.534h25.488c.061 0 .121-.004.182-.011-.555 13.321-5.983 25.451-14.553 34.671l-.541-.536c-3.441-3.185-7.112-5.915-11.012-7.962-.229-.228-.688-.455-1.147-.683a42.23 42.23 0 00-1.786-.945zm28.857-28.628c.068 0 .134.003.199.009-.872-26.429-20.756-48.26-46.69-52.165 4.825 2.64 9.223 7.594 12.766 14.62 5.06 10.034 8.01 23.415 8.244 37.536h25.481zm-79.356 32.974c-.392.225-.782.457-1.168.694-.115.114-.287.227-.459.341-.172.114-.344.228-.459.341-3.44 2.275-6.653 4.778-9.405 7.507l-.629.623c7.78 6.905 17.532 11.661 28.285 13.304-4.817-2.642-9.207-7.592-12.745-14.609-1.278-2.534-2.422-5.282-3.42-8.201zm32.808 22.822c4.776-2.639 9.132-7.594 12.823-14.621 1.464-2.783 2.734-5.823 3.809-9.065.416.21.829.426 1.239.648.23.227.688.455.918.455 3.67 2.047 7.112 4.55 10.094 7.507.2.198.4.397.753.595-7.994 7.552-18.257 12.76-29.636 14.481zM111.5 173C79.153 173 53 147.066 53 114.99c0-32.075 26.153-58.009 58.5-58.009S170 82.915 170 114.99c0 32.076-26.153 58.01-58.5 58.01z" clip-rule="evenodd"/>
        <path fill="#fff" d="M149.584 67.9c0 20.474-37.623 54.37-37.623 54.37S74.566 88.602 74.566 67.9c0-20.474 16.748-37.308 37.624-37.308s37.394 16.834 37.394 37.308z"/>
        <path fill="url(#C1Wsxp2yQwWt)" d="M112.189 32.412c-19.73 0-35.788 15.925-35.788 35.488 0 17.517 29.594 46.181 35.788 52.095 6.194-5.914 35.789-34.578 35.789-52.095 0-19.564-16.059-35.488-35.789-35.488zm0 91.678c-.459 0-.917-.227-1.147-.455-1.606-1.365-38.311-34.578-38.311-55.735 0-21.383 17.664-38.9 39.458-38.9 21.565 0 39.23 17.517 39.23 38.9 0 21.157-36.477 54.143-38.083 55.735-.458.228-.917.455-1.147.455z"/>
        <path fill="url(#C1Wsxp3yQwWt)" d="M112.188 52.886c-7.8 0-14.223 6.37-14.223 14.104 0 7.735 6.423 14.105 14.223 14.105 7.8 0 14.224-6.37 14.224-14.105 0-7.734-6.424-14.104-14.224-14.104zm0 31.849c-9.865 0-17.665-7.963-17.665-17.517 0-9.782 8.03-17.517 17.665-17.517 9.865 0 17.665 7.962 17.665 17.517 0 9.554-8.03 17.517-17.665 17.517z"/>
        <defs>
        <linearGradient id="C1Wsxp1yQwWt" x1="166.344" x2="47.881" y1="173" y2="173" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="C1Wsxp2yQwWt" x1="148.96" x2="69.288" y1="124.09" y2="124.09" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="C1Wsxp3yQwWt" x1="128.749" x2="92.978" y1="84.735" y2="84.735" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        </defs>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
