
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Professionalism"
		>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 59.6a7.2 7.2 0 017.2-7.2H56V2H15.2A7.2 7.2 0 008 9.2v50.4zM8 59.6V62h43.2"/>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M46.4 2v28.8l-9.603-7.2-9.598 7.2V2"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
