
<template>
	<icon-template
		:width="80"
		:height="80"
		name="Tools"
		>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M22.554 75H12.022a7.033 7.033 0 01-4.965-2.05A6.989 6.989 0 015 68V43.5a6.99 6.99 0 012.057-4.95 7.033 7.033 0 014.965-2.05h10.532m24.576-7v-14c0-2.785-1.11-5.456-3.085-7.425A10.549 10.549 0 0036.597 5L22.554 36.5V75h39.602a7.035 7.035 0 004.627-1.666 6.995 6.995 0 002.395-4.284l4.845-31.5a6.978 6.978 0 00-1.644-5.644 7.02 7.02 0 00-5.378-2.406H47.13z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
