<template>
	<icon-template
		:width="64"
		:height="64"
		name="Transparency"
		>
		<g fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
			<path d="M32 27c-12.857 0-18 12.001-18 12.001S19.143 51 32 51s18-11.999 18-11.999S44.857 27 32 27z"/>
			<path d="M31.848 45.56c3.569 0 6.462-2.937 6.462-6.56 0-3.623-2.893-6.56-6.462-6.56-3.568 0-6.461 2.937-6.461 6.56 0 3.623 2.893 6.56 6.461 6.56z"/>
			<path d="M56.3 63H7.7a2.763 2.763 0 01-1.91-.757A2.528 2.528 0 015 60.417V3.583c0-.685.284-1.342.79-1.826A2.763 2.763 0 017.7 1h32.4L59 19.083v41.334c0 .339-.07.675-.206.988a2.58 2.58 0 01-.585.838c-.25.24-.548.43-.876.56-.327.13-.678.197-1.033.197z"/>
			<path d="M39.234 0v19.349h19.35"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
