
<template>
	<icon-template
		:width="44"
		:height="44"
		name="Call"
	>
        <path fill="currentColor" d="M33.63 29.351l-5.457-3.52a.984.984 0 00-1.358.2l-.023.022c-.4.58-1.247 1.805-1.403 2.028-.29.111-2.516.869-6.258-2.875l-.089-.089-.089-.089-.089-.067-.089-.089c-3.763-3.744-3.006-5.972-2.895-6.262.223-.156 1.448-1.025 2.027-1.404a.997.997 0 00.267-1.36l-.022-.021-3.519-5.482a.174.174 0 00-.09-.09.895.895 0 00-1.224-.022c-.78.736-2.494 2.43-2.761 3.009a5.764 5.764 0 00-.245 4.345 24.917 24.917 0 005.968 9.694c.045.044.089.089.134.111l.2.2c.045.045.09.09.111.134a24.578 24.578 0 009.688 5.973c1.425.467 2.984.4 4.342-.246.58-.267 2.272-1.983 3.007-2.785a.882.882 0 00-.045-1.248c-.022-.022-.067-.045-.089-.067z"/>
        <path fill="currentColor" stroke="currentColor" d="M26.667 11.5h-.5v2.067h2.807l-5.328 5.327-.353.354.353.354.752.752.354.353.354-.353 5.327-5.328v2.807H32.5V11.5h-5.833z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
