
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Moex"
	>
		<defs>
			<linearGradient id="KMLqw4IHGR" x1="25.275" x2="31.564" y1="25.678" y2="31.967" gradientUnits="userSpaceOnUse">
				<stop stop-color="#fff"/>
				<stop offset="1" stop-color="#C8102E"/>
			</linearGradient>
			<linearGradient id="WIP1XN9xmM" x1="37.902" x2="31.614" y1="38.304" y2="32.016" gradientUnits="userSpaceOnUse">
				<stop stop-color="#fff"/>
				<stop offset="1" stop-color="#C8102E"/>
			</linearGradient>
		</defs>
		<circle cx="32" cy="32" r="32" fill="#C8102E"/>
		<path fill="#fff" d="M12 18.007v27.44l6.553 4.213 12.989-13.047L44.589 49.66l6.611-4.213v-27.44l-6.611-3.686L31.6 27.368 18.553 14.321 12 18.007zM36.222 31.99l8.367-8.366v16.733l-8.367-8.367zm-17.67 8.367V23.624l8.367 8.366-8.366 8.367z"/>
		<path fill="url(#KMLqw4IHGR)" d="M33.94 29.65l-4.68 4.68-6.32-6.377 4.622-4.622 6.378 6.319z"/>
		<path fill="url(#WIP1XN9xmM)" d="M29.26 34.33l4.68-4.68 6.32 6.377-4.623 4.623-6.377-6.32z"/>
		<path fill="#fff" d="M34.818 24.15l4.622 4.68-11.058 11-4.68-4.622L34.817 24.15z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
