
<template>
	<icon-template
		:width="44"
		:height="44"
		name="Location"
		>
		<path fill="currentColor" d="M22 35a42.781 42.781 0 01-5-5.1c-2.286-2.759-5-6.87-5-10.786-.002-4.09 2.435-7.779 6.173-9.344a9.921 9.921 0 0110.901 2.194A10.1 10.1 0 0132 19.114c0 3.917-2.714 8.027-5 10.787A42.775 42.775 0 0122 35zm0-23.106c-3.943.004-7.138 3.235-7.143 7.22 0 1.684.753 4.6 4.336 8.934A40.19 40.19 0 0022 31.1a40.407 40.407 0 002.808-3.049c3.582-4.34 4.335-7.255 4.335-8.938-.005-3.986-3.2-7.216-7.143-7.22zm0 11.553c-2.367 0-4.286-1.94-4.286-4.333 0-2.392 1.919-4.332 4.286-4.332 2.367 0 4.286 1.94 4.286 4.332a4.357 4.357 0 01-1.256 3.064A4.262 4.262 0 0122 23.447z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
