
<template>
	<icon-template
		:width="70"
		:height="60"
		name="Exchange"
	>
        <path fill="currentColor" fill-rule="evenodd" d="M5.44 60C2.443 60 0 57.424 0 54.263V5.737C0 2.576 2.443 0 5.44 0h59.12C67.558 0 70 2.576 70 5.737v48.468c0 3.16-2.442 5.736-5.44 5.736H5.44V60zm-1.055-4.566h61.34V4.624H4.386v50.81zm41.579-9.249v-21.95h4.385v21.892h-4.385v.058zm-13.101 0V13.873h4.33v32.312h-4.33zm-13.156 0V27.688h4.385v18.439h-4.385v.058z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
