
<template>
	<icon-template
		:width="30"
		:height="48"
		name="Gazprom"
	>
		<path fill="#0079C2" d="M27.713 8.517C26.65 4.137 23.987.576 23.62 0c-.58.817-2.705 3.964-3.785 7.446-1.18 3.896-1.353 7.351-.946 10.74.404 3.4 1.93 6.896 1.93 6.896.812 1.82 2.027 3.79 2.818 4.753 1.16-1.419 3.824-5.65 4.655-11.168.463-3.08.483-5.771-.579-10.15zm-4.093 20.22c-.522-.923-1.333-2.678-1.41-5.41-.02-2.624 1.1-4.887 1.427-5.356.291.469 1.256 2.437 1.371 5.129.079 2.624-.849 4.7-1.388 5.637zm3.784-12.788c-.04 1.674-.251 3.441-.522 4.5.097-1.822-.135-4.38-.579-6.388-.444-1.996-1.7-5.343-2.703-6.883-.926 1.473-2.068 4.365-2.665 6.87-.6 2.504-.618 5.543-.618 6.454-.159-.763-.557-3.509-.445-6.254.094-2.263.657-4.606.966-5.678 1.178-3.575 2.511-5.865 2.762-6.227.25.362 1.93 3.188 2.8 6.147.866 2.96 1.041 5.798 1.004 7.459z"/>
		<path fill="#0079C2" d="M25.423 30.853h-8.08v5.102c.007 0 .012-.013.02-.013 1.903-1.794 4.99-1.794 6.896 0 1.904 1.781 1.904 4.687 0 6.481-.009.014-.017.014-.026.027-.01 0-.02.014-.028.027-1.9 1.768-4.38 2.651-6.862 2.651-2.493 0-4.986-.883-6.887-2.678-3.352-3.147-3.749-8.035-1.193-11.597a9.418 9.418 0 011.193-1.366c1.901-1.794 4.394-2.678 6.887-2.678V14.543C7.764 14.543 0 21.84 0 30.853c0 9.013 7.764 16.324 17.343 16.324 4.994 0 9.493-1.995 12.657-5.169V30.853h-4.577z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
