<template>
	<icon-template
		:width="42"
		:height="42"
		name="Gplay"
	>
        <path fill="currentColor" fill-rule="evenodd" d="M13.75 7.948c-.603-.316-1.206-.63-1.808-.948h-1.111l-.557.202-.655.237 5.716 5.313c2.304 2.14 4.58 4.256 6.82 6.339l4.216-4.24c-.843-.468-1.691-.942-2.544-1.418h-.003a752.744 752.744 0 00-5.959-3.302 256.277 256.277 0 00-4.115-2.183zM10.2 34.767l.63.233h1.112c.166-.075.334-.148.501-.22.375-.162.75-.323 1.107-.52 2.619-1.441 5.232-2.894 7.845-4.347h.001l1.652-.919c1.001-.556 2.001-1.116 3.012-1.681l1.474-.824-3.07-2.852-.003-.002c-.687-.639-1.365-1.27-2.035-1.891L9.686 34.577l.514.19zM8.25 8.576c4.357 4.048 8.545 7.94 12.678 11.778l-6.33 6.377-.001.002-6.402 6.449a9.542 9.542 0 00-.12-.488c-.095-.366-.194-.743-.196-1.12-.022-7.05-.022-14.102 0-21.154.002-.369.097-.736.206-1.156.055-.214.114-.44.166-.688zm21.233 7.996c-.433-.235-.862-.468-1.285-.704a7200.473 7200.473 0 00-4.537 4.575c-.006-.02-.003.03.024.056l.203.189a818.514 818.514 0 005.058 4.694c.095.088.35.11.468.046.209-.112.418-.223.628-.333.81-.427 1.62-.855 2.381-1.358 2.023-1.34 2.012-4.231-.033-5.51-.95-.595-1.936-1.129-2.907-1.655z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
