
<template>
	<icon-template
		:width="44"
		:height="44"
		name="Email"
		>
		<path fill="currentColor" d="M31.6 32H12.4c-1.325 0-2.4-1.12-2.4-2.5V14.391C10.056 13.053 11.114 12 12.4 12h19.2c1.325 0 2.4 1.12 2.4 2.5v15c0 1.38-1.075 2.5-2.4 2.5zM12.4 16.835V29.5h19.2V16.835L22 23.5l-9.6-6.665zm.96-2.335l8.64 6 8.64-6H13.36z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
