<template>
	<icon-template
		:width="64"
		:height="64"
		name="Borrowing"
		>
		<path fill="currentColor" fill-rule="evenodd" d="M14.695 16.427c.554.494 1.109.988 1.656 1.49l.061.056c.223.203.457.416.591.674.25.48.02 1.145-.417 1.432-.397.26-1.066.151-1.458-.209l-.552-.504c-1.267-1.16-2.533-2.318-3.82-3.455a8.537 8.537 0 0 0-.186-.159c-.37-.309-.73-.61-.648-1.176.037-.254.13-.56.308-.725A295.421 295.421 0 0 1 15.082 9.4c.523-.468.993-.506 1.518-.209.403.228.588.619.498 1.04a1.765 1.765 0 0 1-.5.852c-.259.246-.522.488-.787.732-.583.538-1.172 1.08-1.74 1.683h9.123c13.118.001 26.237.002 39.356-.013.84-.001 1.453.402 1.45 1.415a6129.7 6129.7 0 0 0-.018 24.106l.002 4.381c0 .513-.173.882-.684 1.057-.54.184-.97.118-1.268-.326-.16-.238-.24-.577-.242-.87-.011-4.493-.01-8.985-.01-13.479v-5.445c-.002-2.688-.003-5.375.01-8.062.001-.434-.116-.571-.562-.571-12.65.009-25.298.01-37.947.01h-8.756c-.097 0-.194.008-.291.016l-.138.01-.055.118.653.583ZM2.298 48.98h47.847l-.769-.685a87.346 87.346 0 0 0-1.672-1.468c-.67-.569-.857-.962-.656-1.552.262-.771 1.208-1.033 1.806-.492.509.46 1.016.923 1.523 1.386h.001c.595.543 1.19 1.086 1.79 1.626.209.19.424.372.639.555v.001c.313.266.625.532.92.816.647.622.651 1.268-.01 1.872-1.491 1.366-3 2.712-4.507 4.06l-.43.384c-.406.362-1.219.294-1.55-.11a1.234 1.234 0 0 1 .148-1.689 35.652 35.652 0 0 0 2.63-2.436H14.965l-3.381-.002c-3.381-.002-6.762-.005-10.142.015-.765.004-1.37-.459-1.367-1.349.024-7.5.022-15 .02-22.5l-.001-6.037c0-.593.253-.984.738-1.145.38-.127 1.01.043 1.23.418a1.8 1.8 0 0 1 .224.878c.01 7.737.01 15.475.01 23.213l-.001 3.57c.002.2.002.398.002.67ZM33.935 33.5c.946.472 1.846 1.355 1.81 2.468.098 1.176-.806 2.141-1.728 2.576a4.62 4.62 0 0 1-2.715.403c-1.419-.208-3.04-1.338-2.976-2.949.023-.577-.452-1.022-1.021-1.07-.59-.048-1.069.27-1.16.868-.064.409-.089.86.016 1.252.474 1.776 1.588 3.017 3.302 3.692l.047.018c1.015.4 1.021.402 1.03 1.538.003.58.39 1.048.94 1.14.586.096 1.106-.215 1.261-.824.049-.192.059-.394.068-.597.008-.16.016-.32.042-.476.026-.144.153-.374.254-.385 1.142-.126 2.11-.593 3.012-1.303 1.635-1.287 2.19-3.158 1.771-4.886-.517-2.127-2.033-3.352-4.07-3.928-.637-.18-1.292-.292-1.948-.404-.392-.067-.783-.135-1.172-.216-.91-.193-1.753-1.007-1.849-1.835-.11-.953.316-1.694 1.095-2.218.866-.583 1.809-.764 2.852-.56 1.242.244 2.374 1.089 2.454 2.475.034.598.518 1.09 1.083 1.135.433.035 1.002-.36 1.1-.879a2.851 2.851 0 0 0-.032-1.192c-.447-1.78-1.613-2.917-3.313-3.527l-.043-.016c-.895-.32-.9-.322-.903-1.309-.002-.722-.475-1.268-1.1-1.27-.62-.004-1.1.549-1.102 1.266v.003c-.004 1.004-.004 1.006-.943 1.322-2.05.69-3.657 2.68-3.379 4.979.205 1.698 1.64 3.44 3.56 3.835.37.076.743.131 1.117.187.898.133 1.795.267 2.64.688Zm22.237-5.045c-1.406-.206-2.601-.76-3.672-1.567-1.361-1.027-2.27-2.394-2.834-3.99a5.963 5.963 0 0 1-.293-1.23c-.045-.352-.173-.47-.53-.468-2.886.013-5.772.018-8.658-.008-.312-.003-.678-.152-.922-.351-.297-.242-.541-.595-.358-1.042.216-.523.554-.892 1.168-.893.788-.002 1.576-.001 2.365-.001h7.644c.919 0 1.355.467 1.387 1.389.097 2.804 1.873 5.172 4.7 5.894.363.093.75.11 1.128.122.775.025 1.177.439 1.178 1.26V40.482c0 .278.002.557.004.835.003.64.007 1.279-.008 1.918-.023.998-.94 1.52-1.749 1.012-.414-.261-.544-.68-.544-1.132-.006-2.529-.005-5.057-.005-7.586v-7.074ZM15.088 43.74h-.531c-.126-1.143-.697-2.717-1.34-3.648-1.283-1.862-3.003-3.1-5.241-3.547-.314-.062-.375-.185-.372-.455.007-.565.005-1.129.004-1.693v-3.705c0-3.03 0-6.059-.002-9.088 0-.628-.497-1.095-1.146-1.096a1.056 1.056 0 0 0-1.053 1.075c-.002 5.317-.002 10.634 0 15.952 0 .678.416 1.064 1.11 1.102.407.023.822.065 1.215.167 2.981.775 4.52 3.247 4.677 5.99.048.83.446 1.247 1.303 1.247h9.914c.82 0 1.302-.423 1.304-1.138.003-.748-.471-1.163-1.33-1.163h-8.512ZM.091 14.589c.063-.275.126-.55.267-.774.272-.434.737-.487 1.223-.316.48.17.715.512.713 1.004v.128c-.001.37-.002.745-.085 1.098-.14.594-.629.862-1.245.77-.488-.073-.865-.538-.867-1.071v-.45a3.252 3.252 0 0 0-.097-.03c.035-.117.063-.238.09-.36ZM63.983 49.88l-.001-.138v-.088l-.001-.263c-.003-.637-.534-1.23-1.097-1.227-.482.004-1.087.653-1.103 1.193-.008.267-.013.534 0 .8.035.637.467 1.089 1.028 1.09.798.004 1.12-.285 1.17-1.056.008-.103.006-.207.004-.31Z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
