
<template>
	<icon-template
		:width="32"
		:height="32"
		name="Positive"
		>
        <path fill="transparent" stroke="#1ED4B3" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" d="M16 30c7.732 0 14-6.268 14-14S23.732 2 16 2 2 8.268 2 16s6.268 14 14 14z"/>
        <path fill="transparent" stroke="#1ED4B3" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" d="M13.082 11.917h7v7M11.918 20.084l8.167-8.167"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
