
<template>
	<icon-template
		:width="24"
		:height="24"
		name="ChewronDown"
	>
        <path fill="currentColor" fill-rule="evenodd" d="M7.293 9l4.207 4.327L15.707 9 17 10.332 11.5 16 6 10.332 7.293 9z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
