
<template>
	<icon-template
		:width="64"
		:height="64"
		name="SolidApp"
	>
		<defs>
			<linearGradient id="hFyXFYpj5k" x1="0.20589" y1="54.6315" x2="65.0138" y2="54.8093" gradientUnits="userSpaceOnUse">
				<stop stop-color="#fff" stop-opacity="0"/>
				<stop offset="0.631171" stop-color="#fff" stop-opacity="0.6"/>
				<stop offset="0.789618" stop-color="#fff"/>
				<stop offset="0.905802" stop-color="#fff" stop-opacity="0.522986"/>
				<stop offset="1" stop-color="#fff" stop-opacity="0"/>
			</linearGradient>
		</defs>
		<rect width="64" height="64" rx="13" fill="#63002F"/>
		<path d="M-9.86621 61.6241C-8.73725 61.2767 -6.11699 58.9461 -4.51019 60.5529C-2.90338 62.1597 1.91704 65.3733 2.98825 63.2309C4.05945 61.0885 5.66626 55.1969 8.24013 58.2766C10.814 61.3563 14.0276 64.2426 15.7386 58.9163C17.4495 53.59 20.5587 50.3467 23.2368 50.3467C25.9149 50.3467 27.6853 62.6656 30.7352 57.3095C33.7852 51.9535 33.7977 47.6507 37.1625 47.1331C40.4735 46.6237 39.3049 51.9535 43.5897 51.9535C47.8745 51.9535 49.4813 21.9598 54.3017 20.3529C59.1222 18.7461 56.4441 9.6409 65.0138 3.74927" stroke="url(#hFyXFYpj5k)" stroke-linecap="round" stroke-linejoin="round" fill="transparent"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M40.9122 15.7536C42.0003 16.0383 43.0327 16.5062 43.9658 17.1373V5.38074C42.477 6.03527 40.9883 6.03527 39.9197 6.03527C38.8892 6.03527 37.6685 5.57404 33.9647 5.38074C32.8676 5.32469 31.7677 5.36375 30.6772 5.49749C27.6617 5.88025 24.494 6.83715 22.5014 8.1462C20.5872 9.1741 18.8727 10.5407 17.44 12.1805C22.0184 13.8321 26.4467 15.6388 30.6772 17.5985C35.2576 19.7037 39.6478 21.939 43.9601 24.2432V21.9467C40.184 19.7879 36.8281 17.943 32.3257 15.9832C33.2403 15.5239 35.3393 15.2177 36.9422 15.2177C38.2834 15.2185 39.6185 15.3993 40.9122 15.7555V15.7536ZM30.6772 22.1305C35.2576 24.2051 39.6478 26.4327 43.9601 28.7772V26.5093C39.6535 24.1668 35.2633 21.9391 30.6772 19.8646C26.0208 17.7134 21.1704 15.7154 16.1356 13.949C15.7664 14.5592 15.4484 15.1993 15.185 15.8628C20.5696 17.7517 25.7223 19.8263 30.6772 22.1305ZM22.4384 33.4639C24.9577 34.8036 27.8591 35.6151 30.6827 36.038C32.4655 36.2947 34.2644 36.4226 36.0654 36.4208C36.8057 36.4173 37.545 36.3656 38.2786 36.2657C38.9713 36.1601 39.6697 36.0962 40.3701 36.0744C41.5753 36.0497 42.7793 36.166 43.9579 36.4208V35.4983C39.6456 33.1539 35.2554 30.9262 30.675 28.8517C25.4463 26.4709 20.0274 24.2796 14.3025 22.3198C14.8367 27.5062 18.1565 31.2324 22.4308 33.462L22.4384 33.4639ZM8.24121 9.14722V11.4132C10.3023 11.9873 12.3253 12.6418 14.3103 13.327C14.9207 13.5184 15.531 13.748 16.1414 13.9413C16.5309 13.3208 16.9649 12.7298 17.44 12.1729C16.4094 11.7902 15.3485 11.4074 14.3103 11.0591C12.3253 10.4142 10.3023 9.76155 8.24121 9.14722ZM8.24121 13.6409V15.9068C10.3023 16.5231 12.3253 17.1374 14.3103 17.8206C14.3976 17.8512 14.4864 17.8768 14.5765 17.8972C14.7232 17.2074 14.9273 16.5314 15.1869 15.8762C14.8872 15.7973 14.5941 15.6949 14.3103 15.57C12.3253 14.9078 10.3023 14.2552 8.24121 13.6409ZM14.2727 20.0559L14.3107 20.0942C19.8785 21.9752 25.342 24.1556 30.6776 26.626C35.258 28.7006 39.6482 30.9283 43.9605 33.2708V31.0048C39.6482 28.6623 35.258 26.4327 30.6776 24.3601C25.4244 21.9316 20.0504 19.777 14.5769 17.9048C14.4294 18.4941 14.3402 19.0967 14.3107 19.7038C14.2794 19.8157 14.2665 19.9321 14.2727 20.0483V20.0559ZM8.24121 20.4022C10.3023 21.0165 12.3253 21.6691 14.3103 22.316V22.0481C14.2723 21.6653 14.2324 21.2825 14.2324 20.8998C14.2248 20.6172 14.2382 20.3345 14.2723 20.0539C12.2873 19.4032 10.3023 18.7467 8.24121 18.1726V20.4022Z" fill="#fff"/>
		<path d="M54.3018 -2.3412e-08L54.3018 64.2723" stroke="#fff" fill="transparent"/>
		<circle cx="54.3025" cy="20.3529" r="3.21361" fill="#fff"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
