
<template>
	<icon-template
		:width="64"
		:height="64"
		name="MoneyBox"
		>
		<path fill="currentColor" d="M5.612 31.427c-1.635-.583-3.015-1.498-4.103-2.847-2.159-2.673-1.99-6.955.432-9.274.494-.473 1.118-.828 1.727-1.144.656-.339 1.45.016 1.774.718.316.678.07 1.585-.617 1.838-2.344.86-2.768 4.724-.74 6.561.694.631 1.62 1.191 2.375 1.404.278-.623.54-1.262.84-1.877 1.312-2.72 3.209-4.93 5.622-6.696 3.139-2.295 6.57-3.959 10.342-4.803 1.658-.37 3.354-.599 5.043-.757a26.425 26.425 0 014.18-.07c1.503.094 3 .354 4.495.56.44.063.88.165 1.32.268.2.047.292-.016.392-.198 1.342-2.484 3.2-4.463 5.6-5.907a16.156 16.156 0 014.618-1.869c.964-.228 1.75.884 1.48 1.72-.315.977-.662 1.948-.978 2.925-.625 1.948-1.088 3.928-1.142 5.986-.008.26.047.395.286.505 2.914 1.34 5.251 3.375 6.955 6.151a15.415 15.415 0 012.013 5.182c.054.284.147.402.447.394a80.205 80.205 0 012.383 0c1.99.032 3.625 1.68 3.632 3.707.016 2.31.016 4.621 0 6.932-.015 2.114-1.642 3.738-3.747 3.77-.718.008-1.443.023-2.16-.008-.44-.016-.67.181-.879.552-.655 1.167-1.272 2.366-2.036 3.454-1.496 2.145-3.424 3.817-5.69 5.079l-.232.142c-.023.016-.03.04-.046.063.285.789.586 1.562.84 2.358.57 1.798-.247 3.849-1.935 4.59a61.978 61.978 0 01-5.19 2.003c-1.612.544-3.486-.34-4.242-1.932-.455-.946-.81-1.948-1.164-2.942-.1-.276-.2-.315-.463-.3-2.136.142-4.264.308-6.4.38-1.905.062-3.78-.261-5.63-.703-.355-.087-.493.032-.594.324-.308.883-.632 1.766-.933 2.65-.694 2.05-2.838 3.154-4.827 2.452-1.496-.528-2.992-1.072-4.457-1.68-2.275-.938-3.185-3.21-2.175-5.591.378-.9.678-1.838 1.033-2.745.124-.307.039-.504-.185-.71-1.033-.954-2.12-1.86-3.077-2.902-2.213-2.42-3.794-5.22-4.45-8.51-.362-1.813-.354-3.65-.223-5.48.085-1.167.308-2.327.47-3.494.016-.07.016-.142.016-.229zm41.102-20.094c-1.511.67-2.868 1.522-4.002 2.713-.902.954-1.588 2.042-2.136 3.241-.362.797-.956 1.128-1.727.939a31.865 31.865 0 00-5.645-.884c-3.116-.197-6.2-.031-9.246.678-3.216.75-6.17 2.114-8.907 3.999-2.992 2.066-5.113 4.795-6.231 8.32-.78 2.46-1.034 4.984-.964 7.555.03 1.357.262 2.682.74 3.951 1.21 3.273 3.347 5.82 6 7.958 1.187.954 1.635 2.334 1.133 3.77a169.335 169.335 0 01-1.195 3.312c-.277.749-.054 1.262.686 1.546 1.388.536 2.777 1.064 4.165 1.6.663.26 1.195.048 1.465-.63.3-.773.563-1.57.879-2.343.247-.615.47-1.27.856-1.782.679-.915 1.681-1.025 2.714-.78 2.044.48 4.11.796 6.208.693 1.812-.087 3.632-.228 5.445-.394 1.496-.134 2.483.402 3 1.75.37.947.717 1.901 1.071 2.863.224.616.748.892 1.35.67a433.988 433.988 0 004.45-1.718c.516-.206.732-.702.562-1.246-.092-.3-.2-.592-.3-.892-.216-.654-.532-1.3-.617-1.971-.193-1.444.601-2.382 1.727-3.115.833-.545 1.673-1.08 2.437-1.712 1.835-1.522 3.116-3.486 4.126-5.654.563-1.2 1.534-1.854 2.807-1.98.856-.087 1.72-.047 2.575-.055.764-.008 1.05-.292 1.05-1.065v-6.538c0-.796-.294-1.088-1.065-1.096-.949-.016-1.905.016-2.838-.094-1.242-.142-2.213-1.05-2.421-2.106-.062-.323-.108-.647-.178-.962-.563-2.453-1.665-4.598-3.447-6.357-1.388-1.372-3.015-2.326-4.82-2.989-.717-.26-1.04-.741-1.04-1.514 0-1.514.161-3.005.516-4.48.231-1.064.525-2.113.818-3.201z"/>
		<path fill="currentColor" d="M15.989 15.079l-2.406 1.207c-1.442-2.548-1.689-7.035.71-10.6 2.83-4.203 8.027-5.78 12.546-3.904 4.627 1.925 6.663 6.538 6.493 9.89h-2.73c-.108-2.815-1.234-5.047-3.547-6.577-1.85-1.23-3.887-1.522-6.007-1.002-4.311 1.073-7.18 6.018-5.06 10.986zM47.915 35.725c-1.427.016-2.63-1.214-2.645-2.697-.016-1.506 1.164-2.736 2.637-2.752 1.458-.008 2.669 1.19 2.685 2.658.007 1.545-1.173 2.784-2.677 2.791z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
