
<template>
	<icon-template
		:width="64"
		:height="64"
		name="MoexCurrency"
	>
		<circle cx="32" cy="32" r="32" fill="#1ED4B3"/>
		<path fill="#fff" d="M57.33 30.264c0-6.989-5.687-12.675-12.676-12.675-4.255 0-8.023 2.109-10.323 5.334a16.205 16.205 0 00-3.196-.354c-1.048-5.447-5.848-9.576-11.597-9.576-6.514 0-11.812 5.299-11.812 11.812 0 4.915 3.017 9.136 7.296 10.913a16.24 16.24 0 00-.292 3.065C14.73 47.725 22.005 55 30.946 55c7.564 0 13.934-5.205 15.718-12.221 6.037-.967 10.665-6.21 10.665-12.515zM30.946 53.188c-7.944 0-14.405-6.462-14.405-14.405 0-7.942 6.462-14.405 14.404-14.405 7.943 0 14.405 6.463 14.405 14.405 0 7.943-6.462 14.405-14.404 14.405zM18.85 14.828c5.074-.342 9.416 3.126 10.452 7.822a16.11 16.11 0 00-7.091 2.476.26.26 0 00-.26-.26h-.993l1.976-3.961a1.087 1.087 0 10-1.946-.97l-1.45 2.909-1.45-2.91a1.087 1.087 0 00-1.946.97l1.975 3.962h-.683a.569.569 0 00-.569.569v.02c0 .315.255.57.569.57h3.514c-.224.175-.442.356-.655.543h-2.86a.569.569 0 000 1.137h1.682c-.166.177-.328.359-.487.543l-.177.21a16.201 16.201 0 00-2.981 5.479c-3.638-1.627-6.135-5.362-5.92-9.645.252-5.025 4.279-9.127 9.3-9.465zM47.03 36.7c.108.01.215.015.323.015a4.015 4.015 0 001.318-.231.926.926 0 00.544-1.26l-.124-.273a.95.95 0 00-1.156-.513l-.008.002c-.426.136-.721.136-1.149 0a3.804 3.804 0 01-.229-.083 16.116 16.116 0 00-1.474-3.526h.979a.656.656 0 100-1.313h-1.806a16.362 16.362 0 00-1.525-1.871c0-.003-.002-.005-.003-.007a2.077 2.077 0 012.072-2.178c.9 0 1.668.576 1.955 1.379.15.423.564.696 1.014.696.744 0 1.282-.736 1.03-1.436a4.256 4.256 0 00-3.999-2.812 4.254 4.254 0 00-3.94 2.664 16.198 16.198 0 00-4.645-2.51 10.845 10.845 0 019.01-4.028c5.59.284 10.096 4.866 10.294 10.459.188 5.345-3.509 9.875-8.481 10.99a16.288 16.288 0 000-4.164z"/>
		<path fill="#fff" d="M28.496 42.126a1.103 1.103 0 00-2.205 0 4.663 4.663 0 003.553 4.522v.592a1.103 1.103 0 102.205 0v-.592a4.663 4.663 0 003.553-4.522 4.663 4.663 0 00-3.553-4.522v-4.768a2.45 2.45 0 011.347 2.185 1.103 1.103 0 002.206 0 4.663 4.663 0 00-3.553-4.522v-.593a1.103 1.103 0 00-2.205 0v.593a4.663 4.663 0 00-3.553 4.522 4.663 4.663 0 003.553 4.522v4.768a2.45 2.45 0 01-1.348-2.185zm4.9 0c0 .954-.549 1.78-1.347 2.185v-4.37a2.451 2.451 0 011.347 2.185zm-4.9-7.105c0-.954.55-1.78 1.348-2.185v4.37a2.45 2.45 0 01-1.348-2.185z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
