
<template>
	<icon-template
		:width="44"
		:height="44"
		name="MenuToggle"
	>
        <path class="burger" fill="currentColor" d="M10 12h24v3H10zM10 21h24v3H10zM10 30h24v3H10z"/>
        <g class="cross" fill="transparent">
            <path d="M11.5 30.667L30.167 12l2.334 2.333L13.834 33z"/>
            <path d="M13.833 12L32.5 30.667 30.167 33 11.5 14.333z"/>
        </g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
