
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Universality"
		>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M31.998 48.85c9.306 0 16.85-7.544 16.85-16.85 0-9.306-7.544-16.85-16.85-16.85-9.306 0-16.85 7.544-16.85 16.85 0 9.306 7.544 16.85 16.85 16.85z"/>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M58.478 29.593l3.101-4.652a2.463 2.463 0 00.322-2.066 31.05 31.05 0 00-2.302-5.57 2.451 2.451 0 00-1.686-1.228l-5.488-1.098-3.404-3.404-1.098-5.488a2.45 2.45 0 00-1.229-1.686 31.058 31.058 0 00-5.569-2.302 2.462 2.462 0 00-2.066.322l-4.652 3.1h-4.814l-4.651-3.1a2.462 2.462 0 00-2.067-.322A31.054 31.054 0 0017.306 4.4a2.45 2.45 0 00-1.23 1.686l-1.097 5.488-3.404 3.404-5.487 1.097a2.452 2.452 0 00-1.687 1.23 31.051 31.051 0 00-2.302 5.569 2.462 2.462 0 00.322 2.066l3.1 4.652v4.814l-3.1 4.651a2.463 2.463 0 00-.322 2.067A31.043 31.043 0 004.4 46.694a2.451 2.451 0 001.686 1.229l5.488 1.098 3.404 3.404 1.098 5.487a2.45 2.45 0 001.228 1.687 31.036 31.036 0 005.57 2.302 2.462 2.462 0 002.066-.322l4.652-3.101h4.814l4.652 3.101a2.462 2.462 0 002.066.322 31.045 31.045 0 005.569-2.302 2.452 2.452 0 001.229-1.686l1.098-5.488 3.404-3.404 5.487-1.098a2.452 2.452 0 001.687-1.229 31.05 31.05 0 002.303-5.569 2.465 2.465 0 00-.323-2.066l-3.101-4.652v-4.814z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
