
<template>
	<icon-template
		:width="64"
		:height="64"
		name="MoexUrgent"
	>
		<circle cx="32" cy="32" r="32" fill="#660035"/>
		<path fill="#fff" d="M7.115 39h2.952v-4.95h3.636v-2.106h-3.636v-3.312h4.176l.306-2.106H7.115V39zm13.477-12.78c-3.51 0-5.616 2.466-5.616 6.534 0 4.158 2.106 6.552 5.616 6.552 3.528 0 5.634-2.466 5.634-6.552 0-4.158-2.106-6.534-5.634-6.534zm0 2.16c1.674 0 2.538 1.224 2.538 4.374 0 3.168-.846 4.392-2.538 4.392-1.62 0-2.52-1.224-2.52-4.392 0-3.15.864-4.374 2.52-4.374zM34.658 39h3.33l-3.169-5.31c1.62-.738 2.395-1.728 2.395-3.366 0-2.592-1.746-3.798-5.13-3.798h-4.087V39h2.953v-4.77h1.152L34.657 39zm-3.709-10.404h1.062c1.458 0 2.16.522 2.16 1.728 0 1.314-.684 1.872-1.98 1.872H30.95v-3.6zm16.338-2.07h-9.54v2.268h3.222V39h2.952V28.794H47l.288-2.268zm4.852-.306c-2.593 0-4.5 1.404-4.5 3.6 0 1.854 1.025 3.006 3.816 3.87 1.818.558 2.285.972 2.285 1.89 0 .954-.756 1.53-1.98 1.53-1.241 0-2.231-.45-3.15-1.224l-1.493 1.638c1.026.99 2.574 1.782 4.733 1.782 3.114 0 4.95-1.62 4.95-3.942 0-2.304-1.35-3.276-3.707-4.032-1.945-.612-2.413-.936-2.413-1.728 0-.792.648-1.224 1.675-1.224 1.008 0 1.872.342 2.736 1.044l1.367-1.602c-1.097-1.044-2.411-1.602-4.32-1.602z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
