
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Flexible"
	>
		<path fill="currentColor" d="M60.96 29.593c-3.15-3.176-6.309-6.335-9.485-9.485-.915-.906-2.028-1.13-3.219-.621-1.182.51-1.786 1.45-1.795 2.744a95.593 95.593 0 00.009 3.15c.008.363-.112.492-.458.57a25.069 25.069 0 00-6.636 2.494c-.345.19-.69.388-1.07.595a2.501 2.501 0 01-.026-.302c0-4.323 0-8.656-.009-12.98 0-.362.173-.396.45-.396 1.018.008 2.044.026 3.063.017 1.329-.008 2.313-.604 2.813-1.838.492-1.208.233-2.322-.69-3.245-3.15-3.133-6.274-6.265-9.415-9.39-1.217-1.216-3.03-1.199-4.246.018-3.081 3.08-6.162 6.162-9.243 9.234-1.01 1.01-1.32 2.218-.829 3.417.475 1.157 1.537 1.813 2.97 1.813.966 0 1.924-.009 2.89-.026.31-.009.483.052.466.423-.026.457.017.915.009 1.372-.009 3.426-.017 6.843-.017 10.27v.535c-.156-.06-.216-.078-.285-.113a28.095 28.095 0 00-7.491-2.243c-.276-.044-.345-.164-.345-.423.009-.993.017-1.985 0-2.978-.026-1.294-.63-2.235-1.821-2.727-1.2-.492-2.304-.25-3.219.656a2397.179 2397.179 0 00-9.38 9.381c-1.26 1.269-1.26 3.03.008 4.306 3.107 3.116 6.222 6.223 9.329 9.338.94.94 2.062 1.2 3.28.7 1.225-.51 1.811-1.503 1.811-2.823v-3.107c0-.12.018-.241.035-.405.345.095.656.172.95.258 3.39 1.036 5.971 3.021 7.352 6.378.078.181.216.345.276.535.07.199.155.432.112.621-.448 1.9-.716 3.815-.725 5.765-.008 3.28 0 6.56 0 9.83 0 1.76 1.234 3.046 2.986 3.072 1.942.026 3.884.026 5.826 0 1.682-.017 2.95-1.268 2.968-2.96.026-2.865.06-5.722-.008-8.587-.052-2.313.284-4.548 1.078-6.714 1.096-2.986 2.9-5.41 5.74-6.956.457-.25.94-.448 1.475-.707 0 1.104-.017 2.097 0 3.08.026 1.278.621 2.21 1.795 2.702 1.165.492 2.287.293 3.184-.604 3.185-3.159 6.36-6.326 9.52-9.51 1.199-1.174 1.19-2.952.016-4.134zM26.258 13.834H23.1c-.56 0-1.062-.336-1.277-.854a1.366 1.366 0 01.302-1.502L32.429 1.2l9.847 9.864a1.6 1.6 0 01-1.13 2.727H36.7v6.507c0 3.366 0 5.377.008 8.803 0 .733-.276 1.312-.837 1.769-.405.328-.82.69-1.216 1.035-.164.147-.337.294-.501.432l-.889.777-.906-.76c-.31-.267-.613-.526-.906-.785-.673-.595-1.312-1.156-1.985-1.622-1.001-.7-1.441-1.58-1.433-2.874.026-3.608.026-5.808.018-9.364v-.25-3.357-.268c-.544-.008-1.13 0-1.795 0zm-9.424 21.791v5.118c0 .82-.665 1.484-1.485 1.484-.397 0-.76-.155-1.044-.44L4.175 31.647 14.4 21.412c.268-.268.621-.415.992-.415.777 0 1.416.63 1.416 1.407V26.9c.449.052.889.112 1.337.181 5.316.82 8.742 2.192 12.082 5.256.415.388.855.828 1.33 1.355.457.5.776.794.172 1.484-2.088 2.39-3.797 7.681-3.797 7.681l-.863-1.38c-2.218-3.41-5.256-5.067-10.235-5.852zM59.674 32.7l-9.303 9.294a1.37 1.37 0 01-.976.406c-.76 0-1.38-.622-1.38-1.381v-.199-.397c0-.492-.01-1.57-.01-1.57 0-.95-.008-1.934-.008-2.909-2.321.587-4.228 1.51-5.808 2.814-2.347 1.933-3.952 4.522-4.901 7.913-.501 1.787-.725 3.763-.7 6.041.018 1.493.018 3.004.018 4.462v3.357c0 .216.008.872-.5 1.39-.337.336-.795.509-1.356.509h-.034c-.725-.009-1.502-.017-2.382-.017-.846 0-1.683 0-2.606.008h-.018c-.198 0-.793 0-1.277-.483-.224-.224-.483-.622-.474-1.26.008-1.13-.009-2.296-.018-3.418-.025-2.399-.051-4.867.104-7.318.457-7.05 3.141-12.867 7.983-17.268a21.07 21.07 0 015.79-3.729 26.888 26.888 0 016.214-1.82 211.725 211.725 0 010-3.306v-.164-1.165c0-.975.699-1.475 1.39-1.475.388 0 .759.163 1.018.448l.008.009 9.243 9.268a1.396 1.396 0 01-.017 1.96z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
