
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Refill"
	>
		<g fill="currentColor">
			<path d="M56.693 51.942H7.326c-1.726 0-3.145-1.67-3.145-3.753V11.753C4.18 9.693 5.58 8 7.326 8h49.367c1.726 0 3.145 1.67 3.145 3.753V48.19c-.02 2.06-1.42 3.753-3.145 3.753zM7.326 9.602c-.997 0-1.803.961-1.803 2.151V48.19c0 1.19.806 2.151 1.803 2.151h49.367c.997 0 1.802-.961 1.802-2.151V11.753c0-1.19-.805-2.15-1.802-2.15H7.326z"/>
			<path d="M56.826 48.99H7.172c-.364 0-.671-.367-.671-.801V11.593c0-.435.307-.8.671-.8h49.654c.365 0 .672.365.672.8V48.19c0 .434-.288.8-.672.8zM7.843 47.388h48.312V12.394H7.843v34.994zM61.161 57H2.858C1.266 57 0 54.803 0 51.988c0-.32.02-.641.038-.916.039-.389.326-.686.672-.686h25.7c.287 0 .536.206.632.526.384 1.282.73 1.785.844 1.877h8.228c.115-.092.46-.595.844-1.877.096-.32.345-.526.633-.526h25.7c.345 0 .613.297.67.686.039.275.039.595.039.916C64 54.803 62.753 57 61.161 57zM1.343 51.965c0 2.037.805 3.433 1.515 3.433H61.16c.71 0 1.516-1.396 1.516-3.41H38.05c-.537 1.625-1.17 2.403-1.899 2.403H27.83c-.73 0-1.343-.801-1.9-2.403H1.344v-.023z"/>
			<path d="M47.986 15.85a.613.613 0 01-.48-.229c-.268-.32-.268-.824 0-1.121l2.743-3.319c.269-.32.69-.32.94 0 .268.32.268.824 0 1.122l-2.743 3.295a.577.577 0 01-.46.252zM49.577 18.413a.613.613 0 01-.48-.229c-.268-.32-.268-.823 0-1.12l4.872-5.86c.269-.32.69-.32.94 0 .269.32.269.824 0 1.122l-4.852 5.836c-.134.16-.307.251-.48.251zM7.23 45.831a.613.613 0 01-.48-.229c-.268-.32-.268-.823 0-1.12l4.393-5.288c.268-.32.69-.32.94 0 .268.32.268.824 0 1.122L7.69 45.602a.62.62 0 01-.46.23zM32.445 43c-7.727 0-14-6.274-14-14s6.273-14 14-14c7.726 0 14 6.274 14 14s-6.274 14-14 14zm0-26.505c-6.905 0-12.526 5.62-12.526 12.526 0 6.905 5.62 12.526 12.526 12.526 6.905 0 12.526-5.62 12.526-12.526 0-6.905-5.62-12.526-12.526-12.526z"/>
			<path d="M41.96 37.779c-.062-.063-.147-.126-.21-.19a13.266 13.266 0 00-2.568-1.894 595.05 595.05 0 00-.253-.127 12.688 12.688 0 00-4-1.368c-.084-.021-.168-.021-.273-.042a12.077 12.077 0 00-1.958-.148c-.843 0-1.685.085-2.506.232a5.525 5.525 0 01-.273.063c-1.39.295-2.695.8-3.916 1.516-.084.042-.169.105-.253.147-.863.527-1.663 1.18-2.4 1.895l-.02.021-.17.169-.21.21.21.21c.085.064.148.127.211.19l.21.21.211-.21c.063-.063.106-.126.19-.19a13.681 13.681 0 012.21-1.747c.084-.042.148-.084.232-.147a12.06 12.06 0 013.642-1.432l.253-.063a12.783 12.783 0 012.357-.231c.611 0 1.243.042 1.853.147.084.021.169.021.253.042 1.305.232 2.568.653 3.747 1.284.063.042.147.084.232.127a12.665 12.665 0 012.358 1.747l.19.19.21.21.21-.21c.021 0 .021-.022.021-.022l.169-.168.21-.21-.168-.211zM23.182 20.2c.063.063.148.126.21.19a13.269 13.269 0 002.569 1.894l.253.127a12.685 12.685 0 004 1.368c.084.021.168.021.273.042.632.105 1.306.147 1.958.147.842 0 1.684-.084 2.505-.231.085-.021.169-.042.274-.063 1.39-.295 2.695-.8 3.916-1.516.084-.042.168-.105.253-.148.863-.526 1.663-1.178 2.4-1.894l.02-.021.17-.169.21-.21-.21-.21a1.904 1.904 0 01-.211-.19l-.211-.21-.21.21c-.064.063-.106.126-.19.19a13.676 13.676 0 01-2.21 1.747 1.413 1.413 0 00-.232.147 12.057 12.057 0 01-3.642 1.432l-.253.063c-.779.147-1.579.231-2.358.231-.61 0-1.242-.042-1.852-.147-.085-.021-.169-.021-.253-.042a12.549 12.549 0 01-3.747-1.284c-.064-.043-.148-.085-.232-.127a12.665 12.665 0 01-2.358-1.747l-.19-.19-.21-.21-.21.21c-.021 0-.021.021-.021.021l-.169.169-.21.21.168.211z"/>
			<path d="M37.35 19.737c-1.305-2.547-3.031-3.958-4.905-3.958-1.873 0-3.6 1.41-4.905 3.958-1.263 2.484-1.958 5.768-1.958 9.284 0 3.516.695 6.8 1.958 9.284 1.284 2.548 3.032 3.958 4.905 3.958 1.874 0 3.6-1.41 4.905-3.958 1.264-2.484 1.958-5.768 1.958-9.284-.02-3.516-.694-6.8-1.958-9.284zm-4.905 21.642c-1.6 0-3.137-1.263-4.273-3.558-1.18-2.358-1.832-5.474-1.832-8.8 0-3.326.653-6.442 1.832-8.8 1.157-2.295 2.673-3.558 4.273-3.558 1.6 0 3.137 1.263 4.274 3.558 1.179 2.358 1.831 5.474 1.831 8.8 0 3.326-.652 6.442-1.831 8.8-1.158 2.295-2.674 3.558-4.274 3.558z"/>
			<path d="M45.245 28.663h-25.6c-.232 0-.442.19-.442.421 0 .232.19.421.442.421h25.6c.231 0 .442-.19.442-.42 0-.253-.21-.422-.442-.422z"/>
			<path d="M32.845 41.842v-25.6c0-.232-.19-.442-.422-.442a.427.427 0 00-.42.442v25.6c0 .232.189.442.42.442.232 0 .422-.21.422-.442z"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
