  <path fill="#828282" d="M19 21H5v-2h14v2zm-7-4l-6-6 1.41-1.41L11 13.17V3h2v10.17l3.59-3.58L18 11l-6 6z"/>

<template>
	<icon-template
		:width="24"
		:height="24"
		name="Download"
		>
		<path fill="currentColor" d="M19 21H5v-2h14v2zm-7-4l-6-6 1.41-1.41L11 13.17V3h2v10.17l3.59-3.58L18 11l-6 6z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
