
<template>
	<icon-template
		:width="42"
		:height="42"
		name="Apple"
	>
        <path fill="currentColor" fill-rule="evenodd" d="M27.369 4a7.16 7.16 0 01-1.638 5.13 6.025 6.025 0 01-4.757 2.248 6.812 6.812 0 011.68-4.94A7.285 7.285 0 0127.37 4zm3.323 13.522a7.272 7.272 0 00-.947 3.496 7.028 7.028 0 004.29 6.464 16.108 16.108 0 01-2.232 4.545c-1.314 1.966-2.692 3.886-4.88 3.922-1.04.024-1.742-.275-2.473-.587-.764-.325-1.559-.664-2.803-.664-1.32 0-2.151.35-2.952.687-.693.292-1.363.574-2.308.613-2.083.077-3.675-2.098-5.037-4.046-2.723-3.977-4.842-11.209-2-16.13a7.81 7.81 0 016.572-4.008c1.182-.024 2.315.431 3.31.83.76.306 1.438.578 1.993.578.488 0 1.148-.262 1.916-.567 1.21-.48 2.692-1.068 4.202-.91a7.444 7.444 0 015.865 3.171 7.272 7.272 0 00-2.516 2.606z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
