
<template>
	<icon-template
		:width="121"
		:height="40"
		name="GooglePlay"
	>
        <defs>
            <linearGradient id="paint0_linear" x1="18.586" x2="3.743" y1="10.629" y2="25.472" gradientUnits="userSpaceOnUse">
            <stop stop-color="#00A0FF"/>
            <stop offset=".01" stop-color="#00A1FF"/>
            <stop offset=".26" stop-color="#00BEFF"/>
            <stop offset=".51" stop-color="#00D2FF"/>
            <stop offset=".76" stop-color="#00DFFF"/>
            <stop offset="1" stop-color="#00E3FF"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="29.228" x2="7.83" y1="20.616" y2="20.616" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFE000"/>
            <stop offset=".41" stop-color="#FFBD00"/>
            <stop offset=".78" stop-color="orange"/>
            <stop offset="1" stop-color="#FF9C00"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="21.267" x2="1.134" y1="22.651" y2="42.775" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FF3A44"/>
            <stop offset="1" stop-color="#C31162"/>
            </linearGradient>
            <linearGradient id="paint3_linear" x1="5.76" x2="14.747" y1="3.083" y2="12.071" gradientUnits="userSpaceOnUse">
            <stop stop-color="#32A071"/>
            <stop offset=".07" stop-color="#2DA771"/>
            <stop offset=".48" stop-color="#15CF74"/>
            <stop offset=".8" stop-color="#06E775"/>
            <stop offset="1" stop-color="#00F076"/>
            </linearGradient>
        </defs>
        <rect width="119" height="39" x=".618" y=".5" fill="currentColor" stroke="#A6A6A6" rx="5.5"/>
        <path fill="#fff" d="M59.578 22.164a3.768 3.768 0 103.777 3.76 3.706 3.706 0 00-3.777-3.76zm0 6.042a2.282 2.282 0 112.123-2.283 2.174 2.174 0 01-2.123 2.283zm-8.245-6.042a3.768 3.768 0 103.778 3.76 3.706 3.706 0 00-3.778-3.76zm0 6.042a2.283 2.283 0 112.123-2.283 2.176 2.176 0 01-2.123 2.283zm-9.8-4.883v1.592h3.82a3.335 3.335 0 01-.884 2.008 3.908 3.908 0 01-2.955 1.168 4.246 4.246 0 010-8.492 4.105 4.105 0 012.902 1.14l1.123-1.123a5.575 5.575 0 00-4.007-1.61 5.846 5.846 0 100 11.686 5.37 5.37 0 004.078-1.637 5.308 5.308 0 001.38-3.742 5.556 5.556 0 00-.08-.99h-5.378zm40.08 1.238a3.538 3.538 0 00-3.22-2.397 3.538 3.538 0 00-3.539 3.76 3.741 3.741 0 006.865 2.096l-1.283-.885a2.131 2.131 0 01-1.849 1.035 1.902 1.902 0 01-1.822-1.14l5.033-2.08-.186-.389zm-5.131 1.256a2.07 2.07 0 011.972-2.202 1.45 1.45 0 011.39.805l-3.362 1.397zm-4.087 3.645h1.654V18.404h-1.654v11.058zm-2.707-6.458h-.062a2.6 2.6 0 00-1.981-.884 3.768 3.768 0 000 7.527 2.547 2.547 0 001.981-.884h.062v.54c0 1.441-.77 2.21-2.008 2.21a2.087 2.087 0 01-1.902-1.335l-1.433.593A3.538 3.538 0 0067.68 33c1.938 0 3.539-1.141 3.539-3.919v-6.696h-1.53v.62zm-1.901 5.202a2.282 2.282 0 010-4.556 2.114 2.114 0 012.016 2.273 2.104 2.104 0 01-2.016 2.283zm21.574-9.802h-3.963v11.058h1.655v-4.193h2.308a3.442 3.442 0 002.591-5.951 3.442 3.442 0 00-2.59-.914zm0 5.308h-2.308v-3.768h2.344a1.894 1.894 0 010 3.786l-.036-.018zm10.208-1.584a3.088 3.088 0 00-2.945 1.69l1.46.61a1.574 1.574 0 011.512-.805 1.595 1.595 0 011.769 1.425v.106a3.697 3.697 0 00-1.725-.425c-1.574 0-3.184.885-3.184 2.495a2.557 2.557 0 002.75 2.432 2.346 2.346 0 002.106-1.079h.053v.885h1.592v-4.255c0-1.937-1.468-3.06-3.352-3.06l-.036-.018zm-.203 6.06c-.54 0-1.291-.274-1.291-.938 0-.884.937-1.185 1.769-1.185a2.935 2.935 0 011.503.371 1.996 1.996 0 01-1.946 1.77l-.035-.018zm9.394-5.803l-1.893 4.794h-.053l-1.964-4.794h-1.769l2.946 6.705-1.681 3.724h1.725l4.529-10.429h-1.84zM93.9 29.462h1.645V18.404h-1.646v11.058z"/>
        <path fill="url(#paint0_linear)" d="M8.537 9.594a1.77 1.77 0 00-.415 1.239v19.566c-.03.452.119.897.415 1.239l.062.07 10.96-10.96v-.265L8.6 9.533l-.062.061z"/>
        <path fill="url(#paint1_linear)" d="M23.186 24.402L19.56 20.75v-.266l3.627-3.653.08.053 4.343 2.46c1.238.698 1.238 1.848 0 2.556l-4.326 2.459-.097.044z"/>
        <path fill="url(#paint2_linear)" d="M23.292 24.35l-3.733-3.734L8.538 31.638a1.433 1.433 0 001.83.062l12.924-7.35z"/>
        <path fill="url(#paint3_linear)" d="M23.292 16.883L10.368 9.54a1.424 1.424 0 00-1.83.053l11.021 11.022 3.733-3.733z"/>
        <path fill="currentColor" d="M23.186 24.27l-12.818 7.297a1.468 1.468 0 01-1.769 0l-.062.062.062.071a1.468 1.468 0 001.77 0l12.923-7.35-.106-.08z" opacity=".2"/>
        <path fill="currentColor" d="M8.538 31.514a1.77 1.77 0 01-.39-1.247v.132c-.03.452.12.897.416 1.239l.062-.062-.088-.062zM27.609 21.766l-4.423 2.504.08.08 4.343-2.46a1.548 1.548 0 00.938-1.274 1.647 1.647 0 01-.938 1.15z" opacity=".12"/>
        <path fill="#fff" d="M10.369 9.664l17.24 9.801a1.646 1.646 0 01.938 1.15 1.548 1.548 0 00-.938-1.274l-17.24-9.8c-1.23-.708-2.247-.125-2.247 1.29v.133c.027-1.415 1.017-1.999 2.247-1.3z" opacity=".25"/>
        <path fill="#fff" stroke="#fff" stroke-miterlimit="10" stroke-width=".2" d="M36.552 15.548h-.646v-1.77h.549a2.513 2.513 0 00.645-2.007V9.117h3.539v4.653h.592v1.77h-.654v-1.115h-4.025v1.123zm1.23-3.777c.039.71-.137 1.416-.505 2.026h2.654V9.772h-2.15v1.999zM46.548 13.734a2.742 2.742 0 01-3.884 0 2.84 2.84 0 010-3.927 2.743 2.743 0 013.884 0 2.724 2.724 0 01.787 1.963 2.652 2.652 0 01-.787 1.964zm-3.388-.442a1.963 1.963 0 001.442.601 1.937 1.937 0 001.442-.601 2.247 2.247 0 000-3.043 1.937 1.937 0 00-1.442-.601 1.963 1.963 0 00-1.442.601 2.273 2.273 0 000 3.043zM50.767 14.54a2.654 2.654 0 01-1.928-.788 2.866 2.866 0 010-3.963 2.653 2.653 0 011.964-.787 2.433 2.433 0 011.946.885l-.47.46a1.77 1.77 0 00-1.477-.681 1.99 1.99 0 00-1.468.592 2.273 2.273 0 000 3.06 1.992 1.992 0 001.468.594 2.089 2.089 0 001.575-.788l.478.469c-.243.29-.544.526-.885.69a2.733 2.733 0 01-1.203.257zM55.632 14.425h-.68V9.772h-1.487v-.655h3.645v.655h-1.478v4.653zM61.798 9.117l-2.008 4.476a1.283 1.283 0 01-1.77.832l.178-.628c.108.06.23.094.353.097.131.006.261-.027.372-.097a.804.804 0 00.239-.337l.194-.424-1.769-3.919h.805l1.31 3.043 1.29-3.043h.806zM62.567 14.425V9.117h3.84v5.308h-.682V9.772H63.25v4.653h-.682zM67.619 14.425V9.117h.68v2.274h2.654V9.117h.69v5.308h-.69v-2.398H68.3v2.398h-.681zM77.198 13.734a2.751 2.751 0 01-3.892 0 2.84 2.84 0 010-3.927 2.742 2.742 0 013.883 0 2.857 2.857 0 010 3.927h.01zm-3.388-.442a1.938 1.938 0 001.442.601 1.962 1.962 0 001.442-.601 2.273 2.273 0 000-3.043 1.963 1.963 0 00-1.442-.601 1.938 1.938 0 00-1.442.601 2.247 2.247 0 000 3.043zM80.763 14.425V9.117h1.92c.398-.004.783.141 1.079.407a1.336 1.336 0 01.46 1.035c.002.238-.066.472-.195.672-.13.19-.31.34-.522.434.256.087.48.247.646.46.163.217.25.48.248.752a1.389 1.389 0 01-.478 1.079 1.619 1.619 0 01-1.132.433l-2.026.036zm.681-3.034h1.239a.77.77 0 00.619-.257.796.796 0 00.239-.557.823.823 0 00-.204-.575.752.752 0 00-.592-.248H81.47l-.027 1.637zm0 2.38h1.38a.813.813 0 00.637-.275.885.885 0 00.24-.602.885.885 0 00-.551-.8.885.885 0 00-.361-.066h-1.345v1.742z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
