
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Top25"
		>
        <circle fill="transparent" cx="32" cy="32" r="30" stroke="currentColor" stroke-width="2.5"/>
        <path fill="transparent" stroke="currentColor" stroke-width="2.5" d="M13.25 18.882v25.725l6.143 3.949L31.57 36.324l12.232 12.232L50 44.606V18.883l-6.198-3.456-12.177 12.232-12.232-12.232-6.143 3.456zM35.958 31.99l7.844-7.844v15.688l-7.844-7.844zm-16.565 7.844V24.147l7.844 7.844-7.844 7.844z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
