
<template>
	<icon-template
		:width="44"
		:height="44"
		name="Phone"
		>
		<path fill="currentColor" d="M28.74 35h-.04a21.776 21.776 0 01-14.591-6.106A21.756 21.756 0 018 14.31c-.008-.765.292-1.5.833-2.04l3.855-3.853a1.42 1.42 0 012.009 0l5.682 5.682a1.42 1.42 0 010 2.01l-2.267 2.262a10.655 10.655 0 002.264 4.25 10.632 10.632 0 004.244 2.267l2.273-2.265a1.42 1.42 0 012.009 0l5.682 5.683a1.42 1.42 0 010 2.008l-3.855 3.854A2.807 2.807 0 0128.74 35zM13.69 11.43h-.008l-2.84 2.847a18.816 18.816 0 005.272 12.607 18.824 18.824 0 0012.605 5.273l2.85-2.848-3.681-3.672-1.837 1.835a1.402 1.402 0 01-1.291.385 14.489 14.489 0 01-6.393-3.226 14.49 14.49 0 01-3.226-6.393 1.42 1.42 0 01.388-1.298l1.835-1.837-3.675-3.672z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
