
<template>
	<icon-template
		:width="25"
		:height="24"
		name="Search"
		>
			<path fill="currentColor" d="M19.466 21l-6.194-6.195a6.504 6.504 0 11.43-10.27 6.503 6.503 0 011.104 8.736L21 19.466 19.467 21V21zM9.503 5.168a4.336 4.336 0 103.162 1.37l.656.65-.74-.736-.013-.013a4.305 4.305 0 00-3.065-1.27z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
