
<template>
	<icon-template
		:width="44"
		:height="44"
		name="Time"
		>
		<path fill="currentColor" d="M22 36c-7.732 0-14-6.268-14-14S14.268 8 22 8s14 6.268 14 14c-.008 7.729-6.271 13.992-14 14zm0-25.2c-6.186 0-11.2 5.014-11.2 11.2 0 6.186 5.014 11.2 11.2 11.2 6.186 0 11.2-5.014 11.2-11.2-.007-6.183-5.017-11.193-11.2-11.2zm7 12.6h-8.4V15h2.8v5.6H29v2.8z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
