
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Profitable"
	>
        <path fill="currentColor" d="M62.475 56.566H3.045V5.52A1.52 1.52 0 001.525 4C.684 4 0 4.678 0 5.52V58.092c0 .841.684 1.525 1.525 1.525h60.95a1.526 1.526 0 000-3.051zM8.412 46.267l.096.063c1.367.79 2.932.96 4.344.604l.062-.023a5.76 5.76 0 003.53-2.706 5.786 5.786 0 00.583-4.4l-.125-.407 9.728-9.722c1.119.39 2.311.418 3.407.124l.401-.124 3.655 3.655a5.768 5.768 0 00-.124 3.395 5.78 5.78 0 002.7 3.525h.006a5.794 5.794 0 004.338.605l.063-.017a5.775 5.775 0 003.525-2.706v-.006a5.814 5.814 0 00.587-4.4l-.124-.39 8.643-8.644a5.769 5.769 0 003.395.124 5.77 5.77 0 003.525-2.706l.006-.005a5.811 5.811 0 00.582-4.401 5.795 5.795 0 00-2.706-3.52l-.006-.005a5.805 5.805 0 00-4.4-.582 5.786 5.786 0 00-3.52 2.7v.006a5.788 5.788 0 00-.587 4.4l.118.402-8.637 8.637a5.846 5.846 0 00-3.333-.14l-.068.022-.401.119-3.655-3.656a5.768 5.768 0 00.124-3.395 5.763 5.763 0 00-2.717-3.525 5.769 5.769 0 00-4.395-.582 5.76 5.76 0 00-3.526 2.7v.006a5.789 5.789 0 00-.587 4.401l.124.407-9.728 9.728a5.74 5.74 0 00-3.344-.147l-.062.017a5.77 5.77 0 00-3.525 2.706 5.808 5.808 0 00-.582 4.412 5.829 5.829 0 002.61 3.451zm44.742-28.364l.095-.164a2.775 2.775 0 013.638-1.011l.17.096a2.761 2.761 0 011.22 1.638 2.773 2.773 0 01-.209 2l-.096.17a2.778 2.778 0 01-3.644 1.011l-.163-.096a2.748 2.748 0 01-1.226-1.639v-.006a2.784 2.784 0 01.215-2zM37.12 33.935l.09-.158a2.793 2.793 0 011.644-1.226l.057-.017a2.751 2.751 0 012.045.288l.056.029a2.736 2.736 0 011.238 1.65c.18.683.107 1.44-.272 2.1-.378.656-1 1.108-1.689 1.294l-.05.012a2.833 2.833 0 01-1.96-.232l-.165-.096a2.774 2.774 0 01-1.22-1.644 2.842 2.842 0 01.226-2zM26.133 22.801a2.78 2.78 0 011.69-1.288 2.76 2.76 0 012.1.265c.656.379 1.108 1 1.289 1.69.18.683.107 1.445-.271 2.106a2.754 2.754 0 01-1.678 1.283 2.76 2.76 0 01-2.102-.271 2.746 2.746 0 01-1.293-1.678 2.765 2.765 0 01.265-2.107zM9.016 39.912c.379-.655 1-1.102 1.678-1.288l.05-.011a2.803 2.803 0 012.057.288c.655.378 1.096 1 1.283 1.689.18.683.107 1.44-.266 2.101h-.006c-.378.656-1 1.108-1.689 1.288l-.05.017a2.718 2.718 0 01-2.046-.288l-.05-.028a2.714 2.714 0 01-1.238-1.65 2.85 2.85 0 01.277-2.118z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
