
<template>
	<icon-template
		:width="25"
		:height="24"
		name="LogIn"
	>
		<path fill="currentColor" fill-rule="evenodd" d="M10.144 15.59L11.562 17l5.027-5-5.027-5-1.418 1.41L12.738 11H3.016v2h9.722l-2.594 2.59zM19.102 3H5.027c-1.116 0-2.01.9-2.01 2v4h2.01V5h14.075v14H5.027v-4h-2.01v4c0 1.1.894 2 2.01 2h14.075c1.106 0 2.01-.9 2.01-2V5c0-1.1-.904-2-2.01-2z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
