<template>
	<icon-template
		:width="112"
		:height="13"
		name="LogoTextTop"
	>
        <path fill="currentColor" d="M71.808 5.32l7.371-2.997v-.236c0-.437-.202-1.144-.675-1.414h7.81c-.439.236-.675.977-.675 1.414v8.014c0 .437.236 1.144.675 1.414h-7.81c.473-.236.675-.977.675-1.414V6.296l-7.37 2.896v.909c0 .437.235 1.144.674 1.414h-7.81c.44-.236.675-.977.675-1.414V2.07c0-.438-.236-1.145-.674-1.414h7.809c-.439.235-.675.976-.675 1.414V5.32zM56.274.69h-6.865l-7.168 10.017c-.203.235-.574.538-1.147.808h7.168c-.135-.135-.202-.337-.202-.573 0-.134.101-.471.438-.976l2.935-4.444h.101l3.003 4.444c.033.034.1.202.202.337.101.134.203.235.236.37.034.1.034.202.034.236 0 .235-.101.437-.337.471v.101h8.737c-.371-.202-.641-.37-.81-.572-.236-.236-.438-.54-.742-.91l-5.684-7.794c-.203-.303-.304-.538-.304-.673.034-.168 0-.707.405-.842zm53.113 7.828l-3.946-6.043c-.135-.236-.338-.472-.338-.64 0-.202-.202-1.01.236-1.145h-9.698l-4.588 7.828h-2.53v4.478c.574-.236 1.89-1.212 2.868-1.212h17.676c.978 0 2.159.976 2.766 1.212V8.518h-2.446zm-11.655-4.68h2.126l2.732 4.68h-7.168l2.31-4.68zm-57.026-.067c-.574-.707-1.316-1.414-2.328-1.92C37.4 1.28 36.253.842 34.938.54 33.621.202 32.17.067 30.688.067c-1.485 0-2.902.135-4.218.472-1.349.303-2.496.707-3.474 1.313-1.012.572-1.788 1.212-2.328 1.919-.54.707-.81 1.481-.81 2.323 0 1.077.473 2.087 1.451 2.997.979.976 2.26 1.683 3.913 2.222 1.653.572 3.475.808 5.465.808 1.552 0 2.935-.135 4.25-.472 1.316-.303 2.463-.707 3.475-1.313.978-.572 1.754-1.212 2.26-1.919.54-.774.81-1.549.81-2.323.034-.808-.236-1.582-.776-2.323zm-6.055 3.737c-.439.438-.979.74-1.687.976-.675.236-1.45.37-2.26.37-.81 0-1.585-.134-2.26-.37-.742-.235-1.248-.538-1.687-.976-.37-.438-.573-.875-.573-1.414 0-.539.202-.976.573-1.414.439-.438.978-.74 1.687-.976.675-.236 1.45-.337 2.26-.337.81 0 1.585.1 2.26.337.742.235 1.248.538 1.687.976.37.438.64.875.64 1.414 0 .539-.235.976-.64 1.414zm-17.238-.067v4.68c-.54-.034-1.214-.101-1.99-.101-.304 0-.675 0-1.147.033-.54.034-.911.034-1.248.034-2.26 0-4.284-.236-6.157-.808-1.889-.539-3.34-1.246-4.385-2.222C1.373 8.147.833 7.137.833 6.06c0-.808.337-1.582.91-2.323.642-.707 1.485-1.347 2.598-1.919C5.454 1.246 6.703.808 8.221.505 9.705.168 11.324.034 13.01.034c.337 0 .776 0 1.248.033.54.034.91.034 1.147.034.776 0 1.45-.034 1.99-.101v4.579a6.807 6.807 0 00-2.024-.673c-.776-.202-1.585-.236-2.429-.236-.91 0-1.787.1-2.563.337-.709.202-1.35.47-1.755.875-.438.37-.674.774-.674 1.212 0 .37.236.774.64 1.145.44.37 1.013.64 1.789.875.775.202 1.585.303 2.563.303.877 0 1.687-.1 2.463-.236a5.54 5.54 0 002.007-.74z"/>
    </icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
