
<template>
	<icon-template
		:width="220"
		:height="220"
		name="Help"
	>
        <defs>
        <linearGradient id="uDdBYA1qFzd" x1="160.688" x2="102.714" y1="113.466" y2="113.466" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="uDdBYA2qFzd" x1="119.789" x2="104.34" y1="118.514" y2="118.514" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="uDdBYA3qFzd" x1="173.887" x2="157.903" y1="88.072" y2="88.072" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="uDdBYA4qFzd" x1="184.681" x2="168.749" y1="83.545" y2="83.545" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="uDdBYA5qFzd" x1="195.52" x2="179.536" y1="77.197" y2="77.197" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="uDdBYA6qFzd" x1="162.068" x2="45.984" y1="168" y2="168" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="uDdBYA7qFzd" x1="143.584" x2="67.42" y1="148.226" y2="148.226" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="uDdBYA8qFzd" x1="127.539" x2="86.043" y1="131.054" y2="131.054" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        </defs>
        <path fill="url(#uDdBYA1qFzd)" d="M107.027 113.466c-.623 0-1.245-.312-1.557-.885-.518-.884-.207-1.977.675-2.497l53.59-31.43c.882-.52 1.972-.208 2.49.676.519.885.208 1.978-.674 2.498l-53.59 31.43a2.034 2.034 0 01-.934.208z"/>
        <path fill="url(#uDdBYA2qFzd)" d="M118.392 118.514c-.259 0-.518-.052-.726-.157l-11.361-5.047c-.623-.312-1.09-.937-1.09-1.613l-.207-12.593c0-.989.778-1.77 1.764-1.77h.052c.985 0 1.815.73 1.815 1.718l.208 11.448 10.324 4.527c.933.416 1.348 1.457.933 2.394-.363.676-.985 1.093-1.712 1.093z"/>
        <path fill="url(#uDdBYA3qFzd)" d="M172.549 88.072c-.259 0-.571-.052-.83-.208l-11.932-5.984a1.786 1.786 0 01-.986-1.613l-.207-13.373c0-.989.778-1.874 1.764-1.874h.051c.986 0 1.816.833 1.816 1.822l.208 12.228 10.946 5.516c.882.468 1.245 1.561.83 2.446-.311.624-.986 1.04-1.66 1.04z"/>
        <path fill="url(#uDdBYA4qFzd)" d="M183.393 83.545c-.26 0-.571-.052-.83-.208l-11.932-5.984a1.786 1.786 0 01-.986-1.613l-.207-13.425c0-.99.778-1.978 1.763-1.978h.052c.986 0 1.816.885 1.816 1.925l.207 12.281 10.895 5.516c.882.468 1.245 1.56.83 2.445-.311.625-.934 1.041-1.608 1.041z"/>
        <path fill="url(#uDdBYA5qFzd)" d="M194.182 77.197c-.26 0-.571-.052-.83-.208l-11.932-5.985a1.786 1.786 0 01-.986-1.613l-.207-13.425c0-.989.778-1.925 1.763-1.925h.052c.986 0 1.816.884 1.816 1.873l.208 12.28 10.946 5.516c.882.469 1.245 1.562.83 2.446-.363.677-.986 1.04-1.66 1.04z"/>
        <path fill="url(#uDdBYA6qFzd)" d="M108.326 168C76.732 168 51 142.19 51 110.5S76.732 53 108.326 53s57.325 25.81 57.325 57.5S139.92 168 108.326 168zm0-110.837C79.014 57.163 55.15 81.1 55.15 110.5c0 29.4 23.864 53.337 53.176 53.337 29.311 0 53.175-23.937 53.175-53.337 0-29.4-23.864-53.337-53.175-53.337z"/>
        <path fill="url(#uDdBYA7qFzd)" d="M108.323 148.226c-20.752 0-37.612-16.912-37.612-37.726s16.86-37.726 37.612-37.726c20.751 0 37.612 16.912 37.612 37.726s-16.861 37.726-37.612 37.726zm0-71.29c-18.469 0-33.462 15.04-33.462 33.564 0 18.525 14.993 33.563 33.462 33.563 18.468 0 33.461-15.038 33.461-33.563 0-18.525-14.993-33.563-33.461-33.563z"/>
        <path fill="url(#uDdBYA8qFzd)" d="M108.328 131.054c-11.31 0-20.492-9.21-20.492-20.554 0-11.344 9.182-20.554 20.492-20.554 11.309 0 20.492 9.21 20.492 20.554 0 11.344-9.183 20.554-20.492 20.554zm0-36.945c-9.027 0-16.342 7.337-16.342 16.391 0 9.054 7.315 16.391 16.342 16.391 9.027 0 16.342-7.337 16.342-16.391 0-9.054-7.315-16.391-16.342-16.391z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
