
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Handy"
	>
        <path fill="currentColor" d="M20.469 37.609c0-4.395-.012-8.79.002-13.18.015-3.872-.078-7.753.129-11.616.206-3.886 3.678-6.16 7.444-5.118 2.455.68 4.094 2.771 4.123 5.319.027 2.45.006 4.9.006 7.516 3.148-.726 5.467.073 7.264 2.362.166.212.652.305.958.255 4.06-.627 5.606.073 7.82 3.608 4.356-1.232 7.932 1.519 8.183 5.934.512 8.998.466 17.993-1.803 26.82-.192.743-.477 1.467-.775 2.178-.43 1.034-1.234 1.563-2.32 1.17-1.104-.394-1.457-1.234-1.192-2.442.737-3.39 1.748-6.776 1.978-10.21.384-5.683.25-11.402.305-17.11.006-.462-.154-.955-.346-1.385-.405-.9-1.049-1.586-2.14-1.336-1.058.24-1.64.964-1.664 2.082-.023 1.113-.008 2.231-.105 3.338-.148 1.702-.794 2.46-1.922 2.41-1.182-.052-1.724-.819-1.77-2.52-.067-2.417-.102-4.837-.207-7.253-.052-1.203-.938-1.69-1.986-1.7-.979-.008-1.803.436-1.969 1.557-.079.526-.14 1.055-.148 1.583-.024 1.743-.018 3.486-.024 5.228 0 .34.003.68-.014 1.017-.064 1.17-.635 2.001-1.844 2.019-1.209.017-1.858-.796-1.884-1.967-.055-2.71-.04-5.42-.07-8.132-.009-.773-.03-1.551-.125-2.315-.146-1.18-.985-1.647-2.053-1.621-1.08.029-1.87.54-1.9 1.76-.072 2.806-.127 5.609-.197 8.415-.015.58.151 1.298-.129 1.707-.401.59-1.068 1.18-1.735 1.365-.935.259-1.558-.366-1.637-1.353a41.331 41.331 0 01-.114-2.754c-.087-6.581-.166-13.166-.247-19.747-.018-1.342-.696-2.205-1.887-2.263-1.317-.067-1.954.636-2.007 1.926-.046 1.112-.154 2.222-.16 3.331-.058 9.49-.116 18.976-.128 28.465-.003 1.086-.23 1.94-1.328 2.26-1.136.33-1.814-.367-2.348-1.258-1.738-2.905-3.48-5.807-5.224-8.705-.274-.456-.49-1.002-.886-1.313-.407-.32-1.106-.671-1.49-.523-.467.18-.976.84-1.037 1.345-.094.787.037 1.67.314 2.422 2.627 7.137 5.6 14.105 10.307 20.19.384.496.824.955 1.188 1.466.62.872.821 1.819-.067 2.606-.897.795-1.93.737-2.717-.154-1.18-1.342-2.356-2.707-3.346-4.189-3.836-5.742-6.617-12.01-8.93-18.487-.428-1.202-.59-2.55-.614-3.837-.04-2.466 1.252-4.18 3.489-4.963 2.199-.767 4.537-.149 5.99 1.762.985 1.296 1.78 2.734 2.66 4.108.113-.02.22-.047.329-.073z"/>
        <path fill="currentColor" d="M39.867 13.612c-.171.993-.294 2.146-.59 3.256-.292 1.083-1.05 1.827-2.252 1.565-1.191-.261-1.482-1.196-1.421-2.35.084-1.62.35-3.31.017-4.862-1.133-5.286-6.255-8.405-11.466-7.191-5.122 1.194-8.32 6.547-7.024 11.763.035.14.099.273.134.413.405 1.582.052 2.567-1.025 2.88-1.334.387-2.135-.182-2.688-1.91-2.228-6.983 2.155-14.869 9.302-16.733 7.415-1.935 15.068 2.666 16.577 9.982.204.991.28 2.007.437 3.187z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
