
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Guarantee"
	>
		<g fill="currentColor">
			<path d="M32.016 64.023a.628.628 0 01-.295-.068c-11.654-4.78-17.56-11.608-20.469-16.501-3.112-5.258-3.544-9.377-3.566-9.673L5.005 14.498a.783.783 0 01.636-.865c.09-.023 9.496-2.003 15.948-5.667C27.995 4.324 31.358.296 31.403.25c.159-.182.386-.25.613-.25.25 0 .455.068.614.25.022.046 3.407 4.097 9.814 7.739 6.451 3.664 15.857 5.621 15.947 5.644a.796.796 0 01.637.865L56.37 37.804c-.023.318-.455 4.438-3.567 9.672-2.908 4.894-8.814 11.722-20.469 16.501-.113.023-.227.046-.318.046zM6.663 15.02l2.567 22.6v.023c0 .046.387 4.052 3.408 9.104 2.772 4.62 8.36 11.039 19.356 15.636C42.989 57.81 48.6 51.368 51.349 46.748c3.022-5.03 3.408-9.058 3.408-9.104l2.567-22.623c-2.363-.546-9.996-2.435-15.698-5.667-5.157-2.913-8.383-6.077-9.655-7.442-1.272 1.365-4.498 4.506-9.655 7.442-5.634 3.232-13.29 5.144-15.653 5.667z"/>
			<path d="M31.698 15.294c.387 0 .773.091 1.136.228V.933a.806.806 0 00-.795-.796.806.806 0 00-.795.796V15.34c.136-.023.296-.046.454-.046zM32.766 49.047c-.5.137-1.022.137-1.522.023v13.997c0 .432.364.797.795.797a.806.806 0 00.795-.797V49.024c-.022 0-.045.023-.068.023z"/>
			<path d="M32.016 49.502c-9.655 0-17.493-7.875-17.493-17.525 0-9.65 7.86-17.525 17.493-17.525 9.632 0 17.493 7.875 17.493 17.525 0 9.65-7.86 17.525-17.493 17.525zm0-33.456c-8.769 0-15.902 7.146-15.902 15.931 0 8.786 7.133 15.932 15.902 15.932 8.77 0 15.903-7.146 15.903-15.932 0-8.785-7.134-15.931-15.903-15.931z"/>
			<path d="M31.994 39.989l-8.292-8.308a1.018 1.018 0 010-1.456 1.014 1.014 0 011.454 0l6.701 6.714 10.178-12.131a1.01 1.01 0 011.431-.114c.432.364.477 1.002.114 1.434l-11.586 13.86z"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
