<template>
	<icon-template
		:width="65"
		:height="14"
		name="LogoTextBottom"
	>
        <path fill="currentColor" d="M.833.545h7.135V2.11H2.604v3.535h1.62c.218 0 .455 0 .724.017.27.017.54.05.827.101.287.05.573.135.86.236.287.1.557.252.827.42.151.119.32.253.489.422.168.168.32.37.455.589.135.235.236.488.32.791.085.303.136.64.136 1.044 0 .69-.118 1.245-.338 1.666-.219.438-.472.758-.742.994a3.563 3.563 0 01-.81.538c-.286.135-.59.236-.91.303a6.29 6.29 0 01-.962.135c-.32.017-.64.034-.961.034H.833V.545zm1.788 10.824h1.332c.186 0 .371 0 .574-.017.202 0 .421-.034.64-.067a3.74 3.74 0 00.625-.152c.202-.067.388-.168.556-.303.135-.1.27-.286.422-.538.152-.253.22-.606.22-1.061 0-.42-.068-.74-.203-.993a2.018 2.018 0 00-.422-.573 2.297 2.297 0 00-.573-.353c-.203-.084-.422-.135-.624-.185a8.793 8.793 0 00-.624-.068c-.203 0-.388-.016-.54-.016H2.638v4.326H2.62zM11.223.544h3.238c.236 0 .506.017.793.034.287.017.59.067.894.118.303.067.607.151.894.27.303.117.573.269.826.47.152.119.304.253.456.422.151.168.286.353.404.589.118.219.22.488.287.774.068.286.101.623.101.977 0 .572-.084 1.06-.253 1.464-.168.404-.354.74-.59.993-.118.135-.27.27-.455.421a2.812 2.812 0 01-.709.421 4.77 4.77 0 01-1.012.32 6.414 6.414 0 01-1.35.135h-1.736V12.9H11.24V.544h-.017zm1.77 5.876h1.755c.337 0 .691-.05 1.029-.152.337-.1.624-.252.843-.454.135-.135.27-.32.405-.573.135-.252.202-.572.202-.942 0-.421-.084-.775-.253-1.044a2.256 2.256 0 00-.556-.623 2.07 2.07 0 00-.54-.286 3.424 3.424 0 00-.557-.152c-.185-.033-.337-.05-.489-.067-.152 0-.27-.017-.37-.017H12.96v4.31h.034zM26.505.36c1.012 0 1.872.168 2.598.488a5.344 5.344 0 011.838 1.38 6.55 6.55 0 011.113 1.936c.27.757.422 1.616.422 2.559 0 .96-.135 1.835-.422 2.609a6.367 6.367 0 01-1.096 1.92 6.836 6.836 0 01-.708.672c-.27.22-.59.421-.945.607-.354.185-.776.32-1.231.42a7.186 7.186 0 01-1.535.152c-.574 0-1.08-.05-1.535-.152a5.855 5.855 0 01-1.231-.42c-.354-.186-.675-.37-.962-.607a6.836 6.836 0 01-.708-.673c-.455-.505-.81-1.145-1.096-1.919-.287-.774-.422-1.633-.422-2.61 0-.959.135-1.817.422-2.558a5.892 5.892 0 011.113-1.936 5.508 5.508 0 011.838-1.38c.675-.32 1.535-.489 2.547-.489zm0 1.565c-.725 0-1.35.151-1.855.438a4.103 4.103 0 00-1.18.976c-.321.42-.574.926-.76 1.532a6.353 6.353 0 00-.287 1.869c0 .538.085 1.11.237 1.733.151.623.421 1.179.81 1.667a4.03 4.03 0 001.18.993c.489.27 1.096.421 1.838.421s1.367-.135 1.839-.42c.489-.27.877-.607 1.18-.994.371-.488.641-1.06.81-1.667.152-.622.236-1.195.236-1.733 0-.64-.101-1.263-.287-1.87a4.827 4.827 0 00-.758-1.531c-.287-.37-.675-.69-1.181-.976-.473-.303-1.097-.438-1.822-.438zM35.072.544h1.771V6l5.28-5.455h2.361l-5.819 5.859 6.275 6.532h-2.598l-5.515-6.078v6.077h-1.771V.544h.017zM46.895.544h6.933V2.11h-5.162v3.636h4.706v1.566h-4.706v4.09h5.162v1.566h-6.933V.544zM56.527.544h3.239c.236 0 .506.017.793.034.286.017.59.067.893.118.304.067.608.151.894.27.304.117.574.269.827.47.152.119.303.253.455.422.152.168.287.353.405.589.118.219.22.488.287.774.067.286.101.623.101.977 0 .572-.084 1.06-.253 1.464-.169.404-.354.74-.59.993a3.81 3.81 0 01-.456.421 2.81 2.81 0 01-.708.421 4.77 4.77 0 01-1.012.32 6.535 6.535 0 01-1.35.135h-1.737V12.9h-1.77V.544h-.018zm1.771 5.876h1.755c.337 0 .691-.05 1.028-.152.338-.1.624-.252.844-.454.135-.135.27-.32.405-.573.134-.252.202-.572.202-.942 0-.421-.084-.775-.253-1.044a2.256 2.256 0 00-.557-.623 2.07 2.07 0 00-.54-.286 3.424 3.424 0 00-.556-.152c-.186-.033-.337-.05-.49-.067-.151 0-.269-.017-.37-.017h-1.501v4.31h.033z"/>
    </icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
