
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Quality"
	>
		<path fill="currentColor" fill-rule="evenodd" d="M54.796 51.149c-.157.314-.524.523-.89.523h-8.372l-3.82 6.804c-.157.314-.523.524-.89.524-.366 0-.68-.21-.89-.524l-7.482-12.927-7.483 12.77c-.157.314-.523.524-.89.524-.366 0-.68-.21-.89-.524l-3.82-6.647h-8.371c-.366 0-.68-.209-.89-.523-.157-.314-.21-.733 0-1.047l7.797-13.817c-.89-.366-1.465-1.257-1.36-2.199l.68-4.867-3.297-3.559c-.732-.89-.68-2.146.053-2.878l3.296-3.454-.575-4.815c-.105-1.152.627-2.147 1.726-2.356l4.762-.837 2.355-4.24c.26-.471.68-.837 1.203-.994a2.05 2.05 0 011.57.157l4.29 2.093 4.396-2.04h.053c1.046-.419 2.198 0 2.668.994l2.303 4.239 4.762.942c1.046.21 1.779 1.256 1.674 2.303l-.68 4.868L51.08 23.2c.733.89.68 2.146-.052 2.879l-3.297 3.454.576 4.816c.052.942-.42 1.779-1.203 2.145l7.744 13.608a.868.868 0 01-.052 1.047zm-42.02-1.57h7.222c.366 0 .68.209.89.523l3.244 5.6 7.064-12.3-1.046-1.831-2.146.994h-.052c-1.047.419-2.198 0-2.67-.994l-2.301-4.239-2.983-.524-7.221 12.771zm36.787-24.913l-3.297-3.559c-.418-.419-.628-1.099-.523-1.727l.68-4.815-4.761-.942c-.576-.053-1.1-.471-1.413-.995l-2.303-4.344h-.052l-4.343 1.989a2.002 2.002 0 01-1.884 0l-4.291-2.094-2.354 4.24a2.12 2.12 0 01-1.466 1.047l-4.761.837c-.053.053-.053.105-.053.105l.576 4.763c.105.628-.105 1.255-.576 1.727l-3.296 3.454 3.244 3.559c.419.418.628 1.099.523 1.727l-.68 4.815 4.814.889c.628.053 1.15.472 1.465.995l2.303 4.344h.052l4.343-2.041a2.002 2.002 0 011.884 0l4.29 2.094 2.355-4.24c.314-.575.89-.942 1.466-1.046l4.709-.785-.576-4.815c-.104-.629.105-1.257.576-1.728l3.349-3.454zM45.01 36.965l-3.14.576-2.355 4.239c-.366.681-1.1 1.047-1.831 1.047-.314 0-.628-.052-.942-.209l-4.291-2.094-.366.157 1.15 2.041c.106.105.158.21.21.366l7.378 12.771 3.245-5.757c.157-.314.523-.523.889-.523h7.22l-7.167-12.614zm-12.56-2.041c-5.755 0-10.464-4.711-10.464-10.468 0-5.756 4.709-10.467 10.465-10.467S42.917 18.7 42.917 24.456c0 5.757-4.71 10.468-10.465 10.468zm0-18.842c-4.604 0-8.371 3.769-8.371 8.374 0 4.606 3.767 8.375 8.372 8.375s8.372-3.769 8.372-8.375c0-4.605-3.767-8.374-8.372-8.374z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
