
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Reliability"
		>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 23.78V4.615A2.614 2.614 0 015.614 2h52.274A2.613 2.613 0 0160.5 4.614V23.78c0 27.449-23.296 36.543-27.948 38.085a2.467 2.467 0 01-1.605 0C26.297 60.324 3 51.23 3 23.78z"/>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M46.126 20.296L26.958 38.592l-9.583-9.148"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
