
<template>
	<icon-template
		:width="32"
		:height="32"
		name="Negative"
		>
        <path fill="transparent" stroke="#FF6363" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" d="M16 30c7.732 0 14-6.268 14-14S23.732 2 16 2 2 8.268 2 16s6.268 14 14 14z"/>
        <path fill="transparent" stroke="#FF6363" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" d="M20.082 13.084v7h-7M11.915 11.917l8.167 8.167"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
