
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Easy"
	>
        <path fill="currentColor" d="M17.6 8h28.824c.551.037 1.112.037 1.658.116a11.101 11.101 0 015.386 2.273c2.265 1.771 3.853 3.984 4.437 6.836.313 1.536.34 3.085.294 4.638-.014.478.117.724.574.951 2.467 1.215 4.11 3.159 4.928 5.77.15.478.2.988.299 1.48v1.832c-.042.241-.075.487-.126.723-.472 2.102-1.546 3.84-3.237 5.19-.29.232-.425.446-.42.826.018 2.324.018 4.652.004 6.976-.009 1.331-.023 2.658-.331 3.98-.37 1.576-1.093 2.922-2.242 4.063-1.327 1.312-2.85 2.142-4.774 2.142-14.147-.004-28.29-.004-42.438-.004-.173 0-.364.009-.523-.047-1.135-.399-2.237-.867-3.158-1.67-1.868-1.627-2.881-3.664-2.905-6.154a838.434 838.434 0 01-.046-9.068c0-.51-.15-.825-.547-1.169-2.854-2.463-3.84-5.58-2.929-9.188.668-2.653 2.373-4.564 4.9-5.7.44-.195.603-.432.603-.9-.005-.942.07-1.888.079-2.83.028-2.374.873-4.457 2.289-6.326 1.933-2.55 4.488-4.118 7.678-4.62.556-.074 1.145-.074 1.724-.12zm28.534 27.931c0-1.373-.009-2.718 0-4.068.01-1.41.033-2.829.626-4.15 1.373-3.067 3.69-4.954 7.063-5.497.27-.042.368-.14.36-.413-.029-.77.004-1.54-.043-2.31-.168-2.792-1.401-4.981-3.863-6.396-1.018-.589-2.087-1.09-3.33-1.09-6.913.005-13.825-.023-20.738-.009-3.087.005-6.18.005-9.267.12-2.919.112-4.923 1.707-6.254 4.203-.939 1.758-.878 3.673-.803 5.58.004.102.173.278.285.287 1.083.125 2.073.515 3.012 1.02 2.686 1.448 4.25 3.72 4.578 6.712.196 1.767.107 3.571.144 5.357.005.209 0 .422 0 .65 9.43.004 18.8.004 28.23.004zM32.192 52.118v.014h20.78c.16 0 .327.01.477-.037 1.695-.556 2.844-2.004 2.896-3.734.06-2.194.065-4.387.098-6.581.023-1.554.046-3.108.075-4.662.014-.779.298-1.41.994-1.827.224-.134.43-.301.63-.473 1.127-.956 1.972-2.092 2.07-3.609.13-2.045-1.158-3.928-3.167-4.712-1.826-.714-4.283-.14-5.511 1.317-.51.603-1.037 1.271-1.047 2.064-.07 4.462-.079 8.924-.107 13.386-.005.612.089 1.248-.06 1.823-.332 1.261-1.533 2.792-3.406 2.787-1.7-.004-3.395.07-5.095.07-8.141.01-16.283.005-24.428.005-.173 0-.355.009-.523-.028-1.738-.38-2.915-1.767-2.938-3.544-.056-4.504-.098-9.007-.112-13.516-.005-2.606-2.144-4.865-4.727-4.879-1.967-.014-3.508.821-4.423 2.551-.935 1.763-.86 3.544.228 5.255.51.798 1.29 1.299 2.009 1.865.56.44.878.978.873 1.716-.004 1.016.038 2.036.052 3.052.037 2.718.06 5.436.116 8.15.042 1.975 1.986 3.45 3.303 3.464 1.303.014 2.606.079 3.91.079 5.67.014 11.354.004 17.033.004zm-14.264-8.195h28.155v-3.948H17.928v3.948z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
