
<template>
	<icon-template
		:width="220"
		:height="220"
		name="Experience"
	>
        <defs>
        <linearGradient id="YzpY1Tze" x1="103.957" x2="44.428" y1="176.614" y2="176.614" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="YzpY2Tze" x1="93.442" x2="56.681" y1="139.761" y2="139.761" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="YzpY3Tze" x1="176.116" x2="116.584" y1="109.609" y2="109.609" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="YzpY4Tze" x1="165.598" x2="128.837" y1="72.807" y2="72.807" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="YzpY5Tze" x1="171.05" x2="133.874" y1="160.116" y2="160.116" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        <linearGradient id="YzpY6Tze" x1="106.438" x2="67.326" y1="97.426" y2="97.426" gradientUnits="userSpaceOnUse">
            <stop stop-color="#660035"/>
            <stop offset="1" stop-color="#38EBBC"/>
        </linearGradient>
        </defs>
        <path fill="#fff" d="M85.347 144.431v-9.898H67.449v9.898l-12.698 4.112a8.629 8.629 0 00-5.966 8.223v18.02h55.225v-18.02a8.63 8.63 0 00-5.966-8.223l-12.697-4.112z"/>
        <path fill="url(#YzpY1Tze)" fill-rule="evenodd" d="M104.01 176.614H48.785c-.97 0-1.785-.812-1.785-1.777v-18.02c0-4.518 2.907-8.528 7.19-9.899l11.473-3.756v-8.629c0-.965.816-1.777 1.785-1.777h17.898c.97 0 1.785.812 1.785 1.777v8.629l11.474 3.756c4.334 1.422 7.189 5.381 7.189 9.899v18.02c0 .965-.815 1.777-1.784 1.777zm-9.689-3.554h7.904v-16.243c0-2.995-1.887-5.584-4.742-6.548l-12.698-4.112c-.713-.254-1.223-.914-1.223-1.675v-8.122h-14.33v8.122c0 .761-.51 1.472-1.223 1.675l-12.697 4.112c-2.856.913-4.742 3.553-4.742 6.548v16.243h7.545v-13.502c0-.965.816-1.777 1.785-1.777s1.785.812 1.785 1.777v13.502h29.067v-13.502c0-.965.816-1.777 1.785-1.777s1.784.812 1.784 1.777v13.502z" clip-rule="evenodd"/>
        <path fill="#fff" d="M92.554 124.287c1.449-8.883-4.611-17.253-13.535-18.695-8.923-1.442-17.331 4.591-18.78 13.474-1.448 8.883 4.612 17.253 13.536 18.694 8.923 1.442 17.331-4.59 18.78-13.473z"/>
        <path fill="url(#YzpY2Tze)" d="M76.423 139.761c-9.994 0-18.153-8.122-18.153-18.071-.051-9.949 8.108-18.071 18.153-18.071 9.995 0 18.153 8.122 18.153 18.071 0 10-8.158 18.071-18.153 18.071zm0-32.589c-8.057 0-14.635 6.498-14.635 14.518s6.527 14.518 14.584 14.518c8.057 0 14.584-6.498 14.584-14.518s-6.527-14.518-14.533-14.518z"/>
        <path fill="#fff" d="M157.503 77.426v-9.898H139.655v9.898l-12.697 4.112a8.63 8.63 0 00-5.966 8.223v18.02h55.225v-18.02a8.629 8.629 0 00-5.966-8.223l-12.748-4.112z"/>
        <path fill="url(#YzpY3Tze)" fill-rule="evenodd" d="M176.217 109.609h-55.276c-.969 0-1.785-.812-1.785-1.777v-18.02c0-4.518 2.907-8.528 7.19-9.899l11.474-3.756v-8.63c0-.964.815-1.776 1.784-1.776h17.899c.969 0 1.784.812 1.784 1.776v8.63l11.474 3.756c4.334 1.422 7.19 5.381 7.19 9.899v18.02c.051.965-.765 1.777-1.734 1.777zm-9.995-3.554h8.159V89.812c0-2.995-1.886-5.584-4.742-6.549l-12.697-4.111c-.714-.254-1.224-.914-1.224-1.675v-8.122h-14.329v8.122c0 .761-.51 1.472-1.224 1.675l-12.697 4.111c-2.856.914-4.742 3.554-4.742 6.549v16.243h7.292V92.553c0-.965.815-1.777 1.784-1.777.969 0 1.785.812 1.785 1.777v13.502h29.065V92.553c0-.965.816-1.777 1.785-1.777s1.785.812 1.785 1.777v13.502z" clip-rule="evenodd"/>
        <path fill="#fff" d="M164.726 57.305c1.448-8.883-4.611-17.253-13.535-18.695-8.923-1.441-17.331 4.591-18.78 13.474-1.448 8.883 4.612 17.253 13.536 18.695 8.923 1.442 17.331-4.591 18.779-13.474z"/>
        <path fill="url(#YzpY4Tze)" d="M148.579 72.807c-9.994 0-18.153-8.122-18.153-18.071 0-9.95 8.159-18.071 18.153-18.071 9.995 0 18.154 8.121 18.154 18.07 0 9.95-8.159 18.072-18.154 18.072zm0-32.64c-8.057 0-14.584 6.498-14.584 14.518s6.527 14.518 14.584 14.518c8.057 0 14.584-6.498 14.584-14.518s-6.527-14.518-14.584-14.518z"/>
        <path fill="url(#YzpY5Tze)" d="M137.257 160.116a1.743 1.743 0 01-1.683-1.218c-.306-.914.153-1.929 1.122-2.233 15.655-5.33 27.638-18.021 31.973-33.909a1.779 1.779 0 012.192-1.269 1.77 1.77 0 011.275 2.183 53.258 53.258 0 01-34.267 36.294c-.255.102-.408.152-.612.152z"/>
        <path fill="url(#YzpY6Tze)" d="M70.815 97.426c-.153 0-.306 0-.51-.05-.97-.255-1.48-1.27-1.224-2.184 4.946-17.41 18.867-31.42 36.307-36.548.968-.254 1.937.254 2.192 1.218.255.965-.255 1.93-1.224 2.183-16.215 4.721-29.218 17.817-33.859 34.061-.204.762-.918 1.32-1.682 1.32z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
