
<template>
	<icon-template
		:width="32"
		:height="32"
		name="Neutral"
		>
        <path fill="transparent" stroke="#152841" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" d="M16 30c7.732 0 14-6.268 14-14S23.732 2 16 2 2 8.268 2 16s6.268 14 14 14zM24 16c-6.182 6.928-9.818-6.928-16 0"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
