
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Multicurrency"
	>
		<g fill="currentColor">
			<path d="M18.638 33.27c-3.91 0-7.587-1.52-10.35-4.288A14.551 14.551 0 014 18.638c0-3.905 1.52-7.587 4.288-10.35A14.554 14.554 0 0118.638 4c3.91 0 7.586 1.52 10.35 4.288a14.554 14.554 0 014.287 10.35c0 3.91-1.52 7.586-4.288 10.35a14.558 14.558 0 01-10.35 4.282zm0-27.502c-7.097 0-12.87 5.773-12.87 12.87 0 7.096 5.773 12.87 12.87 12.87 7.096 0 12.87-5.774 12.87-12.87 0-7.097-5.779-12.87-12.87-12.87zM46.368 61c-3.91 0-7.587-1.52-10.35-4.288a14.551 14.551 0 01-4.288-10.345c0-3.904 1.52-7.586 4.288-10.349a14.554 14.554 0 0110.35-4.288c3.91 0 7.586 1.52 10.349 4.288a14.554 14.554 0 014.288 10.35c0 3.909-1.52 7.586-4.288 10.349A14.558 14.558 0 0146.367 61zm0-27.502c-7.097 0-12.87 5.773-12.87 12.87 0 7.096 5.773 12.87 12.87 12.87 7.096 0 12.87-5.774 12.87-12.87 0-7.097-5.779-12.87-12.87-12.87zM26.27 51.575a.667.667 0 00.217-1.298A18.635 18.635 0 0114.53 37.548a.67.67 0 00-.818-.47.67.67 0 00-.47.819 19.963 19.963 0 0012.81 13.638c.07.03.146.04.217.04zM51.11 28.022a.667.667 0 00.642-.849C49.898 20.629 44.695 15.37 38.17 13.45a.665.665 0 00-.829.45.665.665 0 00.45.828c6.096 1.793 10.95 6.703 12.678 12.81a.673.673 0 00.641.484z"/>
			<path d="M50.802 52.252c-.576.373-1.899.823-3.424.823-1.652 0-3.273-.55-4.475-1.748-.748-.747-1.298-1.798-1.526-2.975h-1.576V47.13h1.4c-.026-.273-.051-.45-.051-.601 0-.248.025-.55.076-.874H39.8v-1.202h1.601c.273-1.152.824-2.172 1.576-2.924 1.273-1.273 3-1.874 4.723-1.874 1.475 0 2.424.373 3.076.702l-.5 1.55c-.576-.298-1.4-.6-2.601-.6-1.101 0-2.198.348-3.076 1.201-.5.5-.9 1.177-1.026 1.95h6.223v1.202h-6.465c-.025.273-.05.55-.05.723 0 .227 0 .45.025.747h6.5v1.222h-6.253c.177.723.525 1.349.975 1.799.899.873 1.9 1.227 3.152 1.227 1.222 0 2.247-.349 2.823-.652l.298 1.526zM17.91 26.744v-2c-1.348-.025-2.848-.424-3.697-.975l.601-1.525c.727.5 2.152.9 3.349.9 1.45 0 2.651-.678 2.651-1.774 0-1-.722-1.5-2.5-2.101-2.576-.874-3.823-1.748-3.823-3.45 0-1.651 1.45-2.899 3.576-3.147v-2.151h1.424v2.076c1.349.05 2.475.45 3.101.798l-.6 1.5c-.576-.349-1.698-.748-2.9-.748-1.348 0-2.4.601-2.4 1.526 0 .899.577 1.348 2.723 2.076 2.5.798 3.647 1.874 3.647 3.5 0 1.576-1.323 3.101-3.722 3.45v2.05h-1.43v-.005z"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
