
<template>
	<icon-template
		:width="64"
		:height="64"
		name="FinWorld"
	>
		<circle cx="32" cy="32" r="32" fill="#152841"/>
		<path fill="#fff" d="M47.55 16.441c-4.125-4.125-9.613-6.41-15.45-6.441h-.222C19.75 10.063 9.937 19.985 10 32.116 10.064 44.206 19.92 54 31.995 54h.116a21.855 21.855 0 0015.523-6.526c4.135-4.178 6.397-9.71 6.366-15.59-.043-5.828-2.327-11.318-6.45-15.443zm-3.66 14.607a27.282 27.282 0 00-1.395-7.679 28.557 28.557 0 005.076-2.633 19.09 19.09 0 013.648 10.323H43.89v-.01zm7.329 1.904a19.075 19.075 0 01-3.627 10.334 27.48 27.48 0 00-5.034-2.623 27.433 27.433 0 001.259-6.252c.042-.486.074-.973.084-1.46h7.318zm-4.854-13.718a25.729 25.729 0 01-4.547 2.348 27.495 27.495 0 00-4.378-7.15 27.275 27.275 0 00-1.046-1.164c3.923.92 7.38 3.057 9.971 5.966zM33.401 51.197l-.455.032V40.546c2.411.085 4.822.497 7.149 1.248a25.356 25.356 0 01-6.694 9.403zm-5.403-2.644a25.566 25.566 0 01-4.114-6.748 26.286 26.286 0 017.159-1.248v10.672l-.465-.032a25.387 25.387 0 01-2.58-2.644zm2.844-35.771c.064 0 .127-.01.201-.01v10.671a26.623 26.623 0 01-7.085-1.227c1.512-3.596 3.85-6.811 6.884-9.434zm5.15 2.877a25.619 25.619 0 014.029 6.568 26.55 26.55 0 01-7.075 1.227V12.77c.064 0 .138.01.201.01a26.099 26.099 0 012.845 2.878zm4.695 8.355a25.618 25.618 0 011.29 7.034h-9.03v-5.69a28.925 28.925 0 007.74-1.344zm-9.644 1.344v5.69h-9.04c.01-.36.041-.72.063-1.079.169-2.052.581-4.05 1.216-5.955a29.078 29.078 0 007.761 1.344zm0 7.594v5.69c-2.643.085-5.276.54-7.814 1.365a25.603 25.603 0 01-1.238-7.066h9.052v.01zm1.903 5.69v-5.69h9.041a25.873 25.873 0 01-1.237 7.055 28.59 28.59 0 00-7.804-1.365zm-5.35-25.384a27.058 27.058 0 00-5.425 8.324 26.337 26.337 0 01-4.568-2.359c.233-.264.465-.518.72-.761 2.58-2.613 5.783-4.4 9.273-5.204zM20.173 29.8c-.032.412-.064.825-.074 1.248H12.77a19.075 19.075 0 013.627-10.334 28.848 28.848 0 005.096 2.655 27.792 27.792 0 00-1.321 6.431zm1.258 10.863a28.425 28.425 0 00-5.023 2.623 19.2 19.2 0 01-3.637-10.334h7.317a27.07 27.07 0 001.343 7.71zm-3.817 4.114a26.934 26.934 0 014.483-2.327 27.542 27.542 0 004.452 7.33c.254.306.518.603.793.899-3.828-.952-7.19-3.057-9.728-5.902zm19.044 5.902a27.167 27.167 0 005.245-8.24 27.046 27.046 0 014.494 2.327c-.233.265-.465.519-.72.762-2.526 2.56-5.625 4.315-9.02 5.15z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
