
<template>
	<icon-template
		:width="64"
		:height="64"
		name="QualityShield"
		>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M52.7 57H11.3A2.301 2.301 0 019 54.704V4.185a2.294 2.294 0 012.3-2.296h27.6L55 17.963v36.74a2.293 2.293 0 01-1.42 2.122 2.303 2.303 0 01-.88.175z"/>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M38 2v16.889h17"/>
		<path fill="#152841" stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M27 63V52l5 2 5-2v11l-5-4-5 4z"/>
		<circle cx="32" cy="47" r="7" fill="#152841" stroke="currentColor" stroke-width="2"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
