
<template>
	<icon-template
		:width="146"
		:height="208"
		name="TelegramMen"
	>
		<path fill="#F9DABB" d="M85.888 34.16s14.123 16.772 15.006 59.142c0 0-43.253 24.716-43.253 23.833 0-.882-39.722-11.475-39.722-12.358v-5.296l-3.53-47.666L30.276 34.16h55.61z"/>
		<path fill="#fff" d="M35.573 100.364s7.945-2.648 8.827-2.648c.883 0 50.58-6.356 50.58-6.356l4.148 16.948-15.888 36.191-30.895-4.413s-21.185-28.247-21.185-29.13c0-.882 4.413-10.592 4.413-10.592z"/>
		<path fill="#F9DABB" d="M131.788 49.167s-4.413-13.24-2.648-21.185c0 0 1.766-2.648 2.648 1.765.883 4.414.883 9.71.883 9.71s.883-1.766 2.648-.883c0 0 1.766-1.765 3.531 0 0 0 .883-.883 2.648 0l.883 2.648c.883 2.648 0 9.71 0 9.71l-10.593 4.414v-6.18z"/>
		<path fill="#fff" d="M130.651 48.023l.216 3.524 13.392-.819-.216-3.524-13.392.82z"/>
		<path fill="#1A1A1A" d="M144.588 49.608l-14.124 1.766s5.297 33.543-2.648 40.604c-7.944 7.062-24.716 3.531-27.364-.882h-6.179l-20.302 37.956-30.895-30.895-25.157 4.855c-.883.883-20.302 17.654-17.654 37.074 2.648 19.42 24.716 22.068 31.777 24.716 0 0 .883 7.944 2.648 14.123 0 0-2.648 20.303-1.765 21.185.883.883 15.889 1.766 16.771.883.883-.883.442-6.62-3.089-8.386-3.53-1.765-8.827 2.648-8.827 2.648l3.53-15.006v-11.475s41.488-.883 55.611-7.062l2.648 13.241s-3.53 22.068-3.53 22.95c0 .883 13.24 1.766 16.771 0 3.531-1.765 0-7.061-3.531-7.944s-7.944 2.648-7.944 2.648l4.413-19.419-3.53-68.852s15.888 7.062 24.715 3.531c8.828-3.531 23.834-11.475 17.655-58.259zM11.74 135.672c-1.589-11.386 5.296-19.419 8.827-21.185 1.148-.529 8.827 37.074 8.827 37.074s-15.889-3.531-17.654-15.889zM35.132 65.497s1.765-13.24 1.765-19.42c0 0 40.605 1.766 55.61-13.24C107.515 17.83 94.274 2.823 90.744.177c0 0-1.766 14.123-11.476 11.475C69.557 9.003 59.847-1.59 45.724.175 31.601 1.942 13.064 8.121 14.83 26.658c0 0-17.655 1.765-12.358 30.894 5.296 29.13 15.888 44.136 15.888 44.136s13.241-17.654 15.006-29.13c0 0-7.944 2.648-8.827-4.413 0 0 0-4.414 3.531-5.296 3.531-.883 5.296 0 7.062 2.648z"/>
		<path fill="#1A1A1A" d="M66.91 99.04l-2.649 4.413 3.531 2.649-1.765 15.447 7.503 7.062 4.855-9.269-5.297-14.123 2.648-3.531-2.648-3.53-6.179.882z"/>
		<path fill="#484848" d="M42.635 98.598l3.53 15.006 8.828.883-.883 8.827 19.42 6.179 17.654-9.71-2.648-11.475 7.944-1.765-2.648-15.006-20.302 36.809-30.895-29.748zM74.854 136.996a2.648 2.648 0 100-5.295 2.648 2.648 0 000 5.295zM75.737 147.589a2.648 2.648 0 10-.001-5.297 2.648 2.648 0 000 5.297z"/>
		<path fill="#F9DABB" d="M39.457 155.357s2.56-1.148 6.18-.53c3.618.53 4.59 2.207 2.912 3.266 0 0 2.03 2.472-.53 3.619 0 0 2.03 2.472-.617 2.737 0 0 1.147 2.56-1.501 2.824-2.648.265-9.092-2.736-9.092-2.736s0-8.915 2.648-9.18z"/>
		<path fill="#fff" d="M40.921 154.899l-3.47-.649-2.11 11.281 3.471.649 2.11-11.281z"/>
		<path fill="#E87F86" d="M56.758 78.296s6.179-1.765 13.24-2.648c7.062-.882 12.359-.882 12.359-.882s.882 13.24-9.71 14.123c-10.593.883-15.006-6.179-15.889-10.593z"/>
		<path fill="#1A1A1A" d="M53.669 71.146c-1.236.177-2.295-.618-2.56-1.853l-1.148-6.974c-.176-1.236.618-2.295 1.854-2.56 1.236-.176 2.295.618 2.56 1.854l1.147 6.973c.177 1.236-.618 2.384-1.853 2.56zM81.474 66.733c-1.236.176-2.295-.618-2.56-1.854l-1.147-6.973c-.177-1.236.618-2.295 1.853-2.56 1.236-.177 2.295.618 2.56 1.854l1.148 6.973c.176 1.236-.618 2.295-1.854 2.56z"/>
		<path fill="#000" d="M72.647 207.172c33.638 0 60.907-4.545 60.907-10.151 0-5.607-27.269-10.151-60.907-10.151s-60.907 4.544-60.907 10.151c0 5.606 27.269 10.151 60.907 10.151z" opacity=".33"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
