
<template>
	<icon-template
		:width="80"
		:height="80"
		name="Management"
	>
		<path fill="currentColor" fill-rule="evenodd" d="M8.657 69C3.896 69 0 65.312 0 60.805V29.663c0-4.507 3.896-8.195 8.657-8.195h11.131v-4.273c0-2.166.927-4.273 2.535-5.795a8.815 8.815 0 016.06-2.4h13.172c2.288 0 4.514.878 6.122 2.4 1.608 1.522 2.535 3.63 2.535 5.795v4.273h11.13c4.762 0 8.658 3.688 8.658 8.195v31.2c0 4.508-3.896 8.195-8.657 8.195H8.657V69zm41.555-3.863h11.13c2.474 0 4.515-1.932 4.515-4.274v-31.2c0-2.341-2.04-4.273-4.514-4.273H50.212v39.747zm-26.343 0h22.2V25.39h-22.2v39.747zM8.657 25.39c-2.473 0-4.514 1.932-4.514 4.273v31.2c0 2.342 2.04 4.274 4.514 4.274h11.131V25.39H8.658zm19.726-12.468c-1.236 0-2.35.468-3.215 1.23-.866.76-1.299 1.872-1.299 3.043v4.273h22.2v-4.273c0-1.17-.495-2.224-1.299-3.044-.865-.82-1.979-1.229-3.215-1.229H28.383z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
