
<template>
	<icon-template
		:width="109"
		:height="23"
		name="Cbonds"
		>
		<path fill="#1C3F94" d="M21.006 22.65H6.302C2.1 22.65 0 20.384 0 15.855v-9.06C0 2.265 2.1 0 6.302 0h14.704v4.53H6.302c-1.4 0-2.1.755-2.1 2.265v9.06c0 1.51.7 2.265 2.1 2.265h14.704v4.53zM56.014 17.223c0 3.85-1.925 5.777-5.777 5.777h-3.85c-3.852 0-5.778-1.926-5.778-5.777v-4.551c0-3.851 1.926-5.777 5.777-5.777h3.85c3.852 0 5.778 1.925 5.778 5.777v4.551zm-3.851 0v-4.551c0-1.284-.642-1.926-1.926-1.926h-3.85c-1.285 0-1.926.642-1.926 1.925v4.552c0 1.284.64 1.925 1.925 1.925h3.85c1.285 0 1.927-.641 1.927-1.925zM108.53 17.853c0 3.174-1.599 4.774-4.797 4.797h-9.558v-3.851h9.558c.63 0 .945-.316.945-.946 0-.653-.315-.98-.945-.98h-5.811c-3.198-.023-4.797-1.657-4.797-4.902 0-3.15 1.599-4.726 4.797-4.726h9.558v3.851h-9.558c-.608 0-.923.315-.945.945.022.654.338.98.945.98h5.811c3.198 0 4.797 1.61 4.797 4.832zM32.733 7.245h-5.776V4.592l-3.852 1.643V22.65h9.628c3.852 0 5.777-1.926 5.777-5.778v-3.85c0-3.852-1.925-5.777-5.777-5.777zm1.926 9.627c0 1.285-.642 1.926-1.926 1.926h-5.776v-7.702h5.776c1.284 0 1.926.642 1.926 1.926v3.85z"/>
		<path fill="#EF5F31" d="M26.957 3.77V0h-3.852v5.414l3.852-1.644zM58.102 18.88v3.77h3.851v-5.414l-3.851 1.643z"/>
		<path fill="#1C3F94" d="M67.73 7.245h-9.628v10.812l3.85-1.642v-5.319h5.777c1.284 0 1.926.642 1.926 1.926v9.628h3.852v-9.628c0-3.852-1.926-5.777-5.778-5.777zM87.151 0v7.2h-5.776c-3.851 0-5.777 1.924-5.777 5.776v3.85c0 3.852 1.925 5.777 5.777 5.777h9.628V0H87.15zm0 18.753h-5.776c-1.284 0-1.925-.642-1.925-1.926v-3.851c0-1.283.641-1.926 1.925-1.926h5.776v7.703z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
