
<template>
	<icon-template
		:width="103"
		:height="143"
		name="Docs"
	>
		<defs>
			<linearGradient id="v1gM1rZj64" x1="86.84" x2="86.84" y1="47.248" y2="69.872" gradientUnits="userSpaceOnUse">
				<stop offset=".255" stop-color="#AAFFEF"/>
				<stop offset="1" stop-color="#953564"/>
			</linearGradient>
			<linearGradient id="hKpF2rWCQb" x1="86.84" x2="86.84" y1="83.794" y2="106.418" gradientUnits="userSpaceOnUse">
				<stop offset=".255" stop-color="#AAFFEF"/>
				<stop offset="1" stop-color="#953564"/>
			</linearGradient>
			<linearGradient id="WPE1EZHOjq" x1="86.84" x2="86.84" y1="120.341" y2="142.965" gradientUnits="userSpaceOnUse">
				<stop offset=".255" stop-color="#AAFFEF"/>
				<stop offset="1" stop-color="#953564"/>
			</linearGradient>
		</defs>
		<path fill="transparent" stroke="#828282" stroke-linejoin="round" stroke-width="4" d="M2 127.653V20.793a4 4 0 014-4h56.994a4 4 0 012.829 1.171l19.41 19.41a4 4 0 011.172 2.83v87.449a4 4 0 01-4 4H6a4 4 0 01-4-4z"/>
		<path fill="transparent" stroke="#828282" stroke-width="4" d="M17.662 34.196h17.403M18.098 47.248h53.079M18.098 60.3h34.806M58.125 60.3h13.052M18.098 73.353h53.079M18.098 86.405H32.02M37.241 86.405h33.936M18.098 99.457h53.95M18.098 112.51h8.701M31.15 112.51h40.897"/>
		<path fill="transparent" stroke="#828282" stroke-linejoin="round" stroke-width="4" d="M64.651 16.793v17.753a4 4 0 004 4h17.754"/>
		<path fill="transparent" stroke="#828282" stroke-linejoin="round" stroke-width="4" d="M15.052 7.656V6a4 4 0 014-4h77.275a4 4 0 014 4v108.165a4 4 0 01-4 4h-1.221"/>
		<path fill="#fff" d="M79.009 53.339h15.663v11.312H79.009z"/>
		<path fill="url(#v1gM1rZj64)" d="M86.84 47.248c-6.249 0-11.312 5.063-11.312 11.312s5.063 11.312 11.312 11.312c6.25 0 11.312-5.063 11.312-11.312S93.09 47.248 86.84 47.248zm5.792 8.185l-7.271 7.304h-.005c-.093.092-.343.299-.631.299-.207 0-.44-.114-.637-.31l-3.045-3.046a.217.217 0 010-.31l.968-.968a.214.214 0 01.152-.065c.055 0 .109.022.153.065l2.414 2.415 6.635-6.684a.215.215 0 01.152-.065c.06 0 .115.022.153.065l.951.984c.098.093.098.229.011.316z"/>
		<path fill="#fff" d="M79.009 89.885h15.663v11.312H79.009z"/>
		<path fill="url(#hKpF2rWCQb)" d="M86.84 83.794c-6.249 0-11.312 5.063-11.312 11.312s5.063 11.312 11.312 11.312c6.25 0 11.312-5.063 11.312-11.312S93.09 83.794 86.84 83.794zm5.792 8.185l-7.271 7.304h-.005c-.093.092-.343.299-.631.299-.207 0-.44-.114-.637-.31l-3.045-3.046a.217.217 0 010-.31l.968-.968a.214.214 0 01.152-.065c.055 0 .109.022.153.066l2.414 2.414 6.635-6.684a.215.215 0 01.152-.065c.06 0 .115.022.153.065l.951.985c.098.092.098.228.011.315z"/>
		<path fill="#fff" d="M79.009 126.432h15.663v11.312H79.009z"/>
		<path fill="url(#WPE1EZHOjq)" d="M86.84 120.341c-6.249 0-11.312 5.063-11.312 11.312 0 6.248 5.063 11.312 11.312 11.312 6.25 0 11.312-5.064 11.312-11.312 0-6.249-5.063-11.312-11.312-11.312zm5.792 8.184l-7.271 7.304h-.005c-.093.093-.343.299-.631.299-.207 0-.44-.114-.637-.31l-3.045-3.045a.217.217 0 010-.31l.968-.968a.212.212 0 01.305 0l2.414 2.415 6.635-6.684a.214.214 0 01.152-.066c.06 0 .115.022.153.066l.951.984c.098.092.098.228.011.315z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
