
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Money"
	>
		<path fill="currentColor" d="M59 10.5H46v-4a5.006 5.006 0 00-5-5H23a5.006 5.006 0 00-5 5v4H5a3 3 0 00-3 3v22.26a3.013 3.013 0 002 2.823V52.5a3 3 0 003 3h50a3 3 0 003-3V38.584a3.014 3.014 0 002-2.824V13.5a3 3 0 00-3-3zm-39-4a3 3 0 013-3h18a3 3 0 013 3v4h-2v-4a1 1 0 00-1-1H23a1 1 0 00-1 1v4h-2v-4zm20 4H24v-3h16v3zm18 42a1 1 0 01-1 1H7a1 1 0 01-1-1V38.927l22 3.034V44.5a3 3 0 003 3h2a3 3 0 003-3v-2.54l22-3.033V52.5zm-24-8a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6a1 1 0 011-1h2a1 1 0 011 1v6zm26-8.74a1 1 0 01-.86.991l-.277.038L36 39.942V38.5a3 3 0 00-3-3h-2a3 3 0 00-3 3v1.442L4.86 36.75A1 1 0 014 35.76V13.5a1 1 0 011-1h54a1 1 0 011 1v22.26z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
