
<template>
	<icon-template
		:width="24"
		:height="24"
		name="Youtube"
	>
		<path fill="currentColor" d="M23.495 6.205a3.008 3.008 0 00-2.088-2.088c-1.87-.501-9.396-.501-9.396-.501s-7.507-.01-9.396.501A3.007 3.007 0 00.527 6.205a31.247 31.247 0 00-.522 5.805c-.006 1.94.169 3.876.522 5.783a3.007 3.007 0 002.088 2.088c1.868.502 9.396.502 9.396.502s7.506 0 9.396-.502a3.008 3.008 0 002.088-2.088c.346-1.908.513-3.844.5-5.783a31.247 31.247 0 00-.5-5.805zM9.609 15.601V8.408l6.264 3.602-6.264 3.591z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
