
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Calendar"
	>
		<g fill="currentColor">
			<path d="M19.457 24.266H14.17a.88.88 0 00-.88.879v5.273a.88.88 0 00.88.878h5.288a.88.88 0 00.881-.878v-5.273a.88.88 0 00-.88-.88zm-.881 5.273H15.05v-3.516h3.525v3.515zM28.27 24.266h-5.288a.88.88 0 00-.881.879v5.273a.88.88 0 00.881.878h5.288a.88.88 0 00.881-.878v-5.273a.88.88 0 00-.881-.88zm-.881 5.273h-3.526v-3.516h3.526v3.515zM37.083 24.266h-5.288a.88.88 0 00-.881.879v5.273a.88.88 0 00.881.878h5.288a.88.88 0 00.882-.878v-5.273a.88.88 0 00-.882-.88zm-.881 5.273h-3.526v-3.516h3.526v3.515zM40.608 31.296h5.288a.88.88 0 00.881-.878v-5.273a.88.88 0 00-.88-.88h-5.289a.88.88 0 00-.88.88v5.273a.88.88 0 00.88.878zm.882-5.273h3.525v3.515H41.49v-3.515zM19.457 33.054H14.17a.88.88 0 00-.88.879v5.273c0 .485.393.879.88.879h5.288a.88.88 0 00.881-.88v-5.272a.88.88 0 00-.88-.879zm-.881 5.273H15.05v-3.515h3.525v3.515zM28.27 33.054h-5.288a.88.88 0 00-.881.879v5.273c0 .485.395.879.881.879h5.288a.88.88 0 00.881-.88v-5.272a.88.88 0 00-.881-.879zm-.881 5.273h-3.526v-3.515h3.526v3.515zM37.083 33.054h-5.288a.88.88 0 00-.881.879v5.273c0 .485.395.879.881.879h5.288a.88.88 0 00.882-.88v-5.272a.88.88 0 00-.882-.879zm-.881 5.273h-3.526v-3.515h3.526v3.515zM40.608 40.085h5.288a.88.88 0 00.881-.88v-5.272a.88.88 0 00-.88-.879h-5.289a.88.88 0 00-.88.879v5.273c0 .485.393.879.88.879zm.882-5.273h3.525v3.515H41.49v-3.515zM19.457 41.843H14.17a.88.88 0 00-.88.878v5.273a.88.88 0 00.88.879h5.288a.88.88 0 00.881-.879v-5.273a.88.88 0 00-.88-.878zm-.881 5.272H15.05V43.6h3.525v3.515zM28.27 41.843h-5.288a.88.88 0 00-.881.878v5.273a.88.88 0 00.881.879h5.288a.88.88 0 00.881-.879v-5.273a.88.88 0 00-.881-.878zm-.881 5.272h-3.526V43.6h3.526v3.515zM37.083 41.843h-5.288a.88.88 0 00-.881.878v5.273a.88.88 0 00.881.879h5.288a.88.88 0 00.882-.879v-5.273a.88.88 0 00-.882-.878zm-.881 5.272h-3.526V43.6h3.526v3.515z"/>
			<path d="M52.065 42.153v-31.07a.88.88 0 00-.881-.878h-4.407v-.88a2.64 2.64 0 00-2.643-2.636 2.64 2.64 0 00-2.644 2.637v.879h-1.763v-.88a2.64 2.64 0 00-2.644-2.636 2.64 2.64 0 00-2.644 2.637v.879h-1.763v-.88a2.64 2.64 0 00-2.643-2.636 2.64 2.64 0 00-2.644 2.637v.879h-1.763v-.88a2.64 2.64 0 00-2.644-2.636 2.64 2.64 0 00-2.644 2.637v.879h-1.762v-.88a2.64 2.64 0 00-2.644-2.636 2.64 2.64 0 00-2.644 2.637v.879H8.881a.88.88 0 00-.881.878v42.184c0 .485.395.879.881.879h31.157c2.43 4.201 7.814 5.644 12.027 3.222 4.214-2.422 5.66-7.792 3.231-11.994a8.794 8.794 0 00-3.23-3.221zM43.252 9.326a.88.88 0 01.882-.88.88.88 0 01.88.88v3.515a.88.88 0 01-1.762 0V9.326zm-7.05 0a.88.88 0 01.881-.88.88.88 0 01.882.88v3.515a.88.88 0 01-1.763 0V9.326zm-7.05 0a.88.88 0 01.88-.88.88.88 0 01.882.88v3.515a.88.88 0 01-1.762 0V9.326zm-7.051 0a.88.88 0 01.881-.88.88.88 0 01.882.88v3.515a.88.88 0 01-1.763 0V9.326zm-7.05 0a.88.88 0 01.88-.88.88.88 0 01.882.88v3.515a.88.88 0 01-1.762 0V9.326zm-5.288 2.636h3.525v.879a2.64 2.64 0 002.644 2.636 2.64 2.64 0 002.644-2.636v-.879h1.762v.879a2.64 2.64 0 002.644 2.636 2.64 2.64 0 002.644-2.636v-.879h1.763v.879a2.64 2.64 0 002.644 2.636 2.64 2.64 0 002.643-2.636v-.879h1.763v.879a2.64 2.64 0 002.644 2.636 2.64 2.64 0 002.644-2.636v-.879h1.763v.879a2.64 2.64 0 002.644 2.636 2.64 2.64 0 002.644-2.636v-.879h3.525v7.03H9.763v-7.03zm0 40.426V20.75h40.54v20.618c-4.643-1.455-9.591 1.118-11.051 5.748a8.77 8.77 0 000 5.272H9.762zm37.896 4.394c-3.894 0-7.05-3.147-7.05-7.03 0-3.883 3.156-7.03 7.05-7.03 3.894 0 7.05 3.147 7.05 7.03-.004 3.88-3.158 7.026-7.05 7.03z"/>
			<path d="M50.633 46.429l-3.79 3.025-2.085-2.081a.883.883 0 00-1.247 0 .877.877 0 000 1.243l2.644 2.637a.883.883 0 001.174.065l4.407-3.516a.877.877 0 00.138-1.236.884.884 0 00-1.24-.137z"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
