
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Top5"
		>
		<path fill="transparent" stroke="currentColor" stroke-miterlimit="10" stroke-width="2.4" d="M59.94 6.856L50.084 0 35.45 2.718v16.4l-15.74 3.02v15.616L4.09 40.563 4 56.962l9.17 6.735.298.302 4.39-.816v-13.5l5.078-1.148.209 13.591 9.258-1.6V30.414l6.272-1.178.09 30.113 9.258-1.601V11.84l5.884-1.118.21.06V56.63L60 55.422V6.856h-.06z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
