
<template>
	<icon-template
		:width="64"
		:height="64"
		name="Ideas"
	>
		<path fill="currentColor" fill-rule="evenodd" d="M41.79 9.074l1.403-2.373a1.154 1.154 0 011.591-.45 1.17 1.17 0 01.448 1.601l-1.403 2.373c-.189.387-.636.576-1.02.576-.188 0-.383-.066-.571-.13-.578-.316-.766-1.015-.448-1.597zM21.171 10.23c.188.387.636.577 1.019.577.189 0 .383-.065.572-.13a1.171 1.171 0 00.448-1.603l-1.403-2.373a1.154 1.154 0 00-1.591-.45 1.169 1.169 0 00-.448 1.601l1.403 2.378zm11.326-2.175c.636 0 1.143-.511 1.143-1.152V4.151c0-.64-.507-1.151-1.143-1.151a1.14 1.14 0 00-1.143 1.151v2.752c-.065.636.442 1.152 1.143 1.152zm-20.62 18.381H9.143c-.636 0-1.143.511-1.143 1.152a1.14 1.14 0 001.143 1.15h2.734a1.14 1.14 0 001.144-1.15c0-.64-.507-1.152-1.144-1.152zm43.98 0h-2.735c-.636 0-1.143.511-1.143 1.152a1.14 1.14 0 001.143 1.15h2.735A1.14 1.14 0 0057 27.589c0-.64-.507-1.152-1.143-1.152zm-2.104-11.145a1.153 1.153 0 00-1.591-.45l-2.358 1.41a1.17 1.17 0 00-.447 1.603c.188.385.636.575 1.019.575.189 0 .383-.065.572-.13l2.357-1.412c.577-.315.766-1.02.448-1.596zm-6.235 12.171c0 2.629-.701 5.191-1.974 7.5-.065.19-.13.319-.253.45l-.13.19c-.507.771-1.02 1.536-1.656 2.177-2.228 3.138-3.371 5.83-3.312 7.557v.065c0 .13.065.322.065.51v5.511c0 2.432-1.974 4.354-4.326 4.354h-7.059c-2.416 0-4.326-1.987-4.326-4.354v-5.511-.32-.255c.065-1.667-1.084-4.294-3.182-7.367-.701-.771-1.402-1.602-1.909-2.563-.065-.13-.13-.19-.189-.32a15.125 15.125 0 01-2.039-7.557c0-8.393 6.813-15.245 15.145-15.245 8.333-.066 15.145 6.786 15.145 15.178zm-9.612 19.09H26.899v2.178h11.007v-2.178zm0 5v-.45H26.899v.45c.129 1.028.954 1.792 1.974 1.792h7.065c1.014 0 1.845-.764 1.968-1.792zm7.255-24.09c0-7.11-5.728-12.877-12.794-12.877-7.066 0-12.793 5.766-12.793 12.877 0 2.31.636 4.55 1.779 6.538v.066c.507.83 1.085 1.601 1.721 2.307l.13.132c2.098 3.012 3.311 5.574 3.63 7.686h11.137c.384-2.628 2.163-5.635 3.754-7.876 0-.066.065-.066.13-.132a8.715 8.715 0 001.461-1.986c0-.066.065-.066.065-.13 0-.067.065-.067.065-.132 1.143-1.922 1.715-4.164 1.715-6.473zm-29.972-11.21l-2.357-1.411a1.148 1.148 0 00-1.591.45 1.165 1.165 0 00.448 1.602l2.357 1.412c.188.13.383.13.572.13.383 0 .825-.19 1.019-.575.312-.582.124-1.288-.448-1.608z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
