<template>
	<div id="app" class="page__body">
		<el-header></el-header>
			<router-view></router-view>
		<el-footer></el-footer>
		<div class="page__parallax" v-if="isParalaxPage">
			<div class="page__wrapper">
				<ul class="list list--parallax">
					<li class="list__item"></li>
					<li class="list__item"></li>
					<li class="list__item"></li>
					<li class="list__item"></li>
				</ul>
			</div>
		</div>
		<el-popup-search :name="'popup-search'"></el-popup-search>
	</div>
</template>

<script>
	import {events} from './events';

	import ElHeader from './components/ElHeader.vue';
	import ElFooter from './components/ElFooter.vue';
	import ElPopupSearch from './components/ElPopupSearch.vue';

	export default {
		name: 'App',
		components: {
			ElHeader,
			ElFooter,
			ElPopupSearch
		},
		computed: {
			isParalaxPage(){
				return ['index', /*'personal-broker'*/].includes(this.$route.name);
			},
		},
		watch:{
			$route(){
				this.$evbus.$emit(events.EV_APP_CLOSE_ALL_WINDOWS);
				window.scrollTo(0, 0);
				this.initBgParallax();
			}
		},
		methods: {
			initCssVariables(){
				//ширина скроллбара
				let scrollMeasure = document.createElement('div');
				scrollMeasure.classList.add('scroll__measure');
				document.body.appendChild(scrollMeasure);
				var scrollbarWidth = scrollMeasure.offsetWidth - scrollMeasure.clientWidth;
				document.querySelector(':root').style.setProperty('--scrollbar-width', `${scrollbarWidth}px`);

				//реальный vh - https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
				let vh = window.innerHeight * 0.01;
				document.documentElement.style.setProperty('--vh', `${vh}px`);
				window.addEventListener('resize', () => {
					let vh = window.innerHeight * 0.01;
					document.documentElement.style.setProperty('--vh', `${vh}px`);
				});
			},
			lockPageScroll: function(){
				if( this.$store.state.isSafari ){
					this.scrollPos = {
						x: window.scrollX,
						y: window.scrollY
					}
				}
				document.querySelector('.page').classList.add('page--noscroll');
			},
			unlockPageScroll: function(){
				document.querySelector('.page').classList.remove('page--noscroll');
				if( this.$store.state.isSafari ){
					window.scrollTo( this.scrollPos.x, this.scrollPos.y );
				}
			},
			changeBgPosition(scrollProgress){
				let figures = [...document.querySelectorAll('.list--parallax li')],
					speedY = [-2, 3, -2, 3],
					speedX = [-1.5, -2, 1, -0.5];
				window.requestAnimationFrame(() => {
					figures.map( (figure, index) => {
						figure.style.transform = `translate3d(${scrollProgress * speedX[index]}px, ${scrollProgress * speedY[index]}px, 0)`;
					})
				})
			},
			initBgParallax(){
				if( !this.isParalaxPage ){ return; }
				let _this = this;
				this.parallaxScene = this.$scrollmagic.scene({
					triggerElement: '.page',
					duration: document.documentElement.scrollHeight - window.innerHeight,
					offset: 0,
					triggerHook: 0
				})
				.on('progress', (evt) => {
					_this.changeBgPosition( (evt.progress*100).toFixed(0) );
				})
				//.addIndicators({indent: 100});
				this.$scrollmagic.addScene(this.parallaxScene);
			}
		},
		mounted(){
			this.$evbus.$on(events.EV_APP_TOGGLE_PAGE_SCROLL, (data) => {
				data ? this.unlockPageScroll() : this.lockPageScroll();
			});

			this.initCssVariables();
			this.initBgParallax();

			if( !this.$store.state.isEdge && !this.$store.state.isIE ){
				// custom property for animating gradients rotation
				if ( CSS.registerProperty ) {
					document.body.classList.add('page--hodini-cp-api');
					CSS.registerProperty({
						name: '--ang',
						syntax: '<angle>',
						initialValue: '0deg',
						inherits: true
					});
				}
			}
		}
	}
</script>

